[2022-08-21 04:30] #8336 closed, assigned to jamesobrooks, rosiehsmith, rachelschneiderman, mrinsin

[2022-08-21 04:30] #8234 closed, assigned to rosiehsmith, mrinsin

[2022-08-21 04:30] #8235 closed, assigned to rosiehsmith, mrinsin

[2022-08-21 04:30] #8236 closed, assigned to rosiehsmith, mrinsin

[2022-08-22 13:30] cholly75 commented on #8216
@mrinsin - 2 requested changes from the business from demo:

1) Change event code from "LOA" to "LS"
2) The generated title on the cover sheet should just be "Letter" followed by the description field text

Thanks!

[2022-08-22 13:45] ttlenard commented on #8214
@TomElliottFlexion During testing, I found an issue with the grouping. Can you please take a look? Thank you!

If there is more than one consolidated group of cases on a trial session, it looks like it is indicating the lead case for both groups fine, but the member cases are duplicated below each lead case. Take a look on Test at this trial session. San Francisco, CA 9/26/2022 (Judge Buch) https:

[2022-08-22 15:10] ttlenard commented on #8214
@TomElliottFlexion @liadmccabe @swongCO I also noticed that it is kind of hard to tell that the member cases were indented.  Maybe the indentation could be more pronounced?  Could the icons also be indented to help visually?

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/f21ae03f-38c2-45d6-a2cc-bc0676c1c2f5)

[2022-08-22 15:23] rgoshen commented on #8219
When this story (9544) is combined with story 3318, it causes the table to shift when filtering by case type.  We need to fix it in 9544 so this does not happen.

[2022-08-22 15:40] cholly75 commented on #6955
Looked at issue w/ table shift when filter is applied and the result set goes from having some CG icons to none or vice versa - not a blocker, can talk to this.

[2022-08-22 18:14] ttlenard commented on #8189
@rgoshen

During testing, it appears that for court issued documents that a docket clerk saves, the icons are displaying correctly on the In progress tab, but if Docket files and serves the document, the consolidated icons aren't showing up on the Processed tab.

I need to add in a few more test cases in this story to account for Docket Clerks processing internal court documents, and how they disp

[2022-08-22 21:06] cholly75 opened #8238 "New item"
As a DAWSON user, so that I can easily bookmark, email, or navigate to Opinions, I need "permalinks" available for Opinion documents.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [

[2022-08-22 21:07] cholly75 opened #8239 "New item"

[2022-08-22 21:07] cholly75 opened #8240 "New item"
As a DAWSON user, so that I can organize my work according to my needs, I need the ability to sort Messages based on specific columns.

With the adoption of message sorting for ADC users, we would now like to extend this functionality to all other internal Court roles when viewing their Section or User message screens.

## Pre-Conditions

## Acceptance Criteria
* Section/User messages display can

[2022-08-22 21:08] cholly75 opened #8241 "New item"
As a DAWSON user, so that I can organize my work according to my needs, I need the ability to filter Messages based on specific values.

With the adoption of message filtering for ADC users, we would now like to extend this functionality to all other internal Court roles when viewing their Section or User message screens.

## Pre-Conditions

## Acceptance Criteria
* Section/User messages Inbox and

[2022-08-22 21:40] #8213 closed, assigned to nobody

[2022-08-23 13:30] #8239 closed, assigned to nobody

[2022-08-23 13:44] cholly75 opened #8242 "New item"
As a docket clerk, so that I can quickly docket court-issued documents across cases in a consolidated group, I need to be able to invoke the multi-docket functionality from the Edit Docket Entry screen that appears when clicking a saved entry from the QC screens.

In implementing ustaxcourt/ef-cms#6969, we failed to account for a particular path through the workflow w/r/t saved docket entries. Whe

[2022-08-23 14:49] cholly75 opened #8243 "Stamp Disposition: Make Stamp Disposition Available on Withdrawal Motions"
As a chambers, judge, or ADC user, so that I can stamp grant or deny motions for counsel appearances and withdrawals , I need to be able to apply stamp orders to motions that fall under the category "Appearance and Representation".

In developing ustaxcourt/ef-cms#8336, there were certain motions classified in DAWSON as "Appearance and Representation" documents outside of the pool of other motions

[2022-08-23 19:30] rgoshen commented on #8219
Per Chris Holly, he is not worried about the table shift...it is good to go.

[2022-08-24 12:48] ttlenard commented on #8242
## Test Cases

#### 1) Docket Clerk is in the lead case of a consolidated group and adds a docket entry.  Clicks Save Entry, document is saved to the docket record of lead case, is not added to any other case in consolidated group.
- Log in as a Docket Clerk
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select PDF Upload (Can also select Order or Not

[2022-08-24 12:59] ttlenard commented on #8243
## Test Cases

#### 1) A M112 or M113 Motion is filed by a party; Docket clerk QC's motion; sends message with the motion attached to Judge; Judge/CA/ADC user reviews message; Apply Stamp button is available on the document preview from the message thread.

This test case will take some set up
- Log in to DAWSON as a Party on a case (could be petitioner, Private Practitioner, or IRS Practitioner).

[2022-08-24 17:35] TomElliottFlexion commented on #8222
Note: document in question is eventCode = `NTD`. `NOTR` should be Notice of Receipt of Petition

[2022-08-24 17:41] cholly75 commented on #8228
Note: new limit is 9000 characters.

[2022-08-24 21:25] cholly75 commented on #8226
@liadmccabe @swongCO - feedback from the Court indicated a desire to have similar views for both Orders and Motions as well;  whether that should be part of this story or not is debatable, but a unified design w/ a filter dropdown like you showed me would probably serve that well if those other stories manifest.

[2022-08-25 17:16] cholly75 opened #8244 "Admission Clerk: Practitioner Documentation Upload"
As an admissions clerk, so that I can associate documentation filed with the court, I need to be able to associate files with practitioner records in DAWSON.

When a practitioner is admitted to the court, several types of documentation (both practitioner and court-issued) are tracked for them. Currently this documentation is tracked in email and on shared drives, divorced from the practitioner rec

[2022-08-25 17:16] cholly75 opened #8245 "Admission Clerk: Practitioner Documentation UI Edit/Delete/Sort"
As an admissions clerk, so that I can view relevant documentation related to a practitioner, I need to be able to see and interact with files that have been uploaded to that practitioner's record.

With the implementation of ustaxcourt/ef-cms#8244 we will need a UI for viewing and interacting with files that have been uploaded to a practitioner record in DAWSON. A link to this UI should be availab

[2022-08-25 19:56] swongCO commented on #8226
![Docket Record - View all docs.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7b832d1d-8121-41c3-b3d1-478e4e307368)

![Docket Record - View exhibits.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/65671a46-161f-4253-a1a6-b94c611d9fd6)

1. Add a new filter after the Sort dropdown
2. The label for the new filter is "Filter by"; use styling of filter label from

[2022-08-25 21:57] ttlenard opened #8246 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.

CA and Judge reported that they are unable to open the 9/12 San Francisco Trial session assigned to Judge Holmes.  Other Court users can not access the trial session either.

When looking at the console, we see a 502 error.  When looking at the kibana logs, no errors are present.   We also looked at the logs in Cloudwatch, a

[2022-08-26 13:30] jimlerza commented on #8246
@codyseibert suggested this might be due to one of the cases on this trial session having bad data.

In the event that we want to examine the cases for bad data, I've attached a zip containing two JSON files - one with the full contents of the trial session's `caseOrder` array, and the other with the objects containing the `removedFromTrial` key filtered out.

[sf_trial_session_case_order.zip](htt

[2022-08-26 13:34] jimlerza commented on #8246
Update: turns out my filter didn't actually work. I tried this:

```cat sf_trial_session.json | jq -r 'select(.caseOrder[] | has("removedFromTrial") | not)'```

[2022-08-26 13:58] ttlenard opened #8247 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.

Admissions clerks are getting a 400 error when attempting to access a practitioners profile in DAWSON.

1. Admissions clerk adds an email to a practitioner that is in an "inactive" status. (My understanding is that they typically would update their status to active first, but in this scenario, this step was forgotten!)
2. Ad

[2022-08-26 15:59] jimlerza commented on #8246
Here's the trial session in prod and test for comparison:

[sf_trial_session_comparison.zip](https://github.com/flexion/ef-cms/files/9434634/sf_trial_session_comparison.zip)

[2022-08-26 18:39] rosiehsmith commented on #8246
What we'd tried this morning (Fri 8/26):
- Compared Terraform between `prod` and `test` - no difference
- Looked at `prod`'s current color api lambda configuration in AWS to see if it matched `test` - it does
- Opened all 6 cases that were removed from the trial session during the window from where the trial session was accessible => not accessible on `prod` to see if they'd crash - they did not
-

[2022-08-29 13:08] cholly75 opened #8248 "New item"
As a Petitions clerk, so that I can properly record when a filing fee has been paid, I need to be able to edit and delete deadlines.

Petitions clerks are asked to edit and delete deadlines in service to the status of filing fees paid or not paid by petitioners. Case Services has asked that we reinstate the ability for petitions clerks to do so, and to remove items from the case's Pending Report (

[2022-08-29 14:34] #8216 closed, assigned to mrinsin

[2022-08-29 14:34] #8228 closed, assigned to rosiehsmith, mrinsin

[2022-08-29 14:34] #8211 closed, assigned to rosiehsmith, mrinsin

[2022-08-29 14:34] #8219 closed, assigned to rgoshen

[2022-08-29 14:34] #6955 closed

[2022-08-29 17:18] rosiehsmith commented on #8246
For future reference, this trial session is working on `test` with these changes https://github.com/ustaxcourt/ef-cms/pull/2486 using Cody's devex reducing trial session return size.

[2022-08-30 04:12] jimlerza commented on #8246
This bug is addressed by [DevEx - Reduce trial session data size](https://github.com/ustaxcourt/ef-cms/pull/2473)

[2022-08-30 04:33] #8246 closed, assigned to nobody

[2022-08-30 15:47] cholly75 opened #8249 "Calendaring: Case Type Filter on Eligible Cases List Hybrid Sessions"
As a calendaring user, so that I can easily assign the right balance of small and regular case types to Hybrid trial sessions, I need to be able to filter the Eligible Cases list by case type.

Hybrid trial sessions comprise both small and regular types of cases; these sessions often require careful calendaring so that the session is balanced appropriately based on volume and pending cases for the

[2022-08-30 16:30] TomElliottFlexion commented on #8224
From discussion with UX:
- "Filler Clerk" (or other placeholder) will appear in the trial clerk selection dropdown
- Selecting this option will unveil a text box to enter the name of the "filler clerk"
- Text box will match the style of others in the same subsection, and appear either to the right or underneath the aforementioned dropdown
@swongCO @liadmccabe

[2022-08-30 16:39] ttlenard commented on #8189
@rgoshen The Consolidated case icons are not showing up on the Processed tab if you save an entry first.    This came up because I actually did test case 19, and then I went back and served that document that I first saved. Here are the steps to recreate the issue.

- Upload a pdf to a lead case in a consolidated group
- Click add docket entry
- SAVE the entry, do not save and serve
- The entry wi

[2022-08-30 20:07] ttlenard commented on #8189
Hey there @rgoshen, I talked with Chris and for now, let's not worry about the last bullet from my comment above. It does appear to be a separate issue.  We'll tackle it with a separate story/bug.

[2022-08-31 01:45] cholly75 opened #8250 "Consolidated Cases - Trial Session Information Page"
As a court user, so that I can easily tell which cases are grouped together for consolidation in a trial session, I need the Trial Session case listing to display cases in the same consolidated group together.

Currently on the Trial Session page the cases that have been calendared for the session are listed in ascending docket number order on all views (Open, Inactive, and All). When consolidated

[2022-08-31 13:03] ttlenard commented on #8237
## Test Cases

#### 1) Stamp is added to a motion; Radio button is selected in the "Due Date" section and date is added; Stamp preview shows this text bookended with hyphens.

This test has some set up:
- Log in as a docket clerk
- Navigate to a case
- Click on Create
- Select Paper Filing
- Upload a document, and be sure to categorize the document type as a motion
- Save and Serve the document
-

[2022-08-31 14:27] ttlenard commented on #8248
## Test Cases

#### 1) Petitions Clerk creates a deadline; The Edit link on the Tracked Items/Deadlines tab on a case is available.

- Log in as a Petitions Clerk
- Navigate to a case
- Click on the Tracked items tab
- Be sure that you are on the deadlines sub-tab.
- Click on Create
- Select Deadline
- Fill in the Deadline details and then click save

Expected Results:
- [ ] **NEW FUNCTIONALITY**

[2022-08-31 16:37] ttlenard commented on #8226
## Test Cases

**Note - I was unable to find cases with HE or M123 documents.  When testing below, you should be sure to add some of these specific exhibit documents onto a docket record to ensure that all Exhibit type documents are getting filtered appropriately.

#### 1) Court user can choose to view only docket entries related to Exhibits on the docket record of a case.

- Log in as any court u

[2022-08-31 16:58] cholly75 opened #8251 "Petitioner: Visibility Across Consolidated Case Group"
As a petitioner, so that I can stay informed about the other cases in my consolidated group, I need party-level visibility into cases in my consolidated group, even if I am not formally associated to them as a party.

The USTC policy regarding consolidated cases is that since filings in any case in the group may materially affect other cases in the group then parties should have full visibility ac

[2022-08-31 16:59] cholly75 opened #8252 "New item"
As a practitioner, so that I can stay informed about the other cases in my consolidated group, I need party-level visibility into cases in my consolidated group, even if I am not formally associated to them as a party.

The USTC policy regarding consolidated cases is that since filings in any case in the group may materially affect other cases in the group then parties should have full visibility

[2022-08-31 17:00] cholly75 opened #8253 "Petitioner: Add Consolidated Card to Case Information Screen"
As a petitioner, so that I can easily see which cases are in the consolidated group my current case is in, I need to see the Consolidated Cases card when viewing the Case Information - Overview for my case.

As part of making filing in consolidated cases more user-friendly to external parties, we would like the Consolidated Cases card that currently appears to Court users in the Case Information -

[2022-08-31 17:01] cholly75 opened #8254 "Practitioner: Consolidated Group Display on My Cases Page"
As a practitioner, so that I can easily understand which cases are in my consolidated group, I need the case listings for consolidated groups to be clear.

Currently the My Cases dashboard for a practitioner lists cases in a consolidated group together, ordered by docket number. We would like to update this display on both the Open and Closed views to reflect the current iconography for consolidat

[2022-08-31 17:03] cholly75 opened #8255 "IRS Practitioner: E-filing a document in a consolidated case"
As an IRS practitioner in a case, to streamline the filing process in a consolidated case group, I need to be able to file a single document across the consolidated case group as a single operation.

With the recent enhancements to DAWSON to better handle consolidated groups of cases, we would like to now make available to practitioners the ability to e-file a document across multiple cases in the

[2022-08-31 20:02] ttlenard commented on #8224
## Test Cases

#### 1) Court user edits an upcoming Trial Session; Selects "Other" in the Trial Clerk dropdown, Adds a "filler" trial clerk name.

- log in as a Court User
- Click on Trial Sessions
- From the Open tab, Select a trial session that is in the future
- Click on the Edit link to edit the trial session
- Click on the Trial Clerk Dropdown

Expected Results:
- [x] **NEW FUNCTIONALITY** Op

[2022-08-31 21:20] cholly75 opened #8256 "Petitioner: Consolidated Group Display on My Cases Page"
As a petitioner, so that I can easily understand which cases are in my consolidated group, I need the case listings for consolidated groups to be clear.

Currently the My Cases dashboard for a petitioner lists cases in a consolidated group together, ordered by docket number. We would like to update this display on both the Open and Closed views to reflect the current iconography for consolidated g

[2022-08-31 21:21] cholly75 opened #8257 "Practitioner: Add Consolidated Card to Case Information Screen"
As a practitioner, so that I can easily see which cases are in the consolidated group my current case is in, I need to see the Consolidated Cases card when viewing the Case Information - Overview for my case.

As part of making filing in consolidated cases more user-friendly to external parties, we would like the Consolidated Cases card that currently appears to Court users in the Case Information

[2022-09-01 16:10] cholly75 opened #8258 "Dedicated Docket View - Motions"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-09-01 16:11] cholly75 opened #8259 "Dedicated Docket View - Orders"
As a DAWSON user so that I can quickly identify orders pertaining to a case, I need a view that displays only order-type docket entries.

In the course of a case, many times there will be multiple references to specific orders that have been issued. Currently the user must navigate the entirety of the docket record to locate and view a specific order in question. With long docket records, this bec

[2022-09-01 16:21] cholly75 opened #8260 "BUG: Est. End Date Field on Trial Session Screen Doesn't Trigger Validation Properly"
**Describe the Bug**
When entering information in the Estimated End Date field on the New or Edit Trial Session screen, if the data is not a date in the approved format when the session is saved, no validation message is displayed other than the "success" message. However, the session is saved with no data in the field at all.

Note that if a date is provided in the correct format in the field tha

[2022-09-02 18:51] codyseibert commented on #6901
From a discussion, some additional changes we plan to do include:

Edit Model
  - show this when only lead case is selected
    - "ET AL." will not be appended to the caption.
  - change button to "Save"
  - change title to "Edit Docket Numbers"
  - change main link to "Edit" instead of Add

[2022-09-05 15:44] swongCO commented on #8226
After reviewing, this is feedback from UX:

- keep the accessible "label" element (we'll note to change it on the Trial Sessions page for another story)
- change the font style of "Filter by" to match what's on the Trial Sessions page (this styling is in the design system)
- try to match the spacing between "Filter by" and the dropdown to what's on the Trial Sessions page

[2022-09-06 13:34] cholly75 opened #8261 "New item"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-09-06 13:35] cholly75 opened #8262 "Docket: Supervisor View of Assignments"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-09-06 15:37] cholly75 opened #8263 "Docket User: View of Clerk Assignments"
As a docket clerk, so that I can manage my team effectively, I need to be able to see a list of a clerk's assigned QC work or all unassigned work.

Docket supervisors need to keep an eye on individual clerk workloads and specific case assignments. Right now, they must rely on the Section Document QC views to view assignments, and there is no ability to see just a specific clerk's assignments.

Thi

[2022-09-06 15:38] #8262 closed, assigned to nobody

[2022-09-06 15:59] #7097 closed

[2022-09-06 17:27] TomElliottFlexion commented on #8254
Similar design from 9535: ![image.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/90eea63a-a361-45b1-8487-ac6c7fdc991f)

[2022-09-06 18:51] swongCO commented on #8224
UX feedback: Please remove the asterisk after "Other"

[2022-09-06 18:57] ttlenard commented on #8249
## Test Cases

#### 1) Petitions Clerk adds a new Hybrid trial session, New functionality available to Filter by Small or Regular Cases.

- Log in as a Petitions Clerk
- Click on the Trial Session tab
- Click on Add Trial Session
- Fill out the details of the trial session, being sure to select Hybrid as the Session Type.
- Click Add Session.
- From the New tab, navigate to the city/state of the s

[2022-09-07 19:12] swongCO commented on #8226
After discussion, a Devex card was created to address standardizing the Filter by/dropdown component across Dawson.

[2022-09-07 20:51] ttlenard commented on #8185
@cholly75 @mrinsin @rosiesmith @rachelschneiderman, I added in some additional test cases above to account for Decision type documents, and the alternate paths of serving documents (save and serve, save first and then serve from the docket record, save first and then serve from the document QC in progress tab).

[2022-09-07 20:57] swongCO commented on #6901
UX feedback:
![Screen Shot 2022-09-07 at 2.00.50 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/cc592fb1-7001-419b-81e4-66d377b0cbd5)
There is extra spacing in front of "Docket..." in the docket number section so when it wraps to a second line, they are not left aligned.

![Screen Shot 2022-09-07 at 1.59.34 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab2

[2022-09-07 21:03] rosiehsmith commented on #8226
For reference: https://trello.com/c/bq1n5gZT/1089-standardize-filter-by-dropdown-component

[2022-09-08 12:07] ttlenard commented on #8257
## Test Cases

#### 1) Private Practitioner is associated with the a Case in a Consolidated group of cases; Consolidated Cases Card is available on the Case information tab.

Preconditions: Private Practitioner is associated with a case in a Consolidated Group.

- Log in as a Private Practitioner
- Click on the Docket Number of the case you have access to in the consolidated group from the My Case

[2022-09-08 12:08] ttlenard commented on #8253
## Test Cases

#### 1) Petitioner is associated with the a Case in a Consolidated group of cases; Consolidated Cases Card is available on the Case information tab.

Preconditions: Petitioner is associated with a case in a Consolidated Group.

- Log in as a Petitioner
- Click on the Docket Number of the case you have access to in the consolidated group from the My Cases list
- Click on the Case Inf

[2022-09-08 18:41] #2369 closed, assigned to jimlerza

[2022-09-08 21:01] rgoshen commented on #8189
Found an issue with court issued documents uploaded by petitions clerk.  Therefore, we are moving it back into progress.  When served, it will not show up in served tab within QC Documents.  It does show up under the Processed tab in QC Document when a Docket Clerk is logged in.

[2022-09-09 15:14] cholly75 opened #8264 "Calendar: Display Case Type Counts on Hybrid Sessions"
As a calendaring user, so that I can easily tell how many of each type of case has been QC'ed for a Hybrid trial session, I need to see current counts of QC'd cases broken out by case type.

The current calendaring UI displays an ongoing count (labeled as "Completed") of the cases that have been checked as "QC Complete?" in the Eligible Cases list. A hybrid trial session comprises both regular and

[2022-09-09 15:29] cholly75 opened #8265 "Session Copy: Consolidated Case/Trial Status Filtering Enhancement"
As a Session Copy viewer, so that a filtered view of the Session Copy displays cases accurately, I need member cases in consolidated groups to display appropriately even if the Lead Case has been filtered from the display.

With the implementation of ustaxcourt/ef-cms#8214, we introduced grouping and iconography for cases in consolidated groups to the Session Copy page. However, if the Lead Case h

[2022-09-09 16:49] cholly75 commented on #8253
@ttlenard - w/r/t sealed cases on the card - let's keep them hyperlinked and pop the "This case is sealed" screen when clicked by a petitioner who is not a party to the case. This is in line with usual visibility rules (i.e., the result the general public would see if searching for the case by docket number).

[2022-09-09 17:40] #2358 closed, assigned to nobody

[2022-09-09 17:40] #1810 closed, assigned to jimlerza

[2022-09-09 17:45] mmarcotte opened #2535 "Ensure `index` is present on v2 API"
As a consumer of the Reconciliation Report, in order to have all of the information I need to process the documents that have been served, I need the API to return the include the index number for docket entries.

Even though it is documented in v2.yml, the `index` attribute is missing from docket entries on the v2 api. We need each docket entry to relay the index number of the document on the cas

[2022-09-09 18:42] swongCO commented on #6971
Refer to https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/9535 for implementation

[2022-09-09 18:48] swongCO commented on #8250
Refer to https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/9535 for implementation

[2022-09-09 18:48] swongCO commented on #8250
Refer to https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/9535 for implementation

[2022-09-12 13:05] ttlenard commented on #6971
## Test Cases

#### 1) On the Eligible Case list, a Consolidated Group of cases has iconography indicating if a case is the lead or a member case; Consolidated group is sorted appropriately.

Preconditions: You will need to ensure that there is a consolidated group of cases that are in the General Docket - At Issue, Ready for Trial status, and take note of the requested place of trial for this gro

[2022-09-12 13:57] ttlenard commented on #8250
## Test Cases

#### 1) On the Open Cases tab on the Trial Session information page, a Consolidated Group of cases has iconography indicating if a case is the lead or a member case; Consolidated group is sorted appropriately.

Preconditions: You will need to ensure that there are a couple different consolidated groups of cases that have been calendared for a trial session.

- Log in as a Court user

[2022-09-12 14:35] #8214 closed, assigned to TomElliottFlexion

[2022-09-12 14:35] #8237 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-09-12 14:35] #8242 closed, assigned to rosiehsmith, mrinsin

[2022-09-12 14:35] #8243 closed, assigned to rosiehsmith, mrinsin

[2022-09-12 14:35] #8248 closed, assigned to rachelschneiderman, mrinsin

[2022-09-12 14:35] #8222 closed, assigned to TomElliottFlexion

[2022-09-12 14:36] #8232 closed, assigned to jamesobrooks, rgoshen, shumway-tm

[2022-09-12 14:36] #8247 closed, assigned to jamesobrooks

[2022-09-12 14:36] #8260 closed, assigned to codyseibert

[2022-09-12 15:58] cholly75 opened #6490 "Prevent Duplicate Petition Service From Multiple Tabs"
As a petitions clerk, so that I don't accidentally serve a petition twice, I need DAWSON to recognize when I attempt to serve a petition that has already been served.

When the "Review & Serve" screen for a petition is open in multiple tabs, if the petition is served on one tab then the appropriate actions are taken (petition is served, auto-generated orders are generated, etc). However, the other

[2022-09-12 16:23] cholly75 commented on #8226
Not issues, but noting for callout during demo: Filter does not revert to all exhibits if view changes. Printable docket record is still all docket entries.

[2022-09-12 16:50] ttlenard commented on #8254
FYI - Here is the current mobile view for the My cases tab for a practitioner that has access to consolidated cases. UX would like to meet with the devs regarding this view when this story get's picked up. Thanks!
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/b2a7b56e-b75a-4938-a946-9ee23e60562e)

[2022-09-13 13:33] ttlenard commented on #8254
## Test Cases

#### 1) Private Practitioner is associated with an open case in a consolidated group of cases; Consolidated cases have updated iconography on the My Cases/Open Cases Screen.

Preconditions: Private Practitioner needs to be associated with at least one open case in a consolidated group, as well as at least one non-consolidated open case.

- Log in as a Private Practitioner
- You will

[2022-09-13 15:42] ttlenard opened #8266 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
A public user reported that the sorting function on the Today's Orders (https://dawson.ustaxcourt.gov/todays-orders) page is not working properly.  I was able to confirm.  We think that this might have to do with Orders that are processed across consolidated cases, because the problem cases that we are seeing with this ticket

[2022-09-13 18:02] liadmccabe commented on #6901
@codyseibert UX recommendation: Wrap second sentence so that it continues from the first. (i.e. next sentence should start immediately after the word 'caption' rather than start in the next line).  ![Screen Shot 2022-09-13 at 2.00.23 PM.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/e0464180-8c9a-452c-b971-7230808b627b)

[2022-09-14 18:57] mmarcotte opened #2552 "Get Response Length from the API Gateway to identify overloaded Lambdas"
Add responseLength to the index in Kibana so we can have a visualization in Kibana that details the overloaded Lambdas.

- [x] Update index template for Staging Account
- [ ] Create visualization for Staging Account
- [ ] Update index template for Production Account
- [ ] Create visualization for Production Account
- [ ] Review Results

[2022-09-14 20:03] ttlenard commented on #8251
## Test Cases

#### 1) Petitioner that is a party on one case in a consolidated group can view and interact with the case record on a different case in the consolidated group even though they are not a party to the case.

Preconditions: Petitioner is a party on a case or cases in a consolidated group, but not ALL cases.

- Log in as a Petitioner
- Navigate to the case in the Consolidated group tha

[2022-09-14 20:42] ttlenard commented on #8252
## Test Cases

Note that each test will need to be completed twice, once with a Private Practitioner and once with an IRS Practitioner.

#### 1) Practitioner that is a party on one case in a consolidated group can view and interact with the case record on a different case in the consolidated group even though they are not a party to the case.

Preconditions: Practitioner (IRS and Private Practitio

[2022-09-15 12:41] ttlenard opened #8267 "New item"
**Describe the Bug**
When a docket clerk clicks on the Complete button after QCing a document from their QC inbox, It doesn't immediately get removed from the users QC inbox.  It will disappear from the inbox if you navigate off of the inbox tab.  When you click on the Processed tab, the document is there. It is like the QC'd document "lingers" in the inbox. If they click Complete and Send Message

[2022-09-15 14:01] cholly75 opened #8268 "Petitioner: Docket Search Capability"
As a petitioner, so that I can take advantage of DAWSON's search capabilities, I need to be able to search for cases while logged in.

Currently a logged in petitioner has no access to the search functionality in DAWSON. They should. We would like to implement the same search functionality extended to practitioners in the nav bar for petitioners (see screenshot below).

This story will address imp

[2022-09-15 15:22] rosiehsmith commented on #8185
@cholly75 we just discussed splitting out a new story for the flow of "Edit Paper Filing" for a docket entry that is in the "In Progress" tab of Document QC.

[2022-09-15 20:13] cholly75 opened #8269 "Docket: Filing a paper document across a consolidated group from the Edit Paper Filing screen"
As a docket clerk, in order to use the multi-docketing feature in a group of consolidated cases from all potential workflows, I need to be able to invoke the consolidated case feature in story ustaxcourt/ef-cms#8185 from the Edit Docket Entry screen.

ustaxcourt/ef-cms#8185 extends the ability to file documents across a group of consolidated cases to paper filings. This story addresses the functio

[2022-09-16 17:20] cholly75 opened #8270 "Docket Clerk: Select All when assigning work"
As a docket clerk, so that I can quickly reassign work, I need the ability to select all displayed boxes on the QC Display.

When assigning work to a clerk, docket often needs to assign multiple items at a time (typically when a clerk is out of the office or is tasked with alternate duties). As the list of outstanding items to assign can often be quite long, it would be helpful once ustaxcourt/ef-

[2022-09-19 14:34] #8189 closed, assigned to rgoshen

[2022-09-19 14:34] #8224 closed, assigned to rgoshen

[2022-09-19 14:34] #8226 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-09-19 14:34] #8266 closed, assigned to codyseibert, jasonfu9966

[2022-09-20 13:04] #6973 closed

[2022-09-20 13:07] cholly75 opened #8271 "Sealing E-mail Address (formerly flexion#9619)"
As a docket clerk, so that I can keep petitioner identity confidential when required, I need to be able to seal a petitioner's email address.

In some instances (whistleblower cases, innocent spouse cases, etc.) it is advisable for the petitioner's email address to be hidden from the public and other parties associated with the case. To facilitate this, docket clerks need the ability to apply a se

[2022-09-20 13:38] cholly75 opened #8272 "Petitioner: Update Informational Applet on the My Cases Page for Petitioners."
As a petitioner, so that I can quickly access the most useful information about Court processes, I need the information displayed in DAWSON to be updated.

When USTC helpdesk staff respond to Petitioners questions, many times they also include a link to the "Guidance for Petitioners" page that is on the USTC Court Website with their response.  Having the guidance for petitioners page readily avail

[2022-09-20 13:48] cholly75 opened #8273 "Today's Opinions: Text Change"
As a Court, so that users of the Today's Opinions page understand the state of a released opinion, I need to update the verbiage on that page.

The Today's Opinions page currently displays the following sentence:

"Opinions are generally published at 3:00 PM."

We need to change this sentence to:

"Opinions are generally filed at 3:00 PM."

## Pre-Conditions

## Acceptance Criteria
* Text on Today

[2022-09-20 21:55] swongCO commented on #8244
### UX specs

![Practitioner details page.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7221740e-1a58-40ff-a43e-a4a7bc81a887)
1. Add two tabs to this page - "Details" & "Documentation"
2. Use the existing styling and implementation of tabs
3. Icon links move to the tab content area below the tabs

![Practitioner documentation page.png](https://images.zenhubusercontent.com/61a7

[2022-09-20 21:58] swongCO commented on #8245
### UX specs
![Practitioner documentation page.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/d41b06f7-961c-45f3-8ff2-01108952b575)
1. Each column is sortable
2. Default sort is by date ascending
3. Each row has two icon links at the end - "Edit" & "Delete" (left align)
4. Edit link will open the "Add file" page - change page title to "Edit file" (see mockup below)
5. Delete li

[2022-09-21 16:16] liadmccabe commented on #8263
### UX Specs
![Section QC.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/8cf591e1-1b2f-49af-bf81-ac47c49be2a5)

1. Add "Filter by" [make sure coded as a label not a header] with a dropdown menu using "-Assignment-" as the default
2. The "Assign to" dropdown should always be present in disabled mode when no boxes are checked (box no longer needs to be checked for it to pop up)
3

[2022-09-22 11:08] ttlenard commented on #8273
## Test Cases

#### 1) Text on the Today's Opinion page is updated with new verbiage that states "filed" instead of "published"

- Navigate to the Today's Opinion Page
     - Prod: https://dawson.ustaxcourt.gov/todays-opinions
     - Test: https://test.ef-cms.ustaxcourt.gov/todays-opinions

Expected Results:
- [ ] The text states,  "Opinions are generally **filed** at 3:00 PM..."
- [ ] The text no

[2022-09-22 12:20] ttlenard commented on #8265
## Test Cases

#### 1) Trial Status for the lead case in a consolidated group is updated on the Session Copy page; member cases have a different trial status than the lead case; The trial status for lead case is de-selected; Lead case no longer appears in the case list, member cases remain in list.

Preconditions:
1. A consolidated group of cases that have been calendared for trial
2. Other cases

[2022-09-22 14:56] mmarcotte opened #2568 "SPIKE: Modals and Screenreader"
As a user of accessibility tools, so that I can easily know the information in modals, I need a solution that enables me to access the information in the modals.

## Pre-Conditions

## Acceptance Criteria

- Performed an audit on existing modals in DAWSON
- ... and documented where they exist in this ticket
- Meet with accessibility experts to identify a better user experience, if one exists
- Pos

[2022-09-22 20:12] liadmccabe commented on #8270
### UX Specs
![checkbox 1.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/09c7a5e1-88e6-4ec6-88d4-527c1d345aed)
1. Add checkbox in table header to the left of "Docket No." This box defaults to unchecked.

![Checkbox 2.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/9456b89c-be4d-4ad3-9a5f-ee675cc6ea53)

1. When the new checkbox is clicked, this will automatica

[2022-09-22 20:52] swongCO commented on #8249
UX feedback:
1. Vertically align "Filter by" to the dropdown (see Docket Record filter for guidance-screenshot below)
![Screen Shot 2022-09-22 at 2.49.01 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/3b5c4c4a-349f-4e8d-8754-42eebfa5be3f)

2. "Filter by" wraps to two lines when the browser window width is reduced (screenshot below)
![Screen Shot 2022-09-22 at 11.18.10 AM.png

[2022-09-22 21:12] swongCO commented on #8185
UX feedback

- Tested with 3 types of documents: Admin record, motion (plain), notice (plain)
- All 3 showed the Print Service page after Save & Serve btn
- Only Admin record displayed all cases & ET AL on the cover sheet
- Used docket #22447-16, line items 45-47

Screenshots:
![Screen Shot 2022-09-22 at 12.32.15 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/c2295324-67db-4

[2022-09-23 15:44] liadmccabe commented on #8199
UX Feedback:
We have some feedback on the modal and the verbiage that is used. We recommend rewording phrases like “run report” to be consistent with the terminology being used on different pages/modals (like "Session Copy" instead of "working copy").

[2022-09-23 19:00] mmarcotte opened #8274 "BUG: Document from another case somehow added as an attachment to a Message"
**Describe the Bug**

When drafting a Stipulated Decision, Docket sent a message to Judge Urda with the draft document. Janet Mai (Judge Urda's CA) forwarded the message to the judge for signing. Everything looks correct in those requests. However, when the judge went to complete the process, the message appeared to have an extra document attachment, whose uuid matches a STIP decision from another

[2022-09-26 15:40] ttlenard opened #8275 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
Petitions clerk fails to initially upload a STIN when creating a Paper filed case. On the review petition screen (prior to serving to the IRS), the clerk clicks on the edit button on the attachments card to upload the STIN. If this workflow happens, the STIN receives a docket index number ustaxcourt/ef-cms#6492.  You will be

[2022-09-26 16:48] ttlenard commented on #8269
## Test Cases

#### 1) Docket Clerk is in the lead case of a consolidated group and adds a Paper Filing; Saves entry, does not serve.
- Log in as a Docket Clerk
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select Paper Filing
- Upload a PDF and Fill in the required fields for the paper filing (make sure that this is NOT a decision type of document)

[2022-09-26 16:59] ttlenard commented on #8185
@rosiehsmith I put a strikethrough on test cases 17-19 above to remove the ones associated with the "Edit Docket Entry" workflow. This screen appears if the document is saved first, then a docket clerk goes to Document QC in progress tab, and serves from there.  I copied the test cases over to the new story 9616.

[2022-09-26 17:04] ttlenard commented on #6901
Note: In test case 8, the link to add docket numbers to the caption WAS present for decision type of orders.  I did some additional testing, and Docket is still not able to docket across cases in a consolidated group for decision types of documents, so @cholly75 indicated that it will be fine.  Court users that are creating Orders should know that they are not supposed to file these types of order

[2022-09-26 18:22] liadmccabe commented on #8185
UX successfully tested up to 9, we are unable to test the remaining stories that require regression test feature flag set to off.

Of note, we tested seven document types, only one (The affidavit) created the document cover sheet for the print paper service page.

Document Types Tested:
-Motion
-Answer
-Memorandum
-Supplemental
-Application
-Administrative Record
-Affidavit (only this one generate

[2022-09-26 19:58] swongCO commented on #8264
### UX specs
![Trial Session - Eligible cases - type count.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/fc954da4-b43b-4252-a51c-2dfdab83b3c3)

- Change existing "Completed" count label to "Total Completed"
- Add "Regular" and "Small" before the above count
- Font weight of the labels (Regular, Small, Total Completed) to remain BOLD
- Change font weight of the number output af

[2022-09-26 21:12] ttlenard commented on #8264
## Test Cases

#### 1) Petitions Clerk adds a new Hybrid trial session; total counts for how many Regular, Small and the Overall total QC completed cases is displayed.

- Log in as a Petitions Clerk
- Click on the Trial Session tab
- Click on Add Trial Session
- Fill out the details of the trial session, being sure to select Hybrid as the Session Type.
- Click Add Session.
- From the New tab, navi

[2022-09-27 15:46] ttlenard opened #8276 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
We received a helpdesk ticket that indicated that a closed case (closed by stipulated decision) had a blocked label showing, even though there were no pending items or deadlines on the case.  After doing some investigation, we found the following information in the case JSON:
automaticBlocked = true
automaticBlockedDate: "202

[2022-09-27 16:58] liadmccabe commented on #6971
@codyseibert

UX Feedback:
- We are unclear on what test case 1 means by "Consolidated group is sorted appropriately". E.g. docket number 33089-21L is part of a consolidated group, but is currently being pulled out of the group to the top of the table in its default sorting. You would need to scroll down to the other case types in order to find the other two cases in the group, which are grouped t

[2022-09-28 14:36] ttlenard commented on #8244
## Test Cases

#### 1) Admissions Clerk searches for a practitioner; two tabs are available on Practitioner page.

- Log in as an Admissions Clerk
- Click on the Advanced tab in the upper right of the screen
- Click on the Practitioner Tab
- Search for a Practitioner by either typing in a name or adding a BAR number
- If you searched by Practitioner name, click on the BAR number of the Practitione

[2022-09-28 16:02] cholly75 commented on #8244
@ttlenard - let's test for compatibility with .TIFF files when testing to see about legacy support.

[2022-09-28 16:41] mrinsin commented on #8185
@liadmccabe @rachelschneiderman and I are looking into what the expected behavior is with these doc types. Regarding test cases with feature flag, just let us know whenever you want us to turn it off for testing and we will do so.

[2022-09-28 16:43] ttlenard commented on #8245
## Test Cases

Preconditions: Be sure that you have some documents uploaded for a Practitioner.

#### 1) Admissions Clerk accesses the Documentation tab for a Practitioner; Edit/Delete links are available, Table headers have Sort icons.

- Log in as an Admissions Clerk
- Click on the Advanced link in the upper right hand corner of the screen
- Click on the Practitioner Tab
- Search for a Practitio

[2022-09-29 12:17] ttlenard commented on #8259
## Test Cases

#### 1) Court user can choose to view only docket entries related to Orders on the docket record of a case.

- Log in as any court user (be sure to test with various court user roles)
- Navigate to a case that has Orders
- In the View Filter, select Orders

Expected Results:
- [x] **NEW FUNCTIONALITY** - The docket record view will only display Order documents and does not show othe

[2022-09-29 17:14] swongCO commented on #6971
Story passes UX review but we have a question for Chris re high priority cases which are not signified as such in the table (as in QC page where they have the [circle !] icon).

[2022-09-29 17:54] swongCO commented on #8264
@rgoshen Updated UX specs with spacing between counters

[2022-09-30 14:07] liadmccabe commented on #8199
UX SPECS:

As per discussion with devs, the draft printable trial session copy currently does not provide enough spaces in the header to accommodate the longest combinations of options possible (edge cases).  An example discussed is if the user selected Washington, District of Columbia combined with the date December 25th, 2022, the Judge's name of Gustafson, and the page number. Currently, if all

[2022-09-30 18:01] ttlenard commented on #8263
## Test Cases

#### 1) Docket Clerk Navigates the Section Document QC Inbox tab, Filter dropdown menu is available.

- Log in as a Docket clerk
- Click on the Document QC tab
- Click on the Section Document QC tab.
- Be sure that you are on the Inbox Tab

Expected Results:
- [x] **NEW FUNCTIONALITY** - A new Filter by dropdown is available on the page.
- [x] **NEW FUNCTIONALITY** - The default men

[2022-09-30 20:39] ttlenard commented on #8270
## Test Cases

#### 1) Docket Clerk Navigates the Section Document QC Inbox tab; New checkbox is available to the left of the Docket No. Column Header.

- Log in as a Docket clerk
- Click on the Document QC tab
- Click on the Section Document QC tab.
- Be sure that you are on the Inbox Tab

Expected Results:
- [x] **NEW FUNCTIONALITY** - A new checkbox is present to the left of the Docket No. Colu

[2022-09-30 22:40] swongCO commented on #8244
After discussion with @rachelschneiderman and @rosiehsmith on Friday, we will move the icon links that are at the right to below the horizontal tab line so content within each tab is displayed. After a cursory exploration in Dawson, the pattern is that icon links that are tab agnostic are above the horizontal tab line. UX will update the mockups to reflect this change. cc @liadmccabe

[2022-10-03 16:07] #6901 closed

[2022-10-03 16:07] #8273 closed, assigned to jasonfu9966

[2022-10-03 16:07] #8249 closed, assigned to rgoshen

[2022-10-03 18:06] cholly75 commented on #8259
@ttlenard - all tests pass, can you look at docket 3517-21 just to confirm with the terminal user? It should have a mix of unsealed, sealed, and "super sealed" orders on there.

[2022-10-03 19:09] ttlenard opened #8277 "BUG: Petitions Clerks and Docket Clerks receive validation error if they use the Calculate links when entering Statistics on a Petition"
**Describe the Bug**
A clear and concise description of what the bug is.
If a petitions clerk uses the Calculate Penalties on IRS Notice link when entering statistics on a Petition, they will receive a validation error that says "enter year, deficiency amount, and total penalties" (see screen grabs below). If the petitions clerk just enters in a Total Penalties amount, then no validation error app

[2022-10-03 19:55] swongCO commented on #8264
@rgoshen Looks good. Have a couple of minor UI adjustments (screenshot below):

![Screen Shot 2022-10-03 at 10.36.00 AM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/86b7d4a3-ac0b-4613-8da6-eb32e20a3a68)

Use existing components to help future dev efforts with consistency:
- Filter By dropdown in Docket Record
- Table counter in Trial Session Info

cc @liadmccabe

[2022-10-03 19:55] mrinsin commented on #8277
Info from some initial research: I looked into this and it seems like when the modal is used to calculate the total, a '$' is added to the property `irsTotalPenalties` therefore making it an invalid value for a property thats supposed be a number. Removing the '$' and making that property a number from a string proved my theory and seemed to (hackily) fix the bug for me locally

[2022-10-03 20:10] jhansen-flexion commented on #8277
Original story is 4657https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/4657#:~:text=%23-,4657,-As%20a%20Petitions

[2022-10-03 20:30] codyseibert commented on #8277
Some updates, it seems like last week there was an update to react-number-format to upgrade it to version 5, the bug might be caused by this upgrade.  We probably just need some more test coverage around this user sequence

[2022-10-03 20:45] ttlenard commented on #8277
More updates: I also found this calculator in DAWSON when you add a year/period, and I also received the error:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/4ad57b23-dd5a-447a-b2fa-6dabe2fd73bf)

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/880904cd-80e1-4189-973a-e966a6080ba4)

[2022-10-03 20:57] swongCO commented on #8199
### UX feedback
For the modal:

- [x] change title "Run Printable Trial Session Copy" to "Print Session Copy" (James)
- [x] change “case notes” to “<s>judge’s </s>your case notes” in the body (James)
- [x] change "Run Report" button to "Print" (James)

On the pdf page:
- [x] change the page title from "Trial Session Printable Working Copy" to "Printable   ##Session Copy" (James)
- [x] change the b

[2022-10-03 21:01] jhansen-flexion commented on #8277
Not sure why I cannot assign a bug but @rachelschneiderman volunteered to take this on and will be working on it shortly.

[2022-10-03 21:01] jhansen-flexion commented on #8277
Not sure why I cannot assign a bug but @rachelschneiderman volunteered to take this on and will be working on it shortly.

[2022-10-03 21:17] jamesobrooks commented on #8199
@swongCO

This view is for Judges, their chambers, and trial clerks. The notes being included are the notes added by the particular user, not specifically the Judge.

[2022-10-03 22:51] swongCO commented on #8199
@jamesobrooks There are two different types of notes for every case - case and judge's. In the Session Copy, only judge's notes are displayed in the table (they have the generic label "Notes"). Only the judge and their CA can view/edit judge's notes. They can also view/edit case notes. Everyone else, including trial clerks, are able to view/edit case notes only. So we wanted to clarify which type

[2022-10-04 12:25] ttlenard commented on #8199
@swongCO @jamesobrooks Wanted to chime in here. There are actually 3 types of case notes. 1) Any court  user can add notes to the case, 2) Judges can add notes to the case in Judges Notes - these notes also appear on the Session Copy page, 3) Trial Clerks can also add notes to the Session Copy page. Their notes do not show up in the Case notes, or in the Judges Notes, they only appear on the Sessi

[2022-10-04 14:29] ttlenard commented on #8259
@cholly75 Terminal user test passes.  I see the mixture of sealed, super sealed, and unsealed Orders on this case.
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/1a8d489e-388d-42fd-afbe-b9508d19f8fa)

[2022-10-04 14:48] swongCO commented on #8199
Based on Tenille's comment, we'll be changing the feedback to "notes" and removing "judge's".

[2022-10-04 15:33] swongCO commented on #8244
Removed from UX specs: File names are linked and when clicked, opens a new tab/page with the document and functionality to print and download
File will download onto user's default folder as specified in test case ustaxcourt/ef-cms-flexion#9.

[2022-10-04 16:07] jamesobrooks commented on #8199
To be clear, calendar notes and session notes are not to be toggled. If they exist, we include them. So I also don't think that having the modal simply say "notes" will be clear.

P.S. session notes are also user based, but calendar notes are shared.

[2022-10-04 16:14] ttlenard commented on #8185
Some initial testing feedback:

- Test case 1.3 - No print for paper service screen appeared for me
- Test case 1.4 - Green confirmation banner is not the "new" one that we have for consolidated cases. It currently says, "Your entry has been added to the docket record."  The new green confirmation banner that we have been using in consolidated cases states, "Document served to selected cases in gr

[2022-10-04 17:06] swongCO commented on #8199
Updated feedback from a discussion with James, Tenilla and Lia. We will refer to notes as "your case notes" in the body of the print modal.

[2022-10-04 19:55] ttlenard commented on #8277
I met with @rosiehsmith and @mrinsin to talk about the missing commas. Yesterday when I was meeting with the petitions clerk, they specifically called out that the commas were missing for large dollar amounts.  Rosie and Mrin have updated the code so that we can get the commas added back in. Thanks Ladies!

Here is a screen grab of what it currently looks like without commas
![image.png](https://i

[2022-10-05 04:56] #8277 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-10-05 19:54] jamesobrooks commented on #8199
Task Status:
- the page header “Trial Session Copy: San Francisco, California; Oct 17, 2022; Buch” and “Page X of XX” should left and right align with the table:
OR

This header is displaying differently on different machines locally. Deployed in the environment, it will display the same for all users. Troubleshooting this issue has already taking an inordinate amount of time to this point, and st

[2022-10-05 20:43] cholly75 commented on #6971
@codyseibert - feedback is that the Court would like to apply the consolidation grouping/indent when the lead case and any/all of its member cases fall into the same grouping on this screen (CDP, Passport, HP, etc).

[2022-10-05 21:35] ujahio commented on #8199
Task Status:

if a bottom row doesn't fit on the page, force it to the next page so that the row isn't split between two pages:

From the findings of our experiment on modifying css classes on table rows rendered on pdf, our efforts have not proven impossible to check the position on the page so we can programmatically render the table row on a new page if the contents of the row extends to the ne

[2022-10-06 13:40] jimlerza opened #2631 "New item"
Compile the requested statistics in a spreadsheet. One row per case in which a non-attorney practitioner is representing one or more petitioners.

See the [Non-Attorney Project](https://github.com/orgs/ustaxcourt/projects/6/views/1) for more information.

[2022-10-06 14:12] jhansen-flexion commented on #8250
Blocked because it relies on depends on [#3572](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/3572)

[2022-10-07 15:29] liadmccabe commented on #8199
UX Feedback
The table does not currently have a set width, so if a case title has a particularly long name, it expands the table off-screen. This may also be the case for the other columns, such as a respondent or counselor with a long name.
![Screen Shot 2022-10-07 at 9.41.58 AM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/97f05c7b-3183-4ec4-9fc4-85935c0eeb42)

This is impac

[2022-10-07 17:19] #1626 closed, assigned to nobody

[2022-10-10 15:12] liadmccabe commented on #8199
UX Feedback: We recommend making the table as wide as possible to increase the allowable copy space in the Case Title column to accommodate names and avoid wrapping mid-name. The current Case Title column is somewhat narrow and is causing names to be split. (E.g. in the screenshot below you see that the name "Kevin B. Cheam & Julie Lim" both have the 'm' from their last names pushed into the next

[2022-10-11 15:01] ttlenard commented on #8185
More feedback from testing today 10/11/2022.

- Test Case 1.3 - Still not seeing a print for paper service screen appear, and I am no longer seeing a cover sheet on the documents filed.
- After I click Save and Serve, I get a confirmation screen on the "add paper filing" page, and then it reloads again. After reload, I am navigated back to the docket record screen with the updated green banner.

[2022-10-11 16:28] ttlenard commented on #8199
@jamesobrooks @Absolutestunna @shumway-tm

Found something while testing today 10/11/22.  Looks like the printed document is displaying the Judges name as the title even when a Trial Clerk is the one printing out the page.
- Log in as a Trial Clerk
- Navigate to a session that you are assigned to
- Print the Session Copy page
- Notice that on the printed version that it says "Judges name - Session

[2022-10-11 17:32] mrinsin commented on #8253
After @shumway-tm and I discussed with @cholly75, we decided to also show the Sealed Case view (red banner and label saying case is sealed to the public) when an unassociated petitioner types in the url to view a sealed case (whether the case is in a consolidated group w/petitioner or not). This previously would show the following screen: ![image.png](https://images.zenhubusercontent.com/618021eb4

[2022-10-12 14:49] cholly75 opened #8278 "Auto-generate Deadline (Order for Filing Fee)"
As a clerk, so that I don't have to manually create a deadline when an Order for Filing Fee is docketed, I need DAWSON to create a deadline on the case when an Order for Filing Fee (OF) is served.

When the filing fee has not been paid by a petitioner, the petitions or docket clerk manually adds a deadline to the case indicating the due date of the filing fee. Currently this must be done after doc

[2022-10-12 17:47] ttlenard commented on #8185
Testing Feedback for 10/12/2022:

- Cover sheet feedback - We should not be capitalizing the ET. AL. after the petitioners name.  This should be in lowercase letters. (note: the ET AL was capitalized for the Orders, but that should be the only place it is capitalized) See Screen grab below.
- Test Case 11 does not pass - If you save a decision type of document before serving, and then click on the

[2022-10-12 18:12] rachelschneiderman commented on #8185
See [here](https://flexion.slack.com/archives/CHMLA049H/p1665596972566599) for "et al." related discussion

[2022-10-12 19:58] swongCO commented on #8253
UX feedback:
Mobile view is still showing the case title overlapping the docket numbers. I used a mobile simulator chrome extension. The same is happening on an iPad simulation.
![Screen Shot 2022-10-12 at 9.54.13 AM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/cd30b3b4-2fa5-44e9-a13c-69587abc6721)

[2022-10-12 19:59] swongCO commented on #8257
UX feedback:
Mobile view is still showing the case title overlapping the docket numbers. I used a mobile simulator chrome extension. The same is happening on an iPad simulation.
![Screen Shot 2022-10-12 at 9.54.13 AM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/cd30b3b4-2fa5-44e9-a13c-69587abc6721)

[2022-10-13 16:31] ttlenard opened #8279 "BUG: When a Lead case is removed from a trial, member cases no longer display on the Session Copy Page"
**Describe the Bug**
A clear and concise description of what the bug is.
If a Lead case in a consolidated group is removed from the trial session, the member cases that are still a part of the trial session are not displaying on the Session copy page.  These cases do still appear on the Trial Session info page.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?*

[2022-10-13 16:57] ttlenard opened #8280 "BUG: When removing a pending item from a Consolidated Case, the cases listed in the Consolidated Case Card disappear."
**Describe the Bug**
A clear and concise description of what the bug is.
On a consolidated case, when removing a pending item in the tracked items tab, the list of cases displayed in the Consolidated Cases card on the Case information tab disappear.

They only display again if the browser page is refreshed or the case is re-navigated to.

This seems VERY similar to the behavior reported in this BU

[2022-10-13 19:39] rosiehsmith commented on #8185
For reference on the missing document coversheet on "save and serve" workflow - [slack thread](https://flexion.slack.com/archives/CHMLA049H/p1663789889092649)

This would be a mismatch between current functionality and part of test case 1.3, so just wanted to point that out.

[2022-10-13 21:33] ttlenard commented on #8185
Thanks @rosiehsmith. @cholly75 got confirmation from the Court that we will keep existing functionality with the coversheets for now. I'll get the test cases updated to reflect current behavior and will reply again in the comments in this story once completed.

[2022-10-13 21:36] swongCO commented on #8253
UX feedback:
It looks like the columns are being centered vertically to each other. The docket number should line up with the first line of the case title. The centering is more pronounced on mobile devices.
![Screen Shot 2022-10-13 at 3.15.34 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7d95a312-eeaf-4b13-b72e-aa101f9e8bd9)
![Screen Shot 2022-10-13 at 3.15.03 PM.png](http

[2022-10-13 21:36] swongCO commented on #8257
UX feedback:
It looks like the columns are being centered vertically to each other. The docket number should line up with the first line of the case title. The centering is more pronounced on mobile devices.
![Screen Shot 2022-10-13 at 3.15.34 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7d95a312-eeaf-4b13-b72e-aa101f9e8bd9)
![Screen Shot 2022-10-13 at 3.15.03 PM.png](http

[2022-10-13 22:15] mrinsin commented on #8253
@swongCO @liadmccabe could y'all please provide us with the figma slide/mockup for this view for desktop/tablet/mobile so we can make sure we get the design exactly right? I don't have an eye for UX design and so it would be easier for me to implement with a visual aid.

[2022-10-13 22:55] swongCO commented on #8253
To clarify, the design wasn't changed. If you look at the screenshot in the Notes section, the docket number aligns with the first line of the case title. The feedback is to get the alignment back to the original. Here's what it should look like when the case titles wrap:
![Cons cases card.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/324052f7-9683-499c-8b48-6265d214cbee)

[2022-10-14 02:30] shumway-tm commented on #8253
@swongCO Thank you for the screenshot. +1 @mrinsin I agree! The visual aids help significantly. Especially with the different behavior reactive design imposes on different sized views.

[2022-10-14 12:57] ttlenard commented on #8185
@rosiehsmith Test cases have been updated to reflect the current behavior with when the coversheets are added to the documents.
- **Save and Serve**: Print for paper service screen has address coversheet, but not a document coversheet.  Document coversheet IS on the document when you view it from the docket record.
- **Save first, then serve the document from the document viewer**: Print for paper

[2022-10-14 19:03] swongCO commented on #8268
### UX Specs
Use the search card from the practitioner homepage and modify per the AC. Place the search card above the taxpayer tools card.
![My Cases - Search docket.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/10f89c8b-7edb-4383-be7b-89caf5addea1)

[2022-10-14 21:18] ttlenard opened #8281 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
ADC Section and User Message boxes (Inbox, Sent, Completed) are no longer working.  If you pull up the console, you get an Uncaught type error.

**Business Impact/Reason for Severity**
Medium

**In which environment did you see this bug?**
Prod/Test

**Who were you logged in as?**
ADC

**What were you doing when you discovere

[2022-10-14 21:27] cholly75 opened #8282 "BUG: Completing QC w/o edits changes docket entry on some filed documents"
**Describe the Bug**
When QCing an e-filed/lodged document, for some document types when QC is completed without any edits the docket entry is re-titled and a Notice of Change of Docket Entry is generated.

This appears to happen for all document types having the following scenarios as listed in https://github.com/ustaxcourt/ef-cms/blob/staging/shared/src/tools/externalFilingEvents.json when the t

[2022-10-16 04:12] #8250 closed, assigned to codyseibert

[2022-10-16 04:12] #8275 closed, assigned to jamesobrooks

[2022-10-16 04:12] #8264 closed, assigned to rgoshen

[2022-10-16 04:12] #8259 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-10-16 04:12] #6971 closed

[2022-10-16 04:12] #8199 closed, assigned to jamesobrooks, ujahio, shumway-tm

[2022-10-17 14:36] TomElliottFlexion commented on #8282
Note: quick fix is on `temporary-bug-branch-10/14/22`

[2022-10-17 18:29] ttlenard commented on #8253
@mrinsin @shumway-tm Some testing feedback:

Test case 5.
- As a docket clerk, I had sealed one of the cases in the consolidated group that the petitioner was not associated with.
- Log in as a petitioner
- Open up the Console/Network/Preview tab
- Click on the hyperlink of the case that you are associated with in the Consolidated Group
- Click on the Case information tab
- Click on the Consolidat

[2022-10-17 18:30] ttlenard commented on #8257
@mrinsin @shumway-tm Some testing feedback:

Test case 7.
- As a docket clerk, I had sealed one of the cases in the consolidated group that the petitioner was not associated with.
- Log in as a petitioner
- Open up the Console/Network/Preview tab
- Click on the hyperlink of the case that you are associated with in the Consolidated Group
- Click on the Case information tab
- Click on the Consolidat

[2022-10-17 19:07] cholly75 opened #8283 "Replace "Miscellaneous" as Default Document Type on Add Docket Entry Screen"
As a docket supervisor, so that I can cut down on the number of documents filed as Miscellaneous, I need to replace "Miscellaneous" as the default document type entry on the Add Docket Entry screen.

We see a larger-than-desired number of documents being docketed with the event code "MISC" by court users. One theory as to the root of this behavior is that by making "Miscellaneous" - a document typ

[2022-10-17 20:39] #6970 closed, assigned to nobody

[2022-10-17 21:58] TomElliottFlexion commented on #8263
Previous bug involving workItems assigned to the wrong docket clerk appearing when they should be excluded by the filter was due to a data issue in a different story. Moving ticket back to UX

[2022-10-18 15:33] ttlenard commented on #8268
## Test Cases

#### 1) Search for a Case card is on the My Cases page for a Petitioner.

- Log in as a Petitioner

Expected Results:
- [x] **NEW FUNCTIONALITY** - The Search for a Case card is now above the Taxpayer Tools card
- [x] **NEW FUNCTIONALITY** - There is no link for Advanced Search on the Card, and there is no additional text about filing an entry of appearance (as it displays for a log

[2022-10-18 18:03] ttlenard opened #8284 "BUG: Sealed Case information displays in the consolidated-cases JSON when the case is part of a consolidated group"
**Describe the Bug**
A clear and concise description of what the bug is.
If one or more cases in a consolidated group are sealed, but other cases in the group are not, when a party to a case that is NOT sealed opens the console when viewing their case and clicks on the "consolidated-cases" JSON, then they have access to the sealed case information.  This was found while testing ustaxcourt/ef-cms#8

[2022-10-18 18:16] ttlenard commented on #8257
The issue referenced above is part of the back-end code, and will be fixed with bug ustaxcourt/ef-cms#8284.  The bug will need to be fixed before we release this story to production.

[2022-10-18 18:16] ttlenard commented on #8253
The issue referenced above is part of the back-end code, and will be fixed with bug ustaxcourt/ef-cms#8284.  The bug will need to be fixed before we release this story to production.

[2022-10-19 16:50] ttlenard commented on #8185
@rosiehsmith @rachelschneiderman @mrinsin

**Testing feedback for 10/19**
- The Save first, and then serve the document from the docket record is no longer generating the document coversheet on the Print for paper service screen (Test Case 8.4)
- When the FF is turned off, it turns off all consolidated multi-docket functionality

**I spoke with @cholly75, and we have a game plan moving forward:**

[2022-10-19 17:44] TomElliottFlexion commented on #8263
Current sorting precedence for table:

Inbox and In Progress tabs:
|highPriority |trialDate  | receivedAt | docketNumber |
|--- | --- | --- | ---|
|desc. |asc.|asc.|asc.

Processed tab:
|highPriority |trialDate  | completedAt | docketNumber |
|--- | --- | --- | ---|
|desc. |asc.|desc.|asc.

[2022-10-19 19:41] cholly75 commented on #6969
Approved to remove feature flag

[2022-10-19 22:15] swongCO commented on #8244
UX feedback:
1. We did not get the green confirmation banner after adding a file
2. Can the territories in the dropdown be spelled out like the states?
3. <s>When a file is selected for upload, clicking the Change link removes the file and returns to the default state where no file is selected (screenshot below):
- can the interaction change to display the system dialog where the user can select a

[2022-10-20 14:37] cholly75 opened #8285 "Paper Service: To-Do List"
As a records clerk, so that I can manage paper service that needs to be completed, I need to be able to see a list of paper service tasks that need to be served.

The USTC is going to be shifting paper service work to staff in our records department in order to alleviate the work needed by other departments in serving petitioners with paper service.

## Pre-Conditions
#TBD

## Acceptance Criteria

[2022-10-20 14:38] cholly75 opened #8286 "New item"
As a docket clerk, so that I can send paper service delivery tasks to another user, I need the ability to send a generated document to a queue for eventual paper service.

As Case Services reorganizes, they would like to be able to distribute the task of printing and mailing documents for paper service across other departments/employees. Currently when these documents are generated in DAWSON they

[2022-10-20 14:39] cholly75 opened #8287 "New item"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-10-20 14:40] cholly75 opened #8288 "New item"
As the Clerk of the Court, so that I can accurately track IRS and Court-determined penalties assessed on a case, I need to be able to see individual penalties used to calculate a total amount.

Currently when multiple penalties for a year or period are entered to calculate an aggregate total, the individual penalties are entered in the UI, after which the calculation is performed and a total amoun

[2022-10-20 14:41] cholly75 opened #8289 "New item"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-10-20 14:42] cholly75 opened #8290 "Practitioner Documentation: Enable View UI for Additional Court Roles"
As the Clerk of the Court, so that Court employees can view practitioner documentation as needed, I need to make the Documentation view for Practitioners available to roles other than Admissions Clerks.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be

[2022-10-20 14:47] cholly75 opened #8291 "Auto-Generate Deadline - Order for Amended Petition (OAP)"
As a petitions clerk, so that I don't have to manually create a deadline when an Order for Amended Petition is docketed, I need DAWSON to create a deadline on the case when an Order for Amended Petition (OAP) is served.

When a petitioner is ordered to submit an amended version of their petition, the petitions or docket clerk manually adds a deadline to the case indicating the due date of the subm

[2022-10-20 14:47] cholly75 opened #8292 "Auto-Generate Deadline - Order for Amended Petition and Filing Fee (OAPF)"
As a petitions clerk, so that I don't have to manually create a deadline when an Order for Amended Petition and Filing Fee is docketed, I need DAWSON to create a deadline on the case when an Order for Amended Petition and Filing Fee (OAPF) is served.

When the filing fee has not been paid by a petitioner and the petitioner is required to submit an amended petition, the petitions or docket clerk ma

[2022-10-20 14:48] cholly75 opened #8293 "Additional Case Status Category - Closed (Dismissed)"
As the Clerk of the Court, so that I can accurately assess data related to cases that were dismissed, I need a new case status of "Closed - Dismissed" added to DAWSON.

There is demand for more data specifically around cases that have been explicitly dismissed by the Court, but currently this is hard to obtain due to the fact that all cases share a status of Closed whether they were settled, adjud

[2022-10-20 14:51] cholly75 opened #8294 "Practitioner Documentation: Additional Categories"
As an Admissions Clerk, so that I can be more accurate in categorizing practitioner documentation, I need additional categories added to the Practitioner Documentation file upload UI.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the F

[2022-10-20 14:52] cholly75 opened #8295 "Practitioner Documentation: Disciplinary Documentation"
As an Admissions Clerk, so that I can be more granular in the kinds of documentation uploaded for a Practitioner relating to disciplinary matters, I need additional options available to me when uploading documentation in the Disciplinary category.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria

[2022-10-20 16:44] cholly75 opened #8296 "SPTO/SPOS: Remove Signature Requirement for Serving"
As a docket clerk, so that I can manually add standing pretrial orders and standing pretrial orders for small cases to the docket record of a manually calendared case, I need to be able to docket SPTO/SPOS event codes without requiring a signature.

Currently, when a case is added to a calendar outside of the "Set Calendar" process, a docket clerk must add the SPTO/SPOS order to the docket record

[2022-10-20 17:02] ttlenard opened #8297 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
If a docket clerk has added a Paper filing document to a case, and they click Save for later rather than Serve the document, the document will appear on the Document QC/In Progress tab for both My Document QC and the Section Document QC.  When this occurs, the received time/Filed time is incorrectly displayed.  It appears tha

[2022-10-20 17:51] cholly75 opened #8298 "Session Copy Update: Add Trial Session Assignment Info to Session Copy"
As a trial clerk, judge, or CA, so that I have personnel information at hand when reviewing a Session Copy, I need to display Assignment information on the screen and printable Session Copy views.

Currently to see the Assignments information for a Trial Session, a Session Copy viewer must navigate off the Session Copy page to the Trial Session view. Feedback indicates that this information would

[2022-10-20 20:00] #6897 closed

[2022-10-20 20:23] cholly75 opened #8299 "New item"
As a product owner, so that I can understand opportunities for DAWSON development, I need to implement a persistent feedback mechanism to capture user feedback internally and externally.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by th

[2022-10-20 20:43] cholly75 opened #8300 "Pracitioner Documentation: Capture State Bar Numbers"
As an Admissions Clerk, so that I can record the individual state bar numbers for practitioners, I need to be able to enter an appropriate state bar number when uploading a Certificate of Good Standing.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be

[2022-10-24 18:06] #8258 closed, assigned to nobody

[2022-10-24 20:32] swongCO commented on #8244
During UX Review, it was discovered that the downloaded word doc (docx) did not have the same file name as the file that was uploaded. @rgoshen looked into it and informed that the behavior can be changed so that the downloaded file names match the uploaded file names.
cc @liadmccabe @cholly75 @ttlenard

[2022-10-24 21:01] mmarcotte opened #8301 "BUG: Deployment of switch color cron terraform failed"
**Describe the Bug**

This past weekend, we attempted to deploy to production, and [it failed on the deploy-switch-colors-cron](https://app.circleci.com/pipelines/github/ustaxcourt/ef-cms/3987/workflows/f2d85b07-cb02-47ad-b5ed-da9a840dcfdf/jobs/43354) job.

We observed a few permissions errors at the top of the output of the Deploy Switch Colors Cron step:

And then critically when it wen to refre

[2022-10-25 14:09] ttlenard opened #8302 "BUG: Duplicate work items found in the Document QC Inbox/Processed tabs"
**Describe the Bug**
A clear and concise description of what the bug is.
**Part 1**
We have had 5 reports since August 10th from Docket Clerks indicating that there are duplicate work items found in their Document QC inbox.  They had QC'd a document, and then saw that the item was still present in their inbox. When they clicked on the QC item, that remained in their inbox, they are brought to a wh

[2022-10-25 14:12] ttlenard commented on #8263
While testing this story, we found a bug.  This story is blocked until we can resolve bug ustaxcourt/ef-cms#8302.

[2022-10-25 14:59] TomElliottFlexion commented on #8302
Duplicative `OutboxItems` seem to have been caused by duplicate POSTs completing the same `WorkItem`- whether or not this `WorkItem` was duplicated to begin with is unclear. The `WorkItem` is sometimes completed by twice by different clerks, up to half an hour apart.
![Screen Shot 2022-10-25 at 9.54.24 AM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/bd4be38a-930e-44b7-9c9c-b9

[2022-10-25 16:08] ujahio commented on #8284
[PR 2699](https://github.com/ustaxcourt/ef-cms/pull/2699) fixes and explains the solution for this bug.

[2022-10-25 16:09] mrinsin commented on #8185
Posting an update in writing - after discussions with the PO, this story will stay in progress while the mob works on a significant refactoring effort to simplify and DRY up all logic related to consolidation (for both paper filings and court issued docs). This requires pulling in domain expertise and information from user research/UX in order to ensure that the code being written is reflective of

[2022-10-25 16:14] ujahio commented on #8284
The expected behavior for this bug, orginally, was to limit the information for unassociated parties to sealed cases in a consolidated group. Upon conversation with @cholly75 , we are limiting case information for unassociated parties to any case in a consolidated group irrespective of the case being sealed.

[2022-10-25 17:16] jhansen-flexion commented on #6950
@swongCO  the team requests a wireframe for this story.

[2022-10-25 19:35] cholly75 commented on #8284
Need to regression test this with IRS recon report/service agent

[2022-10-25 19:40] ttlenard opened #8303 "BUG: Address label is not displaying Country Name in International petitioner contact info"
**Describe the Bug**
A clear and concise description of what the bug is.
If a Petitioner has paper service, and the petitioner has an international address, the address coversheet that is generated on the Print for paper service screen is not including the full address. The Country information is missing.  This applies to any address label page for any served filings.

Question - are there any oth

[2022-10-25 22:12] rosiehsmith opened #8304 "New item"
## Pre-Conditions
ustaxcourt/ef-cms#6969
ustaxcourt/ef-cms#8185
ustaxcourt/ef-cms#8192

## Acceptance Criteria
- Refactor logic that serves a document across multiple cases, both court-issued and paper filings, to align with the business use cases. This is to improve the maintainability of existing code and make it easier to implement future consolidation stories.
- Better understand the less comm

[2022-10-26 16:10] rosiehsmith commented on #8185
Manual deploy step:
Run the script `scripts/dynamo/setup-multi-docketable-paper-filings-feature-flag.sh` on each environment that brings in this story.

- [x] `ustaxcourt/test`
- [x] `ustaxcourt/stg`
- [x]  `ustaxcourt/prod`
- [x] flexion/exp1
- [x] flexion/exp2
- [x] flexion/exp3
- [x] flexion/exp4
- [x] flexion/exp5

[2022-10-26 16:58] ttlenard opened #8348 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
The default sort order on the docket record is oldest to newest.  If you change the sort order to sort by newest, or sort by Descending, and then click on the document view, the sort order remains (this is great!). However, when you click back on the docket record view, or if you click on any other tab within the case, the So

[2022-10-26 18:23] jimlerza commented on #8302
There are a couple of different ways to replicate the data issue we're seeing:

**Method 1: 2 docket clerks**

Begin state: Docket clerks 1 & 2 both load the Section Document QC Inbox
1. Docket clerk 1 clicks an unassigned document and completes it, populating Additional info 1 and selecting Add to cover sheet
2. Docket clerk 2 clicks the same document and also completes it, populating different d

[2022-10-26 18:56] jimlerza commented on #8302
Case **17850-21** is an example of method 1:

pk: `case|17850-21` sk: `work-item|2d67c6e7-90fa-4805-a3a1-9f7571e6ada6`
pk: `section-outbox|docket` sk: `2022-10-20T20:06:37.278Z`
pk: `section-outbox|docket` sk: `2022-10-20T20:06:17.598Z`

Case **9467-22** is an example of method 2:

pk: `case|9467-22` sk: `work-item|644218c0-c35a-4224-940d-895ea78eca2f`
pk: `section-outbox|docket` sk: `2022-10-19T1

[2022-10-26 19:28] codyseibert commented on #8302
discussed with UX and decided the best approach forward is to display a non-dismissible modal to allow the user to refresh their data and warn them that the work item was already completed. We need this modal to display on the following pages

- QC Inbox when clicking the document link
- Case Detail - Document View - Complete QC button
- show modal on Qc complete page on load if the work item has

[2022-10-26 22:07] rachelschneiderman commented on #8304
@cholly75

Research findings:

We wrote a script that retrieved all requests made to the following endpoints in the date range `7/17/2022-10/26/2022` and tracked the number of times the docket entry had been served on some BUT NOT ALL cases in the consolidated group, it's important to note that we excluded the situation where the docket entry was ONLY served on the lead case. (e.g. the docket entr

[2022-10-27 12:36] ttlenard opened #8349 "BUG: Docket record filter by dropdown is not displaying for external mobile users"
**Describe the Bug**
When viewing the docket record on a mobile device, the `filter by` dropdown does not appear.

**Business Impact/Reason for Severity**
Low

**In which environment did you see this bug?**
Prod, Test

**Who were you logged in as?**
Petitioner, Public, Practitioners

**To Reproduce**
Parties
1. Log in to DAWSON as a petitioner (be sure you are a party on a case) on a mobile device

[2022-10-27 17:01] ttlenard commented on #8283
## Test Cases

#### 1) Docket Clerk Uploads a PDF, on the Add Docket Entry Screen, the Document Type field displays "-Select-".

- Log in as a docket clerk
- Navigate to a case
- Click on the Create menu
- Select PDF Upload
- Upload a PDF, add a description, click save
- Click Add Docket Entry from the document viewer

Expected Results:
- [x] The Document type field no longer has "Miscellaneous" a

[2022-10-27 17:45] ttlenard commented on #8303
Hi @rosiehsmith Testing Feedback for 10/27/2022.
Country info is displayed on the address label now for the print for paper service screen for when Docket serves something on the Docket record. Thanks!  Unfortunately, I did find a related issue with paper petitions when they get served.  See below:

I decided to do some additional checking for when a Paper Petition comes in.  It looks like the Cou

[2022-10-27 18:12] rosiehsmith commented on #8303
Since it's a similar problem for the Notice of Receipt of Petition that's causing the original bug on Address Label Coversheet, just going to bring that fix into this one. 👍

[2022-10-27 19:12] swongCO commented on #8245
### UX Feedback
See new mockup in UX Specs for design:
- [ ] Change title to "Edit File"
- [ ] In the uploaded file section, match what's on the Add File page
- [ ] Change button text to "Update File"
![Screen Shot 2022-10-27 at 9.54.58 AM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/27a626e3-3626-48ac-bd08-b3dbd4ac57c1)
——————————————
- [ ] Left align Edit and Delete icon li

[2022-10-28 14:37] #8281 closed, assigned to rosiehsmith

[2022-10-28 16:18] rachelschneiderman commented on #8269
This story is blocked until the [multi-docketing refactoring story](https://github.com/flexion/ef-cms/issues/9681) has been completed so as not to conflict.

[2022-10-28 16:41] cholly75 opened #8350 "New item"
As a DAWSON user, so that I can manage my messages in a timely manner, I need to be able to see the place of trial and date of trial for messages related to a case whose status is Calendared.

Currently, when we display messages related to a case that is calendared for a trial session we reflect that in the Case Status column of the message views (Inbox, Sent) with the status of Calendared. User f

[2022-10-28 16:57] cholly75 opened #8351 "QC Display: Display Place/Date of Trial When Case Status = Calendared"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-10-28 18:46] ttlenard commented on #8244
@codyseibert @rgoshen @jasonfu9966 Testing Feedback 10/28/2022

It appears that there is a caching issue?

Navigate to a Practitioner (I was uploading documents for SH0424)
From the Documentation tab for this practitioner (or from the Add File screen), click on the Advanced link.
Search for a different practitioner (I used Myers Newton Massengill)
Click on the BAR number for Myers to open this pra

[2022-10-31 13:13] #8257 closed, assigned to mrinsin, shumway-tm

[2022-10-31 13:13] #8284 closed, assigned to jamesobrooks, ujahio, shumway-tm

[2022-10-31 13:13] #8279 closed, assigned to rosiehsmith

[2022-10-31 13:13] #8301 closed, assigned to jamesobrooks, ujahio, shumway-tm

[2022-10-31 13:13] #8253 closed, assigned to mrinsin, shumway-tm

[2022-10-31 14:56] ttlenard opened #8352 "BUG: Sealed Scenario H type documents that are less than 90 days from the hearing/trial are hyperlinked for parties, making them appear that they are viewable."
**Describe the Bug**
A clear and concise description of what the bug is.
A sealed transcript (docket index 222) on this docket record in PROD 3755-17 is hyperlinked for Parties on the case.  When clicking the link to the document, nothing opens, and they are getting a 403 error in the console.

This transcript is less than 90 days from the hearing/trial that occurred on 9-22-22.  According to this

[2022-10-31 16:51] ttlenard commented on #8352
@TomElliottFlexion @codyseibert @rgoshen

I just updated the title and body of this bug to include new information. CC: @cholly75

[2022-10-31 20:50] swongCO commented on #8349
### Mockups of Filter by dropdowns
**Tablet:**
Parties
• include min widths for dropdowns to accomodate long text (see 2nd screenshot, first dropdown)
![Tablet - Party view.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7243de55-778c-4b6d-b3b3-aa71e36c201e)

![Tablet - Party view 2.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/300b4da9-11fb-46f8-8164-01ac81

[2022-11-01 12:13] ttlenard commented on #8244
Testing Feedback 11/1/2022

No longer seeing the caching issue!

[2022-11-01 13:28] cholly75 opened #8353 "IRS Penalties: Remove Hard Limit on Penalty Records Attached to Case"
As a Petitions or Docket clerk, so that I can add as many penalties to a case as needed, I need to be able to add more than 12 years/periods of penalty records to a case in DAWSON.

Currently there is a hard limit of 12 on the number of years/periods that can be associated to a case in DAWSON to record penalties. To enable a more accurate and detailed record of the penalty data, we would like to r

[2022-11-01 16:50] ttlenard commented on #8280
Testing results: The Consolidated case card is no longer disappearing! Thanks!

[2022-11-01 17:42] rosiehsmith commented on #8265
Addressed in [9648](https://github.com/flexion/ef-cms/issues/9648), [PR](https://github.com/ustaxcourt/ef-cms/pull/2703)

[2022-11-01 21:16] swongCO commented on #8302
Got feedback about the messaging in the modal:
title - Document Has Already Been Handled
body - Click the button to refresh the data and navigate to your previous page or workflow.
btn - Close and Refresh

[2022-11-01 21:39] swongCO commented on #8302
### UX feedback
When the user clicks on a duplicate document in the QC inbox and the modal is displayed on the add document page, the user should be returned to the QC inbox and not the Docket Record after closing the modal. For the other instances where the user starts from the Document View, it's fine to return them to the Docket Record.

[2022-11-02 13:36] #8352 closed, assigned to codyseibert, rgoshen, TomElliottFlexion

[2022-11-02 14:47] ttlenard commented on #8265
I tested all of the test cases and they all pass.  Going to close this Story since there isn't anything to deploy with this story.

[2022-11-02 14:48] #8265 closed, assigned to rosiehsmith, TomElliottFlexion

[2022-11-02 16:06] ttlenard commented on #8293
@cholly75 Should we add in the A/C that when an Order of Dismissal, Order of Dismissal and Decision, or an Order of Dismissal for Lack of Jurisdiction are added to the Docket record, the Case status will update to "Closed - Dismissed" instead of just "Closed" as it currently does?

See this story: https://github.com/flexion/ef-cms/issues/2380
See this spreadsheet that shows which Orders change the

[2022-11-02 17:38] ttlenard commented on #8293
## Test Cases

#### 1) Clerk manually updates the Case Status for a case; "Closed - Dismissed" is available to select

- Log in as a docket clerk or Clerk of the Court
- Navigate to a case
- Click on the Case Information tab
- Click on the link to "Edit Case Status/Caption"
- Click on the Case Status dropdown

Expected Results:
- [x] **NEW FUNCTIONALITY** - The new Case status for "Closed - Dismis

[2022-11-02 18:42] ttlenard commented on #8185
Deploy with the FF off.

[2022-11-02 20:44] ttlenard commented on #8245
@TomElliottFlexion Testing Feedback 11/2/2022

I found a couple of things:

Test case 4 - When I click edit and then update the data (not the file), the uploaded date is getting changed to today's date.

Test case 7 - When I delete a document, rather than being brought back to the documentation tab, I am navigated to the Details tab.

[2022-11-03 16:38] ttlenard commented on #8245
@TomElliottFlexion Testing Feedback 11/3/22

Everything looks great now. Test case 4 and 7 now pass. Thanks for fixing!

[2022-11-03 19:05] ttlenard commented on #8278
## Test Cases

#### 1) Petitions Clerk Serves a petition to the IRS; Order for Filing Fee automatically generated in Drafts Folder; Adds OF to Docket Record; Deadline automatically created on the case.

- Log in as a Petitions Clerk
- Click on Document QC
- Click Start a Petition
- Fill out the required information and upload a document
- Make sure that the Not Paid radio button is selected, and t

[2022-11-04 16:01] ttlenard commented on #6950
## Test Cases

#### 1) Judge is on Session Copy Page; Clicks on the Trial Status dropdown; Values are updated.

- Log in as a Judge
- Click on the link for an upcoming trial session from your dashboard page
- Session Copy page opens
- Click on the Trial Status dropdown for some of the cases

Expected Results:
- [x] Set for Trial is no longer an option
- [x] Dismissed is no longer an option
- [x] S

[2022-11-04 16:22] ttlenard opened #8354 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.

**Update 3/22/23** - We had to Court verify a the spacing in the address window of the envelope. Some of the original bug report is no longer occurring. The stuff that no longer applies now has a strikethrough, and we can disregard.

This all was discovered when testing ustaxcourt/ef-cms#8303.
Here is the original story for

[2022-11-04 22:15] rachelschneiderman commented on #8304
`serveCourtIssuedDocumentInteractor.ts`, `fileAndServeCourtIssuedDocumentInteractor.ts` are very similar and could be combined. We had some discussion regarding the benefits of combining and leaving them separate and ultimately decided to run the experiment of combining them to see if our concerns are alleviated once they are fully combined.

[2022-11-07 18:07] ttlenard opened #8355 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
While testing ustaxcourt/ef-cms#8302, I found two issues.  I believe the likelihood of these two things occurring would be rare, so I split them into a separate bug.

**Scenario 1** - If two separate clerks click complete when QCing a document at the exact same time, it will still create duplicate work items on the processed

[2022-11-07 18:33] ttlenard commented on #8263
Testing Feedback 11/7/2022 - At this point, I can still see duplicate work items on the processed tab (issue that was reported in ustaxcourt/ef-cms#8302), but this is to be expected. The fix for ustaxcourt/ef-cms#8302 eliminates the ability to create duplicates, but doesn't remove them from the processed tab.  In theory, all duplicate will be removed from view in 10 days (this is how long items st

[2022-11-07 18:39] ttlenard commented on #8302
Testing feedback 11/7/2022

The new pop-up modal looks great.  I think that in most scenarios, this will work out great.  I'm going to call this bug good to go for now, with some caveats explained below.

While testing this bug, I did find two scenarios that could potentially occur, and I decided to split them into a separate bug.  1) duplicate work items can still be created, and 2) a clerk will

[2022-11-08 15:36] #8185 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-11-08 15:36] #8244 closed, assigned to codyseibert, jasonfu9966, rgoshen

[2022-11-08 15:36] #8280 closed, assigned to rosiehsmith, shumway-tm

[2022-11-08 15:36] #8303 closed, assigned to rosiehsmith

[2022-11-09 17:32] ttlenard opened #8356 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
When a document that is getting QC'd is saved, and not yet served, it displays on the Document QC In Progress tab.

Scenarios:
1. Petitions Clerk saves a Petition for later, does not serve
2. Docket Clerk saves a Paper filing, does not serve

When the above scenarios occur, the timestamp in the In Progress box is set to 12:00

[2022-11-09 17:41] ttlenard commented on #8297
Closing this bug - duplicate of 9707.

[2022-11-09 17:41] #8297 closed, assigned to nobody

[2022-11-09 20:54] rachelschneiderman commented on #8304
The mob working on this story regression tested the code that was refactored by running through the test cases in ustaxcourt/ef-cms#6969 and ustaxcourt/ef-cms#8185. There were no failing tests!!!

[2022-11-10 17:12] swongCO commented on #8298
### UX specs

1. Copy "Assignments" card content and behavior from Session Info page and place on Session Copy page
2. Move Session Notes card to the right of Assignments card

![Session Copy page.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/298e2529-8468-4fc2-b2a2-a6acb4110468)
——————————
With Session Notes:

![Session Copy page w notes.png](https://images.zenhubusercontent.

[2022-11-10 18:03] rachelschneiderman commented on #8304
This story has been deployed to `ustc/test` and is ready to be tested. Waiting on the court to determine the testing procedure for this story as it doesn't have "traditional" test cases as it's a refactoring story.

[2022-11-10 21:26] cholly75 opened #8357 "Long Text Display Mockups for Session Notes on Session Copy Page"
As a session copy viewer, so that I can decide which method I'd like to use to display long text in the Session Notes field, I need mockups of potential solutions.

This is a tracking story for UX to reflect work done to create mockups of potential solutions for modifying the session notes on the session copy page to display more text than can be currently shown; these mockups will be used to soci

[2022-11-10 21:44] ttlenard commented on #8298
## Test Cases

#### 1) Judge opens the Session copy page for an upcoming trial session; Assignments information is displayed, and matches the information on the Session information page.

- Log in as a Judge
- Click on the link for an upcoming trial session from your dashboard
- Click on the link to view all session info
- Take note of the information on the assignments card
- Click on the view Se

[2022-11-11 18:29] rosiehsmith commented on #8276
Some relevant history I found: a [bug fix ](https://github.com/flexion/ef-cms/pull/4417/files)from 3 years ago is related. It seems as though it was intentional that if a case has a trial session, it wasn't desired to system/automatic block that case. So in this bug, this is impacting the inverse, where we want the automatic block to be removed on a case that has a trial session.

[2022-11-11 19:03] swongCO commented on #8278
@ttlenard In test case 1, you didn't specify which radio btn to select under Fee Paid. When we selected Paid, the checkbox for Order for Filing Fee didn't display and no automated deadline was generated. When we selected Not paid, then the checkbox displayed and the automated deadline was generated. Assuming the latter is the one you meant, it passes this test case. See screenshots:
![Screen Shot

[2022-11-11 19:05] mrinsin commented on #8278
Hey @swongCO since the court is out today maybe I can address this - I think Tenille meant to select the `Not paid` option, as that is the one that results in an autogenerated Order for Filing Fee! Good catch

[2022-11-11 19:16] swongCO commented on #8268
@ttlenard The no matches found message in test case 3 doesn't match what's in the AC. We passed it per the AC.

[2022-11-14 14:07] cholly75 opened #8358 "Clerk of the Court: Enable Stamp Disposition"
As a Clerk of the Court section user, so that I can use the stamp disposition feature when necessary, I need the stamp order functionality enabled and visible to me.

Sometimes a particularly complex or sensitive issue is referred to the Clerk of the Court (CotC) section for disposition. In these cases, it would be beneficial for those CotC users to have the ability to stamp grant/deny motions usi

[2022-11-14 16:46] ttlenard commented on #8268
@swongCO I updated the test case with the updated "No Cases Found" wording. Thanks for pointing that out.

All tests pass! Looks great!

[2022-11-14 18:11] ttlenard commented on #8282
Testing Feedback 11/14/2022.

At step 16, if the docket clerk clicks "Complete" all appears to be working as desired, but if a docket clerk clicks "Complete and Send Message", we are still seeing the same behavior as we did before. We need to be sure that it is fixed for both workflows.

Here are some screen grabs if you click "Complete and Send Message"

I see on the message that it is displaying

[2022-11-14 18:56] ttlenard opened #8359 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
If you are viewing a consolidated case (doesn't matter if it is a lead case or a member case) and you click on the Printable docket record link, you will get a 400 error.  This is occurring for any DAWSON user. Public, Party, Practitioner, or Court User.

**Business Impact/Reason for Severity**
Critical

**In which environmen

[2022-11-14 19:45] cholly75 opened #8360 "BUG: View Full PDF link on Safari mobile no longer can be opened in new tab"
**Describe the Bug**
When tapping the View Full PDF link on a document in the Document View on iPad/mobile Safari browser, the link can no longer be opened in a new tab.

According to user reports this was introduced in the 10/29 deployment.

**Business Impact/Reason for Severity**
This is a problem because currently on iOS the only way to scroll through a multi-page document on mobile devices is

[2022-11-14 21:59] ttlenard opened #8361 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
It would appear that if you apply a filter on the section document QC tab, and then navigate to the My document QC tab, the filters are persisting, even though there is no filter on the My document QC tab.  As soon as you turn off the filters on the Section Document QC tab, you can view all of your items appropriately again i

[2022-11-14 22:02] ttlenard commented on #8263
11/14/22 - Sui found a bug related to this story.  I have added a separate bug. It's ustaxcourt/ef-cms#8361.

If you apply a filter to the Section Document QC tab and navigate over to the My Document QC tab, the filter persists, and it would appear that you do not have any items in your Document QC.  Once you turn off the Filter on the Section Document QC tab, all of the QC items re-appear for you

[2022-11-14 22:33] cholly75 commented on #6950
@TomElliottFlexion - desired order of filter boxes, top row:
Basis Reached - Probable Settlement - Probable Trial - Definite Trial - Motion to Dismiss
Bottom row:
Recall - Continued - Rule 122 - Submitted/CAV - Unassigned

No preference as to order in dropdown menu to select individual case status.

No reminder banner is needed.

[2022-11-15 14:27] cholly75 commented on #8359
@codyseibert - functionality looks good, thank you! One issue found: when the printable docket record is shown and then the user navigates back to the docket record tab, the list of cases in the consolidated group on the card disappears.

[2022-11-15 16:45] mmarcotte opened #2805 "Add scripts to assist with Password rotation"
In order to maintain a secure environment, we are committed to rotating passwords and credentials every quarter. In order to prevent this from being too tedious, identify ways to rotate these items with minimal effort.

- [x] Generate a report for users whose AWS credentials are expired in an account
- [x] Write a script to rotate the `USTC_ADMIN_PASS` and `USTC_DEFAULT_PASS` in environments with

[2022-11-15 18:56] swongCO commented on #8357
### Options:
![Session Copy page - custom scrollbar.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/d5ec13e8-b966-4a2e-9f14-d06711136c80)
![Session Copy page - see more link.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/c9bbba33-7017-4687-9739-0a8246fbdba4)
![Session Copy page 1.1.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/bf1e1d3e-c0

[2022-11-15 19:09] ttlenard commented on #8359
Testing results - all looks good now. No longer seeing the error message, and the consolidated case card is showing cases after you navigate back to the case information screen.

[2022-11-15 21:16] ttlenard commented on #6950
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/8193e483-de88-46dd-ba01-94a49fab791f)

[2022-11-16 15:57] ttlenard commented on #8296
## Test Cases

#### 1) Docket Clerk uploads a Standing Pretrial Order to a Regular case; clerk selects SPTO as the document type when adding the docket entry; signature requirement is no longer present for the Order.

- Log in as a Docket Clerk
- Navigate to a case
- Click on Create, and select PDF Upload
- Upload a file, add a description, and click Save
- Click Add Docket Entry
- For Document Ty

[2022-11-16 21:05] swongCO commented on #8350
### UX Specs
Display date and place of trial in the Case Status column:
1. add " - " after Calendared
2. use date format mm/dd/yy
3. abbreviate state
4. allow the column width to expand to fit city (state can wrap to next line)
![Screen Shot 2022-11-16 at 1.33.54 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/6fc5006d-92ff-4fd5-a62f-f95085cd6813)

[2022-11-16 21:43] ttlenard commented on #8361
I'm no longer seeing the filters persist. Thank you for fixing this so quickly!

[2022-11-17 14:37] ttlenard opened #8362 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
Edit docket entry screen no longer appears when accessing saved Court issued documents from the Document QC/In Progress tab.  Instead, the screen has the paper filing type of fields that must be filled out, and it prompts the user to have to select a filing party.  This makes it impossible to add a court issued document to th

[2022-11-17 20:46] ttlenard commented on #8362
After testing, all is looking good now! Thank you so much for fixing so quickly @codyseibert !

[2022-11-18 13:18] ttlenard opened #8363 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
When a docket clerk adds a document type that is an unservable document type to a consolidated case and then saves it to the docket record (on one, some, or all of the cases in the consolidated group), the work items are added to the Document QC/Processed tab.  These types of documents are currently not displaying the consoli

[2022-11-18 14:34] #8203 closed, assigned to nobody

[2022-11-18 15:11] ttlenard commented on #8304
## Test Cases - Consolidated Stories to Regression Test this Refactoring Story

#### 1) 3569 - Save and Serve Court Issued documents
- [x] All tests from this story pass

Other Test Results:
**Need to verify Service works with Kibana Logs - Service failure to everyone while testing 11-16. Mike said he updated the bounced service email and service agent email yesterday. Probably caused this issue.*

[2022-11-18 16:52] ttlenard commented on #8348
Testing results 11/18/22 - This looks great! Sort order and filter are now matching even when you click around within a case. Thanks for fixing!

[2022-11-18 17:26] ttlenard commented on #8358
## Test Cases

Notes
- _Test cases 1-10 test Stamp Order functionality via the Message workflow._
- _Test cases 13-15 test Stamp Order functionality via the Document Preview workflow._
- _Test cases 16-17 test Stamp Order Search and public terminal user functionality_
- _Test cases 18-19 regression test to ensure previous stamp functionality remain_

#### 1) Motion is filed by a party; Docket cler

[2022-11-18 19:27] ttlenard commented on #8350
## Test Cases

**Preconditions**
- These tests will require some set up, since you will need to ensure that your logged in user that you are testing with has messages in their inbox view and their sent view.
- To set this up, be sure that you send your test user(s) some messages, and also have multiple messages sent
- Be sure that the cases that you are sending messages from are in various case st

[2022-11-18 20:34] cholly75 commented on #6950
@TomElliottFlexion @ttlenard - as per court conference feedback, AC has been added - on existing trial session copies, cases where the value "Settled" has been assigned should have that value changed to "Basis Reached".

[2022-11-18 21:55] ttlenard commented on #8292
## Test Cases

#### 1) Petitions Clerk Serves a petition to the IRS; Order for Amended Petition and Filing Fee automatically generated in Drafts Folder; Adds OAPF to Docket Record; Deadline automatically created on the case.

- Log in as a Petitions Clerk
- Click on Document QC
- Click Start a Petition
- Fill out the required information and upload a document
- Make sure that the Not Paid radio bu

[2022-11-18 22:04] ttlenard commented on #8291
## Test Cases

#### 1) Petitions Clerk Serves a petition to the IRS; Order for Amended Petition automatically generated in Drafts Folder; Adds OAP to Docket Record; Deadline automatically created on the case.

- Log in as a Petitions Clerk
- Click on Document QC
- Click Start a Petition
- Fill out the required information and upload a document
- Make sure that under the Section Orders/Notices Need

[2022-11-18 23:06] rachelschneiderman commented on #8360
Bug fix PR: https://github.com/ustaxcourt/ef-cms/pull/2825

[2022-11-21 15:37] #8362 closed, assigned to codyseibert

[2022-11-21 15:37] #8361 closed, assigned to TomElliottFlexion

[2022-11-21 15:37] #8359 closed, assigned to codyseibert, rgoshen

[2022-11-21 15:37] #8283 closed, assigned to codyseibert

[2022-11-21 15:37] #8278 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin, shumway-tm

[2022-11-21 15:37] #8268 closed, assigned to rgoshen

[2022-11-21 15:37] #8263 closed, assigned to TomElliottFlexion

[2022-11-21 15:37] #8245 closed, assigned to TomElliottFlexion

[2022-11-21 15:37] #8302 closed, assigned to codyseibert, jasonfu9966, rgoshen

[2022-11-21 16:58] rosiehsmith commented on #8360
This is deployed to https://app.exp2.ustc-case-mgmt.flexion.us/messages/my/inbox as the `test` environment is blocked, and this bug does not require prod-like data.

[2022-11-21 18:19] #8186 closed, assigned to nobody

[2022-11-21 21:50] mmarcotte opened #8364 "BUG: Document QC Links no longer take user to the Document on the Case"
**Describe the Bug**

For Trial Clerks, Judges, Chambers, and General users the links for Document QC no longer take them to the Document on the Case. They do take the user to the to the case; however, the document that is shown is most often the Petition or the Requested Place of Trial _not_ the actual Document that needs QC.

Looks like work in ustaxcourt/ef-cms#8302 may have introduced this by

[2022-11-22 00:55] rachelschneiderman commented on #8360
DOD PR: https://github.com/flexion/ef-cms/pull/9722

[2022-11-22 13:16] cholly75 opened #8365 "Reporting: Custom Case Inventory Report"
As a court employee, so that I can understand our case data, I need to be able to run reports on cases in DAWSON using multiple criteria.

There are many situations in which the Court requests data around the case inventory in DAWSON that are ad hoc, one-time requests that cannot be satisfied using the current reports available in DAWSON. To begin facilitating self-service for these users and enab

[2022-11-22 13:21] cholly75 commented on #6490
@ttlenard - let's check behavior on this when you're back. The concurrent modal just introduced might have solved thie problem as well.

[2022-11-22 13:34] cholly75 opened #8366 "Reporting: Practitioner Report"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-11-22 19:37] rachelschneiderman commented on #8360
We are seeing differences in behavior across iOS devices. The fix was deployed to flexion/exp2 and I confirmed I could open the PDF in a new tab using xcode simulator for iOS 15.1 and 16.0 on both an iPhone and iPad. @rosiehsmith tried reproducing the bug with her iPhone (iOS v16) on exp2 and also was able to open the document in a new tab.  Rosie also tried on her iPad (iOS 14.7) and was able to

[2022-11-23 18:16] cholly75 commented on #8298
Tested out great on EXP4 - @ttlenard please take a quick look on TEST next week

[2022-11-23 18:33] #8357 closed, assigned to nobody

[2022-11-23 19:54] rachelschneiderman commented on #8360
@rosiehsmith and I investigated the feasibility of enabling scrolling on multi-page PDFs in the document view for Safari mobile browser. It seems that Apple intentionally disables that behavior in favor of opening a PDF in a new tab to make use of the 'Quick Look' feature.

https://discussions.apple.com/thread/250581755

[2022-11-23 21:26] cholly75 commented on #8360
@rachelschneiderman Aw, nerts. Thanks for checking on that.

[2022-11-28 13:15] cholly75 commented on #8293
@ttlenard - 9/10/11 are confirmed, adding to AC

[2022-11-28 20:56] cholly75 opened #8367 "New item"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-11-28 21:54] swongCO commented on #8270
UX Review feedback:
When the check all box is selected, all lines in the table are selected. When one of the rows is deselected, the check all box is also deselected. When the row is reselected, the check all box remains deselected. The  check all box should be selected whenever all rows are selected.

[2022-11-29 00:20] rachelschneiderman commented on #8360
https://github.com/ustaxcourt/ef-cms/pull/2859
https://github.com/flexion/ef-cms/pull/9737

[2022-11-29 14:49] #6571 closed

[2022-11-29 15:06] ttlenard commented on #8282
Testing feedback 11/29/2022

@Absolutestunna

1. Docket clerk files a doc + superfluous text
2. Practitioner files a response to the doc
3. Docket QC's the filing and clicks "complete and send message"
4. On the message pop-up, none of that superfluous text shows up, and it would appear that the attachment is incorrect, b/c it doesn't have all the superfluous text displayed.
5. After the message i

[2022-11-30 13:21] cholly75 commented on #6950
@TomElliottFlexion - printable version of trial session w/ changed values in TEST (Buch/Miami 12/19) results in 400 error. Session copies w/o new or changed values (literally any other one) continues to work as expected.

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/cfa87863-9a06-4c97-8847-658cb366b8fe)

[2022-11-30 13:40] cholly75 commented on #6950
@TomElliottFlexion - re: Test Case ustaxcourt/ef-cms#6495 - selecting the menu for a case w/ a deprecated value still has the deprecated value in the list:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/aea3d202-0211-4f7b-a69d-fc5a87d2e8a3)

[2022-11-30 16:31] ttlenard commented on #8304
## Test Cases - Consolidated Stories to Regression Test the Refactoring Story (9681)

#### 1) 3569 - Save and Serve Court Issued documents
- [x] All tests from this story pass

#### 2) 9513 - Save first then serve - from document preview pane - Court Issued Documents
- [x] All tests from this story pass

#### 3) 9585 - Save first, then serve - from document QC/In progress tabs - Court issued Docum