[2021-05-11 15:43] klohman commented on #7837
## Add Petitioner Counsel modal
* Participant should appear under “Who is this counsel representing” as (firstname lastname, Participant) with service type displayed
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/2cfc5847-df05-4d8f-9f06-b0bd0546e3b9)

## Edit Petitioner Counsel screen
* Participant should appear under “Who is this counsel representing” as (firstname las

[2021-05-11 16:27] JessicaMarine commented on #7801
@kkoskelin In `test` when I search for practitioner name `ciraolo`, I'm still getting more than 1 of the same result:![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/0fb7005b-8f00-4cfa-b412-9e16edc38fb8)

[2021-05-11 16:52] klohman commented on #7828
## 8133 Tests

#### 1) Docket clerk adds participant to case and views participant contact information
* Login as docket clerk
* Go to case
* Click Case Information > Parties
* Click Add Party button
* Select “Participant” as petitioner type
* Complete form
* Save
Expected results
- [x] App routes to Case Info > Parties with Intervenor/Participant tab selected
- [x] success message displays “Parti

[2021-05-11 17:31] cnelsonflexion commented on #7827
![Parties - Docket View.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/93f35983-0b0b-4e9c-9653-63a11a3f681e)

## Add Party button

On click of “Add Party” button from their Petitioneer or Intervenor .Particpant tabs, route to Add Party form

![dropdown.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/95fad211-091a-4b5d-a3cc-72b80e79e718)

![Add Petitioner Form

[2021-05-11 21:47] kkoskelin commented on #7733
Analysis:  This seems to be happening when not all of the websocket messages created by the server are received & processed by the client.  I see a websocket connection that just stalls and says "pending" in chrome. Also seen this in Firefox.  It is intermittent and unclear how to always get it to happen.

![Screen Shot 2021-05-11 at 4 45 11 PM](https://user-images.githubusercontent.com/2445917/11

[2021-05-12 13:32] klohman commented on #7875
UX Feedback
- The "Edit" link for petitioners should not be displaying for court users other than Docket, Petitions, Admissions, and Clerk of the Court. I logged in as ADC and Trial Clerk and am seeing the link.

- The "Edit" link for respondent counsel should not be displaying for court users other than Docket, Petitions, Admissions, and Clerk of the Court. I logged in as ADC and Trial Clerk and

[2021-05-12 16:34] kkoskelin commented on #7733
I've only been able to replicate this error perhaps once in every 20-25 attempts.  It does not really appear to have anything to do with mobile mode, fwiw.  Some debug work is now on branch `7913-progress-nan`.
I'm stuck.  Leaving this for a time when others with socket experience can pitch in.

[2021-05-12 16:35] klohman commented on #7822
Additional UX Review

- When petitioner has a Pending email,  it displays in UI, but it also displays "No email provided". If email is pending, the pending email should display and the other state should be hidden
![Screen Shot 2021-05-12 at 11.57.42 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/c0dc1c0a-0290-4c43-a7ee-8dadf9438435)

[2021-05-13 14:46] mmarcotte opened #7883 "BUG: Need to trim fields in Case Search to prevent 400 error"
**Describe the Bug**

This bug is the result of user error. If they accidentally type a space before or after the fields in Case Search, that space does not get trimmed before being sent to the server, and this can produce undesirable results.

In this case, if you type ` 2018` (space before the year) when performing a case search, it passes validation in the client, but we end up using the string

[2021-05-13 16:12] klohman commented on #7876
## UX Review feedback

- 1)  When petitioner email is pending, it is still showing "No email provided" for external users (example on 598-21, Gary has a pending email if you log in as docket clerk)

![Screen Shot 2021-05-13 at 11.24.17 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/016522c7-67ac-4741-81ab-962460088dd1)

- 2) When petitioner clicks Edit link for their contact

[2021-05-13 17:36] mmarcotte commented on #958
No longer a DAWSON problem; records issue

[2021-05-13 17:36] #958 closed, assigned to mark-meyer, JessicaMarine

[2021-05-13 17:37] #418 closed, assigned to nobody

[2021-05-13 17:37] mmarcotte commented on #418
will revisit in Q3 Q4 if we wish to pursue.

[2021-05-13 17:52] matthopson commented on #7733
Some findings on this:

1) The generateChangeOfAddress is sending out a progress message at the start before going through cases. This is fine, except we don't verify that there are actually cases for the given privatePractitioner user. Which means we initially show the progress UI when we don't need to. Since we fetch all docket numbers associated with the privatePractioner, we can just condition

[2021-05-13 18:29] mariahkannenberg opened #7884 "User Management"

[2021-05-13 18:37] JessicaMarine opened #7885 "BUG: Petitioner able to eFile documents before Petition served."
**Describe the Bug**
In 3648-21, the petitioner was able to eFile additional documents **before** the Petition was served.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**To Reproduce

[2021-05-13 19:11] cnelsonflexion commented on #7831
![remove party link.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/959987c3-2c6e-4655-8a6a-590d96ccddfe)

![remove party confirm.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/4b5f893f-552b-4c87-934b-1f656b0190c5)

Test cases

Logged in as docket clerk.
- Browse to a case with a participant
- Case Information -> Parties -> Intervenor/Participants & Counsel
-

[2021-05-13 19:25] kkoskelin commented on #7733
While we are hoping that the occurrence of this bug is far more rare, we are not yet convinced that it is gone for good.

The real solution here is likely to be a more robust messaging solution in which messages get queued, and remain in the queue unless confirmed received by a socket recipient.

https://github.com/ustaxcourt/ef-cms/pull/1211

[2021-05-13 20:57] kkoskelin commented on #7885
It seems likely that this case was paper-filed and created by a petitions clerk, hence the "Letter" entry.

However, the "File a Document" button would have become visible to the petitioner when they logged in, because this button is shown on the condition that *any* docket entry on the case is regarded as "served":
[code]

Additionally, the `fileExternalDocumentInteractor` attempts to check *only

[2021-05-13 23:42] JessicaMarine commented on #7885
@kkoskelin This case was eFiled by a petitioner.  The Court added the paper filing that came in after the case was initiated, but before the petition was served.  The petition has still not been served in the case and the petitioner has eFiled 26 additional documents.

[2021-05-14 03:02] mmarcotte opened #7886 "BUG: Do not persist PDF that fails validation"
**Describe the Bug**

External User, Petitioner, is reporting an "uh-oh" screen processing the PDF when trying to file an external document. The file remains in the documents bucket even though it fails validation. The PDF is not encrpyted.

Further investigation reveals that the PDF is created by PaperPort, which is an old Windows 7 piece of software. There is an [open issue out in pdf-js](https:

[2021-05-14 05:22] cnelsonflexion commented on #7830
![remove party link.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/959987c3-2c6e-4655-8a6a-590d96ccddfe)

![remove party confirm intervenor.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/05c8f3c5-c643-481a-8af1-4c810e8ad7e5)

Test cases

Logged in as docket clerk.
- Browse to a case with a participant
- Case Information -> Parties -> Intervenor/Participants

[2021-05-14 05:28] cnelsonflexion commented on #7829
![remove party link.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/959987c3-2c6e-4655-8a6a-590d96ccddfe)

![remove party confirm other.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/1127e7cb-8d7d-438c-94fb-d760af1b7830)

Test cases

Logged in as docket clerk.
- Browse to a case with a participant
- Case Information -> Parties -> Petitioner(s) & Counsel
- Cli

[2021-05-14 17:39] JessicaMarine opened #7887 "BUG: Judge not updating on hearing session if case is also set for trial"
**Describe the Bug**
4 cases were set for hearing on the 6/2 Washington, DC special session -- 2 of them were also set for trial on another session, 2 of them were not.  The judge for the 6/2 Washington, DC special session was updated from `Guy` to `Carluzzo`.  The cases that were only set for hearing updated the Judge correctly on the "hearing" card.  The cases that were also set for trial did no

[2021-05-14 18:53] matthopson commented on #7885
Pull request: https://github.com/ustaxcourt/ef-cms/pull/1213

[2021-05-14 20:24] matthopson commented on #7885
Moving to blocked while we sort out some concerns about this behavior and some conflicting behavior that needs to be addressed.

[2021-05-17 13:45] JessicaMarine opened #7888 "BUG: Docket Clerk cannot change case type to deficiency b/c case doesn't have statistics"
**Describe the Bug**
In 1139-21, a Docket Clerk was trying to change the case type from CDP (Lien/Levy) to Deficiency.  When they tried, they got an error saying Deficiency requires at least 1 statistics.  This seems to be a chicken and the egg issue:  You can't change a case type to deficiency because there isn't any case statistics entered, but you can't enter the required statistics until the c

[2021-05-17 14:37] matthopson commented on #7885
PR closed after discussion with PO. This is an edge case that docket clerks will need to be aware of for now. We also discussed the potential for a user story that could be created to help with messaging on this if desired.

[2021-05-17 14:37] #7885 closed, assigned to matthopson

[2021-05-17 19:35] #1196 closed, assigned to mmarcotte

[2021-05-18 15:39] codyseibert commented on #7826
one bug found:

1. create a case
2. add another party
3. attach a private practitioner to the new petitioner added
4. verify that case now shows up on the private practitioner dashboard
5. delete the newly added petitioner
6. BUG: the case still shows up on the practitioner dashboard even though he is not attached to any petitioners on that case

[2021-05-19 13:12] klohman commented on #7831
Additional test cases (post 8131 refactor):

#### 1) Serve court issues document for case with removed participant
- [ ] Removed participant does not appear under service parties on Add Docket Entry screen
- [ ] Removed participant does not receive service (either paper or electronic)

#### 2) Serve paper-filed document for case with removed participant
- [ ] Removed participant does not appear un

[2021-05-19 13:12] klohman commented on #7830
Additional test cases (post 8131 refactor):

#### 1) Serve court issues document for case with removed intervenor
- [x] Removed intervenor does not appear under service parties on Add Docket Entry screen
- [x] Removed intervenor does not receive service (either paper or electronic)

#### 2) Serve paper-filed document for case with removed intervenor
- [x] Removed intervenor does not appear under f

[2021-05-19 13:29] #7668 closed, assigned to kkoskelin

[2021-05-19 13:29] #7726 closed, assigned to kkoskelin

[2021-05-19 13:29] #7727 closed, assigned to kkoskelin

[2021-05-19 13:29] #7757 closed, assigned to kkoskelin

[2021-05-19 13:29] #7801 closed, assigned to kkoskelin

[2021-05-19 13:29] #7869 closed, assigned to codyseibert

[2021-05-19 13:29] #7812 closed, assigned to kkoskelin

[2021-05-19 13:29] #7844 closed, assigned to matthopson

[2021-05-19 13:29] #7877 closed, assigned to kkoskelin

[2021-05-19 14:44] mariahkannenberg opened #7889 "E2E Testing - UM, Batch 1"

[2021-05-19 14:45] #7889 closed, assigned to nobody

[2021-05-19 14:48] mariahkannenberg opened #7890 "E2E Testing of UM Batch 1"
As a product team, so that we can ensure UM functionality works well once all pieces are completed, we need to test all functionality in batch 1.

## Pre-Conditions

## Acceptance Criteria
* Document any bugs found
* Document any missing functionality in the comments of this story

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Consider

[2021-05-19 15:13] klohman commented on #7826
UX feedback for 8131

- I'm getting a 404 error when trying to edit an added petitioner as their counsel. Steps to recreate: add petitioner, add counsel to new petitioner, login as counsel and click the "Edit" link for the represented petitioner

- When adding a new email to any petitioner (original to case or added later), I received the "An account has been created for you" email.  I'm able to l

[2021-05-19 15:45] mmarcotte commented on #7886
Looks like the PDF was created with PaperPort, and the user is using Windows 7. I mentioned this in an [existing issue on the pdf-js library](https://github.com/Hopding/pdf-lib/issues/861). Our hands might be tied here, and we won't be able to support this PDF with this library.

So, we may just need to make sure that we don't persist these file in S3 since it's now an unused orphan. And it really

[2021-05-19 16:42] klohman commented on #7890
### User Management - Batch 1 Stories + Tests

Full tests - https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438

- 1) 8112) Docket/admission/petitions - updated Party Info views
    - Petitioner & Counsel tab views
        - [x] Petitioner & Counsel tab is selected by default
        - UI displays updated design
            - [x] Pro se - Petitio

[2021-05-19 18:17] #7884 closed, assigned to nobody

[2021-05-19 20:43] JessicaMarine opened #7891 "Dev Team: Scrape and Index Order and Opinion PDFs"
As a development team, so that we can perform load testing for documents, we need the ability to scrape PDFs.

## Precondition
* Make sure migration has the same ES production instance as prod (Mike) READY!

## Acceptance Criteria:
* All Order and Opinion PDFs (including legacy PDFs) in target environment (mig?) are scraped and indexed in ES and available for search

## Mobile Design/Consideration

[2021-05-19 20:48] JessicaMarine opened #7892 "Spike: Explore ways to make search (adv doc in particular) more performant"
As a development team, so that search performs well with many users, we need to investigate solutions that allow users to receive results quickly and not get logged out or timed out, and reduce impact to other critical systems that depend on elastic search.

## Pre-Conditions:
* Engineers have reviewed the notes below and the previous documentation in https://github.com/ustaxcourt/ef-cms/issues/87

[2021-05-20 15:06] kkoskelin opened #7893 "Queueing of Messages for Users"
As a DAWSON internal user, I need to receive messages from the server if my network connection experiences interruptions.

## Pre-Conditions

## Acceptance Criteria
* If the user initiates an action that causes the server to send progress or update messages, those messages should never be “dropped” if the client is unreachable

## Mobile Design/Considerations

## IRS API Considerations
Do these ch

[2021-05-20 16:23] klohman commented on #7835
Test cases:

- [x] Add counsel to any added petitioner [(test 5)](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)
- [x] Request Access (as private Practitioner) representing added petitioner  [(test 5)](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)
- [x] View Printable Docket Record

[2021-05-20 16:50] JessicaMarine opened #7894 "filedBy -- Removed Parties"
As the Court, we need to preserve the filedBy when we remove parties from a case and have the ability to edit that field after a party has been removed.

## Pre-Conditions

## Acceptance Criteria
* filedBy listed on an entry does not change if a party contained in the field is removed from the case
* Docket Clerk and Clerk of Court can edit the filedBy of an entry that has a removed party

Possibl

[2021-05-20 16:58] rosiehsmith commented on #7826
@klohman
Since it seems like the 2nd bullet of feedback above is unrelated to this story, could you log this as a bug instead? Thank you!

[2021-05-20 17:17] mmarcotte opened #1223 "New item"
In the docs of the `ef-cms` repo, we would like to document key decisions that have been made for the application. For example, DynamoDB versus other datastores, Terraform versus Serverless, etc.

As a new employee to the Tax Court, vendor team, or as an open source contributor, so that I can understand the trade-offs and context of decisions made, I want to be able to read documentation to bring

[2021-05-20 17:21] adunkman commented on #1223
I’d like to move forward with adopting [Architecture Decision Records](https://adr.github.io/) — it’s a pretty lightweight process, effectively just adopting a markdown template.

https://engineering.18f.gov/architecture-reviews/ maintains a list of repos which have example ADR documentation, which are useful to get an idea of what it looks like in practice.

[2021-05-20 17:36] klohman opened #7895 "BUG: When adding new email to petitioner, petitioner access is not correct after logging in"
**Describe the Bug**
When adding a new email to any petitioner (original to case or added later), I received the "An account has been created for you" email. I'm able to log in with the email but am seeing the "Need to verify email" warning, which shouldn't be displaying in this scenario, and I don't have full access to the case. See original story adding new email to petitioner https://github.com

[2021-05-20 19:07] mark-meyer commented on #1167
A question I had regarding this was: does Terraform correctly update Elasticsearch clusters in-place? AWS has included this feature via the console for a [while now](https://aws.amazon.com/about-aws/whats-new/2018/08/amazon_elasticsearch_service_now_supports_zero_downtime_in-place_version_upgrades/), but I wasn't certain if simply bumping the `elasticsearch_version` number in Terraform would follo

[2021-05-20 19:38] JessicaMarine commented on #7733
When we deployed the bug fix for ustaxcourt/ef-cms#7733 to the IRS test environment, it is now preventing all IRS attorneys from logging in. We definitely need to figure out what's happening and how to correct it before we can take that to `prod`.  Perhaps @mmarcotte can explain the websocket issue the IRS has.

[2021-05-21 14:20] mariahkannenberg commented on #7733
Blocked - waiting to hear back from IRS.

Mike heard back from IRS. The solution he put in place allowed the IRS to log in. No further work is needed on this bug. @kkoskelin I'm unblocking and moving back to "Merged to Staging"

___background for documentation purposes______
Flexion can create a solution(s) that would help detect and prevent potential bugs caused by Websockets from impacting IRS u

[2021-05-21 16:00] klohman commented on #7894
### Externally/Paper Filed Documents

**After document is filed & served**

* Filed by field is concatenated and becomes a string

#### Document QC form
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/95ae1118-de8f-4ed4-a673-15551fe8903c)

**Filed by**
* Use text area component
* Field is populated with current filed by concatenation and can be edited

**On Complete**
*

[2021-05-21 16:07] klohman commented on #7894
#### 1) Docket clerk sees updated filing parties field on QC screen
* Login as docket clerk
* Go to Document QC Inbox & select a document
Expected results
- [x] Filed by field is text area box populated with filing parties selected when document was submitted
- [x] Filed by field is editable

#### 2) Docket clerk updates filing parties during QC
* Login as docket clerk
* Go to Document QC Inbox &

[2021-05-21 17:30] matthopson commented on #7888
PR https://github.com/ustaxcourt/ef-cms/pull/1228

[2021-05-21 18:50] kkoskelin commented on #7895
@klohman Looks like this may be fixed on dev already?  Or perhaps when this was observed there was something going on related to blue/green deploys?

[2021-05-21 19:30] klohman commented on #7895
@kkoskelin I tried this again with an existing case (131-21) with existing petitioner (minnie roberts) and it worked as expected. I added a new petitioner to that case (Murphy Contreras) and added an email for them. I was able to log in, but only have the public view of the case. I'm not sure if the functionality for eAccess for subsequent petitioners is complete.

Updated - added Blocked tag unti

[2021-05-24 17:04] klohman commented on #7828
UX feedback

- Participant with service indicator “None” is receiving paper service - an address sheet is being generated for the participant with None as service

[2021-05-24 17:23] klohman commented on #7830
## Feedback

- On the Edit Party Information form, the Petitioner Type field needs to be updated to match the “Role type” on the Add Party form. The current field only has “petitioner” as the role, so when I went to edit an Intervenor, that field mistakenly is populated by petitioner instead of intervenor.

- On the Edit Party Information form, “Remove this petitioner” should be updated to “Remove

[2021-05-24 18:57] cnelsonflexion commented on #7882
![Revised printable docket record - party table view.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/d688439e-c67e-4ed3-af20-29e025203afb)

Login as a docket clerk

Browse to open case -> Docket Record
- Click printable docket record

Login as a Petitioner/Practitioner

Open a case the user is associated with -> Docket Record
- Click printable docket record

PDF layout should ma

[2021-05-24 19:48] mariahkannenberg opened #7896 "Replace Quill"
As an engineering team, so that we may provide a plugin that supports WIZIWIG functionality in the app, we need to replace Quill, which has a security vulnerability.

## Pre-Conditions

## Acceptance Criteria
* Investigate an alternative for Quill
* Share pros and cons of alternatives with the court
* Experiment to find the best fit
* New editor should have **at least** as much functionality as Qu

[2021-05-24 20:03] kkoskelin commented on #7665
Tried creating scenarios on Windows 10 + Edge in which there were enough entries to warrant a scrollbar in the drop-down menu, and then also having entries whose titles were very, very long.  Unable to replicate the problem:

![Screenshot (3)](https://user-images.githubusercontent.com/2445917/119401359-0126ab00-bca1-11eb-8559-6db66c7da011.png)
![Screenshot (2)](https://user-images.githubuserconten

[2021-05-24 20:18] mariahkannenberg commented on #7896
![image.png](https://images.zenhubusercontent.com/5bc501b8601657183131caf3/ef11eee4-b8cb-4ea2-9371-18f6514bc7aa)

[2021-05-24 20:37] kkoskelin commented on #7687
Good news on this front: the `pdf.js` library appears to have implemented signatures per https://github.com/mozilla/pdf.js/pull/13214
However, I cannot say when this code will make its way into a Firefox release, or if perhaps it is already working.
@JessicaMarine can we identify an actual real-life PDF with this kind of e-signature that is safe to be provided here?  One that developers can use fo

[2021-05-25 13:47] JessicaMarine commented on #7665
@kkoskelin I am still able to replicate this in `mig` in 21409-16 but I think the issue is something a little different.  In that case, the titles of the documents still run off the page (to the right) versus being truncated. As a result, the vertical scroll is just too far to the right to see it.  I thought we had fixed this issue by truncating the length of documents listed in all dropdowns to 1

[2021-05-25 13:51] JessicaMarine commented on #7687
@kkoskelin Here is the offending PDF.
[https://app.zenhub.com/files/152320868/8cce53a4-ca6b-4a13-a552-1f29140143dd/download](https://app.zenhub.com/files/152320868/8cce53a4-ca6b-4a13-a552-1f29140143dd/download)

[2021-05-25 14:19] mariahkannenberg commented on #7882
Blocked - Don't pick up until Batch 1 is complete and in Court's staging.

[2021-05-25 16:07] matthopson commented on #7748
PR: https://github.com/ustaxcourt/ef-cms/pull/1240

[2021-05-25 16:07] JessicaMarine commented on #7826
Going to review routing issue as part of another story.

PO Review:
- On mig when I tried to add a second petitioner to 181-20, the success message displayed on a screen that looked like it was for "Intervenor(s)" even though there is no Intervenor in this case.  Also, "Intervenor(s)" shouldn't be plural
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/cb771159-e7b8-41ca-

[2021-05-25 18:37] kkoskelin commented on #7687
The above link has a PDF which has been altered (sanitized?) in some manner.  However, this one appears to have the signature we desire for purposes of testing: [esig.pdf](https://github.com/flexion/ef-cms/files/6541590/esig.pdf)

[2021-05-26 10:21] calixteman commented on #7687
Signature display is available in Firefox beta (89) so next release will have it.

[2021-05-26 14:17] kkoskelin commented on #7687
Many thanks, @calixteman for the update!  Since a fix is forthcoming for Firefox *and* the number of affected internal users (those for whom it is most critical to see signatures) are using chrome/edge, closing this.

[2021-05-26 14:17] #7687 closed, assigned to kkoskelin

[2021-05-26 15:31] #7613 closed, assigned to nobody

[2021-05-26 20:43] mariahkannenberg commented on #7895
Closing. Has been included in test cases for UM batch 1 e2e

[2021-05-26 20:43] #7895 closed, assigned to kkoskelin

[2021-05-26 20:44] mariahkannenberg commented on #7539
Closing. Has been included in UM batch 1 e2e

[2021-05-26 20:44] #7539 closed, assigned to nobody

[2021-05-26 20:46] matthopson commented on #7639
PR: https://github.com/ustaxcourt/ef-cms/pull/1247

[2021-05-27 14:45] mariahkannenberg commented on #7829
Notes from 5/27/21 Standup. No need to create v3 API for retrieving all petitioners on the case. We don't need to do this now. We can create a story in the future if it comes up. The IRS is still working to adopt v2. (Per Mike)

[2021-05-27 14:48] #7732 closed, assigned to rachaelparris

[2021-05-27 18:40] rachelschneiderman commented on #7640
This has been addressed as part of the party redesign stories, closing.

[2021-05-27 18:40] #7640 closed, assigned to rachelschneiderman

[2021-05-27 18:48] matthopson commented on #7892
Services / Features By ES Index

`efcms-case-deadline`
- Case Deadlines

`efcms-case`
- Case Advanced Search
- Case Public Search
- Blocked Cases Report
- Case Inventory Report
- Get Case By User ID
- Get First Single Case
- Get Ready For Trial Cases
- Get Case Deadlines (report)

`efcms-docket-entry`
- Advanced Document Search (USES JOIN ON CASE)
- Pending Items (USES JOIN ON CASE)
- Reconciliati

[2021-05-27 18:50] matthopson commented on #7796
Services / Features By ES Index

`efcms-case-deadline`
- Case Deadlines

`efcms-case`
- Case Advanced Search
- Case Public Search
- Blocked Cases Report
- Case Inventory Report
- Get Case By User ID
- Get First Single Case
- Get Ready For Trial Cases
- Get Case Deadlines (report)

`efcms-docket-entry`
- Advanced Document Search (USES JOIN ON CASE)
- Pending Items (USES JOIN ON CASE)
- Reconciliati

[2021-05-27 19:13] mmarcotte opened #7897 "BUG: After deployment items get erroneously reindexed"
**Describe the Bug**

This is a complicated one. After a deployment (without a blue/green migration), we received reports that items were showing up in Document QC inboxes for Docket and Petitions clerks that shouldn't be there. For example, petitions clerks were seeing items **In Progress** for petitions they served yesterday. And they had correctly not been showing up _until after the deployment

[2021-05-27 19:48] kkoskelin commented on #7796
Add to `errors.js` and then use this new ServiceUnavailableError thrown by searchClient.js in the "catch".
[code]

[2021-05-28 16:34] mmarcotte commented on #7718
FYI: I believe this issue is only on a local dev environment. The IRS Super User belongs to another User Pool that isn't accessed by the normal login flow. They get authenticated only to access the v1 and v2 APIs.

[2021-06-01 15:48] JessicaMarine opened #7898 "BUG: Order of Dismissal for Lack of Jurisdiction is showing on docket record as an externally-filed document"
**Describe the Bug**
In 225-21, entry ustaxcourt/ef-cms-flexion#11, the Docket Clerk added an Order of Dismissal for Lack of Jurisdiction to the docket record.  However, it looks like DAWSON is treating it as an externally-filed document -- it has a red star next to it like it hasn't been QC'd; if you click on it, it gives you the option to QC; if you QC the item and then click "edit" it loads ext

[2021-06-01 15:50] JessicaMarine commented on #7898
@mmarcotte Can you see if there is anything in the logs from Kayla Merchlinsky on May 10th that might explain what happened here.

[2021-06-01 16:11] adunkman commented on #473
Spinning up a WIP pull request with some updates to documentation.

[2021-06-01 17:13] mmarcotte commented on #473
@vickimcfadden , @adunkman , and @mark-meyer meeting Thursday to hammer some of these details out for onboarding docs. (ty) 👍

[2021-06-01 17:16] JessicaMarine commented on #7636
@adunkman This bug got logged back when Kelsey was doing code review.  However, it's not clear what the issue is or how to resolve it.  Would you be able to investigate and provide more information?

[2021-06-01 20:54] JessicaMarine opened #7899 "BUG: 11/1/2021 NYC session is throwing 400 error"
**Describe the Bug**
The 11/1/2021 NYC trial session -- under New -- is throwing a 400 error

**NOTE: Similar thing happened before: https://github.com/flexion/ef-cms/issues/8186**

**Business Impact/Reason for Severity**
Need to cut this calendar THIS week

**In which environment did you see this bug?**
Prod

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Usi

[2021-06-01 22:06] mmarcotte commented on #7899
Looks like the case that caused this is
115-20

And it appears that adding L to the Case may have triggered the error. That's what happened today.

[2021-06-01 22:18] mmarcotte commented on #7899
We ended up with four mapping records for that case

![Screen Shot 2021-06-01 at 6.10.11 PM.png](https://images.zenhubusercontent.com/5f172596f365e24f3ab7b0c3/5f94a522-dd2c-4a18-b92f-fe97372abf4a)

Could this be because `createCaseTrialSortMappingRecords(...)` adds two, but doesn't check that it needs to remove records as `updateCaseTrialSortMappingRecords(...)` does

[2021-06-02 13:33] JessicaMarine opened #7900 "New item"
**Describe the Bug**
In 11898-20, the Court entered a Stipulated Decision. The "Entered and Served" date does not appear on the bottom of the 1st page.

**NOTE: This is the same bug as 8090 https://github.com/flexion/ef-cms/issues/8090**

**Business Impact/Reason for Severity**
There are several legally significant issues tied to that entered and served date -- appeal rights, assessment timing, et

[2021-06-02 13:44] JessicaMarine opened #7901 "BUG: Parties still exist without phone numbers"
**Describe the Bug**
There are still parties in the system that do not have a phone number. 4021-21 was the latest case I found.  This case was created on 4-14-2021, so the validation for phone numbers should have been in place.

**NOTE: Re-run migration??**

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod

**Who were you logged in as?**
Jessica Marine

[2021-06-02 14:09] JessicaMarine opened #7902 "Petitions Clerks/Docket Clerks: IRS Notice (Yes/No) question updates"
As a Docket Clerk, I find the question about "Is the notice attached to the petition?" to be too narrow.  Also, this question should be required throughout the application.

![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/ebac4d40-f94b-4f84-94d4-75753819155e)

## Pre-Conditions

## Acceptance Criteria
* Question about notice being attached to petition needs to be more ge

[2021-06-02 14:38] mmarcotte commented on #7899
![Screen Shot 2021-06-02 at 10.35.59 AM.png](https://images.zenhubusercontent.com/5f172596f365e24f3ab7b0c3/d48328db-c419-4550-8223-b92d7ad82a60)
![Screen Shot 2021-06-02 at 10.35.55 AM.png](https://images.zenhubusercontent.com/5f172596f365e24f3ab7b0c3/42226aba-cbe6-4a70-bf00-85de9e944061)
![Screen Shot 2021-06-02 at 10.35.52 AM.png](https://images.zenhubusercontent.com/5f172596f365e24f3ab7b0c3/5c6

[2021-06-02 17:55] matthopson commented on #7899
Was unable to reproduce the bug via the application, but was able to recreate the data state and verify that this fix will prevent multiple sets of sort records from being created.

https://github.com/ustaxcourt/ef-cms/pull/1303

Mike, manually removed the other problematic mapping records for the given case, and the trial session loads as expected.

[2021-06-02 18:34] matthopson opened #7903 "BUG: When changing case type, trial eligibility mapping records should be re-generated"
**Describe the Bug**
`eligible-for-trial-case-catalog` mapping records have a designation in the `sk`, for the case type (see `Case.generateTrialSortTags()`). When changing the case type, we should expect the records to be updated, but they do not seem to be.

**Business Impact/Reason for Severity**
This affects priority when scheduling cases for trial.

**In which environment did you see this bug

[2021-06-02 18:56] #7609 closed, assigned to kkoskelin

[2021-06-02 18:56] #7748 closed, assigned to matthopson

[2021-06-02 18:56] #7870 closed, assigned to matthopson

[2021-06-02 18:56] #7886 closed, assigned to matthopson

[2021-06-02 18:56] #7887 closed, assigned to kkoskelin

[2021-06-02 18:56] #7733 closed, assigned to matthopson, kkoskelin

[2021-06-02 18:56] #7879 closed, assigned to rachaelparris

[2021-06-02 18:56] #7888 closed, assigned to matthopson

[2021-06-02 19:12] mariahkannenberg commented on #7636
Blocked - 18F (Andrew) Looking into this one

[2021-06-02 20:25] sutt0n commented on #7796
We've curated a number of hit points to optimize ElasticSearch performance for both the `efcms-docket-entry` index and the advanced document search (see ustaxcourt/ef-cms#7892) itself (partially noted from the Tasks list above):

- Use Slow log on mig to identify specific problem queries: https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-slowlog.html#index-modules-slowl

[2021-06-02 20:30] sutt0n commented on #7892
Specific tasks via https://github.com/flexion/ef-cms/issues/8072#issuecomment-853359853:

- Utilize filter ElasticSearch context (#8326 related)
- Migration for `isOrder` and `isOpinion` flags on DocketEntry entity and remove `eventCode.S` terms filter
- Increase filter index cache percentage (default is 10%)

cc: @codyseibert @kkoskelin @matthopson @mmarcotte

[2021-06-03 14:58] JessicaMarine commented on #7890
PO Comments:
- If case already has an intervenor, we should hide that option in the dropdown or provide immediate validation if that option is selected
- Consider if intervenors and participants should be identified as such in the filedBy column
- Need to extend "has ~~Petition~~ anything been served" logic change to other places in the app

[2021-06-03 16:19] codyseibert commented on #7796
[Order_search_6_users_1_replica_1_shard.pdf](https://github.com/flexion/ef-cms/files/6593015/Order_search_6_users_1_replica_1_shard.pdf)
[Order_search_8_concurrent_1_replica_1_shard.pdf](https://github.com/flexion/ef-cms/files/6593016/Order_search_8_concurrent_1_replica_1_shard.pdf)
[Order_search_10_concurrent_1_replica_1_shard.pdf](https://github.com/flexion/ef-cms/files/6593017/Order_search_10_c

[2021-06-03 16:24] codyseibert commented on #7796
[Base_Line_Order_Search_1_replica_1_shard.pdf](https://github.com/flexion/ef-cms/files/6593033/Base_Line_Order_Search_1_replica_1_shard.pdf)

[2021-06-03 17:31] sutt0n commented on #7796
[BaseLine_Order_Search_10_users_1_replica_1_shard.pdf](https://github.com/flexion/ef-cms/files/6593346/BaseLine_Order_Search_10_users_1_replica_1_shard.pdf)

[2021-06-03 18:24] sutt0n commented on #7796
[Order_Search_15_users_2_replicas_4_shards.pdf](https://github.com/flexion/ef-cms/files/6593571/Order_Search_15_users_2_replicas_4_shards.pdf)

[2021-06-03 18:31] matthopson commented on #7903
PR: https://github.com/ustaxcourt/ef-cms/pull/1317

[2021-06-03 18:31] JessicaMarine opened #7904 "BUG: Long document title is pushing PDF preview box down into footer"
**Describe the Bug**
When a document has a long title, it pushes the PDF preview on the document view page down into the footer.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod; able to reproduce on `mig` and `test`

**Who were you logged in as?**
Judge Buch/any court user

**What were you doing when you discovered this bug? (Using the application, dem

[2021-06-03 19:48] klohman commented on #7890
## E2E Testing
@TomElliottFlexion @rosiehsmith  @JessicaMarine

I**Internal + External views**
 * pending email not displaying on petitioner card despite showing correctly in the edit petitioner form
 * counsel with pending email - email displays but does not include "(pending)"
* Intervenor with no email does not show "No email provided" at all
* intervenor with pending email is not displaying th

[2021-06-04 11:46] JessicaMarine commented on #7890
**Internal + External views**
 ~~Pending email not displaying on petitioner card despite showing correctly in the edit petitioner form~~ -- Add to ustaxcourt/ef-cms#7832
- [ ] Counsel with pending email - email displays but does not include "(pending)"
~~Intervenor with no email does not show "No email provided" at all~~ -- Add to ustaxcourt/ef-cms#7833
~~Intervenor with pending email is not displ

[2021-06-04 11:50] JessicaMarine commented on #7890
@klohman @rosiehsmith @TomElliottFlexion

Things to fix now:

**Internal + External views**
- [x] Counsel with pending email - email displays but does not include "(pending)"  ustaxcourt/ef-cms-flexion#8395
- [x] Respondent counsel with pending email - email displays but does not include "(pending)" and cases are being updated with new counsel email before it is verified ustaxcourt/ef-cms-flexion#

[2021-06-04 15:09] klohman commented on #7890
@JessicaMarine @rosiehsmith @mrinsin

- When adding and verifying an email for a petitioner, intervenor, or participant, I'm able to log in as petitioner but the service indicator isn't changing and the email is not displaying. This seems to be inconsistent because yesterday in testing I did see the current email displaying for petitioners.

Update- I think this is happening with only legacy cases

[2021-06-04 15:25] klohman commented on #7835
Feedback (to be addressed in ustaxcourt/ef-cms#7890)- otherwise all AC are met

- [x]  Logged in as unassociated private Practitioner- Printable Docket is displaying all petitioner contact information
- [x] When counsel is edited (change who the counsel represents), Unrepresented petitioner service preference remains as none and does not revert back to original

[2021-06-04 15:43] klohman commented on #7836
Test cases:

- [x] Add counsel to any added intervenor [(test 5)](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)
- [x] Request Access (as private Practitioner) representing added intervenor  [(test 5)](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)
- [x] View Printable Docket Record

[2021-06-04 15:53] klohman commented on #7837
Test cases:

- [x] Add counsel to any added participant [(test 5)](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)
- [x] Request Access (as private Practitioner) representing added participant  [(test 5)](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)
- [x] View Printable Docket Recor

[2021-06-04 16:08] klohman commented on #7836
## Intervenor / Participant Counsel display on card

#### With active email
- no changes

#### No email
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/3b444538-ae72-43a8-a22f-d0a347b2299e)

#### Pending email
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/4a50610a-4341-4d50-bdbd-16777d0f26a4)

[2021-06-05 00:33] kbighorse commented on #7191
Also, password managers like LastPass save passwords by domain by default. They are currently forced to save a `ustaxcourt.gov` password with every other identity on `amazoncognito.com`.

[2021-06-07 15:54] ericsorenson commented on #7892
![image.png](https://images.zenhubusercontent.com/583eff35b9dc3c622022bdff/3e290bd2-1695-4bd2-8be6-8c72dac9eb2c)

Here's what GitHub does!

[2021-06-07 16:51] ericsorenson commented on #7892
Re-indexing Experiment:

Blue/green deploy in ustaxcourt's develop environment including all order and opinion document indexes. Once with 0 replicas, once without modifying replicas.

Success: Takes less than 6 hours, all documents are indexed.

[2021-06-07 19:36] rosiehsmith commented on #7890
@klohman We were unable to recreate this on a legacy case with 2 flows: editing your own email as a petitioner & adding an email to a petitioner as admissionsClerk on docketNumber 10105-13S.

Is there a case you could send us where we could recreate it? Thanks!

[2021-06-07 21:54] rachaelparris commented on #7898
This bug occurred when two docket clerks were creating a docket entry for the same draft document at the same time. To recreate, login as `docketclerk1` in one browser and `docketclerk2` in a second browser. Create a draft order on a case, then open the Add Docket Entry screen for that draft order on both browsers. `Save and Serve` the docket entry as `docketclerk1`, wait about a minute, then `Sav

[2021-06-08 12:32] JessicaMarine opened #7905 "BUG: Clerk's signature block is mis-aligned on notices"
**Describe the Bug**
A clear and concise description of what the bug is.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**To Reproduce**
Steps to reproduce the behavior:
1. Log-in as intern

[2021-06-08 15:37] JessicaMarine commented on #7901
This fix is already part of UM Batch 1 -- okay to wait for the fix to come through with that.

[2021-06-08 15:37] #7901 closed, assigned to rachaelparris

[2021-06-08 16:27] matthopson commented on #7892
Roughly documenting needed stories:

## Rate Limiter
- Limit the rate at which users can make requests against any endpoints using the `efcms-docket-entry` index
- Public facing endpoints would have a lower rate than internally executed endpoints

## Search Interstitial Messaging (maybe multiple stories)
- As a user, I should see an indication that my search request is “processing” after starting

[2021-06-08 16:30] JessicaMarine opened #7906 "Trial Reminder (30-day Notice)"
As the Court, in order to provide good customer service to our unrepresented taxpayers, we need to remind them of their trial date.

The Court usually cuts a calendar and issues a Notice of Trial 5 months before the session.  With our high population of unrepresented taxpayers, many may forget or misplace their Notice of Trial.  As a result, to provide good customer service to our unrepresented ta

[2021-06-08 21:15] JessicaMarine opened #7907 "BUG: Not able to edit Order or Notice title"
**Describe the Bug**
Not able to edit Order or Notice title

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Production; able to reproduce in test

**Who were you logged in as?**
Docket Clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
Testing another bug fix

**To Re

[2021-06-09 14:33] JessicaMarine commented on #7882
@rosiehsmith
6-9-2021 Design Decisions:
- Drop the `Role` column
- Combine `Counsel` and `Counsel contact` into one column w/3 lines:
    - Name (Bar No.)
    - Email
    - Phone

[2021-06-09 15:42] cnelsonflexion commented on #7777
![print case list.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/21c5b291-8ebb-4cf4-b94c-d614e183397f)

Logged in Court employee -> Practitioner detail screen

- [x] link labled "Print case list" appears above detail cards

![case list slimmed 2.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/89bc57d9-421d-4748-aad5-aa00b69fee4e)

- [x] PDF print of all of th

[2021-06-09 15:49] klohman commented on #7890
UX Re-review:

**Internal + External views**
*  Counsel with pending email - email displays but does not include "(pending)" #8395 - now displaying duplicate emails now - one without pending, one with (pending)
![Screen Shot 2021-06-09 at 11.35.08 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/082ca6af-ef29-4423-9de2-16e666feb5d2)

**Verify Updated email**
*  When updating e

[2021-06-09 16:09] klohman commented on #7832
## Test cases

#### 1) Any Petitioner gains e-access to a case  - [see test 8 in Text Matrix](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)

#### 2) Add verified email to petitioner on Closed case
* Expected results
- [x] petitioner/intervenor/participant  service indicator updates to Electronic
- [x] Email displays under petitioner/interv

[2021-06-09 16:20] klohman commented on #7834
## Test cases

#### 1) Any participant gains e-access to a case  - [see test 8 in Text Matrix](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)

#### 2) Add verified email to participant on Closed case
* Expected results
- [x] participant  service indicator updates to Electronic
- [x] Email displays under participant card as current email add

[2021-06-09 16:21] klohman commented on #7833
## Test cases

#### 1) Any intervenor gains e-access to a case  - [see test 8 in Text Matrix](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)

#### 2) Add verified email to intervenor on Closed case
* Expected results
- [x] participant  service indicator updates to Electronic
- [x] Email displays under intervenor card as current email addres

[2021-06-09 16:28] klohman commented on #7612
## Test cases

#### 1) Petitioner / counsel / docket edits petitioner contact information - [see test 9 in Test Matrix ](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)

#### 2) Petitioner updates their email  - [see test 12 in Test Matrix ](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=18279164

[2021-06-09 16:29] klohman commented on #7840
## Test cases

#### 1) Intervenor / counsel / docket edits intervenor contact information - [see test 9 in Test Matrix ](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)

#### 2) Intervenor updates their email  - [see test 12 in Test Matrix ](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=18279164

[2021-06-09 16:30] klohman commented on #7841
## Test cases

#### 1) Participant / counsel / docket edits participant contact information - [see test 9 in Test Matrix ](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=1827916438)

#### 2) Participant updates their email  - [see test 12 in Test Matrix ](https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit#gid=18279

[2021-06-09 18:19] #7167 closed, assigned to nobody

[2021-06-09 18:19] JessicaMarine commented on #7167
Combined with ustaxcourt/ef-cms#7902.

[2021-06-09 19:01] klohman commented on #7902
## Petition QC - IRS Notice Tab

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/b31c4e58-7320-41d7-b11f-0a4dff871d36)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/91d9a577-8b3e-4e28-a6c5-ed9e35a15a1f)

**IRS Notice provided?**
* Update field label from “Notice attached to petition?” to “IRS Notice provided?”
* Field is required
* If field

[2021-06-09 19:16] klohman commented on #7902
## test cases

#### 1) Petitions clerk sees updated field label on Petition QC screen
Login as petitions clerk
Go to Petition QC screen > IRS Notice tab
Expected results
- [x] Update field label “IRS Notice provided?” displays
- [x] IRS Notice provided field is blank by default

#### 2) Petitions clerk sees error if IRS Notice provided field is blank
Login as petitions clerk
Go to Petition QC scre

[2021-06-09 19:21] mmarcotte opened #7908 "BUG: Unable to file Documents to a Case"
**Describe the Bug**

Party on a case reported an Uh-oh error when attempting to file a document. The error reported in the logs is

[code]

The document can be filed on other cases. They were attempting to file a PTE. The case has received a high volume of activity in recent days.

**Business Impact/Reason for Severity**

Big case, up for trial soon, parties cannot file evidence for their case.

[2021-06-09 20:07] mrinsin commented on #7890
@JessicaMarine after @klohman reviewed the feedback on dev, she found that 2 of the items still did not seem to work as expected. We are also still trying to figure out what is up with the petitioner email not being updated on legacy cases (last feedback item). Would you like us to address these three things as a part of batch 2 in order to still get batch 1 to the court today?

[2021-06-09 20:11] JessicaMarine commented on #7890
@mrinsin No, let's get them fixed.

[2021-06-09 20:12] mrinsin commented on #7890
@JessicaMarine Sounds good, thank you! @klohman (just letting you know!)

[2021-06-10 13:36] klohman commented on #7722
For whoever picks this up, I don't think there is any code needed for this. We'll just need to set up some test data and run through the test scenarios.

[2021-06-10 14:49] JessicaMarine opened #7909 "BUG: getCaseByDocketNumber"
**Describe the Bug**
The system uses getCaseByDocketNumber in various places.  For large cases, there is a database query limit of 1MB that is getting hit and throwing errors.  ~~For each place in the system that we currently use getCaseByDocketNumber, we need to determine what data we actually need to return.  Then, we need to develop additional functions that will only return the data we need.~~

[2021-06-10 16:45] mmarcotte opened #7910 "BUG: Cannot load case"
**Describe the Bug**

Case that exists in the system is unretrievable as a logged in user. Validation error is saved to the logs:

[code]

**Business Impact/Reason for Severity**

Need access to the case, which is set for trial within a week

**In which environment did you see this bug?**

prod

**Who were you logged in as?**

any

**What were you doing when you discovered this bug? (Using the app

[2021-06-10 17:09] rachaelparris commented on #7910
Duplicate of ustaxcourt/ef-cms#7909

[2021-06-10 17:24] rachaelparris commented on #7909
Closing - duplicate of ustaxcourt/ef-cms#7910

[2021-06-10 17:24] #7909 closed, assigned to nobody

[2021-06-10 18:39] codyseibert commented on #7595
another pdf to consider will be the practitioner case list pdf implemented in ustaxcourt/ef-cms#7777

[2021-06-10 21:23] matthopson commented on #7777
Ready for UX Review on exp3

[2021-06-11 14:00] ericsorenson commented on #7890
2 remaining issues for 6/11/21:
- Properly display the email (pending) when a practitioner had no email address defined previously
- Per Kristen: when adding and verifying an email for a petitioner, intervenor, or participant on a legacy case (6712-10), I'm able to log in as petitioner but the service indicator isn't changing and the email is not displaying. This seems to be inconsistent because y

[2021-06-11 16:11] adunkman commented on #7636
Regardless of the browser, the issue here is with tab order — here’s a demo (be sure to unmute):

https://user-images.githubusercontent.com/14930/121585569-bb881300-ca00-11eb-8063-dc5b382b4cb1.mov

It appears to be happening because `tabindex` is set to `0` on the skip to main content link, and `-1` on the page heading. This issue represents this behavior as a bug — that focus should start at the

[2021-06-11 16:36] JessicaMarine opened #7911 "Court: Monitoring ES health"
As DAWSON support staff, in order to monitor the well being of the application and make future decisions about search, we need to gather search metrics from production.

## Pre-Conditions

## Acceptance Criteria
* Court can capture search metrics from prod using the logger:
   * Number of requests and request time in Kibana
   * ES cluster health
      * CPU Utilization
      * Cluster Search rate

[2021-06-11 16:51] JessicaMarine commented on #7892
@matthopson Here are the stories that I queued up for **ORDER** search.  Can you please review them with the Search Party and see if this is covers everything:

ustaxcourt/ef-cms#7583: Concurrent Order searches
ustaxcourt/ef-cms#7736: Prevent User from being logged out during Order search
ustaxcourt/ef-cms#7579: Prevent User from being timed out during Order search
ustaxcourt/ef-cms#7580: Exact ma

[2021-06-11 18:24] mmarcotte opened #7912 "BUG: QC'd items not disappearing from QC Inbox"
**Describe the Bug**
We received a report from Janet Mai (Urda's Chambers) that an item that has been QCed is remaining in her inbox (4818-19, NOTW)

<img width="1445" alt="Screen Shot 2021-06-11 at 2 11 15 PM" src="https://user-images.githubusercontent.com/5023502/121731436-ee90dc00-cabe-11eb-8f19-c1ee1e6fe4fd.png">
.
It's also still appearing in Docket's QC Inbox:

<img width="1409" alt="Screen

[2021-06-11 18:28] kkoskelin commented on #7580
For exact matches:  https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query-phrase.html

[2021-06-11 20:00] mmarcotte opened #7913 "New item"
**Describe the Bug**

Upon replying or forwarding a message, DDB is getting the `isRepliedTo` properly set to `true`, but that change is _sometimes_ not making it to Elasticsearch, and it's remaining `false` there. This keeps the message showing up in the Inbox.

The system needs to be better about handling when that fails. We need to investigate how that fails.

**Business Impact/Reason for Sever

[2021-06-14 14:04] mmarcotte commented on #7890
After the deploy over the weekend, that second bullet point appears to be working for me. Just performed the operation on **500-18**. I have not attempted for an intervenor or participant.

[2021-06-14 15:58] mmarcotte opened #7914 "BUG: Adding Email to a user doesn't trim the space off of the email"
**Describe the Bug**

An Admissions clerk reported hitting a 400 error when attempting to add an Email address to a Petitioner on a Case where the Petitioner had already created a Cognito account. When investigating the logs, it appears that they added a space before at the beginning of the input for the Email address (probably due to copy and pasting; eg,` petitioner@example.com`). This caused th

[2021-06-14 20:57] kkoskelin opened #7915 "BUG: Add Practitioner: validation errors"
**Describe the Bug**
As an admissions clerk, when I try to add a practitioner, the console returns validation errors like:
`Uncaught TypeError: onBlurValidationSequence is not a function`
and
`Uncaught TypeError: validateStartCaseSequence is not a function`

These appear to be related to Domestic and International address validation.

Additionally, If I provide an invalid email address, in-page va

[2021-06-15 15:20] klohman commented on #7834
Work to be done in this story:

- [x] If a participant has a verified email, service preference can be manually changed between paper, electronic, and none without an error being generated
- [x] Issue from E2E UM testing: Participant with no email does not show "No email provided" at all
- [x] Issue from E2E UM testing: Participant with pending email is not displaying the email on card at all
- [x

[2021-06-15 15:30] klohman commented on #7833
Bug that needs to be addressed in this story - when editing an Intervenor, the "Intervenor" option is non populated in the Role type field and is hidden as an option. Somehow I am still able to update the form and save (even though Role type should be a required field).

Steps to reproduce
- Add Intervenor to case
- Go to intervenor and click "Edit" link

[2021-06-15 16:25] kkoskelin commented on #7636
https://github.com/ustaxcourt/ef-cms/pull/1376

[2021-06-15 19:22] mmarcotte commented on #7913
We couldn't find a log of a failed attempt to index the record. We believe the record got indexed properly, but then got re-indexed by another competing write around the same time. In other words, the working theory is that two updates happened very close to each other and a race condition occurred.

The approach, and I'll let @rachaelparris elaborate, is to verify with a quick small query that we

[2021-06-15 20:11] codyseibert commented on #7797
In a retro today we talked about maybe adding a prefix to the migration scripts, such as using `batch1` `batch2` `bug-fix` so we know more easily what these migration scripts are grouped together with.

[2021-06-15 21:41] kkoskelin commented on #7636
Some side-chatter from the TTS Slack suggests that we've been on the correct path this entire time.  Here are several articles which advocate doing essentially what we've already implemented -- that of focusing a page header upon route-change.

https://www.upyoura11y.com/handling-focus/

https://simplyaccessible.com/article/spangular-accessibility/#acc-heading-3

https://angular.io/guide/accessibi

[2021-06-16 14:46] cnelsonflexion commented on #7725
![message screen with sub-UI.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/a99f1e29-f00d-4cdb-909a-98ae3e1137a4)

- Logged in as docket clerk
- Browse to an in-progress or completed case message
- [ ] Case navigation tabs should appear above the message viewer in their default location

[2021-06-16 18:57] #7842 closed, assigned to rachaelparris

[2021-06-16 18:57] #7904 closed, assigned to rachaelparris

[2021-06-16 18:57] #7910 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7881 closed, assigned to rachaelparris

[2021-06-16 18:57] #7883 closed, assigned to rachaelparris

[2021-06-16 18:57] #7898 closed, assigned to rachaelparris

[2021-06-16 18:57] #7903 closed, assigned to matthopson

[2021-06-16 18:57] #7905 closed, assigned to rachaelparris

[2021-06-16 18:57] #7907 closed, assigned to rachaelparris

[2021-06-16 18:57] #7908 closed, assigned to rachaelparris

[2021-06-16 18:57] #7546 closed, assigned to rachaelparris

[2021-06-16 18:57] #7638 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7662 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7756 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7764 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7825 closed, assigned to rachaelparris

[2021-06-16 18:57] #7540 closed, assigned to rachaelparris

[2021-06-16 18:57] #7600 closed, assigned to rachaelparris

[2021-06-16 18:57] #7639 closed, assigned to matthopson

[2021-06-16 18:57] #7656 closed, assigned to rachaelparris

[2021-06-16 18:57] #7663 closed, assigned to rachaelparris

[2021-06-16 18:57] #7665 closed, assigned to kkoskelin

[2021-06-16 18:57] #7718 closed, assigned to rachaelparris

[2021-06-16 18:57] #7635 closed, assigned to rachaelparris

[2021-06-16 18:57] #7731 closed, assigned to rachaelparris

[2021-06-16 18:57] #7734 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7747 closed, assigned to rachaelparris

[2021-06-16 18:57] #7750 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7751 closed, assigned to rachaelparris

[2021-06-16 18:57] #7755 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7759 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7774 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7752 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7758 closed, assigned to rachelschneiderman

[2021-06-16 18:57] #7891 closed, assigned to sutt0n, codyseibert, matthopson, kkoskelin

[2021-06-16 18:57] #7897 closed, assigned to rachaelparris

[2021-06-16 18:57] #7899 closed, assigned to matthopson

[2021-06-17 13:47] JessicaMarine opened #7916 "BUG: Practitioner contact info. not updating on cases"
**Describe the Bug**
As the request of an attorney (bar no. EA0154), an Admissions Clerk updated her address and phone number.  Although the address and phone was updated on the practitioner's profile, the change did **not** carry through to the practitioner's cases and **no** Notice of Change of Address and Phone was generated.

**Business Impact/Reason for Severity**

**In which environment did

[2021-06-17 14:56] rachaelparris commented on #7916
Blocked by issue in bug ustaxcourt/ef-cms#7915 - can pick up when that is resolved

[2021-06-17 16:51] TomElliottFlexion commented on #7833
Found bug: When editing intervenor role type, selecting another role type will now make `Intervenor` disappear.

[2021-06-17 17:49] klohman commented on #7832
8137 UX Review

- Expected - if petitioner is represented by counsel, their service indicator should not change
    - Actual - Service indicator auto-updated to Electronic
    - Steps to reproduce
        - Add petitioner to case
        - Add counsel for petitioner
        - Add email to petitioner + activate

- Activated email did not receive service email
    - Add new email to petitioner + act

[2021-06-17 17:56] klohman commented on #7834
8139 UX Review

- Expected - if participant is represented by counsel, their service indicator should not change
    - Actual - Service indicator auto-updated to Electronic
    - Steps to reproduce
        - Add petitioner to case
        - Add counsel for participant
        - Add email to participant + activate

- Activated email did not receive service email
    - Add new email to participant +

[2021-06-17 18:13] klohman commented on #7612
7458 UX Review

- Other petitioner updating email is not sending the verify email to the new email
    - Steps to recreate
        - Add email to other petitioner + activate email
        - Login as other petitioner
        - Update email
        - Should receive a verify email

**UPDATE** - Confirmed working on dev

[2021-06-17 18:32] klohman commented on #7841
8152 UX Review

- Participant updating email is not sending the verify email to the new email
    - Steps to recreate
        - Add email to Participant + activate email
        - Login as Participant
        - Update email
        - Should receive a verify email

**UPDATE** - Confirmed working on dev

[2021-06-18 15:01] klohman commented on #7840
8151 UX Review

- Intervenor updating email is not sending the verify email to the new email
    - Steps to recreate
        - Add email to Intervenor + activate email
        - Login as Intervenor
        - Update email
        - Should receive a verify email

**UPDATE** - Confirmed working on dev

[2021-06-18 15:14] klohman commented on #7695
## Updated Add Practitioner Form

* Move email field(s) to their own section (same as on Edit Practitioner form)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/ac7ab7f5-140b-4226-bebd-6576be4a09df)

[2021-06-18 15:26] klohman commented on #7695
## 7725 Test scenarios

#### 1) Admissions clerk adds new practitioner and enters existing email
* Login as admissions clerk
* Add new practitioner
* Enter existing Cognito email
* Save
Expected results
- [x] error message displays on email field “An account with this email already exists. Enter a new email address.”

#### 2) Admissions clerk adds new practitioner and enters mismatching email
* Lo

[2021-06-20 11:35] JessicaMarine opened #7917 "BUG: Blank Screen when clicking on Pending Report under Tracked Items in12930-18"
**Describe the Bug**
In 12930-18, when you click on Pending Report under Tracked Items you get a blank screen

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**To Reproduce**
Steps to reprod

[2021-06-21 04:06] mmarcotte opened #7918 "BUG: Certain users cannot login; Cases failing validation"
**Describe the Bug**

When attempting to login and `GET` - `/cases/open` cases are failing validation for IRS and Private Practitioners. They are unable to access their dashboard.

Observing these errors in the logs:

[code]
[code]

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

`prod`; can replicate in `test` and `mig`

**Who were you logged in as?**

IRS

[2021-06-21 12:34] cnelsonflexion commented on #7583
Adding some draft messages until we understand the order of events:

**We are experiencing a high number of search requests. Please stand by.
We are experiencing a high number of search requests. Your results will appear in a few moments.
We are experiencing a high number of search requests. Please wait ## minutes/seconds and try your search again.
We are experiencing a high number of search reque

[2021-06-21 13:09] klohman commented on #7583
What is the length before this message appears? What actions can the user take?

[2021-06-21 14:35] JessicaMarine opened #7919 "BUG: Wrapping on order generator is off"
**Describe the Bug**
When copying/pasting from Word to the order generator, the text wrapping is not being retained.

NOTE: Similar issue in https://github.com/flexion/ef-cms/issues/8178 (ask @matthopson)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod; able to reproduce in test

**Who were you logged in as?**
Internal user

**What were you doing when

[2021-06-21 14:38] klohman opened #7920 "SPIKE - User Research - Current Order search experience"
## Pre-Conditions

## Acceptance Criteria
* Document usability issues with the current Order search experience
   - Order find-ability
   - UI interactions
   - Expected vs. actual results

Feedback from users to be collected in Mural: https://app.mural.co/invitation/mural/flexion6734/1624030866039?sender=uac81c807303039588f330143&key=824d6200-f786-4ca7-80f1-a0f1a50a407a

* All feedback was gather

[2021-06-21 15:49] kkoskelin commented on #7919
Food for thought: https://www.tiny.cloud/tinymce/features/powerpaste/

[2021-06-21 15:55] sutt0n commented on #7722
Marking this as blocked until we touch base with Mark from 18F to get a visualization on legacy data.

[2021-06-21 16:39] JessicaMarine opened #7921 "BUG: View Full PDF not working on mobile/iPad"
**Describe the Bug**
Judge Toro is trying to view documents on his iPhone/iPad and the "View Full PDF" button isn't working

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod

**Who were you logged in as?**
Judge Toro

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
Try

[2021-06-21 16:42] klohman commented on #7840
Updates after PO review:

* Move "edit" link to blue bar for all parties

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/33b92389-3e5b-46f7-886f-c91f5aad6249)

* update Respondent Counsel UI - create blue bar and move "edit" link

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/607c6320-3fd1-496c-9518-f605d4775710)

[2021-06-21 19:32] mariahkannenberg commented on #7835
No engineering work done on this.

[2021-06-21 19:32] mariahkannenberg commented on #7837
No engineering work required for this.

[2021-06-21 19:46] JessicaMarine commented on #7231
@ericsorenson PO Feedback:
* When I tried to upload a document greater than 250MB on the "Add Paper Filing" flow, I got the proper browser error, but the name of the PDF still showed up next to the upload button:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/04377eaf-334b-4d1f-8cf3-f3020fb1114b)

[2021-06-21 19:46] mmarcotte commented on #7916
<img width="1789" alt="Screen Shot 2021-06-21 at 3 45 33 PM" src="https://user-images.githubusercontent.com/5023502/122818908-c025b480-d2a7-11eb-9bd7-e8fd46e55d30.png">

Getting the spinning screen and no JS errors in `test`.

[2021-06-21 19:53] mariahkannenberg opened #7922 "SPIKE: Judge the quality of the OCR'd data in the system"
As an engineering team, so that we may understand the quality of the OCR'd data, we need to reviewed contents of production PDFs.

## Pre-Conditions

## Acceptance Criteria
* We have an better understanding of quality of the OCR'd data

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous

[2021-06-21 19:55] mariahkannenberg opened #7923 "New item"
## Pre-Conditions

## Acceptance Criteria
* Learn more about how DAWSON assembles document content, with a focus on new lines and spacing issues
* Focus on DAWSON generated documents and parsed uploaded PDFs

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?

[2021-06-21 21:07] JessicaMarine commented on #7612
@TomElliottFlexion  (as point person)
PO Review:
*  I think something is not working correctly if a practitioner changes a person's address.  On `mig` in 180-20, I have one person getting paper service.  Logged in as practitioner and changed contact info. for several of the parties.  It updated the info, and generated the Notices of Change of Address/Phone, but did not route that item to Docket's

[2021-06-21 21:12] rachaelparris commented on #7916
This is happening on `test` for that particular user (bar number `EA0154`, userId `68928744-8f8b-4b49-8b1c-d7ca90252b6e`) because the Cognito user associated with that email address does not exist on `test`. I manually removed the email from Dynamo so it doesn't try a Cognito lookup, and I'm now able to edit the practitioner user.

[2021-06-21 21:24] mmarcotte commented on #7916
right on, that must be it. I will test again with that in mind.

[2021-06-21 23:33] JessicaMarine opened #7924 "BUG: Filing Party on Review Screen is incorrect"
**Describe the Bug**
When the IRS eFiles a document and selects `Respondent` as the only filing party, the review screen lists all the parties.  The docket record is actually correct.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod; able to replicate in `mig`

**Who were you logged in as?**
IRS practitioner

**What were you doing when you discovered th

[2021-06-21 23:41] JessicaMarine opened #7925 "BUG: Records not reliably getting indexed into Elasticsearch"
**Former Title**

BUG: Attorney not returning in name search

**Describe the Bug**
When an Admissions Clerk searched for Thomas Michael Affeldt (AT0018) by name, no results returned.  They were able to find him by bar number.

Additionally Open/Closed cases are coming up empty in dashboards for some practitioners.

When doing a compare with the `test` environment, we observed more cases existing i

[2021-06-22 13:16] klohman commented on #7695
* Weird white background on radio buttons on Add/Edit Practitioner form
* When email is pending - we still show “Not provided” as well as pending on the Detail screen - can we hide “Not provided” in this scenario?
* Bug??? When I went to add a practitioner to a case as a docket clerk, I could not select any petitioners? The checkbox didn’t seem to respond

Since I can't add a practitioner to a cas

[2021-06-22 14:21] matthopson commented on #7919
So it looks like the original fix for this was reverted in this PR: https://github.com/flexion/ef-cms/pull/8268

[2021-06-22 14:49] #1188 closed, assigned to mmarcotte

[2021-06-22 15:45] rachaelparris commented on #7919
Reverting the revert PR ustaxcourt/ef-cms-flexion#8268 reproduces the bug that PR was created to resolve - the editor disappears after typing a single character. That bug never made it to prod because @rachelschneiderman caught it before it made it there. `preserveWhitespace={true}` is on the live code, too. I'll look for a few more things to try, but it seems like changing to `preserveWhitespace=

[2021-06-22 16:57] kkoskelin commented on #7736
A report for both public and internal that shows the chain of calls from the persistence methods back to the originating actions:
https://docs.google.com/spreadsheets/d/1mgpHlGcMqpdcwrTKE0bGbZ6ZMqX-gHV4-kheCNU4S6U/edit?usp=sharing
Notes at the bottom of each sheet that explains which user action executes them.

[2021-06-22 17:22] mmarcotte opened #7926 "BUG: Site Manifest is showing error in console"
**Describe the Bug**

Observing this error in the console:

[code]

It appears we were relying on Parcel to send this along, and we didn't include it via webpack. So references to this are pulling up the react app thanks to React Router.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

Any

**Who were you logged in as?**

N/A

**What were you doing when you

[2021-06-22 18:26] rachaelparris commented on #7919
For future reference, the "official" fix at this point is to remove the `preserveWhitespace` option completely from the Quill editor. Somehow in multiple bug fixes and reverts, that option ended up back in the code with this past deploy. There isn't a way to test copy and pasting from Word, so the history will have to suffice.

[2021-06-22 20:03] klohman commented on #7920
#### Issue 1
**From user**

I searched for ESI.  Now that might look like an odd search, but I wrote two orders on the subject of electronically stored information, and throughout the order, I referred to it as ESI.

In my view, this was a very narrow search.  There are many, many orders (and many of mine) that refer to electronically stored information.  As I understand the current logic (and as

[2021-06-22 20:05] klohman commented on #7920
**From user feedback**

* The library, daily, has to identify orders/opinions/dockets that are mentioned in the news.  Some days we are trying to identify the “perfect” order that a judge told his/her law clerk to find.  If it is an opinion, we use other online resources (Bloomberg, Lexis and Westlaw, for example).   Orders can be a bit harder to identify if we are limited in the information we ar

[2021-06-22 20:06] klohman commented on #7920
There doesn’t appear to be a way to search Dawson by opinion cite.  Is that something that will be added later?  What is someone supposed to do if they want to search for an opinion by cite or party name but doesn’t know the topic (since party name is a narrowing option only at this point)?
I tried searching for citations as a keyword and it didn’t work well.  Sometimes I could find the opinion it

[2021-06-22 20:31] rachaelparris commented on #7925
Waiting for more info, cannot currently reproduce the issue. Moving back to bug column for now.

[2021-06-22 20:37] TomElliottFlexion commented on #7722
Will require a migration

[2021-06-22 21:20] #7829 closed, assigned to nobody

[2021-06-22 21:20] #7830 closed, assigned to nobody

[2021-06-22 21:20] #7831 closed, assigned to nobody

[2021-06-22 21:20] #7827 closed, assigned to nobody

[2021-06-22 21:20] #7828 closed, assigned to nobody

[2021-06-22 21:20] #7894 closed, assigned to nobody

[2021-06-22 21:20] #7715 closed, assigned to mrinsin

[2021-06-22 21:20] #7710 closed, assigned to mrinsin

[2021-06-22 21:20] #7166 closed

[2021-06-22 21:20] #7872 closed, assigned to TomElliottFlexion

[2021-06-22 21:20] #7871 closed, assigned to sutt0n, codyseibert, TomElliottFlexion

[2021-06-22 21:20] #7873 closed, assigned to TomElliottFlexion

[2021-06-22 21:20] #7874 closed, assigned to mrinsin

[2021-06-22 21:20] #7165 closed

[2021-06-22 21:20] #7822 closed, assigned to rosiehsmith

[2021-06-22 21:20] #7875 closed, assigned to rachelschneiderman

[2021-06-22 21:20] #7876 closed, assigned to sutt0n

[2021-06-22 21:20] #7826 closed, assigned to codyseibert

[2021-06-22 21:32] mmarcotte commented on #7925
Upon updating the record in DDB, the record was re-indexed and is now findable via Practitioner Search.

🤔 hmm, so what happened? there must be others in this state. Does the lookup by Bar Number use DDB and bypass ES and that's why that search worked?

[2021-06-22 22:44] mmarcotte commented on #7926
While this works for the root index of the site, once you visit any page with a path, the path to the manifest starts to 404 again.

For example, login as a Petitions Clerk and visit:
https://app.test.ef-cms.ustaxcourt.gov/file-a-petition/step-1

In fact I think all of these references are broken:

[code]

They're all making reference to a file within that path (e.g., `/file-a-petition/step-1/safa

[2021-06-23 14:27] klohman commented on #7920
Devs to investigate

* Search for ESI returned off-topic orders without keyword

* Search for Cannabis produces 30 orders. “ Cannabis or marijuana” produces 2. “Cannabis or marijuana or weed” produces zero.

*  If I enter “innocent spouse” in orders I get an error message. Maybe something that indicates not to use quotation marks. Innocent spouse without quotes produces results.

* I tried searchi

[2021-06-23 14:33] rachaelparris commented on #7925
@mmarcotte Yep, the lookup by bar number performs a Dynamo query instead of using ES and that's why it worked.

[2021-06-23 16:54] kkoskelin commented on #7923
Research Notes:
* documents produced from within the USTC application do not exhibit difficulties in accurate text-extraction.
* Blackstone PDFs contain weird ligatures that produce flawed text extraction. (even opening in Acrobat or Preview and trying to copy/paste text is busted)
    * Re: ustaxcourt/ef-cms#7922 it is possible that nearly all Blackstone-era documents will have been scraped as "o

[2021-06-23 20:45] rachaelparris commented on #7922
Total count of _all_ orders and opinions currently in Dawson mig: 1,566,007

[2021-06-23 20:56] kkoskelin commented on #7920
My answers are shown in blockquotes below. -- Kris
---
Devs to investigate

1. Search for ESI returned off-topic orders without keyword

2. Search for Cannabis produces 30 orders. “ Cannabis or marijuana” produces 2. “Cannabis or marijuana or weed” produces zero.

3.  If I enter “innocent spouse” in orders I get an error message. Maybe something that indicates not to use quotation marks. Innocent

[2021-06-24 12:10] JessicaMarine opened #7927 "BUG: View link on practitioners not working for some users"
**Describe the Bug**
The IRS reported that when they try to view a practitioner's information on an estate or partnership case, they get a blank screen.

These cases in particular have this issue:
4185-20
Estate of Patricia Ruth Ray, Deceased, Donor, Peggy D. Ray, Special Administrator
4186-20
Estate of Patricia Ruth Ray, Deceased, Peggy D. Ray, Special Administrator
11559-20
Old Well Properties,

[2021-06-24 16:12] codyseibert commented on #7797
We worked with Mike and discussed a couple of manual steps that could potentially be automated.  The idea would be to group these up into different stories, with the following grouping potentially:

story 1:
- automate setting the migrate true flag in dynamo (maybe a new circleci workflow which sets the flag and deploys?)
- automate setting the destination table in dynamodb
- do not proceed if the

[2021-06-24 16:17] matthopson commented on #7923
@JessicaMarine Moving this to review as I think we've learned quite a bit about options for how future stories related to search may play out. Related findings are documented, but I was curious if it would be helpful to document the options and some recommended steps forward? We'd just like to help inform The Court as best as we can as we proceed with this since there's a lot to consider.

[2021-06-24 17:19] mariahkannenberg commented on #7911
Blocked:
* Precondition not met
* AC incomplete
* Search not working well

[2021-06-24 20:32] ericsorenson commented on #7922
When trying to build a query to find out how many documents were OCRed into a single term, we were able to find other issues with OCRed content. While the some documents were not entirely combined into one word, entire phrases were combined. OCRed postal stamps also added invalid text to the index. We discovered many variations of invalid content. The team would need to manually look at each of th

[2021-06-24 21:43] JessicaMarine commented on #7923
The Court has decided that it is appropriate to re-OCR all legacy orders and opinions with AWS Textract.  Based on the page count provided by Mike Marcotte:

Total number of pages that are orders or opinions: 1,759,489. Using AWS's pricing structure, it will cost approximately $2,000 based on the following AWS pricing:

$.0015 for the first million pages OCR'ed within a month
$.0006 for the next m

[2021-06-25 02:21] cnelsonflexion commented on #7798
![add other statistics.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/38a51f73-c08c-48c3-8813-7de6ab8239a5)

Logged in as docket
Browse to case -> Case Information -> Statistics
- [ ] Display above screen if app catches an error when adding a statistic

![delete other statistics.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/81335b14-c630-42d0-92a3-bc5e255e6

[2021-06-25 14:19] JessicaMarine commented on #7722
@sutt0n @TomElliottFlexion  Please add `c/o` in front of the secondary name for any of these.  Apologies for the miscommunication.

[2021-06-25 14:25] kkoskelin commented on #7896
I stand by my original suggestion of TinyMCE5 + "PowerPaste" functionality which is highly compatible with MS Word paste.  Demo here:
https://www.tiny.cloud/tinymce/features/powerpaste#powerpaste-demo

[2021-06-25 14:41] matthopson commented on #7925
I've seen this crop up on exp and dev. Smoketests will fail on searching by name (but will pass via bar number). I can manually update the record in the UI and re-run the smoketests and they will pass.

[2021-06-25 15:06] mmarcotte opened #7928 "Automate triggering of Blue/Green Migration"
## Pre-Conditions

- Review spike: https://github.com/flexion/ef-cms/issues/8073

## Acceptance Criteria

- As a Developer deploying to any environment, so that I can remove human error out of the equation, automate the steps for triggering a blue/green migration
  - setting the destination table in dynamodb
  - setting the migrate flag to true
  - ensuring that destination resources don't exist;

[2021-06-25 15:14] mmarcotte opened #7929 "After a B/G Deployment is considered healthy, delete the old DDB and ES Cluster after a successful deploy"
As a tech lead, so that I can reduce costs and avoid human error after accepting a deployment, I want to automate the process of deleting the old DDB and ES Cluster after a successful deployment.

Why: Save costs. There's an ES cluster sitting w/data on it and doing nothing. This costs a lot.

## Pre-Conditions

* Review spike: https://github.com/flexion/ef-cms/issues/8073
* ustaxcourt/ef-cms#7930

[2021-06-25 15:24] mmarcotte opened #7930 "Abort Deployment if Blue/Green Migration is failing"
As an developer, so that I know if a Blue/Green Migration fails, I need the deployment to abort.

For example, when deploying 8650 to MIG, we thought the migration was successful, but in reality, none of the orders were successfully scraped because we didn't have feedback that something failed.

## Pre-Conditions

- Review Spike: https://github.com/flexion/ef-cms/issues/8073

## Acceptance Criteri

[2021-06-25 15:29] mmarcotte opened #7931 "Add Read-Only Smoketests for Production"
## Pre-Conditions

- Review spike: https://github.com/flexion/ef-cms/issues/8073
 - ustaxcourt/ef-cms#7930

## Acceptance Criteria

- As a Tech Lead, so that I can have added assurance that a deployment was successful, have a smoketest that performs read-only operations on DAWSON
  - hits all frontend public UI
  - logs in as a general user and is presented with the user's dashboard
- As a Tech Le

[2021-06-25 15:40] mmarcotte opened #7932 "New item"
## Pre-Conditions

- Review spike: https://github.com/flexion/ef-cms/issues/8073
 - ustaxcourt/ef-cms-flexion#8508, ustaxcourt/ef-cms#7931

## Acceptance Criteria

- As a Tech Lead, in order to reduce human error, automate the process of switching colors after re-indexing is complete and [smoketests  have passed](https://github.com/flexion/ef-cms/issues/8509)
- As a developer deploying to prod, so

[2021-06-25 15:56] mmarcotte opened #7933 "Simplify the current Process for Migrations"
## Pre-Conditions

- Review spike: https://github.com/flexion/ef-cms/issues/8073

## Acceptance Criteria

- As a developer deploying to any environment, so that I don't need to worry about maintaining which migrations need to run in the codebase, allow the environment to dictate which migrations (of those available) need to run based on which migrations have already run.
- As a developer deploying

[2021-06-25 16:03] mmarcotte opened #7934 "Automate the process of destroying the Migration Infrastructure"
## Pre-Conditions

- Review spike: https://github.com/flexion/ef-cms/issues/8073

## Acceptance Criteria

- As a developer deploying to any environment, so that I save money and avoid confusion, automate the process of destroying the migration infrastructure after a migration completes successfully.
- As a developer deploying to any environment, so that I understand the updated deployment process,

[2021-06-25 16:50] mmarcotte opened #7935 "Do not create DDB and ES Clusters if they are not needed"
## Pre-Conditions

- Review spike: https://github.com/flexion/ef-cms/issues/8073

## Acceptance Criteria

- As a developer deploying to any environment, to save money and time, do not attempt to create unnecessary DDB tables or ES cluster / no Blue/Green Migration is occurring. (`migrate` == `false`)
- As a developer deploying to any environment, so that I understand the updated deployment process

[2021-06-25 17:40] mmarcotte opened #7936 "Seamless public user experience during a deployment"
As a DAWSON public (non-logged in) user, so that I can use the application any time that I require, I need to be able to continue to use the application during deployment activities.

DAWSON deployments currently interrupt user activity at the end of deployment activities. By implementing a process that allows users to receive the latest code deployments seamlessly, we can provide both a better us

[2021-06-25 19:14] mmarcotte opened #1431 "OCR Orders and Opinions"
We need to re-perform optical character recognition on all of the legacy Order and Opinion documents. We have the go-ahead to perform this endeavor, which will likely incur ~$2k AWS bill. We need to save the association between the documents and the text. When we do this, we should also keep the Docket Number in addition to the Docket Entry ID for ease of reference.

**Tasks**

- [x] Verify that w

[2021-06-25 20:25] codyseibert commented on #7922
Things we learned:

From taking 2,500 random order / opinion docket entries and looking at their document contents, it seems like most of words on the documents were ok other than some incorrect characters and missing characters.  There was only 1 or 2 we could find through visually inspecting the documents that had really messed up contents.

Some of the currently documents uploaded in the system

[2021-06-25 20:34] mariahkannenberg commented on #7922
@mmarcotte Can you provide a sample of a document a court user has scanned and uploaded to their computer, but not DAWSON?

[2021-06-25 21:35] mmarcotte opened #7937 "BUG: Paper Case got saved in an invalid state somehow"
**Describe the Bug**

DocketNumber `10168-21` was in an invalid state in production and a recent glue job.

In order to resolve it, we had to add a `secondaryName` to the petitioner in the array. The name of the petitioner was also incorrect.

Changed:
- `name`: `Estate of Michael I. Miller, Deceased`
- `secondaryName`: `Barbara Miller, Executrix`

Trying down log information about when this happe

[2021-06-28 14:16] TomElliottFlexion commented on #7937
- PARTY_TYPE of estate
- secondaryName and title were undefined, so its computed additionalName was an empty string -- which joi throws a validation error for unless you explicitly specify it to allow empty strings.
- somehow an internal user was allowed to create this case (since it's a paper case) without a secondaryName, since that's required in the validation. odd. -Jojo

[2021-06-28 15:37] klohman commented on #7553
## UX Review - Meets Acceptance Criteria as written

#### Notes:
* When external user (petitioner / private practitioner) creates a case, the phone number is not being formatted on the Review Your Case Screen - the case has not been saved at this point so it meets AC

* Phone number is only being formatted when 10 consecutive digits are entered. If there are spaces or special characters, it is not

[2021-06-28 17:09] klohman commented on #7798
- [x] Delete Other Statistics deleteOtherStatisticsSequence
Red alert box with verbiage on Edit Other Statistic: "Statistic could not be deleted. Please try again."
- [x] Deleting Trial Session deleteTrialSessionSequence
Red alert box with verbiage on New Trial Session page: "Trial session could not be deleted. Please try again."
- [x] Sealing a Case sealCaseSequence
Red alert box with verbiage on

[2021-06-28 21:43] mmarcotte opened #7938 "New item"
**Describe the Bug**

A docket clerk was able to create a docket entry with a year of `0020`. I think they just did `/20` at the end of the date following the format of `MM/DD/YYYY`.

![date-bug-2](https://user-images.githubusercontent.com/5023502/123707961-9422aa00-d838-11eb-8772-d50ccff4665f.png)

**Business Impact/Reason for Severity**

Docket Entries appear out of order. Confusion ensued.

**I

[2021-06-29 13:58] mmarcotte opened #7939 "BUG: uploaded PDF documents are not normalized to standard document width"
**Describe the Bug**

When you go to apply a signature to a proposed stip decision, the document is zoomed in (perhaps scanned in at higher resolution). It makes it impossible to apply the signature.

**Business Impact/Reason for Severity**

Judges need to apply their signature reliably

**In which environment did you see this bug?**

Prod, Test

**Who were you logged in as?**

Judge Gustafson

**

[2021-06-29 20:13] klohman commented on #7911
Could we include these metrics?

Usability Metrics

* Top search terms
* Terms with no results
* Number of searches with no results
* Terms with too many results (over 100)
* Daily total searches
* CTR

* Could we track how often users enter unsupported characters?

[2021-06-29 21:22] mmarcotte opened #7940 "BUG: Deployed timestamp appears in Production"
**Describe the Bug**

Every time you login to DAWSON or first load the application, you see at the top the Last Deployed timestamp. This had originally just been visible in environments that weren't production, but something has changed. Now it's visible for a flash as everything loads. Plus if someone isn't using the right browser they will also confusingly see the Last Deployed timestamp.

Pleas

[2021-06-29 21:24] #7863 closed, assigned to rachaelparris

[2021-06-29 21:24] #7900 closed, assigned to rachelschneiderman

[2021-06-29 21:24] #7912 closed, assigned to rachaelparris

[2021-06-29 21:24] #7915 closed, assigned to rachaelparris

[2021-06-29 21:24] #7918 closed, assigned to rachaelparris

[2021-06-29 21:24] #7890 closed, assigned to rosiehsmith

[2021-06-29 21:24] #7924 closed, assigned to rachaelparris

[2021-06-29 21:24] #7636 closed, assigned to kkoskelin

[2021-06-29 21:25] #7923 closed, assigned to matthopson, kkoskelin

[2021-06-29 21:25] #7914 closed, assigned to rosiehsmith

[2021-06-29 21:25] #7916 closed, assigned to rachaelparris

[2021-06-29 21:25] #7917 closed, assigned to rosiehsmith

[2021-06-29 21:25] #7921 closed, assigned to rosiehsmith

[2021-06-29 21:25] #7913 closed, assigned to rachaelparris

[2021-06-29 21:25] #7919 closed, assigned to rachaelparris

[2021-06-29 21:25] #7922 closed, assigned to rachelschneiderman, mrinsin

[2021-06-29 21:25] #7797 closed, assigned to rosiehsmith

[2021-06-29 21:25] #7892 closed, assigned to ericsorenson, sutt0n, codyseibert, matthopson, kkoskelin

[2021-06-29 21:25] #7796 closed, assigned to sutt0n, codyseibert, matthopson, kkoskelin

[2021-06-29 21:37] mmarcotte opened #7941 "SPIKE: Assist with documentation of decision to use DynamoDB"
As a tech lead, so that I can understand the decision to use DynamoDB, I need to discuss and document the decision.

## Pre-Conditions

- [ ] A quorum of folks present who were present when the decision to use DynamoDB was made.

## Acceptance Criteria

- [ ] Compile any and all thoughts to help document the decision to use DynamoDB as a data store.
- [ ] Timebox: 45min.

## Notes

We're documenti

[2021-06-29 21:42] mmarcotte opened #7942 "BUG: Failover does not occur when one region's DDB table becomes unavailable"
**Describe the Bug**

When one region's DDB table becomes unavailable (for example, it gets deleted), the system does not properly fail over to the other region's DDB table.

**Business Impact/Reason for Severity**

In the event of a failure, folks should still be able to access the system if a DDB table in another region is available.

**In which environment did you see this bug?**

Any

**Who we

[2021-06-30 15:34] sutt0n commented on #7937
After attempting to reproduce this in multiple ways, and even modifying the request, we're unable to reproduce. Both frontend and backend validation thwart the attempt of passing a blank `secondaryName` and since modification deltas are not logged, it's very difficult (if not impossible) to determine the exact cause of this.

Marking as Unable to Reproduce.

[2021-06-30 18:51] mmarcotte opened #7943 "BUG: In-Browser scanning has stopped working for Clerks"
**Describe the Bug**

After deploying batch 1, Docket and Petitions clerks reported that scanning stopped working for them. They simply get the spinning wheel.

While attempting to replicate the issue, I was able to observe a Content Security Policy error complaining about:

[code]

Made this attempt to resolve that CSP error, but other errors persisted. It appears that it could be related to a ma

[2021-06-30 20:26] mmarcotte commented on #7925
Blocked by https://github.com/flexion/ef-cms/issues/8536

[2021-06-30 20:34] kkoskelin commented on #7943
Eliminating the CSP issue (caused by an upgrade of image-reduce-blob) was not the solution to fixing the scanning situation.  It appears right now that some kind of webpack-related issue may be to blame. More notes to follow.

[2021-07-01 03:58] mmarcotte opened #7944 "BUG: Indexing starts prematurely on Blue/Green Deploy"
**Describe the Bug**

While doing a recent blue/green deploy to production, I noticed that ~2,000 documents had been indexed into Elasticsearch while the migration was still happening. How could this have happened? We disable the trigger in the step before we initiate the migration.

The step before is supposed to disable the trigger, and that did happen. However, the migration may have started be

[2021-07-01 14:43] codyseibert commented on #7942
Some comments about potential solutions for getting a failover working.

- we could failover at the route53 level using custom health checks against cloudwatch alarms to figure out when dynamodb errors are occuring for (table does not exists) or something.  So when we delete the west table, the route53 record would consider west unhealthy and switch all users to east
- we could put an api gateway

[2021-07-01 16:33] TomElliottFlexion commented on #7579
Error message based on conversation with @cnelsonflexion:![Screen Shot 2021-07-01 at 11.45.13 AM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/1bb22d03-a8d0-43f5-ab9c-1eb96d9bcaba)

[2021-07-01 16:40] cnelsonflexion commented on #7579
@TomElliottFlexion Sorry Tom, super minor: Can you adjust the body to read:

Please wait a few moments, then click the Search button to retry.

[2021-07-01 16:41] TomElliottFlexion commented on #7579
Certainly

[2021-07-01 19:14] TomElliottFlexion commented on #7579
@cnelsonflexion The default timeout is set at 30 seconds

[2021-07-01 20:40] rachaelparris commented on #7896
Recommendation from the team is TinyMCE.

Covers all features [for premium tiers]
Would have to talk to sales team for custom pricing

Pros:
* Meets more AC than all the other editors we tried
* Easier to implement than any other editor
* Toolbar is more customizable than other editors
* More supported and widely used than other editors

Cons:
* List formatting was not retained when copying from W

[2021-07-01 21:32] mrinsin opened #7945 "options - store in Dynamo, REDIS ?"

[2021-07-01 21:33] #7945 closed, assigned to nobody

[2021-07-02 01:25] mmarcotte opened #7946 "BUG: Alignment of "links" in public view of case is off"
**Describe the Bug**

In the list of documents for a public case, the alignment is off. The words in the row with the SPTO should all be on the same line.

<img width="1969" alt="Screen Shot 2021-07-01 at 2 47 17 AM" src="https://user-images.githubusercontent.com/5023502/124079168-d0abfc80-da16-11eb-96d6-371190b42eb1.png">

**Business Impact/Reason for Severity**

Not a clean interface

**In which

[2021-07-02 15:01] mariahkannenberg commented on #7736
7374 - Needs more information- need more specific AC, so we can have a targeted solution. We want to specifically address the ways users are getting logged out.

[2021-07-02 18:58] kkoskelin commented on #7939
The attached file has pages with width of 2400px, which far exceeds the width of coversheets (866px).  Use this attached file to see behavior related to adding coversheets and signatures (as a docket clerk) for a stipulated decision from a paper filing.
[big-stip-dec.pdf](https://github.com/flexion/ef-cms/files/6756500/big-stip-dec.pdf)

[2021-07-02 19:46] kkoskelin commented on #7944
In the script `web-api/disable-deploying-dynamo-stream-trigger.sh` should there be a "sleep" statement of 30-90 seconds (more?) after the disabling?  To ensure all triggers that were queued are complete?
Is there another way to determine if there are triggers already queued which we must wait for?
This script makes a change for `--region us-east-1` -- is this the only region in which the stream tr

[2021-07-02 20:25] matthopson commented on #7736
Just adding some notes after chatting with @mmarcotte a little about this.

Unsure if the best thing to do is shelve this until we can see it actually happening when enabling search for internal users.

It's likely that, since other 500 errors are being caught and handled without logging the user out, the issue is hitting a fall-through case in the `ErrorFactory` - which broadly assumes the user i

[2021-07-02 21:24] kkoskelin commented on #7736
@matthopson I think you can probably wrap calls to the search client within a try/catch and then throw an error specific to ES (and distinct from auth issues).
If an error is caught in an action, you can inspect the error's code, message, etc and decide whether to passively handle what might be a simple error with some messaging OR re-throw it and let the cerebral engine decide.

[2021-07-05 14:19] mariahkannenberg commented on #7736
Hold on this one - may be handled in other upcoming stories, or may not be a search problem at all.  Search needs to be turned on first to verify/see the failure.

[2021-07-05 14:32] mariahkannenberg opened #7947 "Search: Turn on Order Search and implement feature flag"
As a development team, so that we may test search stories, we need to turn on search everywhere for internal users, except for production

Was this already done: https://github.com/flexion/ef-cms/issues/8232

## Pre-Conditions
* Document contents are searchable in all Court environments

## Acceptance Criteria
* Order search is turned on everywhere for internal users, except for production
* Featu

[2021-07-05 14:32] klohman commented on #7920
## Findings

* Users need flexibility in their search criteria. Requiring keyword search limits their ability to perform all the queries they need, and forces them to use workarounds that can be problematic. The ability to search by keyword, judge or date range would allow users to more easily get to the information they are looking for, without entering unwanted search terms.

* Users expect some

[2021-07-05 14:37] mariahkannenberg opened #7948 "Order Search: Turn on Order Search internally in the production environment"
As a Tech Lead for the Court, in order to have control over order search availability for internal users, I need the ability  to turn it on and off in the production environment without doing a deploy.

## Pre-Conditions
* ustaxcourt/ef-cms-flexion#8543, ustaxcourt/ef-cms#7579, ustaxcourt/ef-cms#7700, ustaxcourt/ef-cms#7911, ustaxcourt/ef-cms#7949, ustaxcourt/ef-cms#7953, ustaxcourt/ef-cms#7952, u

[2021-07-05 14:42] mariahkannenberg opened #7949 "Search - Logging Order Search User Data v1"
As a development team, so that we may understand how users are utilizing Order search, I would like to collect data from user input.

## Pre-Conditions

## Acceptance Criteria

Data to capture for each query:
- search terms used
- filters selected
- logged in role
- number of results returned
- time of query

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IR

[2021-07-05 14:56] mariahkannenberg opened #7950 "Order Search: Locate document by exact keyword/phrase"
As a court employee, in order to locate documents with specific keywords or phrases, I need to be able to retrieve documents with only those exact keyword/phrases

## Pre-Conditions

## Acceptance Criteria
* User is aware that they can search for exact matches
* User is able to indicate if they want an exact match
* User is able to search for an exact match on a single keyword
* User is able to se

[2021-07-05 14:59] mariahkannenberg opened #7951 "Order Search: AND keyword search"
As a Court employee, in order to locate the most relevant documents, I need to have more control over how my  keyword search is executed.

## Pre-Conditions

## Acceptance Criteria
* User is able to search using multiple keywords/phrases using the equivalent of boolean operator “AND” and retrieve results containing BOTH keywords/phrases (including exact match)
* When run on full data set, searches

[2021-07-05 15:05] mariahkannenberg opened #7952 "Search: Navigate search results"
As a Court employee, in order to locate relevant documents more quickly, I need a way to navigate search results and assess their relevancy.

## Pre-Conditions

## Acceptance Criteria
* User can easily preview documents from their search results
        * Search criteria and result set is retained until the user indicates they want to clear or start a new search

## Mobile Design/Considerations

#

[2021-07-05 15:07] mariahkannenberg opened #7953 "Search: Modify results and prioritize"
As a Court employee, in order to locate relevant documents more quickly, I need a way to modify search results and prioritize what's most important.

## Pre-Conditions

## Acceptance Criteria
* User can sort their search results
                   * Date
* User can eliminate results within a returned set via filtering

## Mobile Design/Considerations

## IRS API Considerations
Do these changes imp

[2021-07-05 15:31] mariahkannenberg opened #7954 "Order Search: Enhance document link behavior"
As a Court user, so that I may better navigate and view documents I'm searching for, I need enhance the documents search behavior.

## Pre-Conditions

## Acceptance Criteria
* Enhance document link behavior by opening the document in new tab, including mobile

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does thi

[2021-07-05 15:33] mariahkannenberg opened #7955 "Order Search: Display total results count"
As a Court user, so that I may understand the breadth of my search results, I need the total results count to display.

## Pre-Conditions

## Acceptance Criteria
* User can see total results count

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does

[2021-07-05 15:37] mariahkannenberg opened #7956 "Order Search: Add more descriptive instructions"
As a Court user, so that I may understand what types of searches are or are not supported, I need to be informed about what syntax is or isn't supported.

## Pre-Conditions
*

## Acceptance Criteria
* Users are informed of what search syntax is/is not supported w/r/t fields
* If there are user requirements for special characters, the user is informed

## Mobile Design/Considerations

## IRS API Co

[2021-07-05 16:32] mariahkannenberg opened #7957 "Usability Testing: Order Search Round #2"
As a development team, so that we may test the usability of search features before making them available to the public, we need to perform usability testing.

## Pre-Conditions
* Order search is available in the Court's production environment (#8544)

## Acceptance Criteria
* All Court users can provide usability feedback
* Targeted usability testing is performed with a small group of users in the

[2021-07-05 18:14] matthopson commented on #7938
PR: https://github.com/ustaxcourt/ef-cms/pull/1446

[2021-07-05 19:07] matthopson commented on #7946
PR https://github.com/ustaxcourt/ef-cms/pull/1447

[2021-07-06 11:57] JessicaMarine opened #7958 "BUG: Unable to change filing party on entry"
**Describe the Bug**
When a Docket Clerk was trying to change the filing party on an older docket entry, he got an error.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod

**Who were you logged in as?**
Docket Clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**

[2021-07-06 14:17] mrinsin commented on #7896
Amazing spreadsheet comparing features of the editors we tried, made by @klohman - [here](https://docs.google.com/spreadsheets/d/1qRkP2j9S4WFKh855prOdIh9LRZycUuX9cAabin5yQ4E/edit?ts=60db4fd3#gid=0)

[2021-07-06 14:22] mariahkannenberg commented on #7736
We want to see it fail. Server logs.
If we can't break it on our own, wait until it breaks for a user.

[2021-07-06 15:33] JessicaMarine commented on #7896
Because the potential replacement for Quill involves a fee, Jessica to check with Judge Buch and Stephanie to see if we should be considering other options (e.g., Word) with broader functionality.  This is a business decision. Will create new story with broader AC if ^^^ or to implement TinyMC.  Keep Quill (with known vulnerability) for now.

Note:  Other concern -- Tiny MC is hosted by a 3rd part

[2021-07-06 15:37] JessicaMarine commented on #7736
@matthopson This was happening previously when Mike would perform Gatling load testing against an environment while I was simultaneously performing manual searches.  Because we think this issue was resolved by other work done (e.g., not returning entire contents), if we can't reproduce this issue by concurrent load and manual testing, I agree we can wait and see if it fails in the future.

[2021-07-06 19:13] mrinsin commented on #7944
We ended up adding a 1 minute long sleep to the script that disabled the deploying stream and that seemed to fix the issue on `experimental3`. We explored other theories as to why this was happening but were unable to prove those theories to be true.

[2021-07-06 21:30] JessicaMarine commented on #7952
What is the use case?

[2021-07-06 21:30] JessicaMarine commented on #7953
What is the use case for sorting when filtering is already available?

[2021-07-07 16:16] cnelsonflexion commented on #7234
"Your file is being scanned for potential issues."
- (if virus found) **We've detected a problem with your file.** (new line) Please create a new file and try to upload again. Ref: #####
- (if file is clean) Your file has been uploaded successfully.

[2021-07-07 16:48] cnelsonflexion commented on #7700
"You've reached your search limit. Please wait 1 minute before trying your search again."

[2021-07-07 20:40] codyseibert commented on #7700
This should be ready for UX review, but I'm setting it as blocked until ustaxcourt/ef-cms#7947 is done since there is no way for people to verify this works in the UI.

[2021-07-08 12:15] JessicaMarine commented on #7938
@matthopson The underlying issue was not fully addressed.  When a docket clerk is **adding** a document to the docket record, if they put 5/1/20 as the filed date, it converts it to 5/1/0020 and that's what creates the problem.  We need to make sure that all the date entry fields **system wide** require a 4-digit year.

[2021-07-08 13:15] mariahkannenberg opened #7959 "Usability: Normalize view of PDF documents"
## Pre-Conditions

## Acceptance Criteria
* Users are able to view and add signatures to documents without having to zoom in or out

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does this work make major changes to the system?
 - [ ] Does this work

[2021-07-08 13:16] mariahkannenberg commented on #7939
Converted to story ustaxcourt/ef-cms#7959

[2021-07-08 13:16] #7939 closed, assigned to kkoskelin

[2021-07-08 14:06] mmarcotte commented on #7937
Just to add a little more information about how we tried to troubleshoot this.

We restored a DDB Backup to a time before we corrected the issue. And we observed that the last time the record was updated was at the precise second that a Practitioner was removed from the case. It appears that API call somehow triggered the errant update. However, when we tried to replicate it with these steps, we c

[2021-07-08 14:06] #7937 closed, assigned to sutt0n, codyseibert

[2021-07-08 17:06] #7834 closed, assigned to TomElliottFlexion

[2021-07-08 17:06] #7833 closed, assigned to TomElliottFlexion

[2021-07-08 17:06] #7832 closed, assigned to TomElliottFlexion

[2021-07-08 17:06] #7836 closed, assigned to TomElliottFlexion

[2021-07-08 17:06] #7837 closed, assigned to nobody

[2021-07-08 17:06] #7835 closed, assigned to cnelsonflexion

[2021-07-08 17:06] #7841 closed, assigned to nobody

[2021-07-08 17:07] #7777 closed, assigned to sutt0n, codyseibert, matthopson, kkoskelin

[2021-07-08 17:07] #7725 closed, assigned to rachaelparris

[2021-07-08 17:07] #7902 closed, assigned to rachaelparris

[2021-07-08 17:07] #7882 closed, assigned to mrinsin

[2021-07-08 17:07] #7231 closed, assigned to ericsorenson

[2021-07-08 17:07] #7840 closed, assigned to TomElliottFlexion

[2021-07-08 17:07] #7612 closed, assigned to TomElliottFlexion

[2021-07-08 17:08] #7722 closed, assigned to sutt0n, TomElliottFlexion

[2021-07-08 17:08] #7695 closed, assigned to mrinsin

[2021-07-08 17:43] matthopson commented on #7947
https://github.com/flexion/ef-cms/pull/8571

[2021-07-08 17:52] adunkman commented on #453
Status update here — there are TODOs above, and some ongoing discussion on what the right path forward is internal to the Court. @mmarcotte to follow-up.

[2021-07-08 17:56] adunkman commented on #772
There are a few questions about the need for this now that we can query DAWSON’s data using Athena — we may be able to solve this issue by closing it.

One of the Mikes would be the decision maker.

[2021-07-08 17:56] #1431 closed, assigned to mmarcotte, mark-meyer

[2021-07-08 17:57] mmarcotte opened #1466 "Populate OCR'ed text into Migration Environment"

[2021-07-08 19:37] #473 closed, assigned to adunkman

[2021-07-08 20:32] mmarcotte commented on #772
Information getting stored away into S3 to be resuscitated if need be. Abandoning RDS instance that would probably not be used very often if at all.

[2021-07-08 20:32] #772 closed, assigned to mmarcotte, mark-meyer

[2021-07-08 21:09] matthopson commented on #7736
@JessicaMarine I was able to run load tests against order search to the point of it failing while making simultaneous requests manually, and would get back a timeout error with a 504 response code every time. This issue should be addressed with ustaxcourt/ef-cms#7579, where a 504 response code displays a message to the user, rather than redirecting to the login page.

[2021-07-09 14:16] mariahkannenberg commented on #7736
Load testing had desired results. Revisit if it comes up in the wild!

[2021-07-09 15:28] cnelsonflexion commented on #7583
Given the delay is only 10 seconds, I don't think we need messaging around it if someone gets caught in the throttle.

[2021-07-09 17:02] klohman commented on #7780
## Add Paper Filing screen
* If electronic service is not properly generated, remain on screen and display error message

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/ba743977-49f4-4408-b09e-a34547deee71)

## Add Docket Entry screen
* If electronic service is not properly generated, remain on screen and display error message

![image.png](https://images.zenhubusercont

[2021-07-09 17:38] klohman commented on #7953
@JessicaMarine FWIW, the technical lift for this could be pretty simple because of the availability of react table components. Here's a quick example: https://jbetancur.github.io/react-data-table-component/?path=/story/filtering--example-1

If it's super simple, this could be a quick win without much effort at all and we can tweak more later as we learn more.

cc @matthopson @mariahkannenberg

[2021-07-09 19:53] matthopson commented on #7700
@klohman This is on migration now.

![Screen Shot 2021-07-09 at 1.45.38 PM.png](https://images.zenhubusercontent.com/5cadf168c7e4b91e9a637015/c87ee7bf-a18c-40ef-a312-b45878d30ded)

[2021-07-09 20:28] matthopson commented on #7579
@JessicaMarine We may have a difficult time testing this now after deploying to `mig` since some rate limiting stuff (#7756) came with it. I can't use the same token to run the load tests and also test the UI and hope for a timeout error because my user is rate limited. It may be something we can just try to deploy to an exp environment without the rate limiting and run the load tests against that

[2021-07-09 21:05] JessicaMarine commented on #7580
Replaced by ustaxcourt/ef-cms#7950

[2021-07-09 21:05] #7580 closed, assigned to nobody

[2021-07-09 21:12] JessicaMarine commented on #7578
Added to ustaxcourt/ef-cms#7736

[2021-07-09 21:12] #7578 closed, assigned to nobody

[2021-07-09 21:12] JessicaMarine commented on #7738
Added to ustaxcourt/ef-cms#7579

[2021-07-09 21:12] #7738 closed, assigned to nobody

[2021-07-09 21:12] JessicaMarine commented on #7584
Added to ustaxcourt/ef-cms#7583

[2021-07-09 21:12] #7584 closed, assigned to nobody

[2021-07-09 21:15] mmarcotte opened #7960 "BUG: Canceling while editing a new Petition creates JS error"
**Describe the Bug**

Encountered a JavaScript error while clicking the Cancel button, after editing the petition details while creating a new petition.

Here's are the JS errors:

[code]

[code]

**Business Impact/Reason for Severity**

Error not handled gracefully causes clerks to have to start over

**In which environment did you see this bug?**

Prod / any

**Who were you logged in as?**

**Wh

[2021-07-09 22:05] mmarcotte opened #7961 "BUG: Error 400 when trying to change Petitioner Type while creating a petition"
**Describe the Bug**

While creating a new petition, and editing the details to correct the Party information, was able to generate a 400 error. The response included the error message.

This is when trying to change `Petitioner & spouse` to `Petitioner`

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

Prod/Any

**Who were you logged in as?**

Petitions Cle

[2021-07-11 02:37] mmarcotte commented on #7944
This still occurred during tonight's deploy. Scratching my head for how it happened. It appeared to pick up events right as the migration was starting. I'm going to reach out to AWS support to get a better understanding for how this could happen even as the report says the Trigger was disabled.

Deploying Color Streams Lambda (you'll notice the indexing event right at 2:11 UTC)
<img width="1789" a

[2021-07-12 13:57] mmarcotte opened #7962 "BUG: Line through "Trial Session Planning Report" on Trial Sessions Page"
**Describe the Bug**

Simple UI alignment annoyance. The horizontal line to break up the content on the Trial Sessions page is going through the link for the Trial Session Planning Report.

<img width="1462" alt="Screen Shot 2021-07-12 at 9 53 23 AM" src="https://user-images.githubusercontent.com/5023502/125299609-4d808580-e2f7-11eb-8d24-ab352df742c9.png">

**Business Impact/Reason for Severity**

[2021-07-12 14:02] JessicaMarine opened #7963 "New item"
**Describe the Bug**
There seems to be a range of cases (approximately 101-21 through 2750-21) where the servedParty code for the first several entries on the docket record is not displaying.  This is on the docket record and printable docket record

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod (also test and mig)

**Who were you logged in as?**
Inte

[2021-07-12 14:28] mariahkannenberg commented on #7944
Hold on this one until Mike hears back from AWS.

[2021-07-12 14:57] JessicaMarine opened #7964 "BUG: Deadlines for Carluzzo showing up in filtered list for Chief Judge"
**Describe the Bug**
When filtering the deadlines report for "Chief Judge", there are deadlines for Judge Carluzzo showing up

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod

**Who were you logged in as?**
Internal User

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)*

[2021-07-12 18:23] JessicaMarine opened #7965 "New item"
As the development team, in order to perform load testing of the search feature, we need to turn off rate limiting for internal users.

## Pre-Conditions

## Acceptance Criteria
* No rate limiting applies to search for internal users

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous ab

[2021-07-13 13:27] mmarcotte commented on #7942
Might this only work if the west table is down? I removed the east able, and the application is currently 400'ing.

The `test` environment is currently in this state with the east table down.

[2021-07-13 14:15] mariahkannenberg commented on #7964
Happening in production, but not Flexion envs. Need someone from the Court to help reproduce.

[2021-07-13 14:47] mariahkannenberg commented on #7743
Not sure if we need this one. First, implement exact match, then find out if users still need.

[2021-07-13 15:31] kkoskelin commented on #7964
The associated judge name is being searched with the term "Chief Judge", or else just the last name of the judge ("Carluzzo", "Toro", etc).  However, the strings stored on the case deadlines sometimes contain just the surname, but sometimes title.
![Screen Shot 2021-07-13 at 10 18 50 AM](https://user-images.githubusercontent.com/2445917/125480179-f81d34a6-d126-4fda-bcee-a1b1a40bf35d.png)
In the ab

[2021-07-13 15:48] klohman commented on #7780
## 8039 Test Case

#### 1) Service fails when docket clerk adds and serves paper filing
* Login as docket clerk
* Go to case
* Add Paper Filing
* Click Save and Serve
* On confirmation modal, click Yes, Serve
* [Service fails]
Expected results
* App remains on Add Paper Filing screen
* Error message displays
* Service email is not received by parties
* Docket entry is added to Docket Record
* Dock

[2021-07-13 16:14] klohman commented on #7781
Design may be needed - pair with designer when this is picked up.

[2021-07-13 17:15] mmarcotte opened #1476 "Onboard Chris Holly"
Welcome to the team! 🎉 😎

#### Access to tools

- [x] GitHub — speak with your team lead to determine the appropriate repositories and levels of access in the [ustaxcourt](https://github.com/ustaxcourt) and [flexion](https://github.com/flexion) organizations.
- [x] [Slack](https://ustaxcourt.slack.com) — look for important channels to join in [How We Work](./how-we-work.md).
- [x] Zoom — speak wit

[2021-07-13 17:16] mmarcotte opened #1477 "Ready plan for Tech Lead OOO"
## Acceptance Criteria

- [x] Pull Request acceptance (documentation)
- [x] Handling escalated Support Requests (specifying that process, what happens?)
- [x] Application Log Access
  - [x]  Flexion
  - [x] 18F (Mark, Andrew)
- [x] Monitoring of Application Health Alerts / Uptime Alerts
- [ ] Data reports required by the Court (OST, etc.) 👍
- [x] Identify any requirements for interfacing with the

[2021-07-13 18:31] kkoskelin commented on #7962
https://github.com/ustaxcourt/ef-cms/pull/1478

[2021-07-13 20:56] rosiehsmith commented on #7961
It appears that this was fixed by ustaxcourt/ef-cms#7927 and it hadn't been merged at the point that this bug was logged.

[2021-07-13 21:07] mmarcotte commented on #7961
Hmm, I was just able to make this happen in our Staging environment, which has the latest and greatest.

[2021-07-14 12:21] JessicaMarine opened #7966 "BUG: 13133-21 is still showing as `New` even after Petition has been served"
**Describe the Bug**
13133-21 is still showing as `New` even after Petition has been served

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod (case hasn't been copied to mig yet)

**Who were you logged in as?**
Jessica Marine

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, et

[2021-07-14 12:28] JessicaMarine opened #7967 "BUG: Case JSON has noticeOfTrialDate when no Notice of Trial has been issued"
**Describe the Bug**
Case JSON has noticeOfTrialDate when no Notice of Trial has been issued

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod; able to replicate in mig

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**To Reproduce**
S

[2021-07-14 17:31] adunkman commented on #1477
What kinds of drills or ride-alongs should we be doing in the coming weeks? It would likely reduce the risk of failure and give us a chance to practice/update guides and checklists.

[2021-07-14 20:13] kkoskelin commented on #7951
Advanced syntax search documentation for engineers: ~~https://www.elastic.co/guide/en/elasticsearch/reference/6.8/query-dsl-query-string-query.html#query-string-syntax~~
After further review, would instead recommend the `simple_query_string` syntax that is extremely fault-tolerant: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#supported-fl

[2021-07-14 20:42] JessicaMarine commented on #7963
@rosiehsmith It seems that the issue is fixed for internal view:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/6e139006-3a69-4648-ac44-773999a32765)
and printable docket record:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/5230abfa-73da-4dff-aa0f-be7367ba4ff6)

**But the issue seems to still be persisting for the public view:**
![image.png

[2021-07-14 22:39] mmarcotte opened #1485 "Onboard Tenille Lenard"
Welcome to the team! 🎉 😎

#### Access to tools

- [x] GitHub — speak with your team lead to determine the appropriate repositories and levels of access in the [ustaxcourt](https://github.com/ustaxcourt) and [flexion](https://github.com/flexion) organizations.
- [x] [Slack](https://ustaxcourt.slack.com) — look for important channels to join in [How We Work](./how-we-work.md).
- [x] Zoom — speak wit

[2021-07-15 12:54] mmarcotte opened #7968 "BUG: Trial Session generated by Smoketests is throwing 400 error"
**Describe the Bug**

When trying to access the [December, 2022 Mobile Alabama Trial Session](https://app.test.ef-cms.ustaxcourt.gov/trial-session-detail/c7c79235-839a-4612-b4f3-1d9b9e45b752), you get a 400 error on the Test environment. This was a recently created (7/14/2021) by running smoketests in that environment. Cases were also added of course by the smoketests. It has recent production dat

[2021-07-15 15:24] kkoskelin commented on #7950
For discussion between engineers & design: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html

[2021-07-15 17:32] TomElliottFlexion commented on #7647
Went the route of moving around existing code to send service emails last in the flows involving uploaded PDF manipulation, rather than splitting out SES into its own endpoint.

[2021-07-15 17:38] mmarcotte commented on #1466
Took a little over 3 hours; bottleneck loading SQS from a local script. Ran with no errors.

Repo is published, and DDB table is in the Staging Account. I will have to adjust the IAM permissions to grant access from another account in order to read from the table.

Thanks Mark!

[2021-07-15 17:42] mmarcotte commented on #1223
@adunkman and @mmarcotte might have the original proposal from Flexion that may offer hints to these decisions. @JessicaMarine to help connect the dots with the proposal.

[2021-07-15 19:38] codyseibert commented on #7583
at hour ~14:50, I ran a load test using 50 users for 10 minutes against the court/migration environment.  Attached are the results.  Overall, the ES cluster didn't seem to be fully overwhelmed (max of 90% cpu usage).
![es-migration-rate-limiter-results](https://user-images.githubusercontent.com/1868782/125847355-eef277b6-97e4-4919-81d3-3682330450e9.png)
[es-migration-rate-limiter-results.pdf](http

[2021-07-15 19:39] kkoskelin commented on #7950
I don't know if it's captured in any search-related stories, but we have heard users ask whether or not their existing search results were getting further narrowed, e.g. applying more filters to a special set of search results already produced for them.

This is most definitely not the case, and I think we should do what we can to *not* give this impression.  In a few places the words "Narrow your

[2021-07-15 19:49] codyseibert commented on #7583
Some of the 400 errors are related to this error where number of pages is not defined because some legacy docket entries do not have s3 documents associated with them.  We will need to add a fix for this. ![Screen Shot 2021-07-15 at 3 48 49 PM](https://user-images.githubusercontent.com/1868782/125848614-6dc55f0e-3ee9-436b-acfa-4c21ccd555cd.png)

[2021-07-15 22:05] kkoskelin commented on #7950
Preliminary work to support searching for exact phrases can be found in the branch `8546-exact-phrase-search`.  Searching for exact phrases can be accomplished simply by enclosing them in double-quotes within the search field.

[2021-07-15 22:21] kkoskelin commented on #7951
https://github.com/flexion/ef-cms/issues/8546 contains the initial seeds that will support the requested boolean operators (and more)

I highly recommend that we encourage search-users to make use of the logic operators directly supported by the Elasticsearch tools (e.g. `-`, `+`, `|` and others) rather than attempt to provide support for the words `AND`, `OR`, `NOT`.  There lies the opportunity f

[2021-07-16 16:57] matthopson commented on #7781
Cody determined, you could use the keyboard to continue to submit the submit button - even when the spinner was being displayed.

This PR disables that as well as creates some state when a document is in the process of being served and prevents it from being served by two people at once (or from two separate tabs at the same time).

https://github.com/flexion/ef-cms/pull/8601

[2021-07-16 17:13] klohman commented on #7781
**UX review**

**From Add Docket Entry screen**
- when clicking enter multiple times on service action, app is throwing an error, then taking me to the docket record. No service emails are received
https://drive.google.com/file/d/1f8rZv76Qq25-PC1UefN_Tu0jHljNRwwk/view?usp=drivesdk

- when serving as normal (one click), no service email is received

[2021-07-16 17:31] mmarcotte commented on #7944
This occurred again on a deploy to `test` on Friday July 16th. Here are some observations:

First the trigger was disabled:

* Event Time: 2021-07-16T04:42:07Z
* CloudTrail EventID: 6fdf7252-2c75-4102-a61a-21862e60fbef

Circle reports this response back in the response from disabling the trigger:

* "LastModified": "2021-07-16T04:42:07.100000+00:00",

So those match up. Now observing the lambda's

[2021-07-16 17:33] cholly75 commented on #7963
Looks good!

Public view:
![image](https://user-images.githubusercontent.com/87043681/125985940-8e2a9077-814b-4e1e-ac05-c76af6bf30a8.png)

Internal user view:
![image](https://user-images.githubusercontent.com/87043681/125986060-c0c1eb31-23bd-47f3-9718-903da09ea9d8.png)

Docket record view:
![image](https://user-images.githubusercontent.com/87043681/125986193-ed7fc047-1571-4fb4-9061-9943b10c3127.p

[2021-07-19 14:38] klohman commented on #7950
## Order search tab
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/1ffdc936-e6ad-46ec-8cdc-50100a2b68c8)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/fe936b52-f76b-48ac-8476-09c2dfed1214)

keywords contained in quotes “[keyword keyword]” indicates exact match search

Considerations:
Stopwords
how do we handle stopwords? Is it possible to k

[2021-07-19 15:32] klohman commented on #7950
## Test cases

expected results
results include all keywords in exact order
results do not include documents with keywords not in exact order
exact match found in document title and contents
exact match found in document title but not document contents
exact match found in document contents but not document title
exact matches with stopwords
exact matches with special characters * moving this to a

[2021-07-19 16:34] cholly75 opened #7969 "Order Search: OR keyword search"
As a Court employee, in order to locate the most relevant documents, I need to have more control over how my keyword search is executed.

## Pre-Conditions

## Acceptance Criteria
* User is able to search using multiple keywords/phrases using the equivalent of boolean operator “OR” and retrieve results containing EITHER keyword/phrase (including exact match)
* When run on full data set, searches r

[2021-07-19 16:46] cholly75 opened #7970 "Search: NOT keyword search"
As a Court employee, in order to locate the most relevant documents, I need to have more control over how my keyword search is executed.

## Pre-Conditions

## Acceptance Criteria
* User is able to search using multiple keywords/phrases using the equivalent of boolean operator “NOT” and retrieve results CONTAINING one keyword/phrase (including exact match) and EXCLUDING another keyword/phrase
* Wh

[2021-07-19 19:50] cholly75 opened #7971 "BUG: Cannot Create or Edit Trial Session Time to values between 12:00 PM - 12:59 PM"
**Describe the Bug**
When creating or editing a Trial Session, when "12" is entered in the hours field for the Time, it will always change the AM/PM data on the Trial Session to "a.m." Attempting to use the AM/PM radio buttons to switch to "p.m." does not work, and the change is ignored. This happens regardless of the value entered in the minutes field for the Time.

**Business Impact/Reason for S

[2021-07-19 21:20] JessicaMarine opened #7972 "Judge: Ability to add/edit/delete deadlines"
As a Judge, in order to fully manage my caseload, I need the ability to add/modify/delete deadlines.

## Pre-Conditions

## Acceptance Criteria
* Judge has the ability to add/edit/delete deadlines
Questions to probe -- who can see these deadlines; can judge only add/edit/delete deadlines on his/her cases
* These "judge" deadlines do not impact calendaring of cases for trial.

## Mobile Design/Cons

[2021-07-19 21:30] cholly75 opened #7973 "BUG: Location and AM/PM radio buttons on Trial Session do not indicate selection"
**Describe the Bug**
When clicked, the radio buttons for Location (In Person/Remote) and Time (am/pm) do not reflect their selection in the UI. Although data appears to be saved, there is no visual indication that the button has been clicked.

**Business Impact/Reason for Severity**
There is no indication to the user which value has been selected for the Trial Session.

**In which environment did

[2021-07-20 14:01] mmarcotte opened #7974 "BUG: Error encountered trying to completely disjoin a Consolidated Case"
**Describe the Bug**

Observed the following error in the error logs

It appeared to be happening on a `DELETE` request to: `/case-meta/4503-17/consolidate-case?docketNumbersToRemove=4503-17%2C4504-17%2C4506-17%2C14378-17`

It appears this case is associated with three others. The docketclerk attempted to disjoin them all, and the resultant request errored out. It appears to be because the request

[2021-07-20 15:22] mariahkannenberg opened #7975 "Order Search: Exact match + petitioner name"
## Pre-Conditions
ustaxcourt/ef-cms#7950

## Acceptance Criteria

New Story:
ustaxcourt/ef-cms#6491
* If search keyword and petitioner name, matches need to be sorted as:
  * Keyword exact match (exact words in exact order) + petitioner name [exact words in exact order]
  * Keyword exact match (exact words in exact order) + petitioner name [exact words in any order]
 * If search keyword and petiti

[2021-07-20 15:43] mariahkannenberg opened #7976 "ClamAV: Monitor of Services"
As a development team, to ensure that all files can be scanned with ClamAV, we need an AWS ECS configured in Fargate to properly and effectively scan documents for viruses. (See Spike ustaxcourt/ef-cms#7212)

## Pre-Conditions
ustaxcourt/ef-cms#7977
ustaxcourt/ef-cms#7234

## Acceptance Criteria
* Court tech lead can load health check UI and know if there's issues with the ClamAV service

## Mobil

[2021-07-20 15:47] mariahkannenberg opened #7977 "ClamAV: Update user/polling"
As a user, if the document I'm uploading has a virus, I want to be notified.

Update the UI to poll for the virus status of their uploading documents

## Pre-Conditions
ustaxcourt/ef-cms#7234

## Acceptance Criteria
* User is notified if their file is rejected if a virus is detected
* If file is rejected, do not create a docket entry
* Current flow of uploading documents should remain as is

## Mo

[2021-07-20 15:58] mariahkannenberg commented on #7234
This story is being put back in the backlog due to a shift in prioritization. We also broke it out into multiple stories. ustaxcourt/ef-cms#7976 ustaxcourt/ef-cms#7977 ustaxcourt/ef-cms#7978

[2021-07-20 16:04] mariahkannenberg opened #7978 "ClamAV: Get Terraform CICD set up"
## Pre-Conditions

## Acceptance Criteria
* New versions of ClamAV is packaged and deployed every deployment

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does this work make major changes to the system?
 - [ ] Does this work implement new authenti

[2021-07-20 18:44] #7920 closed, assigned to nobody

[2021-07-20 18:44] #7896 closed, assigned to rosiehsmith, mrinsin

[2021-07-20 18:44] #7926 closed, assigned to rachaelparris

[2021-07-20 18:44] #7736 closed, assigned to matthopson

[2021-07-20 18:44] #7938 closed, assigned to matthopson

[2021-07-20 18:44] #7946 closed, assigned to matthopson

[2021-07-20 18:44] #7958 closed, assigned to mrinsin

[2021-07-20 18:45] #7940 closed, assigned to kkoskelin

[2021-07-20 18:45] #7943 closed, assigned to codyseibert, kkoskelin

[2021-07-20 18:45] #7927 closed, assigned to rachaelparris

[2021-07-20 18:46] #7579 closed, assigned to matthopson

[2021-07-20 18:46] #7798 closed, assigned to sutt0n, cnelsonflexion, TomElliottFlexion

[2021-07-20 18:46] #7553 closed, assigned to rachaelparris

[2021-07-20 18:46] #7700 closed, assigned to nobody

[2021-07-20 18:46] #7947 closed, assigned to matthopson, TomElliottFlexion

[2021-07-20 19:09] JessicaMarine opened #7979 "BUG: Oldest items not showing in Petitions' section Inbox or In Progress Box"
**Describe the Bug**
There are at least two paper cases -- 5936-21 and 8092-21 -- that should be in the Petitions' section In Progress box that are not.  As a result, they never got served.

**Business Impact/Reason for Severity**
Petitions are not getting served; taxpayers could be assessed prematurely

**In which environment did you see this bug?**
Prod; able to reproduce in `mig`

**Who were yo

[2021-07-20 19:27] cholly75 opened #7980 "BUG: Checkbox to add Petitioner Counsel doesn't work"
**Describe the Bug**
When attempting to add a Petitioner Counsel to a Case, the checkbox for doing so does not indicate that it has been selected. If the checkbox is clicked and then the Add to Case button is clicked, the Petitioner Counsel is saved correctly.

This issue does not exist in production; need to make sure we do not introduce it with the next deployment.

**Business Impact/Reason for

[2021-07-20 20:10] klohman opened #7981 "BUG: Unable to retrieve case by searching petitioner name"
**Describe the Bug**
Bug was reported by Jen Preston.

Per Jen's email:
In this case I couldn’t find the case by party name only docket number.  But all I had to start was the party name.  Our case was settled by stipulated decision which is why there isn’t an opinion that was referenced.  What I ended up doing was tracking down the district court file where our stipulated decision order was attac

[2021-07-20 20:13] cholly75 opened #7982 "SPIKE: Elastic Search Special Character Usage"
As a DAWSON project member, I need to understand the relationship between 'special characters' (. - , ' ; : () * & ) and how Elastic Search parses these characters in a query and a content context so that I can effectively design and code search.

Timebox: 4 hours

Some reference to help:

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#supp

[2021-07-21 13:49] #7966 closed, assigned to rosiehsmith

[2021-07-21 13:54] mmarcotte commented on #7966
It's a mystery. No other API calls should have changed the status back to New. Changing its status from New to General is one of the first things serving the petition to the IRS does. So, something else afterwards in that process must have reverted that. It's not evident how. Should this happen again, we would want to compare the two requests.

Another tool that may help in troubleshooting would b

[2021-07-21 18:40] mrinsin commented on #7982
1. Using the `whitespace` tokenizer in a custom analyzer would return results for search keywords containing special characters, as opposed to ignore special characters (like it is currently built to do).
2. When searching a field that is NOT analyzed, reserved characters can be escaped with a backslash, or if an exact match on the keyword is required, the keyword can be wrapped in double-quotes.

[2021-07-21 19:35] codyseibert commented on #7928
I think to implement an effective solution, we need to first work on ustaxcourt/ef-cms#7933

[2021-07-21 21:00] ericsorenson commented on #7979
Original filtering story: https://github.com/flexion/ef-cms/issues/1335

### Integration test cases:

#### Petitions Clerk:

- Petitioner1 creates petition
  - PetitionsClerk1 can't view petition in my inbox
  - PetitionsClerk1 views petition in section inbox
  - PetitionsClerk1 can't view petition in my in progress box
  - PetitionsClerk1 can't view petition in section in progress box
  - Petitio

[2021-07-22 13:15] JessicaMarine opened #7983 "Court: Remove Notice of Change of Address/Phone/Both from eFiled document list"
As the Court, in order to avoid petitioners and/or practitioners from eFiling a stand-alone Notice of Change of Address/Phone/Both, we need to remove those documents from the list of available eFiled documents.

When the Court updates a petitioner's or practitioner's contact information, that auto-generates a Notice of Change of Address/Phone/Both.  We want petitioners and practitioners to update

[2021-07-22 14:44] JessicaMarine opened #7984 "BUG: Quick fix for Petitions' Inbox/In Progress box"
**Describe the Bug**
A clear and concise description of what the bug is.
The Court needs a quick fix for https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/8625

**Business Impact/Reason for Severity**
Petitions are not getting served; taxpayers could be assessed prematurely

**In which environment did you see this bug?**
Prod; able to reproduce in `mig`

[2021-07-22 15:03] klohman commented on #7955
## Less than max results

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/f9541722-ed86-4067-bcb5-7695eba895e4)

## Max results

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/fe0102a2-c4df-4585-8e77-ff759ca40602)

* update max results warning language (for order search and case search)

[2021-07-22 15:07] klohman commented on #7955
## Test cases

#### 1) User sees total results count for result set fewer than 100
* Enter search term
    * Search term should trigger fewer than 100 results
* Click search
Expected results
- [ ] UI displays total result as “[xx] match(es) shown”

#### 2) User sees total result count for result set larger than 100
* Enter search term
    * Search term should trigger more than 100 results
* Click

[2021-07-22 16:21] ericsorenson commented on #7984
https://github.com/ustaxcourt/ef-cms/pull/1516

[2021-07-22 17:41] matthopson commented on #7954
I believe these AC are already met. Going to move to UX review so that it can be reviewed alongside the other search story (#8546).

[2021-07-23 14:36] cholly75 opened #7985 "BUG: Data validation firing when editing a Docket entry type to "Order""
**Describe the Bug**
When editing a docket entry to the type of "Order", the data validation requiring a selection for Service (Served||Entered and Served) is preventing the entry from being saved.

**Business Impact/Reason for Severity**
Cannot save a docket entry that has been edited to type "Order" - data validation prevents this (see attached screenshot).

**In which environment did you see th

[2021-07-23 14:42] JessicaMarine commented on #7984
@ericsorenson When you click on a Petition from the Petition Section Inbox, you get a blank white screen.  It doesn't seem to be routing correctly.  This same issue does *not* seem to be present when clicking on a Petition from the In Progress box. This seems to only be happening with Petitions added from smoke tests.  Thoughts?

[2021-07-23 15:56] klohman commented on #7950
UX review:
Searches with special characters are not working 100%

example:
- I created two orders, one with TC Memo 2020-1 in title, the other with T.C. Memo. 2020-1 in the title.
- When i search "TC Memo 2020-1", I get the correct order back. When i search "T.C. Memo 2020-1" i get no results. I believe this is due to the way the period is being handled.

This should be addressed in the story hand

[2021-07-23 16:23] klohman commented on #7951
- Keyword AND keyword in document title and contents
- Keyword AND keyword in document title only
- Keyword AND keyword in contents only

- “Exact match Keyword phrase” AND keyword in document title and contents
- “Exact match Keyword phrase” AND keyword in document title only
- “Exact match Keyword phrase” AND keyword in document contents only

- “Exact match Keyword phrase” AND “Exact match keyw

[2021-07-23 17:24] cholly75 commented on #7950
Search checkout returned good results when checking exact match vs. non-exact, including filters!

Two things:

1) UI for the search fields display incorrectly on my browser UI:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/cecc58f6-d3a5-4d8b-a0c0-9e0414ec1af0)

2) It appears that the Caption+Docket# on the order is indexed as content when the document is a legacy PDF

[2021-07-23 20:40] cholly75 opened #7986 "Order Search: Case Caption and Docket# section of DAWSON-generated/created content should be searchable content"
As a user, in order to get consistent expected search results I would like the content in the Case Caption and Docket # portion of the Order document to be factored in when determining search results.

## Pre-Conditions

## Acceptance Criteria

- Text in the Case Caption portion of the Order document is searchable content
- Text in the Docket # portion of the Order document is searchable content
-

[2021-07-23 20:55] cholly75 opened #7987 "Order Search: Special Character Usage"
As a user, I need to use commonly used special characters -, &, and . as literal characters when searching for content so that I can find documents that include these characters as part of names or text.

## Pre-Conditions

## Acceptance Criteria

- Both exact and non-exact match search types accommodate the use of these characters (dash, ampersand, period)
- Using these characters literally has n

[2021-07-23 21:04] JessicaMarine opened #7988 "Court: Content Changes Needed to Notice of Receipt of Petition"
As the Court, in to incorporate remote proceedings into our longer term procedures, we need to make content changes to the Notice of Receipt of Petition.

## Pre-Conditions

## Acceptance Criteria
* New content changes should match: [https://app.zenhub.com/files/152320868/36cca211-ed43-496e-8359-dc5d71c7a6a1/download](https://app.zenhub.com/files/152320868/36cca211-ed43-496e-8359-dc5d71c7a6a1/down

[2021-07-23 21:11] JessicaMarine opened #7989 "Court: Re-implement Notice Setting Case for Trial for In-Person Proceedings"
As the Court, in order to return to in-person proceedings, we need to re-introduce a Notice Setting Case for Trial for in-person proceedings

## Pre-Conditions

## Acceptance Criteria
* If a case is set for trial at a **IN-PERSON** session as part of the automated scheduling process, the Notice Setting Case for Trial should match the following content: [https://app.zenhub.com/files/152320868/b30ca

[2021-07-26 15:19] klohman commented on #7969
- Keyword OR keyword in document title and contents
- Keyword OR keyword in document title only
- Keyword OR keyword in contents only

- “Exact match Keyword phrase” OR keyword in document title and contents
- “Exact match Keyword phrase” OR keyword in document title only
- “Exact match Keyword phrase” OR keyword in document contents only

- “Exact match Keyword phrase” OR “Exact match keyword phr

[2021-07-26 18:01] JessicaMarine opened #7990 "Court: Content Changes for SPTO (Regular Cases) - Release with 8663"
As the Court, to incorporate longer-term procedures for both in-person and remote proceedings, we need to make content changes to the Standing Pretrial Order.

## Pre-Conditions

## Acceptance Criteria
* New content changes (starting underneath the case caption/docket number) should match: [https://app.zenhub.com/files/152320868/b8aba75f-c76f-4a05-b362-a8b08bbdc7c7/download](https://app.zenhub.com

[2021-07-26 18:02] JessicaMarine opened #7991 "Court: Content Changes for SPTO for Small Cases - Release with 8662"
As the Court, to incorporate longer-term procedures for both in-person and remote proceedings, we need to make content changes to the Standing Pretrial Order for Small Cases.

## Pre-Conditions

## Acceptance Criteria
* New content changes should match: [https://app.zenhub.com/files/152320868/988d7eea-a0ea-4a16-9d49-627c25b116d0/download](https://app.zenhub.com/files/152320868/988d7eea-a0ea-4a16-9

[2021-07-27 12:56] ttlenard commented on #1485
*Note: The README links above don't seem to be working.

[2021-07-27 13:56] mmarcotte opened #7992 "BUG: Indexing does not complete after Blue/Green Migration"
**Describe the Bug**

The last three deployments have resulted in ES indexes that are incomplete. On a production sized data set, the total document count was only around 10 million, and it should have been above 12 million. Items are missing from every index; it's not just one. Can we replicate this with a smaller data set?

At first I thought it was stopping prematurely, but now I'm wondering if

[2021-07-27 15:10] codyseibert commented on #7987
Notes from discussion

Search term: "coca cola"
should not return any documents that only have "Coca-Cola"

Search "T.C. Memo"
Search "TC Memo"
Search "TC. Memo"
Document has "T.C. Memo" in Title

[2021-07-27 16:57] #1466 closed, assigned to mmarcotte, mark-meyer

[2021-07-27 17:12] mmarcotte opened #1528 "Populate OCR'ed text into Production Environment"
... for the docket entries

[2021-07-27 17:16] mmarcotte opened #1529 "Follow up with Mike McVicker about seats for Zendesk"
- [ ] How many do we have available?
- [ ] Can we get Chris Holly an account?

[2021-07-27 17:16] #1476 closed, assigned to mmarcotte, JessicaMarine

[2021-07-27 17:20] mmarcotte opened #1531 "Fix onboarding templates"
- [ ] The readme links are dead!

[2021-07-27 17:23] adunkman commented on #1223
Next up is getting the blue/green migration approach documented

[2021-07-27 17:28] mmarcotte opened #1532 "Reindex an index without a Blue/Green Migration"
@mmarcotte to follow up with more information here...

Small spike to dig into how we could leverage aliases for indexes. This may allow us to re-index to another index, and then point our alias to that newly reindexed index. and have no downtime.

[2021-07-27 17:33] mmarcotte commented on #1477
https://github.com/ustaxcourt/ef-cms/issues/1532

[2021-07-28 12:54] matthopson commented on #7944
@mmarcotte Just wanted to check back on this and see if we've heard anything from AWS?

[2021-07-28 14:14] mariahkannenberg commented on #7970
Block - hold until after usability testing

[2021-07-28 14:15] mariahkannenberg commented on #7956
Blocked - Hold until after usability testing

[2021-07-28 15:53] mmarcotte commented on #1477
Items from Flexion:

- PR review for bugs
- PR review for stories
- Batch PR review
- Production merges/deploys
- Reindexing ES data on the court env
- Glue jobs; especially things we don’t know about
- Getting access to certain things for development
- Reproduce, document and troubleshoot bugs

[2021-07-28 19:40] mariahkannenberg commented on #7986
Do users expect to search for newest caption or old captions?
Do users care about caption or are they wanting to search by party?

As a user, so that I can search for and find documents with old case captions, I need the ability to search by old case captions.

old  = not current case title

[2021-07-28 22:36] cholly75 opened #7993 "BUG: Header wraparound using Microsoft Edge"
**Describe the Bug**
In some cases, when court users view DAWSON on the Order Search screen using the Microsoft Edge browser, the header navigation wraps and the Reports link moves to the left side of the screen:

**Business Impact/Reason for Severity**
Changing persistent navigation is disorienting and can cause confusion for the user

**In which environment did you see this bug?**
MIG

**Who wer

[2021-07-29 13:49] cholly75 commented on #7949
@mariahkannenberg Added more specific metrics; this is more of a comprehensive list than what we actually need to go live internally, so I'd like to discuss with dev to see if there are logical groupings here that make sense to split out into different stories and narrow down what we actually think is most feasible/important for go-live.

[2021-07-29 14:05] mariahkannenberg commented on #7986
Blocked - need to create test cases

[2021-07-29 14:24] cholly75 commented on #7988
Moving this up in priority, as it's possible that we'll get the order to implement this on very short notice; @mariahkannenberg can we get this done and put the change behind a feature flag so the work is completed and we can just flip it on when required? If not, we'll just have to be ready to swarm on it for rapid deployment.

[2021-07-29 15:05] klohman commented on #7986
## Draft Test Scenarios

**test data**
Order 1
- Welcome to flavortown - old case caption
- Guy Fieri - new case caption
- Order content does not contain Welcome to flavortown
- Order title does not contain Welcome to flavortown
- Order contents contains word - “magic”

Order 2
- Guy Fieri - old case caption
- Welcome to flavortown - new case caption
- Order content does not contain Welcome to fla

[2021-07-29 15:46] matthopson commented on #7992
This has been merged to Court's test env via https://github.com/ustaxcourt/ef-cms/pull/1535

[2021-07-29 16:20] matthopson commented on #7992
Mark confirmed counts were accurate with a deploy with this change.

[2021-07-29 16:48] cholly75 opened #7994 "Order Search: Non-Keyword/Phrase Searches"
As a user, I would like to be able to search for orders or opinions without having to enter a keyword or phrase.

## Pre-Conditions

## Acceptance Criteria

- Search results filtered by Judge can be delivered without the user entering any other criteria
- Search results filtered by Date Range can be delivered without the user entering any other criteria
- Search results filtered by Case Title/Peti

[2021-07-29 18:10] matthopson commented on #7950
This is on mig, but is awaiting a re-index to test.

[2021-07-29 19:22] matthopson commented on #7968
Just adding some thoughts on this.

It's probably not the trial session that's to blame here, as this issue crops up when there are duplicate trial sort tags for a given case. I'd also add it's possible the smoke test isn't responsible, and maybe just exposed it. I'd kinda like to try and query the db for duplicate trial sort records that may have come over from prod.

[2021-07-29 19:22] codyseibert commented on #7968
![Screen Shot 2021-07-29 at 3 22 43 PM](https://user-images.githubusercontent.com/1868782/127553270-4d285607-66a9-4e65-9331-341df8071d70.png)

We think the only case that is potentially broken is 12449-20 because it has 4 mapping records which results in duplicate batchGet requests.

[2021-07-29 19:28] matthopson commented on #7968
We were able to reproduce the issue by reverting the bug fix from https://github.com/ustaxcourt/ef-cms/pull/1303 and unsetting high priority status on a case. This would have been how cases were probably getting into this state when we originally looked at this bug (but didn't find it).

The fix we implemented ensured we couldn't have duplicates, as existing records would be queried and deleted be

[2021-07-29 19:40] cholly75 opened #7995 "Court: New Document Needed To Support Remote Proceedings"
As the court, in order to support remote proceedings as a long-term option, we need to add the "Motion to Proceed Remotely" as a new document option in DAWSON.

## Pre-Conditions

## Acceptance Criteria

- The Motion to Proceed Remotely should be available for all parties to eFile
- The Motion to Proceed Remotely should be available for Docket users to add as a paper filing if necessary
- The Moti

[2021-07-29 21:01] cholly75 opened #7996 "BUG: Document Title Has Duplicate Text"
**Describe the Bug**
For docket 9261-17, three entries (162/163/164) have duplicate text in their titles; the document reflects this as well, however when viewing the Edit screen for the entry, the correct title is shown in the dropdown list for the "Which document are you redacting?" field. Additionally, multiple notices of docket change were generated for these entries.

**Business Impact/Reason

[2021-07-30 14:46] klohman commented on #7957
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/1e8876d5-9855-41ef-a954-4f50be426ec0)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/34597c13-a4b9-4451-9697-ed1abab433ae)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/a34c1ba7-23b9-4546-b7de-c4bb541f7b5c)

[2021-07-30 15:41] adunkman commented on #7968
The duplicate key error is present only when there are duplicate `eligible-for-trial-case-catalog` records with different Case Types AND different Case Priority Symbols.

[2021-07-30 16:32] ttlenard commented on #1485
Update as of 7/30/21

- I have a Zoom account

Open requests to Mike MicVicker include:
- Slack Desktop Client
- TextExpander
- Visual Studio Code
- Google Suite (then I can get the ZenHub browser extension)

[2021-07-30 18:01] ttlenard opened #7997 "BUG: Checkboxes on Section QC page don't work"
**Describe the Bug:**
Found this in the MIG environment.

The Checkbox in the Section Document QC is not registering as being checked. In the screen shot below, you can see that I have 3 cases selected, but they are not registering.

I can still assign these cases to someone, but it doesn't appear that they are checked. I saw a related bug in Zenhub. 8626 - but that was for checkboxes for the peti

[2021-07-30 18:28] #7997 closed, assigned to nobody

[2021-07-30 18:29] ttlenard opened #7998 "BUG: Checkboxes on Section QC Page are not working"
**Describe the Bug**
The Checkboxes in the Section Document QC are not registering as being checked.  In the screen shot below, you can see that I have the top 3 cases selected, but the checkbox is not registering.

**Business Impact/Reason for Severity**
We have confirmed that this issue is NOT happening in Production, so if this bug is not addressed with the next deploy, it will introduce this b

[2021-07-30 19:13] JessicaMarine commented on #7990
Very minor feedback on the Standing Pretrial Order:
- Can we try to bump the text size up just slightly on the entire first 3 pages.  It just looks too small to me.
- The 3rd and 4th underlined lead-in sections (Electronic Filing (eFiling) and Communication Between the Parties -- it looks like the period is an extra space away.  Please delete that extra space.
- The spacing on the numbered paragra

[2021-07-30 19:14] JessicaMarine commented on #7991
Feedback:
- In the box, can we break the text after "at" so that the bolded time and date are on a new line -- we'll want to do the same on the regular Standing Pretrial Order
- Increase the font size across the first 4 pages slightly
- The spacing is off across the entire first 4 pages.  It looks like it is 1.5 line spacing instead of 1.  Let's try to make it spaced more like the regular Standing

[2021-07-30 20:36] cholly75 commented on #7989
@rachelschneiderman Looks good, I think there's one issue with the in person version of the Notice Setting Case for Trial - in graf 2/line 1, there's a space missing between the words "parties" and "request" that needs to be corrected:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/21b5efb5-2af5-4689-b89e-e7c8e5b8d9c2)

Something else came up when testing the in person

[2021-07-30 20:56] rosiehsmith commented on #7998
This is due to a bug with USWDS's radio buttons and checkboxes: https://github.com/uswds/uswds/issues/4251

Looks like USWDS just fixed this issue today. https://github.com/uswds/uswds/pull/4262/files

[2021-07-30 22:29] matthopson commented on #7988
https://github.com/flexion/ef-cms/pull/8696

[2021-08-02 12:19] JessicaMarine commented on #7991
@TomElliottFlexion Some additional feedback:
- Please switch the last two words of paragraph 7(f) to `numbering pages`
- Please check the spacing after each period.  It can be 1 or 2 spaces, but it should be consistent throughout the entire document

[2021-08-02 12:22] JessicaMarine commented on #7990
@TomElliottFlexion Some additional feedback:
- For paragraph 3, there should be a line added before subpar. A between subpar. A & B
- In paragraph 7, there is an extra space between the opening parens and www.ustaxccourt.gov
- In paragraph 7, please switch the last two words to `numbering pages`
- Please check the spacing after each period.  It can be 1 or 2 spaces, but it should be consistent thr

[2021-08-02 13:38] mariahkannenberg commented on #7987
Blocked - Batch 5 still on migration. Need to test with data. Deploy to test?

[2021-08-02 14:14] mariahkannenberg commented on #7968
Blocked - waiting for Mike to return.

[2021-08-02 14:23] adunkman commented on #7968
[The discussion thread in Slack](https://ustaxcourt.slack.com/archives/C015SEE9CUU/p1627656751001500) contains the context and suggested fix, leaving a breadcrumb for Mike later. 😄

[2021-08-02 14:34] mariahkannenberg commented on #7989
Check content for consistency in spacing after periods. @rachelschneiderman

[2021-08-02 15:17] matthopson commented on #7988
@klohman @cholly75 Here is the updated document template as generated by our template generator tests.
[https://app.zenhub.com/files/152320868/cce7b504-d558-43b4-bd8a-3d1e254d033d/download](https://app.zenhub.com/files/152320868/cce7b504-d558-43b4-bd8a-3d1e254d033d/download)

And just for comparison here is the current document template generated by the same test suite.
[https://app.zenhub.com/fil

[2021-08-02 15:18] TomElliottFlexion commented on #7990
An updated PDF: [https://app.zenhub.com/files/152320868/cff76f81-e44e-4df4-8dd7-1eb27399a51a/download](https://app.zenhub.com/files/152320868/cff76f81-e44e-4df4-8dd7-1eb27399a51a/download)

[2021-08-02 15:36] TomElliottFlexion commented on #7991
An updated version of the Order for small cases: [https://app.zenhub.com/files/152320868/bab80ac5-a519-4e8f-85d1-40067e9a33b6/download](https://app.zenhub.com/files/152320868/bab80ac5-a519-4e8f-85d1-40067e9a33b6/download)

[2021-08-02 16:20] #7982 closed, assigned to mrinsin

[2021-08-02 17:46] cholly75 commented on #7988
@matthopson @klohman Looks good!

[2021-08-02 18:38] #7984 closed, assigned to ericsorenson

[2021-08-02 18:38] #7925 closed, assigned to sutt0n, codyseibert

[2021-08-02 18:38] #7942 closed, assigned to mrinsin

[2021-08-02 18:38] #7961 closed, assigned to rosiehsmith

[2021-08-02 18:38] #7962 closed, assigned to kkoskelin

[2021-08-02 18:38] #7964 closed, assigned to kkoskelin

[2021-08-02 18:38] #7960 closed, assigned to kkoskelin

[2021-08-02 18:38] #7963 closed, assigned to rosiehsmith

[2021-08-02 18:56] mariahkannenberg commented on #7988
BLOCKED - Waiting for batch 5 to get off of mig.

[2021-08-02 19:37] kkoskelin opened #7999 "BUG: File Limit not enforced in PetitionQcScanBatchPreviewer.jsx"
**Describe the Bug**
The file at `web-client/src/views/PetitionQcScanBatchPreviewer.jsx` does not currently contain the "limitFileSize" call used elsewhere.  See `web-client/src/views/ScanBatchPreviewer.jsx` for an example.
these should *all* have file limits on them per issue ustaxcourt/ef-cms#7231.

Possibly consider creating a USTC-ish File component that automatically checks for file size limi

[2021-08-02 20:17] klohman commented on #7991
@TomElliottFlexion Couple of things on SPTO:

* add space between for and summary here "forSummary"

![Screen Shot 2021-08-02 at 4.06.17 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/619be688-b6d5-4b78-9e6d-92d182f8694d)

* add space to break up "toProceed" here
 ![Screen Shot 2021-08-02 at 4.07.31 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/a67010

[2021-08-02 20:50] cholly75 opened #8000 "Court: Content Changes for SPTO/Pretrial Memo - Chambers Phone # - Release with 8662 and 8663"
As the court, I need to provide accurate information on the Standing Pretrial Order and attached Pretrial Memorandum for in-person trials, so that recipients can reach the presiding judge's chambers by telephone.

## Pre-Conditions

## Acceptance Criteria
- User is able to enter their phone number for in-person hearings

- On the last page of the SPTO for in-person trials, the telephone number und

[2021-08-03 13:17] ttlenard opened #8001 "BUG: E-filed documents are not getting cover sheet and are not registering a page count"
**Describe the Bug**
Reported by a Docket Clerk on PROD:
In docket number 7762-16 entry ustaxcourt/ef-cms-flexion#56 a Status Report was filed but has 0 pages scanned. If I hit "complete QC" an error message comes up. The parties did file another Status Report the same day at entry no. 57.

Entry no. 57 is the same document, and there is no issue.  Not sure how entry 56 happened, or what to do wit

[2021-08-03 13:18] ttlenard opened #8002 "BUG: E-filed documents are not getting cover sheet and are not registering a page count"
**Describe the Bug**
Reported by a Docket Clerk on PROD:
In docket number 7762-16 entry ustaxcourt/ef-cms-flexion#56 a Status Report was filed but has 0 pages scanned. If I hit "complete QC" an error message comes up. The parties did file another Status Report the same day at entry no. 57.

Entry no. 57 is the same document, and there is no issue.  Not sure how entry 56 happened, or what to do wit

[2021-08-03 13:19] #8001 closed, assigned to nobody

[2021-08-03 14:15] mariahkannenberg commented on #7968
Mike deleted the record, but needs to verify. Andrew to reach out to Mike.

[2021-08-03 14:16] mariahkannenberg commented on #7992
Andrew merged PR to test.

[2021-08-03 14:17] mariahkannenberg commented on #7992
@adunkman to test w/@Tenille

[2021-08-03 14:20] mariahkannenberg commented on #7998
Failed smoke tests in USTC test env. @adunkman To perform manual color switch. Fix is now visible. Tenille to verify.

[2021-08-03 14:52] matthopson commented on #7949
@cholly75 @mmarcotte  I don't want to prescribe a solution here as the team may have some better ideas - but Google Analytics / custom events feels like a great option to explore with this. What is the likelihood that it could be considered?

[2021-08-03 14:56] klohman commented on #8000
## Add Trial Session form

**Chambers phone number**
* Add “Chambers phone number” field
* Field is optional when creating trial session

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8f056232-648f-40e3-94b4-1a37e4357d12)

## Edit Trial Session form

**Chambers phone number**
* Add “Chambers phone number” field
* Field is optional when editing trial session

![image.pn

[2021-08-03 16:13] cholly75 opened #8003 "Court: Activate Changes to Notice of Receipt Of Petition (8652)"
As a user, so that I may be see the changes to the notice of receipt of petition, I need the changes to be live in the production environment.

This is a story to track making the changes made in story 8652 active in the live DAWSON environment; they will be deployed but not active until the Court has authorized returning to in-person trial sessions.

***Update:** there is an additional change to

[2021-08-03 16:14] cholly75 commented on #7988
@matthopson Story 8714 has been added to track activating these changes in the live DAWSON environment when appropriate.

[2021-08-03 16:19] matthopson commented on #7988
Thanks!

[2021-08-03 16:19] klohman commented on #8000
### 8707 Test cases

#### 1) Petitions clerk adds in-person trial session with chambers phone number.
Expected results
- [x] Chambers phone number field displays as optional on Add Trial Session form

#### 2) Petitions clerk edits  in-person trial session and adds chambers phone number.
Expected results
- [x] Chambers phone number field displays as optional on Edit Trial Session form

#### 3) Cour

[2021-08-03 17:56] ttlenard opened #8004 "BUG: Cover sheet is not getting updated with the "Additional Info 1" data (after I check the box to add to cover sheet) while completing QC on a document as a Docket Clerk"
**Describe the Bug**
The cover sheet is not getting updated with the information that I enter into the "Additional Information 1" field when I check the box to "add to cover sheet"

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
TEST and MIG.  Not sure if this is happening on PROD?

**Who were you logged in as?**
docketclerk1

**What were you doing when you

[2021-08-03 21:17] matthopson commented on #8002
We need better insight into what happened here. The current glue job on test / mig are older than this even so we only have what's on prod, and no access to logs.

If this is holding up anything on the case, we may need to address that issue directly - otherwise, there's very little that can be done in the way of debugging without more information (probably from Mike, or someone with access to pro

[2021-08-03 21:17] cholly75 commented on #7989
Hi @JessicaMarine When testing this again the in-person documentation looks good, when I checked the remote proceedings docs I found this as the header:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/9e3e9f9b-23b0-4565-bde0-f5248fa8df29)

Is that desired behavior, or do we still want the location and "Remote Proceeding" in the header of the PT memo for remote proceedin

[2021-08-03 21:29] cholly75 commented on #7989
@rachelschneiderman It looks like the remote proceeding version of the PT Memo lost the city/state and "Remote Proceeding" text on the header. This should be part of the header text in remote proceeding cases. The in person changes look good!

[2021-08-04 14:18] mariahkannenberg commented on #8002
Needs a glue job to recreate.
Also need access to production logs.

[2021-08-04 16:25] cholly75 opened #8005 "Search: Usability Improvement Package #1"
As a search user, I would like to make interacting with the search function and results in DAWSON more intuitive and user-friendly.

## Pre-Conditions

## Acceptance Criteria

- Search query can be executed by pressing the ENTER button the keyboard

- When a Docket number link is clicked from the returned search results list, the Docket screen displays in a new browser tab

## Mobile Design/Consid

[2021-08-04 16:37] klohman commented on #8000
Some small UI tweaks:
* on the trial session detail, can we increase the size of the Details card to align with the Assignments card (now that we've added some additional vertical space)

![Screen Shot 2021-08-04 at 11.02.15 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/03036b4f-a7c7-4185-a04b-9afb59793f10)

* On the SPOS/SPTO, can we increase the space between the judge si

[2021-08-04 17:10] cholly75 commented on #7949
@matthopson @mmarcotte I think we can at least consider it; I'd like to understand a few things around how to implement it, what sort of costs may be associated with it (as I understand it, there's a free version and a not-so-free version), care and feeding, etc. I will check with the CIO to see if there's anything he's aware of that might specifically proscribe against it.

[2021-08-04 17:45] cholly75 opened #8006 "Order Search Improvements (formerly flexion#8727)"
As a user, I would like to be able to see the maximum number of results of a given search query for Orders without having to click "Load More".

It is time. In addition to lifting the 100 result cap on Order Search, we would like to implement full spectrum sorting on the columns in the results table.

## Pre-Conditions

## Acceptance Criteria
* Order Search results no longer limits displayed resul

[2021-08-04 18:04] JessicaMarine opened #8007 "Court: Need accurate service information on docket record and document"
As the Court, we need to make sure that the service information on the docket record and on the document is accurate.

Judge Gale raised the issue of IRS counsel filing an Entry of Appearance in 21542-17L where petitioner gets paper service.  The docket record shows a served date and "B" indicating that both parties were served; and the Served stamp was added to the document cover page.  In this c

[2021-08-04 18:07] #8007 closed, assigned to nobody

[2021-08-04 18:59] cholly75 opened #8008 "Search: Implement Plain Language Boolean Operators"
As a DAWSON user, I would like to be able to use plain language to search using boolean functions in keywords/phrases so I can perform more accurate searches.

## Pre-Conditions

## Acceptance Criteria

- Queries parse AND in the keyword/phrase field as the equivalent of the logical function AND/Elastic Search operator +

- Queries parse OR in the keyword/phrase field as the equivalent of the logi

[2021-08-04 19:28] cholly75 opened #8009 "Search: Enable Proximity Search and Extenders"
As a DAWSON user, I would like to be able to search by keyword/phrase proximity and keyword/phrase extenders to perform more accurate searches.

## Pre-Conditions

## Acceptance Criteria

- Queries support multiple keyword/phrases with a certain proximity to each other in the searchable content

- Queries support the ability to specify a keyword/phrase as the initial part of a search string and re

[2021-08-04 20:00] cholly75 opened #8010 "Search: Contextual Search Results"
As a DAWSON user, I want to understand the context of my search query in the returned results.

## Pre-Conditions

## Acceptance Criteria

- Search results contain snippets or abstracts of returned content

- Abstracts contain the query keyword/phrase indicated to the user everywhere it appears in the abstract

- Abstracts contain at least one instance of the query keyword/phrase

## Mobile Design

[2021-08-05 14:29] klohman commented on #7949
@cholly75 Another tool we may be able to utilize is [Hotjar](https://www.hotjar.com/). There is a free option if we wanted to test it out. They can provide heatmaps (which I believe is also possible though Google analytics) but they also can provide actual recordings of user sessions. I've used this tool in the past and it can really provide a starting point for deeper user research.

[2021-08-05 14:44] cholly75 opened #8011 "BUG: Incorrectly sent emails to IRS"
**Describe the Bug**
A clear and concise description of what the bug is.
On 8/4 the IRS reported receiving 66 incorrect emails between 3:53 and 4:03 PM Eastern (reconciliation report attached). These are emails sent for petitions that were not in fact served. It is unknown whether this was the result of a failure to serve these petitions or if they were never attempted to be served.

Of note, ther

[2021-08-05 15:13] #8011 closed, assigned to nobody

[2021-08-05 15:44] cholly75 commented on #7949
Thanks @klohman !

I'm also wondering if Elastic Search has any OOB metrics/reporting that we can/should pair with a solution like GA or hotjar to get a comprehensive picture?

[2021-08-05 19:52] matthopson commented on #8004
Fixed with https://github.com/ustaxcourt/ef-cms/pull/1548

[2021-08-05 20:23] cholly75 opened #8012 "Search: Unified Search Field"
As a user, I would like to be able to search by keyword, phrase, case title, petitioner name, or docket number - or a combination of these - using a single field to type in my query.
## Pre-Conditions

## Acceptance Criteria

- Queries can be entered in a single field containing the keyword, phrase, case title, petitioner name, or docket number (and any combination of these) to obtain results.

-

[2021-08-06 13:48] klohman commented on #7986
![Screen Shot 2021-08-05 at 4.19.56 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/069373e3-13d9-4482-b0c2-8689cd9e9b76)

**Test 2 & 6**
* "Guy Fieri" as keyword
* returns Order 4 PDF Upload - PDF does not contain Guy Fieri. Guy Fieri is only in case title.
* Does not return Order 3 PDF Upload - which does contain Guy Fieri

![Screen Shot 2021-08-06 at 9.44.14 AM.png](https:

[2021-08-06 14:17] mariahkannenberg commented on #7968
Continue to hold for Mike.

[2021-08-06 16:28] klohman commented on #7986
@cholly75

Some info on the docket number field for searching:

**Case Search - Docket number search**
- Strip offs all letters
- Strips out leading zeros
- example: 123-20 will back 123-20W and vice versa

**Order Search - Docket number search**
- Does not strip off letters
- Does not strip off leading zeros
- Exact match only (123-20 will not bring back 123-20W orders)

[2021-08-06 20:04] codyseibert commented on #7986
While doing this work we found that some PDFs are scraped with additional spaces between the characters in words.  This is because the scrape code currently used is written to work well with a certain set of documents.  We saw that when Kristen created an order with Microsoft Word and upload it via the `upload pdf` feature in dawson, the contents was scraped like so:

{"documentContents":"\n\n Guy

[2021-08-09 13:16] cholly75 opened #8013 "SPIKE: Quill Replacement"
As the DAWSON application, I need to replace the current Quill rich text editor with an application that provides ongoing support so I can enable future development and iteration.

This story is a spike to research potential alternatives to our current Quill solution. Court preference is that a replacement should be open source and be appropriate for internal as well as potentially external users.

[2021-08-09 14:21] klohman commented on #8005
## Design Update for Search results

* Move docket number column to the far left of the search results table

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/4ec66021-27be-4cbb-a203-b5fb17bcc959)

[2021-08-09 14:31] klohman commented on #8005
## 8725 Test Cases

#### 1) Court user initiates a search using the Enter key
* Go to Order search
* Enter keyword
* Click Enter key
Expected results
- [x] Enter key triggers search
- [x] Search triggered by Enter key works the same as when triggered by Search button

#### 2) Court user clicks document link and views Order PDF in a new tab
* Go to Order search
* Run search query
* Click document l

[2021-08-09 18:27] klohman commented on #8005
Small nit - can we better align the Order document link in the table? It's slightly lower than the rest of the row content.

![Screen Shot 2021-08-09 at 2.25.16 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/2065cb7c-132c-4f80-8a51-f0271074da85)

[2021-08-09 22:39] cholly75 opened #8014 "Court: Prevent parties from being served case documents before the petition is served"
As a party in a case, so I can be served documents in logical order, I need my petition to be served before other documents in the case are served.

We have had issues with a docket clerk adding a paper filing to the docket record before the petition was served.  We have also had issues with a practitioner changing his/her contact information before a petition is served and the system generates a

[2021-08-10 13:03] ttlenard opened #8015 "BUG: Trial Session Problems - Buttons missing/not working appropriately"
**Describe the Bug**
The AM/PM radio button in the Create Trial sessions workflow is not functioning.  When I click on either button, it appears that nothing happens.  In addition, the radio button for Proceeding type of in person or Remote are also not working, but you can tell that something is happening, as the fields change when you attempt to click the buttons.

After I created the Trial sess

[2021-08-10 13:10] #7973 closed, assigned to nobody

[2021-08-10 16:27] klohman commented on #7994
### Design concept for updated search form

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/a9e4238d-2c0b-4c60-a2ff-bfa146488032)

**Judge field**
All judges selected as default

**Date range**
* "All dates" selected as default
* Other options to include
     * "Custom dates"
* On select of “Custom” - display Start date and End date fields (no change to functionality)

!

[2021-08-10 17:00] #1529 closed, assigned to mmarcotte

[2021-08-10 17:12] mmarcotte opened #1558 "Hire a new Dev/Ops Engineer to join the Team"
TODO:
- [x] Send Mark and Andrew the resumes of applicants
- [x] Tech lead and 18F meet to identify priority candidates
- [x] We coordinate the approach on Wednesday during 1 hour meeting.
- [x] Pre-Screen
- [x] Homework Assignment?
- [x] Interview
- [x] Hire them 🎉

[2021-08-10 17:19] mmarcotte opened #1559 "Polish documentation on running a Glue Job from Production to a staging environment"
We just want to make sure this is really straightforward and clear for how to initiate and complete a glue job of information from Production. Right now some gaps might be the recreation of the test users so that testers can login and ensure the system is working properly.

[2021-08-10 17:24] mmarcotte commented on #1532
Some discovery here with using aliases, which would be easy enough to implement. However, it would necessitate some downtime while the reindexing was occurring because it could not receive writes, ie those live writes would not get reindexed as the job will have already started.

[2021-08-10 19:22] ttlenard opened #8016 "BUG: As a Trial Clerk, I am unable to download all cases in a trial session"
**Describe the Bug**
Trial Clerks are unable to download all cases in their Session Copy of a Trial

Question for the Devs: Is this workflow in the automated smoketests?  Not sure if it should be?  Please advise.

**Business Impact/Reason for Severity**
Will be high severity once in person proceedings are back.

**In which environment did you see this bug?**
MIG
TEST

**Who were you logged in as?*

[2021-08-11 14:20] mariahkannenberg commented on #8002
Business questions for @cholly75:
* Can we manually remove bad data? Can't reproduce.
cc: @ttlenard

[2021-08-11 14:28] mariahkannenberg commented on #8015
Blocked - may be fixed when envs are updated.

[2021-08-11 14:50] klohman commented on #7994
## 8682 Tests

#### 1) Court user searches for Order by keyword or phrase only
Enter keyword
Click search
Expected results
[ ] Order results matching keyword return in UI

#### 2) Court user searches for Order by Docket Number only
Enter Docket Number
Click search
Expected results
[ ] Order results matching docket number return in UI
[ ] No error message is displayed

#### 3) Court user searches f

[2021-08-11 16:56] kkoskelin commented on #7971
@cholly75 the steps to reproduce don't work for me -- is docket clerk supposed to see an "edit" link on the session information page.  EDIT: after I created a trial session as a trial clerk, I was able to edit the same session and replicate.

[2021-08-11 17:46] matthopson commented on #8016
The issue here is that a trialClerk does not have permission to batch download a trial session. Since this is a permissions change, I'm just pinging @klohman and @cholly75 for awareness. This is probably some obvious missed AC from way back and not a big deal, but just wanted to let you know.

PR: https://github.com/ustaxcourt/ef-cms/pull/1562

[2021-08-11 19:15] mariahkannenberg commented on #8014
Related bug: https://github.com/flexion/ef-cms/issues/8297

[2021-08-11 21:42] cholly75 commented on #7971
@kkoskelin Yeah, I get it as docket:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/f786cca7-6cfb-44d2-bad0-f01fad38a5fa)

[2021-08-11 21:53] cholly75 commented on #7987
Ampersand appears to be reading as null in the search query.

I searched for "& johnson" (exact match) and got results back that contained no ampersand.

I also searched for "johnson & johnson" (exact match) and got back a single result containing the text "johnson johnson" in the Order.

Do we know why & is not parsed as an exact match literal?

The - and . appear to be working correctly.

[2021-08-11 22:11] cholly75 commented on #8016
@matthopson Confirming - will let you know tomorrow.

[2021-08-12 12:53] cholly75 commented on #8016
@matthopson Confirmed.

[2021-08-12 13:27] mmarcotte opened #1563 "Draft up a response to users making feature requests"
Can we please draft up a snippet to respond and mark as solved any feature requests? And then in the handoff forward the request to Product Owner.

[2021-08-12 13:55] klohman commented on #7994
## mobile design

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/255158af-cec4-48d6-93a3-3313444e05ca)

## responsive
* would like to keep docket # and case title fields as a group when wrapping until it gets to the mobile design
* would also like to keep date fields as group until mobile size

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/2

[2021-08-12 14:11] kkoskelin commented on #7987
It may be necessary to change some of our indexer settings per https://stackoverflow.com/questions/51785404/search-special-characters-with-elasticsearch/51793767

[2021-08-12 14:17] mmarcotte opened #1564 "Soften language for Textexpander snippet for `;resetFailed`"
Can we please soften the language in the snippet for people who are trying to reset their password, but are using the wrong case of their email (`Should.Be.All.Lower.Case@example.com` versus `should.be.all.lower.case@example.com`)

Here's the current language:

Really we are mostly confident that this is the reason why they are encountering the error below. We're just not 100% positive that's the

[2021-08-12 16:03] matthopson commented on #7981
The petitioner's place of residence is not in the United States (the default country that is searched upon). Changing to international brings back the expected result.

[2021-08-12 16:57] matthopson commented on #7967
@cholly75 @JessicaMarine  This issues has been present since this field was first added to the case entity (about 18 months ago). This PR removes the default date (sets to current timestamp) when a Case is created.

https://github.com/ustaxcourt/ef-cms/pull/1565

What about the old data? Do we need to correct these? If so we will likely need a migration and probably a way of looking at each case r

[2021-08-12 17:05] mark-meyer commented on #1532
It is not difficult to change ef-cms elasticsearch indices to use aliases instead of directly referencing the index. This could be done with a simple change to [elasticsearch-index-settings.js](https://github.com/ustaxcourt/ef-cms/blob/staging/web-api/elasticsearch/elasticsearch-index-settings.js#L45):

[code]
This would create an alias like `efcms-case` pointing to the actual index `efcms-case-co

[2021-08-12 17:20] mariahkannenberg opened #8017 "Search: Exact match for special characters"
As a Court user, so that I can find documents that have an exact match, I need special characters to be considered as part of the exact match.

## Pre-Conditions
ustaxcourt/ef-cms#7987 (Original Story)

## Acceptance Criteria
* When a Court user conducts an exact match search **using** a special characters (dash, ampersand, period), the results should return **only** items that have the special ch

[2021-08-12 17:21] mariahkannenberg commented on #8017
Sample Test Cases:

Search term: coca cola
Should NOT return results containing “Coca-Cola”
Search term: coca cola
Should return results containing “Coca Cola”

Search term: "johnson & johnson"
Should NOT return results containing "johnson johnson"

[2021-08-12 17:44] mmarcotte opened #1566 "Document flows of roles that aren't covered in smoketests"
- Identify gaps with test cases and what we have for manual test flows.
- Also identify items missing from automated smoketests to see which ones we could automate in the future to improve coverage.

[2021-08-12 17:46] mariahkannenberg opened #8018 "SPIKE: Investigate options for use of special characters"
As a product owner, so that I can write acceptance criteria that doesn't conflict with OOB functionality of Elastic Search, I need to know what my options are for the use of special characters dash, ampersand and period.

## Pre-Conditions

## Acceptance Criteria
- PO understands under what conditions we can and cannot expect searches using special characters -, &, and . to return results

## Mobi

[2021-08-12 17:48] kkoskelin commented on #7987
The current search index configuration cannot treat all symbols and punctuation as "token characters" (i.e. parts of a word to be indexed) because it would conflict with the desire to *sometimes* treat them as word (token) delimiters.  E.g. if search text contains
[code]
you will not be able to search for the word `assoc` because in the above text, the word is `assoc.`

[2021-08-12 17:48] mmarcotte opened #1567 "Walk through the smoketests to ensure they are performing realistic operations"
Perhaps rephrase them as end-to-end tests.

Take a minute to walk through all of the smoketests in the system to ensure they are testing things that would actually happen. Look for holes in the patterns with how the application actually performs in reality.

Does this test do the things that would make me feel confident in this part of the application?

Hopefully @JessicaMarine can impart knowledg

[2021-08-12 17:50] mmarcotte commented on #1167
I believe Flexion is doing this in another ticket. Will follow up and close...

[2021-08-12 17:57] mariahkannenberg opened #8019 "Order Search: Search terms using abbreviations with and without periods"
As a Court user, so that I can find documents with abbreviations, I need the search results to return items with abbreviations regardless of whether they have a period in them or not.

## Pre-Conditions

## Acceptance Criteria
* User can perform a search using abbreviations and no periods and return **results that don't have periods**
* User can perform a search using abbreviations and no periods

[2021-08-12 18:03] mariahkannenberg commented on #8019
Test Case Examples:
Search term: `"T.C. Memo"`
Should return results containing “T.C. Memo", "TC. Memo" and "TC Memo"

Search term: `"TC Memo"`
Should return results containing “T.C. Memo", "TC. Memo" and "TC Memo"

Search term: `"TC. Memo"`
Should return results containing “T.C. Memo", "TC. Memo" and "TC Memo"

[2021-08-12 18:26] kkoskelin commented on #7985
Blocked because it is unclear whether this is a valid workflow:
Is it possible to create a docket entry for a non-Order (say, a "Returned Mail" document) and convert it to an order (which must go through the draft order workflow with signing) in this way? what would that look like?  Seeking answers.

[2021-08-12 18:57] mariahkannenberg commented on #8014
Groom/Needs more info - Break this into smaller stories -- one for each notice type.

[2021-08-12 19:29] mmarcotte commented on #7981
So, looks like it's working as we would expect.

[2021-08-12 19:29] mariahkannenberg commented on #7985
This story is not a bug, it was a use case/flow that wasn't created yet. Here is the story in the "New" backlog. https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7474

[2021-08-12 20:30] cholly75 commented on #7985
Thanks @mariahkannenberg - I'll close this then.

[2021-08-12 21:02] cholly75 commented on #8017
Search term: "Coca-Cola"
Should return results containing “Coca-Cola”
Should not return results that do NOT contain "Coca-Cola"
Should not return results containing ONLY "coca cola", "-cola", "coca-"

Search term: "Johnson & Johnson"
Should return results containing “Johnson & Johnson”
Should not return results that do NOT contain "Johnson & Johnson"
Should not return results containing ONLY "john

[2021-08-12 21:03] cholly75 commented on #8014
@mariahkannenberg If the general rule is "keep everything pending until the Petition is served", do we still need separate stories?

[2021-08-12 21:27] cholly75 opened #8020 "E-filing: Allow For More Than Three Iterations Of Document Upload"
As a Petitioner/Practitioner, I need to be able to accurately indicate which iteration of a document has been filed so that it can be correctly interpreted by the Court.

Currently, the UI for uploading a document to DAWSON as a petitioner or practitioner allows for only three iterations of a given document. In many cases, there are more than three iterations filed, but no method for indicating ex

[2021-08-12 21:46] cholly75 commented on #8019
I need to think about this one some more. I don't want periods to behave differently in absence of any indication whether the user is searching for abbreviations or not.

[2021-08-12 22:20] cholly75 commented on #7985
@mariahkannenberg - just found ustaxcourt/ef-cms#7711, which appears to be the same issue? Let's talk about it tomorrow. I believe the issue is that the served vs. entered and served validation is firing when an order type is being changed to another order type (a detail only in the steps to reproduce, not the story proper, so that's on me).

[2021-08-12 22:26] cholly75 commented on #7674
@mariahkannenberg Updated the pre-condition to answer the questions - notice should be generated when the verification process is complete regardless of the user that initiated it.

[2021-08-13 13:13] ttlenard opened #8021 "BUG: Trial Clerks Session notes say "Judges Notes" instead of "User Notes""
**Describe the Bug**
A clear and concise description of what the bug is.
As a trial clerk, when I am in a Session copy of a trial, and I click on add note in the Session notes area, The name of the text box says "Judges Notes" instead of User Notes.  This is confusing, because it is not the judge that is making this note, it is the Trial Clerk.

I did a little digging around in GitHub and I believ

[2021-08-13 13:29] klohman commented on #7994
* When "Custom dates" is selected for date range, we'll need to add validation to require (at least) a Start date

![Screen Shot 2021-08-13 at 9.22.27 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/cf36f5c7-c600-449a-b835-bb4e8bc63fad)

* Can we ensure that the responsive design wraps docket and case title fields as a group?

![Screen Shot 2021-08-13 at 9.24.58 AM.png](https

[2021-08-13 14:59] cholly75 opened #8022 "Court: Prevent Change of Telephone Number Notices From Being Marked As Served Before Petition Has Been Served"
As a system, I want to prevent Change of Telephone Number notices from being marked as served before the petition for a case has been been served, so that I do not inaccurately reflect the state of the docket.

## Pre-Conditions

## Acceptance Criteria
- When a Change of Telephone Number notice has been generated for a party, the docket entry should not show as Served on dockets the party is attac

[2021-08-13 15:36] ttlenard opened #8023 "BUG: Docket Clerks receiving 400 Error when completing QC on Simultaneous Reply Brief from Respondent"
**Describe the Bug**
A clear and concise description of what the bug is.
This was reported by two Docket Clerks on PROD.  When a Simultaneous Reply Brief is filed by the Respondent, and the Docket Clerk attempts to QC it, they get a 400 Error on clicking Complete. This is on docket no. 5769-20 in PROD.

**Business Impact/Reason for Severity**
High Severity - unable to complete QC

**In which envir

[2021-08-13 15:53] cholly75 commented on #7971
This is still occurring in MIG - edited trial session in Fresno, CA for 11/11/21 to change the time to 12PM and saved. The Trial Session info screen still shows the time as 12AM.

[2021-08-13 16:22] #8002 closed, assigned to matthopson

[2021-08-13 16:52] sutt0n commented on #8023
I was able to replicate:

<img width="1523" alt="image" src="https://user-images.githubusercontent.com/1116426/129393139-d7e736b0-b17c-4561-b434-2b8223b4f4bb.png">

[2021-08-13 17:05] #7981 closed, assigned to matthopson

[2021-08-13 18:17] klohman commented on #8022
Flows for context:
https://github.com/flexion/ef-cms/issues/4661

[2021-08-13 18:34] klohman commented on #8014
relevant stories
- https://github.com/flexion/ef-cms/issues/4661

**Service Flows**

Petition is NOT SERVED

- Petitioner eFiles Document - prevented in UI
- Private practitioner eFiles Document in case - prevented in UI
- IRS practitioner eFiles Document in case - prevented in UI
- Court user (petitions, docket) adds paper filing to case
- Court user (petitions, docket) adds/serves Order
- Petiti

[2021-08-13 21:22] kkoskelin commented on #8023
Steps to replicate locally:

1. Log in as petitions clerk, and save and serve a new petition.
2. Assign irsPractitioner ("barNumber": "RT6789") as respondent
3. Log in as irsPractitioner@example.com (same bar number as above) and file a document: Simultaneous Reply Brief. Filing parties are "Respondent" _only_.
4. Log in as docket clerk.  Locate the Simultaneous Reply Brief in the Section QC Inbox

[2021-08-16 14:46] klohman commented on #7956
### Order Search with instructions

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/25677606-61a8-44df-bff7-224b50598e04)

#### Mobile
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/3d41986c-76f6-4adb-9de7-6e0fef6e7e0b)

### Search Examples PDF
* On click of link, PDF should open in new tab

[https://app.zenhub.com/files/152320868/8eab2140-5d4

[2021-08-16 15:08] klohman opened #8024 "BUG: Search form fields losing focus"
**Describe the Bug**
On dev, the Order Search form is not retaining focus on keyword, docket number, or case title fields.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion dev

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc

[2021-08-16 15:43] klohman commented on #7948
@cholly75

### Proposed flow

#### When Search Feature is turned off
**User is currently on Order search tab**
on next action:
* user is navigated to Case tab
* warning message displays
* Order tab is disabled

**User is not on Order search tab**
if user navigates to Advanced Search
* user is navigated to Case tab
* warning message displays
* Order tab is disabled

![image.png](https://images.zenh

[2021-08-16 15:51] mmarcotte opened #1577 "Improve documentation on docker-to-ecr script"
As tech lead, I have received conflicting guidance on the use of this file. I believe that it's to save a docker image to the repository, and the CircleCI deployment process will always pull `latest`.  And so the normal usage for the Court would be to use `latest` as the argument when running this script. However, I have also been told (and the comments in the script also suggest) that the environ

[2021-08-16 16:17] rosiehsmith commented on #8024
Fixed as part of https://github.com/flexion/ef-cms/pull/8790 as it was due to some feedback cleanup on ustaxcourt/ef-cms#7994.

[2021-08-16 17:39] matthopson commented on #8021
PR: https://github.com/ustaxcourt/ef-cms/pull/1578

[2021-08-16 18:26] mariahkannenberg commented on #7572
Blocked - this is for opinion search, but opinion search is off. Recommend adding this feedback to to opinion stories and archiving. OR, just leave blocked until we're working on opinion search again.