[2021-11-23 16:19] ttlenard commented on #8108
Here is another test scenario that I ran through today, where I came up with a few issues.

Docket seals a Case without Orders and without counsel, serves an Order, and then a single counsel is added.  This new counsel attempts to search for the order

- No counsel, Seal, Serve, add counsel, search
		○ Used Docket 29314-21
		○ No counsel on this case
		○ Docket seals case
		○ Serves order "Test fo

[2021-11-23 19:02] mmarcotte opened #1810 "Need to rotate the Kibana logs in Production"
We have been receiving alerts for running out of disk space in Production for our `info` cluster that indexes production logs. So far we have been horizontally scaling this cluster with additional nodes to provide more storage. However, at this point we need to consider reducing the amount of information that we index.

**Questions**

- [x] What is an acceptable amount of time to store indexed pro

[2021-11-24 21:07] cholly75 commented on #8003
[https://app.zenhub.com/files/152320868/b30fe89d-286c-488e-8a81-052012e2ad8b/download](https://app.zenhub.com/files/152320868/b30fe89d-286c-488e-8a81-052012e2ad8b/download) - PDF with desired text

[2021-11-26 22:00] kkoskelin commented on #8071
Latest changes performed on branch `8949-tab-logouts` and same code currently deployed to `exp3`.
Broadcast Channel strategy works in that new tabs will request (and receive) the refresh token from the first tab.
HOWEVER.  If you only have one tab open of the application and you hit [reload], you are still authenticated with the application but have thrown away your `refreshToken` which had been s

[2021-11-29 14:49] cholly75 commented on #8102
@mrinsin - New behavior since introducing fixes for 9077 last week. Searching via public user for "facebook" as a keyword results in "Error, we're experiencing technical problems". I didn't see this last week when testing. Expected result should be 7 unsealed orders (based on comparative search in PROD). Thanks!

[2021-11-29 15:17] cholly75 commented on #8116
@TomElliottFlexion - Just checked again as per our conversation last week about scaling - looks like the issue is still present where the new renderer is displaying differently scaled/blurred image of the PDF.

Example from 8079-21:

PROD:
 ![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/eeb8c930-6662-402a-b28e-247a93bcdd1f)

MIG:
![image.png](https://images.zenhubuserco

[2021-11-29 16:17] ttlenard commented on #8116
I notice that the default zoom level is 114% when viewing on the docket record, and 79% when QCing a doc.  I was playing around with the zoom and found that if you jump to 125% it looks clearer.  Also while poking around, I notice that the "fit to page" option in the zoom level menu takes you to the 114% (document view) or 79% (document QC view) zoom level. Is this in the default view settings som

[2021-11-29 16:34] TomElliottFlexion commented on #8116
Thanks Tenille! We'll look into a default zoom for the renderer. Currently, this again seems to be a Windows specific issue

[2021-11-29 17:34] ttlenard commented on #8116
There appears to be an issue with the PDF's retaining the data that was entered and saved in the form fields.  This is occurring on both MIG and TEST.  Not sure if this has anything to do with this story?

1. log in as a petitioner
2. Upload a STIN and a Petition that has data typed in via the form filler (Chris and I tested by downloading the form from DAWSON and filling it out, saving it, and th

[2021-11-29 17:46] cholly75 opened #8144 "Court: Activate Motion to Proceed Remotely in DAWSON"
As a DAWSON user, so that I can accurately file or enter a Motion to Proceed Remotely, I need the changes implemented in 8684 toggled active.

The work done is ustaxcourt/ef-cms#7995 was hidden behind a feature flag at the court's request; due to miscommunication, this feature was never enabled. We would like to make the necessary code change to enable this feature for retesting and deployment.

#

[2021-11-29 18:34] liadmccabe commented on #8129
Here is the figma file: https://www.figma.com/file/GAcqY58Q2xJT8zT8jSMHFe/Search-Redesign?node-id=1282%3A5167

[2021-11-29 18:58] cholly75 commented on #8108
@mrinsin - logging in as private practitioner is returning order results in a sealed case to which they are not affiliated - Log in as private prac (any of them) in MIG, do an order search for either docket 21959-16  or the phrase "Judgment filed 3/18/21" and you will see. This docket is not affiliated with the private prac and is sealed.

[2021-11-29 20:55] cholly75 commented on #8108
Further info - it appears that this behavior exhibits itself once "Unseal a Case" has been clicked on a sealed case, even though the case is not unsealed because of the presence of sealed individual documents on the case. So we need to make sure that these cases still do not appear in the order search for practitioners.

[2021-11-29 21:08] ttlenard commented on #8116
More updates re: my comment above.  This appears to only be happening on Microsoft Edge. I was able to successfully see the data in PDF form fields if the petition and STIN were created, saved, and then uploaded via Chrome or Firefox Browsers.

[2021-11-29 22:08] ttlenard commented on #8116
Another update: I was wondering if this was also now occurring on PROD, and I did find a case that had a blank petition, with boxes checked...this was common behavior that I found while testing in Edge.  The case in PROD that I think is exhibiting this same issue is: 32035-21.

[2021-11-30 17:58] ttlenard commented on #8116
Just got off a call with @TomElliottFlexion . We went over some additional test results.
1- Printing or Print to PDF generates a very blurry image
2 - Save generates a nice and clear PDF

[2021-12-01 20:17] ujahio commented on #8144
Questions:

1. Do we implement the feature flag the way we do other feature flags?

[2021-12-02 14:57] mmarcotte opened #1817 "BUG: Practitioner Case List doesn't return all of the information"
**Describe the Bug**

A practitioner who still has active cases is showing 0 active cases in the Practitioner report. Bar number `HR1045` is on thousands of cases, and it appears the query is not checking for more information and not returning the full data set.

**Business Impact/Reason for Severity**

Causing

**In which environment did you see this bug?**

Prod

**Who were you logged in as?**

[2021-12-02 15:06] cholly75 commented on #8071
@mmarcotte - let's also make sure we deploy this to IRS Test environment so I can ask them to do a quick regression when ready.

[2021-12-02 16:42] cholly75 opened #8145 "Ops Request: Onboard New Judges"
As a new judge to the Tax Court, so that I can use DAWSON, I need to be recognized as a Judge in the appropriate places in DAWSON.

* This is a request to onboard two new Special Trial Judges joining the court potentially as early as Monday. @mmarcotte is working on gathering the judge names for implementation in DAWSON

* This needs to move down the rapid deployment (i.e., Bug path for code so as

[2021-12-02 21:06] mmarcotte commented on #8145
Created the chambers sections in the code. Currently deploying to `test`. Have refactored a helper script that lets you add users into the system.

[2021-12-02 21:24] TomElliottFlexion commented on #8116
Note- Still requires `PDF_EXPRESS_LICENSE_KEY` env variable to be set in all environments

[2021-12-02 21:46] cholly75 commented on #8116
Keeping the framework built but maintaining the feature flag as "F" as the JS solution here does not meet the court's needs.

[2021-12-02 21:54] cholly75 opened #8146 "Court: Implement Alternative to MS-Edge PDF Renderer"
As a DAWSON user, so that I can interact with PDF files in a safe way, I need an alternative to the Microsoft Edge PDF viewer.

The latest version of the Microsoft Edge PDF viewer introduces additional text editing and formatting capabilities. Unfortunately interacting with these causes inconsistent and incorrect behavior in DAWSON w/r/t viewing PDF files, for which there is currently no known wor

[2021-12-02 21:59] mmarcotte commented on #8145
There had already been an item in the Devex backlog for refactoring this out of the code and into the database. That was closed favoring the work being done as part of [this story](https://github.com/flexion/ef-cms/issues/4386). Let's figure out as a team with the PO how to best proceed.

[2021-12-02 22:15] mmarcotte commented on #8145
Here's what we did (for when we need to do this again before the larger effort to manage users from within DAWSON):

* Adjusted the code to define the chambers for the new judges
* Ran the `bulk-import-judge-users.sh` script with a modified version of the `judge_users.csv` that only included the new judge users in order to create them in the desired (`test`) environment
* Created a new chambers us

[2021-12-03 17:05] cholly75 opened #8147 "BUG: Petition PDFs uploaded to DAWSON missing form field data"
**Describe the Bug**
We have observed that in some cases when a PDF file is uploaded to DAWSON, the resulting petition loses some of the form field data.

We have been able to reproduce this in some cases via filling out the form fields in the Edge browser not equipped with an active Adobe Acrobat extension and then uploading them to DAWSON. The resulting PDF file exhibits the problem visually in

[2021-12-03 18:15] ttlenard commented on #8108
Some Feedback:

Private Practitioner 6 is associated with these two docket #'s
20442-18 (this one has individual sealed Orders/docs and the whole case is default sealed)
11613-21 (this one has the entire case sealed - no individual docs sealed)

Both cases return in Order Search for this Practitioner (which is great), but I notice that I am not seeing the lock symbol for any of the search results

[2021-12-03 18:32] ttlenard commented on #8108
The above issue appears to be a regression issue. I searched for this same case (20442-18) in Prod as a docket clerk, and I see the lock symbol on all of the documents.

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/552d3a56-f41e-4367-94fa-a54fa6d3f392)

[2021-12-03 18:34] cholly75 commented on #8108
@ttlenard in MIG does the docket clerk search also show the incorrect behavior (i.e., different behavior than in PROD)?

[2021-12-03 18:54] ttlenard commented on #8108
@cholly75 - in MIG, as a docket clerk, when doing an Order search for 20442-18, I do not see any lock symbols

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/513125e5-f8bd-42df-95ec-73e5a8229ab4)

[2021-12-03 18:55] cholly75 commented on #8108
OK, then yeah - this is a regression bug affecting internal search as well. Good catch!

[2021-12-05 02:14] #8103 closed, assigned to mrinsin

[2021-12-05 02:14] #8104 closed, assigned to ujahio, TomElliottFlexion

[2021-12-05 02:14] #8107 closed, assigned to codyseibert

[2021-12-05 02:14] #8085 closed, assigned to codyseibert

[2021-12-05 02:14] #8105 closed, assigned to rachelschneiderman

[2021-12-05 02:14] #8117 closed, assigned to rachelschneiderman

[2021-12-05 02:14] #8118 closed, assigned to kkoskelin, ujahio, rosiehsmith

[2021-12-05 02:15] #1799 closed, assigned to mmarcotte

[2021-12-05 02:15] #1800 closed, assigned to mmarcotte

[2021-12-06 20:06] mmarcotte opened #1827 "Document creating migrations"
point people towards the git history.

[2021-12-06 22:07] rosiehsmith commented on #8144
@cholly75 is there any reason to keep this wrapped in a feature flag?

[2021-12-06 22:09] cholly75 commented on #8144
@rosiehsmith Nope!

[2021-12-07 20:08] mmarcotte opened #1830 "API Failover"
Quick fix for now to evaluate target health for domain names in route 53 east & west.

[2021-12-08 19:47] shumway-tm commented on #8003
Updated PDF:
![27F574AD-2240-45A9-AA73-2B4BD7772F94_1_105_c.jpeg](https://images.zenhubusercontent.com/618021eb47ddde1a5ec9cbe6/e0e275cc-9df6-43d0-b4ed-9a303eff6dcc)

[2021-12-08 20:30] cholly75 opened #8148 "Court: Indicate Proceeding Type on Trial Session Screen"
As a Court user, so that I can quickly identify specific types of trial sessions, I need to see what type of Proceeding a given trial session is when viewing the Trial Sessions list.

When calendaring and scheduling judge assignments, it is not clear when looking at the Trial Sessions view which sessions are remote and which ones are in-person on location, as sessions with a specific location assi

[2021-12-09 19:41] flooie opened #1834 "Permanent PDF URLs and shorter URLs for opinions"
**Is your feature request related to a problem? Please describe.**

Hi.  I work for Free Law Project, which runs Courtlistener.com and we are having trouble scraping the tax court.  The URLs generated are both longer than anything we've seen in any court before and they are impermanent, so that we can not provide direct links back to the documents for our users.

We would prefer not to change our

[2021-12-09 21:18] mrinsin commented on #8003
Edited: Looks good to go!

[2021-12-09 21:56] shumway-tm commented on #8144
Tested in Dev. All Test Cases looked good!

[2021-12-10 15:18] #8100 closed, assigned to nobody

[2021-12-10 15:19] #8033 closed, assigned to nobody

[2021-12-10 15:19] #7417 closed, assigned to nobody

[2021-12-10 21:22] #8145 closed, assigned to jimlerza, mmarcotte, ujahio, TomElliottFlexion, shumway-tm

[2021-12-10 21:23] #8090 closed, assigned to liadmccabe

[2021-12-13 15:23] cholly75 opened #8149 "External Search: Turn on/off Opinion Search for External Users in Production"
As a DAWSON user, so that I can continue using the system, I need the Court to be able to toggle external Order search off and on without requiring a deployment.

## Pre-Conditions

## Acceptance Criteria
* Tech lead can turn order search on or off in the production environment for external users (public users, private practitioners, IRS practitioners) only without a deployment and within 30-60 mi

[2021-12-13 15:42] #8147 closed, assigned to ujahio, TomElliottFlexion, shumway-tm

[2021-12-13 15:42] #7041 closed, assigned to rosiehsmith

[2021-12-13 15:42] #8116 closed, assigned to TomElliottFlexion

[2021-12-13 15:42] #8102 closed, assigned to mrinsin

[2021-12-13 15:42] #8108 closed, assigned to rosiehsmith

[2021-12-13 19:37] liadmccabe commented on #8143
The following boilerplate text  (similar to Order search but without the second bullet) should be added for opinion search:

"Anyone can search for an Opinion in our system for cases filed on or after May 1, 1986.

- If you aren’t affiliated with a case, you will only see limited information about that case."

[2021-12-13 19:37] liadmccabe commented on #8142
The following boilerplate text  (similar to Order search but without the second bullet) should be added for opinion search:

"Anyone can search for an opinion in our system for cases filed on or after May 1, 1986.

- If you aren’t affiliated with a case, you will only see limited information about that case."

[2021-12-14 18:25] ttlenard commented on #8143
@liadmccabe for the verbiage above - can it say "Anyone can search for an **opinion** in our system for cases filed on or after May1, 1986."  Switch out Order for Opinion???

[2021-12-14 18:27] liadmccabe commented on #8143
Good catch, That was a typo, I've adjusted it and the engineers have been made aware. Thank you!

[2021-12-14 18:27] ttlenard commented on #8149
Hi @liadmccabe I was just reviewing this story to document the test cases, and I was wondering what you thought about this verbiage for bullets 5, 6, and 7.  I copied it out of the Order Search story and just swapped out the word "Order" and replaced with "Opinion". **"Opinion search has been temporarily disabled. Please try again later."**

[2021-12-14 18:29] ttlenard commented on #8142
@liadmccabe Can we switch verbiage on this one as well to refer to Opinion?  Same comment made on 9211. Thanks!

[2021-12-14 19:31] rachelschneiderman commented on #8149
To deploy this story, run the following script:

scripts/setup-external-opinion-search-flag.sh <ENV>

Note: This script sets the value to true by default, just in case any env needs this feature disabled at first..

[2021-12-14 19:36] cholly75 opened #8150 "BUG: Inactive judges cannot be selected in public (non-logged in) Order search"
**Describe the Bug**
A clear and concise description of what the bug is.
When searching Orders as a public (non-logged in) user, inactive Judges present on the dropdown menu cannot be selected in the Judge filter.

**Business Impact/Reason for Severity**
Poor user experience; expectation is that inactive judges can be selected to filter search results; Order search cannot be filtered by inactive j

[2021-12-14 19:40] liadmccabe commented on #8149
That makes sense to me, it's best to keep it consistent across the board whenever possible, it's clear about the issue and gives the user an action to take. I'm good with that.

[2021-12-14 20:12] swongCO commented on #8148
![Trial sessions 9248.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7565c540-afb1-407d-8e1d-578fb8552d03)

1. Add a column labeled "Proceeding Type".
2. Add "Session" to the session type column label (currently "Type").
3. Position the new column to the left of session type.
4. The two values in the new column are "In Person" and "Remote".
5. Add a new filter labeled "-Proceed

[2021-12-14 21:10] rachelschneiderman commented on #8149
I have run the script to add the flag to all Flexion environments.

[2021-12-14 23:00] ttlenard commented on #8143
**Test Cases**

**1. Private/IRS practitioner accesses Opinion Search, searches for keyword/phrase, results list is returned. User clicks on result, which opens in a new tab**

_Log in as Private Practitioner_
- Click on Advanced Link in upper right corner
- Click on Opinion
- Type "Premium tax Credit" in Keyword or Phrase text box and clicks "enter" on keyboard

Expected Results:
- [ ] Results li

[2021-12-15 13:39] ttlenard commented on #8142
**Test Cases**

**1. Public user accesses Opinion Search, searches for keyword/phrase, results list is returned. User clicks on result, which opens in a new tab**

- Public user navigates to DAWSON dashboard
- Clicks on Opinion
- Type "Premium tax Credit" in Keyword or Phrase text box and clicks "enter" on keyboard or clicks on the Search button.

Expected Results:

- [ ] Results list displays
- [

[2021-12-15 14:36] mmarcotte commented on #828
Solved with rate limiting via the application.

[2021-12-15 14:36] #828 closed, assigned to nobody

[2021-12-15 14:46] ttlenard commented on #8142
Note: I would like to also test this with the Public Terminal User. I'm not sure if this should be added as a test case above?

[2021-12-15 14:48] liadmccabe commented on #8142
Done

[2021-12-15 15:02] cholly75 commented on #8003
@TomElliottFlexion @shumway-tm - some cases the length of the new text results in the text of the notice appearing in the space of the envelope window where there should be only the petitioner name/address. I mocked up a PDF that changes the body text of the individual notice sections to 9 points down from 10.5 and shrunk the resulting subsections to eliminate whitespace. Confirmed with the Court

[2021-12-15 18:48] cholly75 commented on #8142
A couple of issues so far -

1- the bug described in ustaxcourt/ef-cms#8150 is present
2 - public user search results for Bench Opinions do not display the judge name in the results list

Also - in mig, tested with docket 20237-16 and sealed the MOP in the database; result was still returned in Opinion search. Am adding the new AC as discussed this morning.

[2021-12-15 22:27] halprin commented on #8150
Inactive judges are returned from the backend with less information than the others which results in the dropdown from working.  I initially thought that the UI was wrong, but then I saw the backend was filtering out information that is there in in the db.  So I'm currently looking at `PublicUser.validateRawCollection` in `getJudgesForPublicSearchInteractor.js`.

[2021-12-15 22:31] halprin commented on #8150
And this is reproducible locally with the "Fieri" judge.

[2021-12-15 23:02] halprin commented on #8150
Identified a fix and committed it to branch `bug-9278-inactive_judges_for_order_search`.  Tests still need to be modified or added.

In addition to that, there is some homework for why we use `judge.lastName` in the `JudgeSelect.jsx` when `lastName` isn't returned from the API response.  Maybe it is computed somewhere in the frontend?

[2021-12-16 05:34] mmarcotte opened #1848 "Migration Check Step Adjustment"
Right now the migration check looks to see if the ES Cluster is non-existent as well as the DDB tables East & West. If not, the deploy fails. However, if those data sources existed without any data, that would allow the deployment to proceed. And it would save a lot of time should the build fail anywhere later in the process. Deleting and recreating them takes unnecessary time.

This [build and de

[2021-12-16 05:37] mmarcotte opened #1849 "Write a health check for the API endpoints that verify the dependencies below are healthy"
What's required?
How do you identify whether or not the requirements are functioning properly?
Same could be made for the public api

- [ ] identify resources
- [ ] figure out how to check each of them for their health (e.g, can you make a query to the DB?)

[2021-12-16 14:26] #1783 closed, assigned to mmarcotte, cholly75

[2021-12-16 16:07] flooie commented on #1834
@mmarcotte I wanted reach back out and see if there was any movement or conversations around this one.

[2021-12-16 22:17] cholly75 opened #8151 "Usability: Automate Petition Creation"
As a petitioner, I want to be able to step through a web form that uses my inputs to create an appropriate petition.

Notes from convo with Chris 11/22/22
Petition online guided flow, answer questions, spit out pdf they can submit to the court at the very end. (Next big thing).

- How do we break down the petition itself with all the fields that are required and option and present it in a way that

[2021-12-16 22:19] #7975 closed, assigned to nobody

[2021-12-16 22:27] #8019 closed, assigned to nobody

[2021-12-16 23:31] cholly75 commented on #8150
Tested in TEST environment - all judges are now selectable in the filter menu.

Currently not getting any results back for legacy judges, and extremely different result sets for current judges (>100 for Buch in MIG, 2 in TEST).  Did comparative search in MIG to check expected results. Discussed w/ @halprin, sending back to In Progress.

[2021-12-16 23:39] cholly75 commented on #8150
@halprin One other detail - I confirmed that the behavior for the logged in user still seems correct for both legacy and current judges, so this appears to only affect the public user.

[2021-12-17 14:15] cholly75 commented on #8064
Confirmed only Description field validation error displays now

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/67b3e7b3-e224-43a0-98fd-45db6adce801)

[2021-12-17 14:18] cholly75 commented on #8064
Confirmed character limit validation still fires correctly.

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/15a51b98-2a40-497b-aff0-824c133b0b2a)

[2021-12-17 14:56] ttlenard commented on #8066
This looks good!  Thanks for fixing!

[2021-12-17 15:24] #8083 closed, assigned to nobody

[2021-12-17 15:58] cholly75 commented on #7693
Confirmed obsolete - there is visual indicator on party view in Case Information when a change is pending.

[2021-12-17 15:58] #7693 closed, assigned to nobody

[2021-12-17 18:22] cholly75 commented on #6575
@mariahkannenberg - any details on what 'security' in this context means? I couldn't find anything in my notes from Jessica specifically about this.

[2021-12-20 14:34] ttlenard commented on #8148
**Test Cases**

**1. In-Person Trial Session is created; Trial Session displays indicating a Proceeding Type of In-Person; when filtered for Remote Proceeding Type on the Trial Sessions screen, In-Person Trial Session no longer displays**

- Log in as Petitions Clerk
- Click on Trial Sessions from the top menu bar
- Click on Add Trial Session button
- Be sure that location based is selected as the

[2021-12-20 16:22] #8041 closed, assigned to nobody

[2021-12-20 16:23] cholly75 commented on #8041
We believe this will be addressed with feature stories re: private practitioners changing employers. Manual admissions steps are taken currently.

[2021-12-21 16:54] swongCO commented on #7042
Figma mockup: https://www.figma.com/file/yQwciZR2mvGT024eYarnGu/USTC-Docket-Record-Seal-Unseal-Docket-Items-4252-9147

![USTC Docket Record Seal Doc.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/4f10d5f6-773c-4438-b7df-875906109c4e)

- Add "Seal" icon text links under Edit link
- When a document is sealed, show "Unseal" icon link in red
- Keep the current functionality of addi

[2021-12-21 21:03] ujahio commented on #8079
Going to close this "bug" as it has been converted to a devex task to be voted on.

https://trello.com/c/3hcRPCta/1023-refine-stopgap-solution-that-addresses-duplicate-trial-session-mapping-records-data-issue

[2021-12-21 21:03] #8079 closed, assigned to nobody

[2021-12-22 15:14] rosiehsmith commented on #8148
Completed `Dev Review` on staging and everything looks good!

[2021-12-22 15:34] #8143 closed, assigned to jamesobrooks, ujahio, shumway-tm

[2021-12-22 15:34] #8149 closed, assigned to rachelschneiderman

[2021-12-22 15:34] #8142 closed, assigned to rosiehsmith

[2021-12-22 15:34] #8003 closed, assigned to TomElliottFlexion, shumway-tm

[2021-12-22 15:34] #8064 closed, assigned to rosiehsmith

[2021-12-22 15:34] #8144 closed, assigned to jamesobrooks

[2021-12-22 15:35] #8071 closed, assigned to codyseibert, halprin

[2021-12-22 15:35] #8066 closed, assigned to ujahio, mrinsin, shumway-tm

[2021-12-22 21:10] cholly75 commented on #6580
Closing issue.

[2021-12-22 21:10] #6580 closed

[2021-12-22 21:18] cholly75 commented on #7743
Closing issue - we have search live and will reopen if we determine a need based on feedback.

[2021-12-22 21:18] #7743 closed, assigned to nobody

[2021-12-22 21:19] cholly75 commented on #7577
@mariahkannenberg Is this better suited as a DevEx task as it's refactoring search queries?

[2021-12-22 21:22] ttlenard opened #8152 "BUG: Unable to download all cases from the 12/13/21 Washington DC trial session - times out"
**Describe the Bug**
A clear and concise description of what the bug is.
When attempting to download all cases from the Washington DC trial session for 12/13/21, Judge Gustafson reported that it would stall out and only get to ~50% when compressing files.   I also tested this multiple times, and I experienced the same behavior (so did Chris).  The highest % that I got was 53%.  There is a case (24

[2021-12-22 21:54] #7245 closed, assigned to nobody

[2021-12-22 22:02] cholly75 commented on #7137
This is component in the Search usability story - closing older issue.

[2021-12-22 22:02] #7137 closed

[2021-12-22 22:04] cholly75 commented on #6965
@mariahkannenberg - is this another candidate for DevEx/OpEx? Not sure what the user benefit is here (or how we're doing the practitioner search now) .

[2021-12-22 22:13] cholly75 commented on #7215
This appears to be already completed.

[2021-12-22 22:13] #7215 closed, assigned to nobody

[2021-12-23 20:57] #6524 closed

[2021-12-23 20:58] #6529 closed

[2021-12-23 21:00] cholly75 commented on #6566
Addressing this with individual stories for each order.

[2021-12-23 21:00] #6566 closed

[2021-12-23 21:01] cholly75 commented on #6571
@mariahkannenberg - feels like Reporting should probably be its own Epic. Thoughts?

[2021-12-23 21:06] #6585 closed

[2021-12-23 21:08] #6599 closed, assigned to nobody

[2021-12-23 21:16] #6717 closed

[2021-12-23 21:20] #6793 closed

[2021-12-23 21:20] #6822 closed, assigned to nobody

[2021-12-23 21:31] #6858 closed

[2021-12-23 21:51] cholly75 commented on #6958
This is complete.

[2021-12-23 21:51] #6958 closed

[2021-12-23 21:58] cholly75 commented on #6980
Covered with ustaxcourt/ef-cms#8087

[2021-12-23 21:58] #6980 closed

[2021-12-27 17:34] cholly75 opened #8153 "BUG: External Search: Start/End Date Selectors Do Not Work on iPhone/iPad"
**Describe the Bug**
After selecting "Custom Dates" in the Order/Opinion search, when using an Apple mobile device such as an iPhone or iPad, selecting a date in the calendars for either the Start Date or End Date fields does not populate the selected date in those fields. The date can still be entered manually.

This problem does not appear to be present on Android devices.

**Business Impact/Rea

[2021-12-27 20:45] cholly75 commented on #8068
@mrinsin @codyseibert - still seeing this behavior on TEST:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/3502f71f-d6db-44e2-a57a-e3dc253086f0)

[2021-12-27 22:05] ttlenard opened #8154 "BUG: Case Status is not getting updated to "General Docket - At Issue (Ready for Trial)" 45 days after Answer document is filed"
**Describe the Bug**
A clear and concise description of what the bug is.
The Clerk of the Court noticed that some case status's were not getting updated, and were remaining at "General Docket - Not at issue" even after there was an Answer document filed in the case AND 45 days had passed.

For some background on this: See original story [1187](https://github.com/flexion/ef-cms/issues/1187).

After

[2021-12-28 14:54] #6932 closed

[2021-12-28 15:09] #7075 closed, assigned to nobody

[2021-12-28 15:11] cholly75 commented on #7077
Closing as duplicate of ustaxcourt/ef-cms#7500

[2021-12-28 15:11] #7077 closed

[2021-12-28 15:14] cholly75 commented on #7081
Closing as duplicate of ustaxcourt/ef-cms#8087

[2021-12-28 15:14] #7081 closed

[2021-12-28 15:16] #7086 closed, assigned to nobody

[2021-12-28 15:18] #7143 closed

[2021-12-28 15:18] #7162 closed

[2021-12-28 15:18] cholly75 commented on #7162
Closing as duplicate of ustaxcourt/ef-cms#7325

[2021-12-28 15:20] cholly75 commented on #7180
PDF renderer already provides for document character search.

[2021-12-28 15:20] #7180 closed, assigned to nobody

[2021-12-28 15:33] #8123 closed, assigned to mrinsin

[2021-12-28 15:33] #8150 closed, assigned to halprin

[2021-12-28 15:33] #8152 closed, assigned to ujahio, rosiehsmith, mrinsin, shumway-tm

[2021-12-28 15:36] #7316 closed, assigned to nobody

[2021-12-28 19:07] cholly75 commented on #7325
Tested on MIG. Two issues observed:

1) When you choose to Scan in Correspondence, if something had previously been scanned in (for example, a Paper Filing) then the prior scan already shows up as the scanned batch when moving to the Correspondence tab. Expected behavior is that no prior scan is already displayed as the Correspondence batch.

2) Clicking "Finish" before saving the Scan as a PDF el

[2021-12-28 19:33] cholly75 commented on #7402
@mmarcotte @jimlerza - is this story still relevant?

[2021-12-28 19:34] #7403 closed, assigned to nobody

[2021-12-28 19:34] #7404 closed, assigned to nobody

[2021-12-28 19:36] cholly75 commented on #7423
@mariahkannenberg - is this still relevant? Not sure how drastically processes have changed here since the story was written.

[2021-12-28 19:44] cholly75 commented on #7450
@mmarcotte Is this still needed?

[2021-12-28 20:30] #7490 closed, assigned to nobody

[2021-12-28 20:36] cholly75 commented on #7571
Docket currently has ability to remove manual blocks, pending items, or deadlines issuing a block.

[2021-12-28 20:36] #7571 closed, assigned to nobody

[2021-12-28 20:37] cholly75 commented on #7604
This was done in August 2021.

[2021-12-28 20:37] #7604 closed, assigned to nobody

[2021-12-28 20:50] #7696 closed, assigned to nobody

[2021-12-28 20:57] cholly75 commented on #8012
As we are indexing all content on the document including cover sheet/case caption, this functionality already exists.

[2021-12-28 20:57] #8012 closed, assigned to nobody

[2021-12-28 20:57] #8043 closed, assigned to nobody

[2021-12-28 21:34] mariahkannenberg commented on #7423
I don't think so. As we move toward continuous deployment, many of these things will just resolve

[2021-12-28 21:40] TomElliottFlexion commented on #8153
Note: This seems to be specific to Safari, regardless of device

[2021-12-28 21:43] #6575 closed, assigned to nobody

[2021-12-28 21:48] cholly75 commented on #7423
Thanks! Closing.

[2021-12-28 21:48] #7423 closed, assigned to nobody

[2021-12-28 23:08] TomElliottFlexion commented on #8153
Also does not work on the [USWDS site](https://designsystem.digital.gov/components/date-picker/) on Safari

[2021-12-29 15:25] ttlenard opened #8155 "BUG: Public Terminal User is no longer working"
**Describe the Bug**
A clear and concise description of what the bug is.
After adding in a users IP address for permission to the Public Terminal user, nothing seems to happen.

See original story [8955](https://github.com/flexion/ef-cms/issues/8955) for background.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Test, Mig, Dev

**Who were you logged in as?

[2021-12-30 15:00] jimlerza commented on #8154
I added a helper for retrieving all results via Elasticsearch in [PR 1868](https://github.com/ustaxcourt/ef-cms/pull/1868) that could be useful here.

Here is a [usage example](https://github.com/ustaxcourt/ef-cms/pull/1868/files#diff-231269cfe81ad2f6a2a5aa35e2a47bdd1fc6728208a308be59e6f709f6829a25R45).

[2021-12-30 15:45] jimlerza opened #8156 "BUG: Some cases are missing IrsPractitioner/PrivatePractitioner entities"
**Describe the Bug**
We had a field report of a docket clerk not being able to add a practitioner (that "should already be associated") to a case. When triaging this report, I found (with a huge assist from @rosiehsmith and @mrinsin) that there was no `PrivatePractitioner` entity in the case partition (resulting in the practitioner not being listed in DAWSON), but there was a `UserCase` entity in

[2021-12-30 15:50] jimlerza commented on #8156
- [Output of find-cases-missing-practitioners script](https://app.zenhub.com/files/152320868/6b357604-c189-4a11-9ad1-d48a90dc15b0/download)
- [Missing entities from efcms-test-alpha as of 2021-12-29](https://app.zenhub.com/files/152320868/a625ccb5-54d5-4d01-b927-f2abf646aaa1/download)

[2021-12-30 15:58] jimlerza commented on #8156
I was only looking for missing `PrivatePractitioner` or `IrsPractitioner` entities where corresponding `UserCase` entities exist. I am not sure if we are ALSO missing `UserCase` entities where corresponding `PrivatePractitioner` or `IrsPractitioner` entities exist. Further analysis of the root cause may shed light on whether we should check for missing `UserCase` entities.

[2022-01-03 20:12] swongCO commented on #7042
![USTC Docket Record Seal modal.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/e60d4920-c099-48b7-a1f8-ef39205c56f1)

- When Seal link is clicked, display modal
- The modal will have two options to choose from
- The first option (Seal to the public) will be selected by default

[2022-01-03 20:22] swongCO commented on #8141
**See ustaxcourt/ef-cms#7042 for sealing a document**

![USTC Docket Record Unseal modal.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/cf212036-83ff-4b68-81b2-d9aa49fd04bc)

- When the Unseal link is clicked, display modal
- When the user unseals a document, the lock icon in the status column disappears and the Unseal link changes to the Seal link

[2022-01-03 20:26] swongCO commented on #8120
**See ustaxcourt/ef-cms#7042 for sealing a document**
![USTC Docket Record Seal modal.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/457a0e40-adf8-4267-83a1-7eea8cf76752)

- The second option in the modal will seal the document to all but court users

[2022-01-03 20:38] swongCO commented on #7042
![USTC Docket Record hover tips.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/2852ed38-2698-49be-8f22-1cd957404f81)

- When the user hovers over the Unseal link, display text to indicate the action and type of seal applied:
Unseal to the public and parties of this case
Unseal to the public
- **If this doesn't conflict with the current functionality,** in the status column, add

[2022-01-03 20:54] cholly75 opened #8157 "Notice of Change to Remote Proceeding"
As a docket clerk, so that I do not have to manually generate and serve needed documentation, I need DAWSON to generate and serve a Notice of Change to Remote Proceeding when a Trial Session with calendared cases has its proceeding type changed from In Person to Remote.

With COVID continuing to be an issue, some calendared trial sessions are being changed from In Person to Remote. When this happe

[2022-01-04 15:54] TomElliottFlexion commented on #8153
Issued opened in USDWS repo- https://github.com/uswds/uswds/issues/4446

[2022-01-05 14:02] cholly75 commented on #8129
Court is going to regenerate documentation in accessible manner and will create a new story to replace the DAWSON instances of noncompliant documentation.

[2022-01-05 14:20] mmarcotte commented on #8155
I think you might need to use this syntax:

https://github.com/ustaxcourt/ef-cms/commit/cd141697c137ca7aaa9ca0e4f4c98dd1c533e6cb

The websocket lambda was erroring out with the array structure. Could you make another PR with this fix?

[2022-01-05 14:41] cholly75 commented on #7325
Testing today w/ Court employee to confirm final test case.

[2022-01-05 16:37] cholly75 opened #8158 "Notice of Change to In Person Proceeding"
As a docket clerk, so that I do not have to manually generate and serve needed documentation, I need DAWSON to generate and serve a Notice of Change to In Person Proceeding when a Trial Session with calendared cases has its proceeding type changed from Remote to In Person.

Depending on local circumstances, some calendared trial sessions are being changed from Remote to In Person. When this happen

[2022-01-05 17:01] cholly75 opened #8159 "Court: Style Change for Notices"
As a court user, so that notices conform to the new style guide requirements, I need the new style guidelines implemented in DAWSON.

The court conference has approved a new set of style guidelines that take effect on 1/1/2022. These guidelines need to be incorporated into the formatting of all Notices generated and entered in DAWSON.

## Pre-Conditions

## Acceptance Criteria
* The header "United

[2022-01-05 17:22] cholly75 opened #8160 "Replace Non-508 Compliant PDF Documentation in DAWSON"
As a user with physical or mental impairment, so that I can use DAWSON appropriately, I need documentation in DAWSON to be section 508-compliant.

There is one instance of documentation in the DAWSON application that are not currently Section 508 compliant and cannot be effectively used by accessibility tools such as screen reader/narrators. The USTC should conform to Sec. 508 compliance rules as

[2022-01-05 17:42] cholly75 commented on #8129
Closing, will address in ustaxcourt/ef-cms#8160

[2022-01-05 17:42] #8129 closed, assigned to TomElliottFlexion, shumway-tm

[2022-01-05 18:39] ttlenard commented on #1806
This is the updated PDF that now passes accessibility checks. "How to Merge PDF Documents"
[https://app.zenhub.com/files/148831192/f65081a4-74dd-4bd5-baff-1ff5fd32cacf/download](https://app.zenhub.com/files/148831192/f65081a4-74dd-4bd5-baff-1ff5fd32cacf/download)

[2022-01-05 19:00] cholly75 opened #8161 "Seal and Unseal Documents and Cases"
As a Court user, so that I can appropriately control the visibility of Court documentation, I need the ability to apply and remove visibility controls at both the document and the case level.

This Epic addresses the ability of the Court to seal and unseal specific documentation and cases as they see fit. This is required in order to protect the privacy of the parties and details about certain cas

[2022-01-05 19:23] jimlerza commented on #8156
If it helps for testing, here is the same data in a human-readable format with docket numbers for the cases and bar numbers for the practitioners:

[2022-01-05 20:16] mmarcotte commented on #1806
Nice, once you have the updated PDF we can help bring it into the codebase.

[2022-01-05 21:01] ttlenard commented on #1806
There was also this document that I found that seems to be in the same boat as the other?  ![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/cfad5bea-6d26-4284-bd29-da2a4a1c94cf)

Here is the link from MIG: https://app.mig.ef-cms.ustaxcourt.gov/e33b1fc56596bd91a37b.pdf

Here is the updated PDF that passes accessibility checks: [https://app.zenhub.com/files/148831192/7b80c9

[2022-01-05 21:03] ttlenard commented on #1806
@mmarcotte See above 2 comments.  I fixed two documents today that were linked in DAWSON.  These both now pass Accessibility checks.  Let me know if you have questions.

[2022-01-06 20:11] cholly75 opened #8162 "Auto-Generate Petitions Documentation"
As a petitions clerk, so that I can quickly process and serve additional documentation needed for petitioners, I need DAWSON to automatically generate documentation when I serve a petition.

When reviewing a petition in DAWSON, the petitions clerk may need to create additional orders and notices depending on the information that the petitioner provides. Currently they must do this manually after Q

[2022-01-07 15:30] cholly75 opened #8163 "Petitions: Auto-Generate Order to Show Cause"
As a petitions clerk, so that I can easily generate needed documentation, I need to have DAWSON generate a draft of an Order to Show Cause automatically when I indicate that one is needed for a case.

Currently, when a Petitions Clerk indicates that an Order to Show Cause (OSC) is needed for a case, they check the appropriate box at the time of paper Petition entry or QC of eFiled Petition. After

[2022-01-07 17:12] cholly75 opened #8164 "Petitions: Auto-Generate Order for Amended Petition"
As a petitions clerk, so that I can easily generate needed documentation, I need to have DAWSON generate a draft of an Order for Amended Petition automatically when I indicate that one is needed for a case.

Currently, when a Petitions Clerk indicates that an Order for Amended Petition (OAP) is needed for a case, they check the appropriate box at the time of paper Petition entry or QC of eFiled Pe

[2022-01-07 17:28] cholly75 opened #8165 "Petitions: Auto-Generate Order for Amended Petition and Filing Fee"
As a petitions clerk, so that I can easily generate needed documentation, I need to have DAWSON generate a draft of an Order for Amended Petition and Filing Fee automatically when I indicate that one is needed for a case.

Currently, when a Petitions Clerk indicates that an Order for Amended Petition and Filing Fee (OAPF) is needed for a case, they check the appropriate box at the time of paper Pe

[2022-01-07 19:51] cholly75 opened #8166 "Parties Filing a Document in a Consolidated Case (WIP)"
As a party to a Consolidated Case, so that I can appropriately indicate the filing of a document in a case that is part of a consolidated group, I need to be able to file a document in a consolidated case and have that document appear appropriately on other dockets belonging to that consolidated group.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definiti

[2022-01-07 19:59] cholly75 opened #8167 "Trial Sessions for Consolidated Cases (WIP)"
As a Court user, so that consolidated cases can be addressed together at trial, I need to be able to treat a consolidated group of cases as a single entity when calendared.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion deve

[2022-01-12 14:56] cholly75 opened #8168 "Court Personnel Filing a document in Consolidated Case (WIP)"
As a Court user, when filing an document in a Consolidated Case, so that I don't have to file multiple copies of the same document, I need to be able to file once and have it propagate to all desired cases in the Consolidated Case group.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be me

[2022-01-12 21:52] cholly75 opened #8169 "Auto-Generate Clinic Letters"
As a pro se petitioner, so that I have all the resources I need to pursue a case, I need to receive pre-authorized letters from tax clinics at various points in the lifecycle of my case.

For pro se petitioners who may not be able to afford or locate counsel to guide them through their case, there are tax clinics available as a resource who often advise and/or represent lower income petitioners. T

[2022-01-13 22:00] halprin commented on #8156
What could be missing?
- `representing` on a Case/Private Practitioner record.
- `serviceIndicator` on a Case/Private and IRS practitioner record because it is configurable by case.

Going forward plan at this point.

1. Determine whether or not this data can be recovered programmatically (e.g. through a migration alone)
	1. Write the migration.
1. Determine if we can recover the missing data by l

[2022-01-13 22:11] cholly75 opened #8170 "Sealing Logic Modification"
As a Court, so that I can appropriately provide visibility into case records, I need to stop representing cases as sealed in their entirety if only specific documents are sealed on the docket record.

At the time of data migration to DAWSON, in order to prevent unwanted exposure to case documentation, logic was implemented that tells the system to consider an entire case sealed if any documents on

[2022-01-13 22:15] cholly75 opened #8171 "Clinic Letter Repository"
As a DAWSON clerk, so that I can provide clinic letters at the appropriate places in the case lifecycle, I need clinic letters to be accessible in DAWSON.

For pro se petitioners who may not be able to afford or locate counsel to guide them through their case, there are tax clinics available as a resource who often advise and/or represent lower income petitioners. These clinics provide the Court w

[2022-01-13 22:17] cholly75 opened #8172 "Send out Clinic Letters w/ Notice of Receipt of Petition (All Locations)"
As a petitions clerk, so that I can provide pro se petitioners with tax clinic documentation, I need to be able to send out clinic letters with the Notice of Receipt of Petition.

For pro se petitioners who may not be able to afford or locate counsel to guide them through their case, there are tax clinics available as a resource who often advise and/or represent lower income petitioners. These cli

[2022-01-13 22:19] cholly75 opened #8173 "Send out Clinic Letters w/ Notice Setting Case for Trial"
As a petitions clerk, so that I can send pro se petitioners needed tax clinic documentation prior to their trial, I need to be able to send these letters with the Notice Setting Case for Trial.

For pro se petitioners who may not be able to afford or locate counsel to guide them through their case, there are tax clinics available as a resource who often advise and/or represent lower income petitio

[2022-01-13 22:30] halprin commented on #8156
For the migration...
- For the IRS Practitioner
  - We _might_ be able to fix a missing IRS practitioner because they do not have the `representing` field.
  - But we don't know what they may have used as the `serviceIndicator` for this specific case.
- For Private Practitioner
  - We _might_ be able to fix a missing private practitioner if there is only one practitioner and only one petitioner on

[2022-01-15 00:00] halprin commented on #8156
Latest findings:
- At least three of the IRS practitioners have magically shown back up for the some of the later 2021 cases in the `test` environment.  I believe even at least one has shown in `prod`.  Ostensibly they might have only ever been missing from `test` in the first place, but since the issue does appear in `prod`, this might not be the case?  Wut?!
- Also, a decent number (all but two)

[2022-01-17 19:45] halprin commented on #8156
Update on the missing IRS practitioners.  Only one is missing currently in `test`.
[code]

This makes me think that there isn't a systemic problem for IRS practitioners.  We need to have the script run against `prod`.

[2022-01-18 18:23] flooie commented on #1834
@mmarcotte

I wanted to provide a bit more context.  Currently we designed our tool to use the public-api

https://public-api-green.dawson.ustaxcourt.gov/public-api/todays-opinions

Which lets us generate a URL, for example like the following one which is a combination of the URL + docket number + document ID (I think).

https://public-api-green.dawson.ustaxcourt.gov/public-api/21580-19/919cb4ce-f

[2022-01-18 18:30] ttlenard commented on #7042
**### Test Cases**

1. Docket Clerk seals a document on a Sealed Case
- Log in as docket clerk
- Navigate to a Sealed Case (ex: 11288-21)
- Click the blue "Seal" link on the far right column of docket index ustaxcourt/ef-cms#6491.
- A modal will pop-up asking docket clerk to confirm who to seal the document to
- The first option "Seal to the Public" will be auto-selected by default - keep the defa

[2022-01-18 22:38] jimlerza commented on #8156
Latest results, from prod:

[cases-missing-practitioners2.txt](https://github.com/flexion/ef-cms/files/7892824/cases-missing-practitioners2.txt)
[missing-entities2.txt](https://github.com/flexion/ef-cms/files/7892825/missing-entities2.txt)

[2022-01-18 23:15] mlissner commented on #1834
Hi, I'm the director at Free Law Project (where @flooie works as a developer). We're going to move forward providing content from the Tax Court, but I want to highlight that it will be the only court in the country that I can recall where we don't provide links to the original sources on the court website.

Since we started gathering court opinions back in 2009, having links to the original source

[2022-01-18 23:18] halprin commented on #8156
Steps to reproduce:
1. A petition exists with...
   - A petitioner with no e-mail address (this can be accomplished via a petition clerk making the case or a petitioner making a case that has two petitioners, e.g. filing for myself and my spouse).
   - No representation for the no-email petitioner.
   - Served to the IRS.
1. Admissions clerk adds any email address that is already assigned to a pri

[2022-01-19 00:12] mlissner commented on #1834
(Just a heads up so folks aren't too overwhelmed, I've invited a journalist and a legal tech founder to comment on this issue to note how it affects their work. I hope this isn't too much input for a Github issue. I'm just hoping that with more voices in the mix we can make this a priority if it's not already.)

[2022-01-19 00:27] rawillis3 commented on #1834
seconding Mike Lissner's comment. as a journalist (not in his org), I want to be able to provide my readers a direct link to the decision under discussion. what we have in place right now is not stable. I am left with directing readers to the docket and telling them which document to look for. and in some cases (as I mentioned just now on another thread) even this does not work, because an entire

[2022-01-19 15:52] brettjanssen commented on #1834
Another vote for this.  I am the CTO of Blue J Tax, we really need to be able to provide direct links back to the source cases so that our users can self verify the authenticity of the cases and also send links of cases they find in our system to non-subscribers (clients, etc).  Not having access to stable links is a real issue.

[2022-01-19 21:23] cholly75 opened #8174 "Deployment: Uninterrupted User Experience"
As a logged in DAWSON user, so that I do not experience downtime, I need to be able to continue working in the system when a deployment occurs.

More to come.

## Pre-Conditions

## Acceptance Criteria
* Session Management for Logged-In Users during deployment (#9366)
* Disaster Recovery/Failover Architecture

## Notes

## Tasks

## Test Cases
* TBD

## Story Definition of Ready (Created on 9/26/2

[2022-01-20 16:51] cholly75 opened #8175 "BUG: Uploaded Petitions Missing Form Field Data"
**Describe the Bug**
After addressing in ustaxcourt/ef-cms#8147, we are still seeing petitions being stripped of form field data upon upload to DAWSON.

Current example on MIG - docket 133-22. Original upload pulled from S3 contains all data, upon upload of petition multiple forms are missing data.

Saving the uploaded petition and opening in Adobe Acrobat results in the following error on the for

[2022-01-20 20:28] cholly75 opened #8176 "Session Management for Logged In Users During Deployment (BREAK INTO SMALLER?)"
As a DAWSON user, so that I can use the application any time that I require, I need to be able to continue to use the application during deployment activities.

DAWSON deployments currently interrupt user activity at the end of deployment activities. By allowing users to continue working during and after deployments, we can provide both a better user experience and more frequent deployment opportu

[2022-01-21 15:22] mmarcotte opened #8177 "SPIKE: Identify ways to improve Production Monitoring"
Right now we have some

## Acceptance Criteria

- Document / diagram what current Production Monitoring measuring we have
- Identify ways to improve and supplement additional monitoring with individual stories
- Stories are added to the backlog to introduce additional real-time Production Monitoring

## Some ideas

- Honeybadger/Sentry for client JS error capturing. Is there a way to securely log

[2022-01-24 14:37] ttlenard commented on #8120
**### Test Cases**

**1. Docket Clerk seals a document on a Sealed Case**
- Log in as docket clerk
- Navigate to a Sealed Case (ex: 1432-21)
- Click the blue "Seal" link on the far right column of docket index ustaxcourt/ef-cms#6494.
- A modal will pop-up asking docket clerk to confirm who to seal the document to
- Select the second bullet "Seal to the public and parties of this case"
- Select "Se

[2022-01-25 03:02] mmarcotte opened #8178 "BUG: Document filed in error cannot be served; needs to be stricken"
**Describe the Bug**

A document was filed in production that has become inoperable. See below for specific replication steps.

They wish to strike the document, but In order to strike the document, I believe they have to serve it. And they cannot serve it due to the JS error.

We did see some errors in the logs when they attempted service on the document. Those are shared below.

This was the ori

[2022-01-25 15:08] ttlenard commented on #8141
### **Test Cases**

**1. Docket Clerk navigates to a sealed case with one sealed document, unseals the sealed document**
- Log in as a docket clerk

There are some steps to take to set up this test:
- Navigate to an unsealed case
- Go to the Case information tab
- On the Overview sub-tab
- Click on the Seal link
     - You should see the red banner on the top of the page, indicating that the case

[2022-01-26 15:45] mmarcotte commented on #8156
Re: Zendesk automations. The only automation that appears to be related to this bug is one that does a single thing -- removes an account from Cognito. This frees up that Email address to be used by creating a new Practitioner or adding that email to an existing practitioner record that didn't previously have an Email address.

Here's what the admissions clerks are doing:
* receiving a request fro

[2022-01-26 15:49] #8154 closed, assigned to nobody

[2022-01-26 15:49] #7936 closed, assigned to codyseibert, jamesobrooks, shumway-tm

[2022-01-26 15:49] #7325 closed, assigned to rosiehsmith, mrinsin

[2022-01-26 15:49] #8148 closed, assigned to TomElliottFlexion, shumway-tm

[2022-01-26 15:49] #8155 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-01-26 15:49] #8068 closed, assigned to codyseibert, mrinsin

[2022-01-26 18:03] halprin opened #8179 "Migrate to New Work Delivery Process"
See the OpEx item.

[2022-01-26 18:55] flooie commented on #1834
Just wanted to touch base back on this one.

[2022-01-26 21:37] #8179 closed, assigned to nobody

[2022-01-26 21:42] TomElliottFlexion commented on #8156
Tenille/Holly to ask Admissions about whether or not a practitioner account is "allowed" be added as a petitioner on a case.

Points that still need clarity:
- When a _person_ with a practitioner account is also a petitioner on a case, are they able to use that practitioner account on the petitioner entity? (Editing a petitioner's info and adding an email address that is associated with a practiti

[2022-01-27 13:45] ttlenard commented on #1806
@mmarcotte and @jimlerza - Jen just provided some additional edits that she would like to the "How to create a case" PDF.  Just checking in on the status of this ticket, as I am hoping we can use the document that Jen updated instead of the one that I have linked above.  It is here: [https://app.zenhub.com/files/148831192/1cab006d-3bcc-4b72-b6e8-254d2ed95cf0/download](https://app.zenhub.com/files/

[2022-01-27 19:26] mariahkannenberg opened #8180 "Experiment: Mob Retros/Sprint Retros"
As a product team member, so that retros feel more relevant to me, I need a retro method that's more focused on the first-hand work I'm doing.

## Problem/Observation
Team-level action items are so large and broad that it's hard to see how an individual can contribute to it or how it directly affects an individual.

## Hypothesis
Providing a retrospective method that allows a team member to inspec

[2022-01-27 19:41] mariahkannenberg opened #8181 "Experiment: Onboarding for New Team Members"
As a new team member, so that my onboarding needs can be met,  I need a way to know everything that's important for me as a new employee.

## Problem/Observation
More structure is needed for onboarding current and future team members in each discipline.

## Hypothesis
Providing more structure will help answer questions, improve efficiency and provide a more well-rounded and predictable onboarding

[2022-01-27 19:49] mariahkannenberg opened #8182 "Experiment: Story Pointing for Complexity"
As a product owner, so I can manage the expectations of Court users and better prioritize work, I need to understand the complexity and effort required to complete a user story.

## Problem/Observation
Product owner doesn't understand the complexity of a user story and therefore cannot effectively prioritize or manage expectations from Court stakeholders.

## Hypothesis
Providing story sizes based

[2022-01-28 15:05] cholly75 commented on #8101
Confirmed in TEST

[2022-01-28 19:23] mariahkannenberg opened #8183 "User Research - KPIs, Mission Metrics"
As a user researcher, so that I can have a better understanding of user interactions, I need to establish methods for collecting user data.

## Pre-Conditions

## Acceptance Criteria
* Enhance process for incorporating product support feedback. ustaxcourt/ef-cms#8305
* Automate qualitative user feedback  - surveys/polls ustaxcourt/ef-cms#8306
* Automate quantitative user feedback - data#9387
* Mis

[2022-01-28 19:30] mariahkannenberg opened #8305 "UX: Enhance process for incorporating product support feedback"
As a user researcher, so that I can identify user pain points, I need access to user support data.

## Pre-Conditions

## Acceptance Criteria
* UX has access to user support data

## Notes
* This user story was created as an outcome from the relaunch. For now, Tenille, Sui and Lia will collaborate to share information. This story is for considering the tagging and automation of production support

[2022-01-28 19:31] mariahkannenberg commented on #8305
Action Items from Relaunch:
1 - Tenille will join the UX meetings with Chris, Lia, and Sui to discuss any Prod support topics that come up, prior to their scheduled 1 on 1 sessions.
2 - Lia, Sui, Tenille, Mike will have a follow up session to look into ZenDesk labels.

[2022-01-28 19:35] mariahkannenberg opened #8306 "UX: Automate User Feedback - Surveys / Polls"
As a product team, so that we can more easily capture qualitative user data, we need a system for automating qualitative user feedback mechanisms.

## Pre-Conditions

## Acceptance Criteria
- Qualitative user feedback needs are identified
- Methods for capturing and automating user feedback are identified
- Work required to execute automated feedback methods is added to the product backlog

## Not

[2022-01-28 19:37] mariahkannenberg opened #8307 "UX: Automate User Feedback - Data"
As a product team, so that we can more easily capture quantitative user data, we need a system for automating quantitative user feedback mechanisms.

## Pre-Conditions

## Acceptance Criteria
- Quantitative user feedback needs are identified
- Methods for capturing and automating user feedback are identified
- Work required to execute automated feedback methods is added to the product backlog

##

[2022-01-28 20:08] mariahkannenberg opened #8308 "New item"
As a product team, so that we_______,  we need ________.

## Problem/Observation
I'm not sure that we explicitly called this an experiment. But I'm wondering if we want to follow up on the effectiveness of the changes at some point.  https://www.figma.com/file/gdVjUJ1Y7vvYoxLkBxGBji/Column-%26-Label-Discussion

## Hypothesis

## Experiment Details
Changed the layout of the board in order to reduce

[2022-01-28 20:13] mariahkannenberg opened #8309 "Experiment: Psychological Safety"
As a product team, so that we_______,  we need ________.

## Problem/Observation
This item came from a psychological safety brainstorm that was conducted during relaunch. Are there any experiments that we want to try? https://app.mural.co/t/flexion3139/m/flexion3139/1643043228299/dd97e3903c85842b5b1b86947696456d65137a4c?sender=u91c7d02f25378060d0ae4443

See comments for content from the relaunch t

[2022-01-28 20:15] mariahkannenberg commented on #8309
From the Relaunch Trello Card.
As a team we want to better define what is psychological safety means and come up with a way to measure it on our team.

## AC:

- Document current understanding of psychological safety
- Determine metrics on how we will make sure team is striving to achieve psychological safety
- Come up with possible cadence for psychological safety check ins

## Results from 2 ses

[2022-01-28 20:40] mariahkannenberg opened #8310 "Experiment: Scrum Ceremony Improvements"
As a product team, so that we_______,  we need ________.

## Problem/Observation
This item came out of a scrum ceremony feedback session during the relaunch. I'm not sure if any of this is an experiment or something you might want to follow up with to track the effectiveness of.

See comments for notes from the relaunch.

## Hypothesis

## Experiment Details
-Shortened daily stand ups.
- Moving gr

[2022-01-28 20:40] mariahkannenberg commented on #8310
Scrum Ceremonies Discussion - Project Re-launch 1/24/22

**Questions to discuss:**
What do you feel is going right about our scrum ceremonies?
What could be improved upon?
Do the time and frequency of the ceremonies work or do they need to change?

**Potential ideas from Breakout Session w Holly, James, Jim, Rosie, Tenille, Tim**
 - Set aside allocated time for prod support issues
 - If there is a

[2022-01-28 20:45] ttlenard commented on #8178
I went down some rabbit holes with this one, because this all started with a docket entry that was filed in error. This bug in particular is that the document cannot be served - they keep getting a 400 error for this, and this is preventing them from being able to serve the document and then strike it from the record.

This led me to looking over this workflow as a whole. "What happens if a court

[2022-01-28 20:56] liadmccabe commented on #8305
Status Update as of 1/28/2022 - Tenille, Sui, Mike, and I met for an hour to discuss ZenDesk labels options and ideas. We brainstormed some possible avenues to take and ended with a few action items to include: 1) Tenille looking into whether it's possible to export the excel files to include the body of the tickets and if that's a feasible option 2) For Sui, Tenille and I to bring up the topic of

[2022-01-28 21:20] swongCO commented on #8305
Another idea from the meeting on 1/28 - utilize ZenDesk's API and create a ZenDesk Lite app that Lia and myself can access, thereby freeing up Tenille from the manual work and allowing UX visibility into a broader range of help tickets.

[2022-01-28 21:36] ttlenard commented on #8305
@liadmccabe I think I got confused as to which Thursday meeting you were talking about!  We also have a Thursday meeting with Admissions staff only, so I was thinking we would bring it up on that call, not the Thursday UX call. Sorry for that confusion!

Also, a few other action items from the call from this afternoon were:
- I was going to see what kind of training support we have with our curren

[2022-02-01 16:40] rachelschneiderman commented on #7042
After discussing with Chris and Tenille, legacy sealed docket entries will be migrated to be marked as sealed from the public.

[2022-02-01 19:03] ccolluro opened #8311 "Experiment: Dev/Ex Working Days"
As a product team, so that we can work on dev/ex tasks,  we need dedicate the first two days of the sprint too dev/ex tasks/.

## Problem/Observation

## Hypothesis

## Experiment Details
For the next 3 sprints we will dedicate the first two days only to working on DevEx/OpEx tasks.

## Data to Measure

## Timebox

## Tasks

## Observation/Outcome

## Open Questions

## Notes

[2022-02-02 20:09] ttlenard commented on #8112
**### Test Cases**

**1. Generate a new Short Order of any type in DAWSON. Confirm that the Short Order is compliant with the new style.**
- Log into DAWSON as a docket clerk
- Type in a docket number in the upper right (ex 6543-21), and click search
- Click Create
- Select Order or Notice from the menu
- Select Order Type = Order
- Order Title = you can type whatever you would like
- Click contin

[2022-02-02 22:15] ttlenard commented on #8157
### **Test Cases**

**1. Case w/ parties receiving both paper and electronic service are calendared for In Person trial session; Trial Session is changed from IP to Remote; NORP is generated for clerk for printing paper service, and is generated and served electronically; NORP appears on docket record**
- Log in as a Petitions Clerk
- Click on Trial Sessions
- Click on "Add Trial Session"
- Fill i

[2022-02-03 20:25] ttlenard commented on #8159
### **Test Cases**

**1. Generate a new Notice of any type in DAWSON. Confirm that the Notice is compliant with the new style.**
- Log into DAWSON as a docket clerk
- Type in a docket number in the upper right (ex 6543-21), and click search
- Click Create
- Select Order or Notice from the menu
- Select Order Type = Notice
- Notice Title = you can type whatever you would like
- Click continue
- A n

[2022-02-04 17:11] ttlenard opened #8312 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
When you run the pending report, it is sorted by date in the UI, but if you click on printable report, the PDF that is generated is no longer sorted by filed date, and the entries on the report appear to be in a random order.

Please refer to [2156](https://github.com/flexion/ef-cms/issues/2156) for the Original story that in

[2022-02-07 18:13] ttlenard opened #8313 "BUG: Creating, editing, or deleting a deadline causes the case messages to disappear from view"
**Describe the Bug**
A clear and concise description of what the bug is.
When docket creates, edits, or deletes a case deadline, case messages disappear from view on a case. The only way to get the case messages to re-appear is to either refresh your screen while you are in the case, or navigate out of the case in DAWSON and then navigate back to the case, and click on the case messages tab.

This

[2022-02-09 19:26] mariahkannenberg opened #8314 "Mission metrics"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes
* Success measures related to our team mission have been documented and added to the backlog for implementation
* What could we measure to ensure the mission to make DAWSON “an easy and simple way to access and manage cases”?
* What could we measure to ensure the mission to deliver “high-quality s

[2022-02-09 22:16] TomElliottFlexion commented on #8156
PR with temporary fix and small explanation: https://github.com/ustaxcourt/ef-cms/pull/1897

[2022-02-10 18:28] TomElliottFlexion commented on #7066
Note: It may be worthwhile to consider [bug 9323](https://github.com/flexion/ef-cms/issues/9323) and the resulting [changes](https://github.com/ustaxcourt/ef-cms/pull/1897) when refactoring roles.

[2022-02-10 19:39] mariahkannenberg commented on #8156
Just reading through this now and realizing that this is not a use case we have developed for in the past. A story was back logged for this functionality last year, but [only for internal users.](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/4437) We would also need to create this functionality for non-court users (as described in this bug). This bu

[2022-02-10 19:48] swongCO commented on #8087
When a petition is being created, the user gets to the page where they're able to click "Serve" and the petition will be entered into the system. There is a notification component that lists the orders/notices needed that the user had selected in the previous step.

Here's the existing notification for reference:
![Existing notification of orders needed.png](https://images.zenhubusercontent.com/61

[2022-02-10 23:07] swongCO commented on #8087
![Drafts tab counter 1.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/5cfd1bab-f46e-463f-9ad5-0a2f33b7a06e)
![Drafts tab counter 1-double digits.jpg](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/dc35ed95-2bdc-4ee2-ab37-a27545d1f8bf)
- When an order/notice is automatically created for the user, it will display in the Drafts tab in the navigation
- There will be

[2022-02-14 13:56] ttlenard opened #8315 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
When a Petitions Clerk clicks the button to set a calendar that has ~100 cases, an error message appears only after a few seconds indicating that the "The system is taking too long to respond. Try again." In the session that she attempted to Calendar, only 1 case out of 100 actually got calendared. This was reported on 2-11-2

[2022-02-14 21:34] TomElliottFlexion commented on #8156
Determined that no changes would be made until a larger role-based refactoring can be done. Revert [here](https://github.com/ustaxcourt/ef-cms/pull/1900).
[Logging](https://github.com/ustaxcourt/ef-cms/pull/1905) to record events similar to this bug.

[2022-02-14 21:45] TomElliottFlexion commented on #8156
Important note: the script referenced above locates records that may not be faulty/broken. There are several scenarios in which a practitioner may legitimately have no `PrivatePractitioner` entity in the case partition but a `UserCase` entity in the user partition; most notably if the practitioner signs as a _petitioner_ on the initial petition and is therefore added as a _petitioner_ on the case.

[2022-02-15 22:18] cholly75 opened #8316 "New item"
As a petitions clerk, so that I can provide pro se petitioners whose requested place of trial is Los Angeles, CA with tax clinic documentation, I need to be able to send out clinic letters with the Notice of Receipt of Petition.

For pro se petitioners who may not be able to afford or locate counsel to guide them through their case, there are tax clinics available as a resource who often advise an

[2022-02-15 22:50] cholly75 opened #8317 "Clinic Letter w/ Notice of Receipt of Petition (Proceeding Type)"
As a petitions clerk, so that I can provide appropriate clinic letter documentation, I need to be able to send out clinic letters with the Notice of Receipt of Petition based on the Proceeding Type of the case.

For pro se petitioners who may not be able to afford or locate counsel to guide them through their case, there are tax clinics available as a resource who often advise and/or represent low

[2022-02-15 22:51] #8171 closed, assigned to nobody

[2022-02-16 16:00] liadmccabe commented on #8120
@cholly75 and @ttlenard , when completing the UX Review, Sui and I noticed that there seems to be a slight delay with the tooltips over the seal locks.  It is inconsistent when we try to replicate it.  When you hover over the lock, sometimes the tooltip appears instantly and sometimes it takes a few seconds to appear.  The amount of time it took seemed to range enough that I feel a user may think

[2022-02-17 14:43] ttlenard commented on #8087
**### Test Cases**

**1. Petitions clerk starts new Paper petition, Only checks box for "Notice of Attachments in the Nature of Evidence" in the Case Info tab and completes all other required info and creates Case. NANE is not yet generated, but the UI reflects a pending NANE generation.**
- Log in as a Petitions Clerk
- Click on Document QC tab
- Click "Start a Petition" button
- On the Create a

[2022-02-18 13:47] ttlenard commented on #8141
@TomElliottFlexion, @codyseibert

I'm running into errors on Test Case ustaxcourt/ef-cms#6493.  When attempting to unseal a legacy sealed document, I get a 400 error.
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/cc8151d8-f972-4e95-a0e3-6b2e057ae5d6)

Here is the log entry from Kibana:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/96dd8648-

[2022-02-18 16:34] jimlerza commented on #7929
### Test case

After a deployment is complete, check the active table like so:
[code]

Then check the list of dynamodb tables and ensure the old table isn't listed:
[code]

Also check the list of Elasticsearch domains and ensure the old domain isn't listed:
[code]

**Outcome:**

- [ ] New active table/cluster determined
- [ ] Old DynamoDB table deleted as expected
- [ ] Old ElasticSearch cluster d

[2022-02-18 17:24] jimlerza commented on #7779
### Test Case

1. Disable SES:
```aws ses update-account-sending-enabled --no-enabled```
2. Serve a document to a petitioner that is configured for email service and has an email address you can check
3. Navigate to the `/health` status page and observe the email service status
4. Re-enable SES:
```aws ses update-account-sending-enabled --enabled```
5. Refresh the status page and observe the email

[2022-02-18 17:36] jimlerza commented on #7779
After writing that test case and looking over the AC carefully, I don't see any mention of storing failed emails in a queue for processing later; rather, it seems the intention of this task is just to send a system health alert. What mechanism is in place to ensure that we're _actually_ serving documents? Is this intended to be addressed later?

[2022-02-18 17:55] TomElliottFlexion commented on #8112
New order format: [https://app.zenhub.com/files/152320868/91e61f7c-fc89-4fa8-90ae-ff52b0846c6f/download](https://app.zenhub.com/files/152320868/91e61f7c-fc89-4fa8-90ae-ff52b0846c6f/download)

Notice with updated header (ad hoc generated): [https://app.zenhub.com/files/152320868/69ce2bf9-5af7-42d2-9c2a-6007e327bf48/download](https://app.zenhub.com/files/152320868/69ce2bf9-5af7-42d2-9c2a-6007e327bf4

[2022-02-18 17:59] codyseibert commented on #8112
note: This work is basically completed and stored in the `9093-order-style-changes` branch.

[2022-02-18 21:14] TomElliottFlexion commented on #8156
Need to confirm logging works correctly after the update, then this can be called done

[2022-02-18 21:52] cholly75 commented on #8159
Closing story - not needed at this time.

[2022-02-18 21:52] #8159 closed, assigned to nobody

[2022-02-18 23:39] TomElliottFlexion commented on #8156
![Screen Shot 2022-02-18 at 5.39.39 PM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/162cf868-8f98-4834-ac93-82a79229164c)

[2022-02-22 16:15] #8122 closed, assigned to nobody

[2022-02-22 16:32] cholly75 commented on #8170
No longer needed, this was incorporated with the other sealing work, specifically ustaxcourt/ef-cms#7042

[2022-02-22 16:32] #8170 closed, assigned to nobody

[2022-02-22 22:41] cholly75 commented on #8157
@mrinsin @jamesobrooks - confirmed, the Court would like to include the Chambers Phone associated with the trial session and display it in the Judge portion of the information boxes in the upper half of the document.

[2022-02-23 17:29] swongCO opened #8318 "UX Research"
This will cover all the research conducted for the consolidation epic.

[2022-02-24 13:28] ttlenard commented on #8316
### **Test Cases**

**1. Court uploads new clinic letter, categorizes letter (Los Angeles, CA) based on location.**

* Sign in to your AWS account
* Select the appropriate account (Staging for this test)
* Click on Management Console
* Open S3
* In the Buckets search area, type in "Documents"
* Click on the link for **mig.ef-cms.ustaxcourt.gov-documents-mig-us-east-1** or **test.ef-cms.ustaxcourt.

[2022-02-24 17:10] rosiehsmith commented on #8178
The source of this appears to be updating a docket entry from an unservable document type (TE) to a servable document type (MISC), since TE will not create a work item, thus when trying to serve the updated MISC it has no work item associated and fails to serve it. Waiting for more info from [Docket](https://flexion.slack.com/archives/CD4PNKEPK/p1645561917388049) on the preferred direction - eithe

[2022-02-24 20:34] cholly75 commented on #8176
More detailed test cases to be added based on solution approach; the high level test cases are essentially DAWSON workflows as they operated today.

[2022-02-24 21:45] cholly75 commented on #8316
Updated story and file to change location to Los Angeles instead of San Francisco.

[2022-02-25 14:58] #8178 closed, assigned to rosiehsmith

[2022-02-25 15:10] ttlenard commented on #8317
### **Test Cases**

**1. Court uploads new clinic letter, categorizes letter based on location (Los Angeles, CA) and proceeding type.**

* Sign in to your AWS account
* Select the appropriate account (Staging for this test)
* Click on Management Console
* Open S3
* In the Buckets search area, type in "Documents"
* Click on the link for **mig.ef-cms.ustaxcourt.gov-documents-mig-us-east-1** or **tes

[2022-02-25 16:45] cholly75 commented on #8312
In TEST, when viewing the Pending report for the Chief Judge, the UI indicates that the oldest item is from 7/23/15, however the printable version of the report introduces two entries not seen on the UI, from 2009 and 2014.

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/4f5d39c1-bd1f-4182-b4ec-b3cd6411fdfa)

[2022-02-28 14:49] mariahkannenberg opened #8319 "Experiment: Epic Estimations"
As a product owner, so that I can have data to aid story prioritization and scoping decisions,  I need to know how prioritization and scoping decisions I make now affect the approximate start dates of future work.

## Problem/Observation
It is currently difficult to tell how prioritization and scoping decisions that are made now affect the start date of future work.

## Hypothesis
Utilizing our ra

[2022-02-28 22:02] ttlenard commented on #8146
## Test Cases

#### 1) User creates a new case, previews the petition and STIN that were uploaded.

* Log in as a Petitioner
* Click on the Create Case button
* Click on the "Got it, Let's Start a Case" button
* Upload a STIN and click "Continue to Step 2 of 5"
* Upload a Petition, Answer the question about the IRS notice, and then click "Continue to Step 3 of 5"
* Fill out the information for the

[2022-03-01 15:07] cholly75 opened #8320 "Email Notification of Petition Service to Electronic Parties"
As a petitioner with electronic service, so that I know when my petition has been served to the IRS, I need to receive an email notifying me that my petition has been served.

Currently the Notice of Receipt of Petition that is issued when a petition is served to the IRS is printed and mailed to petitioners who receive paper service, but no notification is sent to petitioners/parties with electron

[2022-03-01 19:23] #8315 closed, assigned to codyseibert, ujahio

[2022-03-01 19:24] #8120 closed, assigned to ujahio, rosiehsmith, halprin, rachelschneiderman

[2022-03-01 19:24] #7042 closed

[2022-03-01 19:24] #8141 closed, assigned to codyseibert, TomElliottFlexion

[2022-03-01 19:25] #8101 closed, assigned to codyseibert

[2022-03-02 14:20] cholly75 commented on #8307
@liadmccabe @mariahkannenberg Reaching out to Ryan Wold @ GSA  re: the use of Touchpoints app inside the DAWSON app, will try and get a meeting set up to discuss.

[2022-03-02 21:23] TomElliottFlexion commented on #8316
Format for s3 keys of clinic letters: `clinic-letter-los-angeles-california-regular` (`clinic-letter-<city>-<state>-<procedureType>`)

[2022-03-04 15:25] #8161 closed, assigned to nobody

[2022-03-07 14:10] cholly75 opened #8321 "BUG: Cannot enter a 2016 petition in PROD"
**Describe the Bug**
When attempting to enter a backdated 2016 petition in PROD, when clicking the Create Case button the user gets a "Try again/cancel" error message instead of the case being created. We have ensured the production counter is set correctly and been able to enter successfully on MIG and TEST.

The Kibana logs show the following error when the Create Case button is clicked:

Valida

[2022-03-07 16:46] cholly75 commented on #8321
Docket counter had been set to String, changed it to Number type - clerk was able to successfully process backdated petition.

[2022-03-07 16:46] #8321 closed, assigned to nobody

[2022-03-07 20:26] ttlenard commented on #8178
Note: We had a second report of this occurring today.  The case that this happened to was 27243-15 (index 119) as reported in ZenDesk Ticket 11690. Guidance from the court was for the docket clerk to re-upload the Trial exhibit, and leave the "bad" entry on the docket record for when the issue described by Rosie (above) is figured out.  Wanted to be sure that I documented that this happened again

[2022-03-08 15:21] ttlenard opened #8322 "BUG: Pretrial Memorandum is getting uploaded to cases with Test data populated in the fields"
**Describe the Bug**
A clear and concise description of what the bug is.
This has been reported twice now (Case 5584-21 and Case 1863-21). Petitioner adds a Pretrial Memorandum to their case, all looks correct when previewing the document prior to upload, after upload when viewing the document on the docket record, it has bogus test data in it.

If you look in S3, the original file is the correct

[2022-03-08 18:09] swongCO commented on #8087
Minor updates to number counter specs in Drafts tab. Added mockups of double digits inside number counter.

[2022-03-08 22:32] codyseibert commented on #8322
How to reproduce:

1. download the file from https://app.zenhub.com/files/152320868/d3fb6a4c-d18e-422a-99a7-004b73dd5cbb/download to your desktop with name `testing.pdf`
2. open it in the mac pdf previewer app and save the file (don't make any changes)
3. open the file in chrome, then for "Filed Electronically", check "yes", check it back to "no", then click somewhere else on the page to lose focu

[2022-03-09 15:10] ttlenard commented on #8157
Some initial testing feedback:

1 - Seeing duplicate judges in the dropdown for judges (Sounds like this one isn't related to the Story):
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/ef8aac30-9d81-485c-8644-2ab6ea329d14)

2 - I was on Test case 1 and received an error after changing from in-person to remote. "Trial session could not be edited. Please try again."  The

[2022-03-09 17:35] cholly75 commented on #8112
@codyseibert - two pieces of feedback re: this story

1) We need to add commas after the Petitioner's name and the Respondent's name (i.e., the word "Revenue") as in the attached sample in the story body above.
2) Let's put the word "Revenue" in Respondent's name on a new line aligned with "Commisioner" as in the attached sample in the story body above so it doesn't butt up against the caption div

[2022-03-09 17:42] cholly75 commented on #8112
Additional comment related to general PDF style changes (DevEx work, if I'm not mistaken): it appears the wrong font (and possibly size, but it's hard to tell what's a function of the font difference) is being used on several PDFs resulting in documents with strange or multiple fonts being used. I didn't see these in the preview sent prior to reviewing the story, some examples are attached here.

[2022-03-09 18:24] cholly75 commented on #8157
Confirmed - seeing the same thing as @ttlenard 's ustaxcourt/ef-cms#6492 above - attempting to edit trial session to remote for the 4/4 San Francisco session w/ Judge Toro in TEST

[2022-03-09 18:27] cholly75 commented on #8157
Still seeing duplicate entries for judges Choi and Landy.

[2022-03-10 13:06] ttlenard opened #8323 "BUG: The "Back to Draft Document" link brings you to Drafts tab instead of the Proposed Stip Decision"
**Describe the Bug**
A clear and concise description of what the bug is.
A Judge reported that if you click on the "Back to Draft Document" URL when you are on the screen to sign the Stipulated Decision, DAWSON will bring you back to the drafts tab (which is empty), rather than back to the Proposed Stipulated Decision document, which is where you started.  He reported that the link used to take yo

[2022-03-10 15:02] cholly75 commented on #8112
@codyseibert - generated an order ([https://app.zenhub.com/files/152320868/4db95788-2128-48ef-ba57-4d3068574bfc/download](https://app.zenhub.com/files/152320868/4db95788-2128-48ef-ba57-4d3068574bfc/download)) and it looks like the work done to normalize the header font for pages 2 and beyond has reverted? Are you seeing the same?

[2022-03-10 15:24] ttlenard commented on #8322
We received some additional information from the Petitioner:

**1.  Where did he download the original file from?**
He retrieved the PTM from the Court’s website.

**2.  What browser was he using?**
Google Chrome.

**3.  How did he fill it out? Adobe reader? In a browser?**
Through the browser.

**4.  What were the processes he used when saving the document? (save first as a word doc? google doc?

[2022-03-10 17:37] rachelschneiderman commented on #8176
Court operating hours: 8am-5pm EST

DAWSON must be up until midnight on the weeknights to be available to folks trying to meet filing deadlines

Court does not make any guarantees that its systems are available on the weekends when the court is open.

[2022-03-10 17:54] cholly75 commented on #8176
Chris to write spike story for slice of this - starting with petitioner uploading petition flow to see what changes would need to be made for eventual solution.

Chris to confirm with court what intermediate measures might be acceptable in terms of getting to the "gold standard"

Both stories to be added to the epic.

[2022-03-11 12:33] ttlenard commented on #8091
### **Test Cases**

**1. Petitions clerk starts new Paper petition, Only checks box for "Order for Filing Fee" in the Case Info tab and completes all other required info and creates Case. Order is not yet generated, but the UI reflects a pending Order generation.**
- Log in as a Petitions Clerk
- Click on Document QC tab
- Click "Start a Petition" button
- On the Create a case screen, select "Peti

[2022-03-11 13:17] ttlenard commented on #8163
### **Test Cases**

**1. Petitions clerk starts new Paper petition, Only checks box for "Order to Show Cause" in the Case Info tab and completes all other required info and creates Case. Order is not yet generated, but the UI reflects a pending Order generation.**
- Log in as a Petitions Clerk
- Click on Document QC tab
- Click "Start a Petition" button
- On the Create a case screen, select "Petit

[2022-03-11 16:39] ttlenard commented on #8164
### **Test Cases**

**1. Petitions clerk starts new Paper petition, Only checks box for "Order for Amended Petition" in the Case Info tab and completes all other required info and creates case. Order is not yet generated, but the UI reflects a pending Order generation.**
- Log in as a Petitions Clerk
- Click on Document QC tab
- Click "Start a Petition" button
- On the Create a case screen, select

[2022-03-11 18:39] cholly75 commented on #8112
All tests pass except ustaxcourt/ef-cms#6493 (SPTO) - it still retains the old header styling. I think that's OK, as that one really resembles a notice more than an order anyway. @codyseibert - do you know if the code for the 2nd page header font correction just never made it over to TEST when we implemented it, or is it a regression bug?

[2022-03-11 18:56] cholly75 commented on #8112
Update: yeah, we need to fix the SPTO.

[2022-03-11 19:29] ttlenard commented on #8165
### **Test Cases**

**1. Petitions clerk starts new Paper petition, Only checks box for "Order for Amended Petition and Filing Fee" in the Case Info tab and completes all other required info and creates case. Order is not yet generated, but the UI reflects a pending Order generation.**
- Log in as a Petitions Clerk
- Click on Document QC tab
- Click "Start a Petition" button
- On the Create a case

[2022-03-14 14:56] ttlenard commented on #8173
### **Test Cases**

**1. Pro se petition is calendared for trial session with a Trial Location that has only one clinic letter available; notice setting case for trial is generated; notice document has appropriate clinic letter appended as final pages of document**
- Ensure that there is a clinic letter in the repository for a small proceeding type in Denver, CO. Be sure that there is NOT a clinic

[2022-03-14 16:29] rachelschneiderman commented on #8323
Waiting on some clarification and potentially converting to a story as this appears to be working as originally designed and implemented ([original story](https://github.com/flexion/ef-cms/issues/5841)).

[2022-03-15 13:15] #6715 closed

[2022-03-15 13:41] #7445 closed, assigned to nobody

[2022-03-15 13:42] #7594 closed, assigned to nobody

[2022-03-15 13:45] #8063 closed, assigned to nobody

[2022-03-15 13:46] #8130 closed, assigned to nobody

[2022-03-15 15:53] cholly75 opened #8324 "SPIKE: Session Management - Petitioner Creates New Case Flow"
As a petitioner, so that I can be sure that I can e-file my petition without interruption, I need to be able to continue to work through the New Petition workflow even if a deployment activity happens while working through the workflow.

This story is a spike to run experiments and gather information to determine what issues will need to be addressed as part of the eventual solution to maintaining

[2022-03-15 15:55] cholly75 opened #8325 "SPIKE: Chief Judge Transition"
As a court, so that business operations transition smoothly, I need to understand what changes need to be made in DAWSON at the code level to facilitate the change from Chief Judge Foley to Chief Judge Kerrigan.

On June 1 2022, Judge Kerrigan assumes the office of Chief Judge, an office held in its entirety during DAWSON's lifespan by Judge Foley. In addition to updating things like the Chief Jud

[2022-03-15 16:04] cholly75 opened #8326 "Edit Docket Entry: Unservable to Servable Document Types"
As a Docket Clerk, so that I can correct mislabeled docket entries, I need to be able to change a docket entry initially classified as an "unservable" document type to a "servable" document type.

Note: this is in response to discovery w ustaxcourt/ef-cms#8178 - see notes from @rosiehsmith

Currently, if a docket entry initially entered as a type considered by DAWSON to be "unservable" is edited t

[2022-03-16 15:45] mlissner commented on #1834
Hello, I'm curious if anybody from the court is able to respond to this issue. We love and appreciate your new system, but it makes it exceptionally hard to gather data from the court, affecting a bunch of different folks, as you can see in the comments.

It'd be great to at least know if this feature is planned or if there might be a timeline. At least that way we can plan things on our end. Than

[2022-03-16 16:47] rawillis3 commented on #1834
I should probably open a separate thread for this, but I also would
like to know whether at some point we might get online access to
motions and briefs, not just orders.

On 3/16/22, Mike Lissner ***@***.***> wrote:

--
Russell A. Willis III, J.D., LL.M.
d/b/a Planned Gift Design Services
https://www.plannedgiftdesign.com
1042 East Lester Street
Tucson, AZ  85719-3543

314.566.3386
***@***.***

wr

[2022-03-17 17:39] swongCO commented on #8087
Updated title of new section to "Orders/Notices Automatically Created in Drafts After Service"

[2022-03-17 17:43] swongCO commented on #8091
Updated section title verbiage to "Orders/Notices Automatically Created in Drafts After Service". See 8993 for reference.

[2022-03-18 17:10] cholly75 opened #8327 "Clinic Letter: Multiple NOTR Scenario"
As a Court, so that we can accurately represent the interests of pro se petitioners with clinic letters attached to the Notice of Receipt of Petition, I need to append a clinic letter to each Notice of Receipt of Petition generated when a petition is served.

When multiple petitioners are attached to a case (for instance petitioner and spouse) but they have two different addresses, two Notices of

[2022-03-22 12:53] ttlenard opened #8328 "BUG: When attempting to view docket section outbox, user is logged out"
**Describe the Bug**
A clear and concise description of what the bug is.
This was reported by Docket. When navigating to the processed tab of the section outbox screen, they immediately get the "Technical Error" message and are kicked back to the login screen.

We have run into something like this before. This bug [8933](https://github.com/flexion/ef-cms/issues/8933) was logged.  Mike then created

[2022-03-22 16:22] TomElliottFlexion commented on #8322
Update: The PDF has been replaced with a fresh, test-dataless PDF. Monitoring for future occurrences of this bug.

[2022-03-22 17:06] cholly75 opened #8329 "Notice of Change of Trial Judge"
As a clerk, so that I do not have to manually generate a Notice of Change of Trial Judge when a calendared trial session is reassigned, I need DAWSON to generate these automatically.

Occasionally, a trial session will need to be reassigned judges due to scheduling conflicts or absence. When this happens, clerks edit the Judge and the Chambers Phone Number on the Trial Session in DAWSON, and are t

[2022-03-22 17:09] cholly75 commented on #8158
@liadmccabe - are you OK with me adding AC in this story to address the better UI for waiting for generated documents we discussed (i.e., progress bar), or would you prefer I add it to the next story in the pipeline (9467) that will have the same behavior?

[2022-03-22 17:15] liadmccabe commented on #8158
@cholly75 yeah that's fine to have it here

[2022-03-24 14:39] #8175 closed, assigned to jamesobrooks, mrinsin

[2022-03-24 14:39] #8313 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-03-24 14:39] #8312 closed, assigned to ujahio, halprin, shumway-tm

[2022-03-24 14:39] #8156 closed, assigned to halprin, TomElliottFlexion, shumway-tm

[2022-03-24 14:54] #8322 closed, assigned to codyseibert, TomElliottFlexion

[2022-03-25 15:03] #8310 closed, assigned to ccolluro

[2022-03-25 15:03] #8308 closed, assigned to ccolluro

[2022-03-25 17:50] cholly75 opened #8330 "Add Notice of Receipt of Petition to Docket Record"
As a court user, in order to provide full transparency to the public on the status of a case, I would like the docket record to reflect when a petition has been received/served by the court.

Currently when a petition is served to the IRS, DAWSON generates a Notice of Receipt of Petition informing the petitioner. This Notice (NOTR) is only made available via the Print Confirmation link located on

[2022-03-28 13:53] cholly75 commented on #8087
@rosiehsmith @Absolutestunna @shumway-tm Looks great, one piece of feedback - can we get a new paragraph indent on the first line of text when we create the draft notice (see attached sample text for example)?

[2022-03-28 15:09] cholly75 commented on #8091
@ttlenard - FYI, the description of the order in the Draft folder will say "Order" as it's keying off the actual title of the Order in the text.

[2022-03-28 17:35] ttlenard commented on #8327
### **Test Cases**

**1. Petition is entered with petitioner and spouse having different addresses with neither party having counsel. Petition is served; appropriate clinic letter is appended to each NOTR generated**

- Ensure that there are two clinic letters in the repository for Denver, CO. Be sure that one letter is for a regular proceeding type, and one letter is for a small proceeding type.

[2022-03-28 17:38] cholly75 commented on #8320
Obviated by ustaxcourt/ef-cms#8330

[2022-03-28 17:38] #8320 closed, assigned to nobody

[2022-03-28 20:28] cholly75 commented on #8091
OF should not have the clerk of the court's signature applied.

[2022-03-28 22:29] ttlenard opened #8331 "BUG: Formatting issues with DAWSON Generated Orders"
**Describe the Bug**
A clear and concise description of what the bug is.
Multiple internal Court staff have reported that there are formatting issues with Orders generated in DAWSON after the new style change was implemented in Story [9093](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/9093).

Issue number 1 - It seems the paragraph indentations in

[2022-03-29 21:00] cholly75 commented on #8163
2 things:

1) Final paragraph appears to be indented one space too many (screenshot attached)
2) Can we clear the populated Description field when going to add the Docket Entry? Otherwise there's text that the clerk will manually have to clear themselves to prevent duplication on the record.

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/cfbcdc5a-52a2-42e9-a491-be68401

[2022-03-29 21:01] cholly75 commented on #8091
@rosiehsmith - same question regarding clearing the description field upon adding a docket entry here as in ustaxcourt/ef-cms#8163? To prevent clerks having to clear it manually

[2022-03-29 21:51] cholly75 commented on #8331
Update: it looks like the the inconsistent behavior is at least partially a result of the justification implemented with orders to conform to the new Court style guide.

[2022-03-29 22:08] rosiehsmith commented on #8331
@shumway-tm caught that in [9340](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/9340) especially, you can see the impact of justification on the last paragraph. we tried an experiment to update the generated order's `#order-content`'s text-align to left instead, and the spacing at the beginning of the paragraphs looks equal.

[2022-03-30 03:14] rosiehsmith commented on #8163
For future reference, feedback item 1 will hopefully be addressed by ustaxcourt/ef-cms#8331! https://github.com/flexion/ef-cms/issues/9473#issuecomment-1082407356

[2022-03-30 12:45] ttlenard commented on #8088
### **Test Cases**

**1. Petitions clerk starts new Paper petition, Only checks box for "Order Designating Place of Trial" in the Case Info tab and completes all other required info and creates case. Order is not yet generated, but the UI reflects a pending Order generation.**
- Log in as a Petitions Clerk
- Click on Document QC tab
- Click "Start a Petition" button
- On the Create a case screen,

[2022-03-30 17:00] cholly75 commented on #8163
@rosiehsmith @shumway-tm - We found an issue with these notices, in that if the notice is edited/previewed in any way (or just saved from the Edit screen) then the spacing between paragraphs is lost.

[2022-03-30 17:01] cholly75 commented on #8091
@rosiehsmith @shumway-tm - We found an issue with these notices, in that if the notice is edited/previewed in any way (or just saved from the Edit screen) then the spacing between paragraphs is lost.

[2022-03-30 17:27] TomElliottFlexion commented on #8328
Update: Short term: Outbox will retrieve fewer, smaller items, based on a configurable number of days to query for.
Long term: Story will be added to backlog to redesign section "Processed" tab

[2022-03-31 16:30] cholly75 opened #8332 "New item"
As a terminal user, so that I do not think I have access to sealed docket entries, I need sealed docket entries to not be hyperlinked on the docket record.

With the implementation of the ability to seal specific docket entries without sealing the entire case, we have a new use case for the Terminal User role that was developed prior to this functionality.

Currently, the terminal user can see the

[2022-04-01 14:55] cholly75 commented on #8331
**NOTE**: We have approval from the court to remove the right justification on the style if that solves the indentation problem.

[2022-04-01 15:33] cholly75 commented on #8163
@rosiehsmith - can we blank the description field in the same manner we did for the OFF and NANE? I know there was a branch/code overwrite that had removed it previously from those stories, so I'm wondering if that's the case here or we just haven't implemented it.

[2022-04-01 17:45] rosiehsmith commented on #8163
^^ for future reference, this was happening when you edit the order, then add the docket entry. this is a slightly different flow than the previously addressed clearing of the description field for 9001 and 9340 which was clearing the description field on the initial adding of the draft docket entry upon serving the petition.

[2022-04-01 21:05] cholly75 opened #8333 "BUG: Copy/Paste From Within Edit Document Screen Shrinks Font Size"
**Describe the Bug**
When text in the Edit Document screen (the Generate tab) is copied and then pasted back into the same screen elsewhere, the resulting text is a smaller font size than the standard uniform text size and cannot be changed.

**Business Impact/Reason for Severity**
Many documents contain repeated boilerplate text that are used in several different places; because the resulting doc

[2022-04-01 21:06] cholly75 commented on #8331
Copy/Paste symptom has been offloaded to ustaxcourt/ef-cms#8333

[2022-04-04 16:15] ttlenard opened #8334 "BUG: FiledBy Value on the docket record is not reflecting who filed the document correctly"
**Describe the Bug**
A clear and concise description of what the bug is.

A court user reported that the Filed By column on the docket record is not reflecting who filed the document correctly.  The specific issue that was reported was that an Intervenor on a case filed a document via paper, Docket added the paper filing, indicated that the intervenor filed it, but the docket record listed the Int

[2022-04-05 13:40] #6994 closed

[2022-04-05 14:59] halprin commented on #8327
Started in on this...  The current branch is `story-9464-multiple_notr_real`.

# Changes Thus Far

- `shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.js`: I no longer convert the `UInt8Array` to a `Buffer` in `generatePaperNoticeForContactSecondary` because if there's a secondary petitioner, the `combineTwoPdfs` will crash.
- `shared/src/business/useCases/serveCaseToIrs/serveC

[2022-04-05 15:29] ttlenard commented on #8330
### **Test Cases**

**1. Paper pro se petition is served, clerk is presented with printing paper service, the Notice of Receipt of Petition is added to the Docket Record and is still available on the Print confirmation link.**
- Log in as a Petitions Clerk
- Click on Document QC Tab
- Click on "Start a petition" button
- Select the party type as "Petitioner" and fill out all of the required fields

[2022-04-05 16:59] ttlenard commented on #8329
### **Test Cases**

**1. Clerk reassigns judge for Regular trial session; Notices of Change of Trial Judge are generated for all open cases on the session; text of notice matches AC provided; notices are presented for paper service and served electronically; notices are added to docket records appropriately**
- Log in as an Admissions Clerk
- Click on Trial Sessions menu
- On the Open tab, select

[2022-04-05 18:32] cholly75 opened #8335 "BUG: Order for Filing Fee - Incorrect URL"
**Describe the Bug**
The URL in the Order for Filing Fee that is generated upon petition service is missing the underscore character. Currently the generated order directs the petitioner to "www.ustaxcourt.gov/case related forms.html" . The correct URL is "www.ustaxcourt.gov/case_related_forms.html" .

**Business Impact/Reason for Severity**
Currently users area able to edit the form to add the un

[2022-04-06 13:36] cholly75 commented on #8163
@shumway-tm - now that we've fixed the overall formatting by removing the right justification, is there anything we can do about the single extra space in the tab indent for paragraph 2?

(Actually, can we just have all the paragraphs do the default tab indent spacing now that that's working again?)

[2022-04-06 13:55] #7856 closed, assigned to nobody

[2022-04-06 14:20] rosiehsmith commented on #8163
For the first question, last night staging, which had the indent fix from migration, was merged into test so it should be all aligned unless my eyeballs aren't working
![image](https://user-images.githubusercontent.com/16403861/161996412-dda8298b-ae79-4629-b8a9-d2c7e9bf34b7.png)

[2022-04-06 15:01] shumway-tm commented on #8163
@cholly75 The paragraph indentations look aligned to me as well @rosiehsmith.

[2022-04-06 15:04] cholly75 commented on #8163
@rosiehsmith  @shumway-tm - aha! Yes, this morning things are lining up correctly, thanks! No need to replace the indentation with the default spacing, as these are all uniform.

It does look like we're missing the underline under the word "See" in the phrase "See section 7463(a)(1)..." at the end of the first graf.

[2022-04-06 16:18] cholly75 commented on #8163
Update to the AC: the Court would prefer this document be generated as the OSCP event code, so that they get the more verbose docket entry addition; this allows them to supply a due date and any free text as required (see screenshot below)

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/15305d93-ce18-4405-be23-0e5181507faa)

Discussed w/ Rosie and Tim - provisionally ad

[2022-04-06 18:11] rosiehsmith commented on #8163
You know, I think I'm changing my mind with doing this as feedback on this, sorry :) Do we know why they want the date to be available here? If it's more about having the date available and not specific to that event code OSCP, an option could be to add the date to the form for OSC. Would it be helpful to include UX in this?

[2022-04-06 18:21] cholly75 commented on #8163
@rosiehsmith totally fine - they would rather have it as an OSCP event code not just because it has the date picker, but also because OSCs can be issued to make the parties show cause for any number of things in a particular case, so using OSCP as the standard for THIS particular order to show cause (arguably its intended function in the first place, based on the prefilled text in the dropdown) ju

[2022-04-07 14:55] ttlenard commented on #6965
@cholly75 Some additional information that will be helpful for this story.

- When searching for a specific attorney in the Advanced Practitioner Search, partial matches return results.
     -  example:
     - Search for Peter Karl
     - Results return for Peter Adam Karl III (KP0135)
- When searching for a specific attorney to add them as counsel on the Parties tab within a case, partial matches

[2022-04-07 15:01] ttlenard commented on #7078
@cholly75 We had a ZenDesk ticket come through that was requesting this feature as well. https://ustaxcourt.zendesk.com/agent/tickets/12713

This particular scenario had to do with a case (4806-15) that had an opinion that was coming out, so docket was ensuring that the docket record was clean and accurate.  Docket wanted to update the filings and proceedings column so that the wording of the dock

[2022-04-11 18:29] #6903 closed

[2022-04-11 18:30] #6996 closed

[2022-04-11 19:04] cholly75 opened #8336 "New item"
As a court, so that motions can be granted or denied expeditiously, I need the ability to "stamp" grant or deny motions filed with the court.

When motions are filed with the court, a judge must grant or deny the motion. In prior systems, commonly filed motions were "stamp" granted or denied, meaning that instead of writing out additional documentation (for example, an order explicitly granting or

[2022-04-11 20:53] cholly75 opened #8337 "New item"
As a court user, so that information does not get incorrectly assigned, I need DAWSON to reflect that Judge Guy has retired.

Judge Guy has retired from the USTC effective 3/31/22. There are several places in the application that need to be updated to reflect this, so that new case information does not get incorrectly assigned or potentially ignored. We need to remove the ability to assign data to

[2022-04-12 13:12] cholly75 opened #8338 "Court: Remove New Trial Session View from Judge/Chamber Roles"
As a judge or chambers associate, so that I only see trial sessions that have been calendared, I need to only see the Open, Closed, and All views on the Trial Session screen.

The calendaring process can take days or weeks as trial sessions are created, edited, rescheduled, and rearranged based on feedback and judge preference and clerk availability. During this time, trial sessions in the New vie

[2022-04-12 15:55] ttlenard commented on #8332
There are no more hyperlinks on sealed documents in unsealed cases. Looks great!

[2022-04-13 15:13] ttlenard commented on #8327
Some notes on behavior:
1- If there is a Petitioner and Spouse with different addresses, and one petitioner is represented; It is ok if they are still receiving a print confirmation of the Notice of Receipt of Petition at this point.
2 - If there is a Petitioner and Spouse with the SAME address, and one petitioner is represented, only one Notice will be generated for paper printing, even though th

[2022-04-13 15:49] ttlenard commented on #8158
## Test Cases

####  1) Case w/ parties receiving electronic service is calendared for Remote trial session; Trial Session is changed from Remote to IP; NOIP is generated and served electronically; NOIP appears on docket record
* Log in as a Petitions clerk
* Click on Trial Sessions
* Click on Add Trial Session
* Pick a date in the future, Proceeding type = Remote, fill in all other required field

[2022-04-13 15:56] swongCO commented on #6969
![Add Docket entry modal 1.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/6d064db7-9a24-4220-ad1f-03d08c326cdb)
![Add Docket entry modal 2.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/0e845f22-b7de-46ee-baad-95abe7fdc673)
On the Add Docket Entry page of a **lead case in a group**, when a user clicks "Save and Serve", display a modal with modified content:

[2022-04-13 16:22] swongCO commented on #6969
![Docket record confirmation.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/60ee3356-8d51-497c-bcfd-4805029c9c95)
After the user clicks "Yes, Serve", keep the existing flow and navigate to the Docket Record page:
1. Display the existing confirmation banner with the amended text "Document served to selected cases in group."

[2022-04-14 12:55] ttlenard commented on #8337
## Test Cases

#### 1) Offboarded Judge should not appear in any of the dropdown menus related to Trial Sessions

**Add New Trial Session**
- Log in as a petitions Clerk
- Click on Trial Sessions
- Click on Add trial session
- Scroll down to the Judge area and click on the Judge Dropdown
Expected Results
- [ ] Judge Guy is not on the list of Judges to select from

**Edit Trial Session**
- Next, ca

[2022-04-14 16:40] cholly75 opened #8339 "New item"
As the Court, so that the cover sheets of documents explicitly relate to the docket record, I want to display the docket entry number in the Case Caption on the cover sheet.

For documents that have cover sheets generated, the cover sheet does not give an indication as to who filed the document or to which docket entry it pertains to. Rather than extrapolate the filing party or name from the docke

[2022-04-14 20:06] TomElliottFlexion commented on #8325
## 9462 SPIKE

### Changes needed:
- Add feature flag to enable switchover without deploy
- Change value of `chiefJudgeNameForSigning` (conditionally w/ feature flag) in `sharedAppContext` and fix resulting broken hardcoded tests.
- Refactor tests to use constant for Chief Judge instead (optionally do this step first to avoid broken tests)
- Change Kerrigan's Title to `Chief Judge` and Foley's to

[2022-04-15 14:30] jamesobrooks commented on #8325
@TomElliottFlexion would it work (or even make sense) to instead of a feature flag, have the Chief Judge be a configuration item similar to what we recently worked on?

[2022-04-15 14:34] TomElliottFlexion commented on #8325
Funny that you mention that- we talked about it and since we'd have to query for it before applying any signature, or before serving most documents, the performance hit most likely wouldn't be worth the convenience

[2022-04-15 14:43] jamesobrooks commented on #8325
Cool. I wouldn't push too hard for it, but if we could grab it once per session I think it might have benefit. Of course Chief Judge won't change too often, but there might be the possibility of abrupt changes for various reasons. @cholly75 could probably tell us more about what might happen in the case of short-notice retirement, incapacitation, etc.

[2022-04-15 14:46] cholly75 commented on #8325
Great thoughts, appreciate the forward thinking! When the CJ is out (vacation, illness, emergency, whatever) an order is issued granting another judge "Acting" CJ powers in their absence (precisely to avoid having to implement new stuff every time). In the case of short-notice retirement or an otherwise longer term thing that would require a more permanent change in officeholder, the Court would h

[2022-04-15 14:59] ttlenard commented on #8338
## Test Cases

#### 1) As a Judge, when viewing the Trial Sessions screen, only the Open, Closed, and All views are displayed
- Log in as a Judge
- Click on Trial Sessions
Expected Results
- [x] Open, Closed, and All views are displayed
- [x] New View is not displayed for Judge User
- [x] Default view is the Open tab

Click on the All Tab
Expected Results:
- [x] Judge user can still see trial sess

[2022-04-15 15:30] cholly75 opened #8340 "New item"
As a court, so that there is a smooth transition between Chief Judge officeholders, I need to make sure DAWSON is prepared to transition to the new Chief Judge on 6/1/2022.

On June 1 2022, Judge Kerrigan assumes the office of Chief Judge, an office held in its entirety during DAWSON's lifespan by Judge Foley.  Spike ustaxcourt/ef-cms#8325 was completed to determine what needs to be addressed in D

[2022-04-15 15:58] TomElliottFlexion commented on #8325
@jamesobrooks We just talked about this too! I also wouldn't be opposed to using this as an opportunity to implement that pattern- if we had solid infrastructure around this it would open up a lot of configuration options down the road.

[2022-04-18 16:47] cholly75 opened #8341 "Consolidation: Identify Lead Case in UI"
As as DAWSON user, so that I can accurately make filings in the lead case in a consolidated group, I need to be able to easily identify which case is the lead case.

Sometimes petitioners with multiple separate cases before the Court will have those cases consolidated into a single group for purposes of adjudication. When this happens, those cases are considered a consolidated group.

When a conso

[2022-04-18 17:55] swongCO commented on #8341
![Docket record - Lead case.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/fe35ef80-a2a5-4090-96bc-45d04df85040)

1. Display {lead case} tag in header next to docket number
2. Use existing header tag style
3. Display {lead case} tag as the first one if there are 2+

[2022-04-18 17:57] ttlenard commented on #8330
@codyseibert This story looks great on exp4, but I don't think that the changes that were implemented in 9464 were available yet.  Can we please push this code to TEST so that we can do some testing with the multiple NOTR clinic letter scenario? Thank you!
cc: @cholly75 @jimlerza

[2022-04-18 17:57] ttlenard commented on #8330
@codyseibert This story looks great on exp4, but I don't think that the changes that were implemented in 9464 were available yet.  Can we please push this code to TEST so that we can do some testing with the multiple NOTR clinic letter scenario? Thank you!
cc: @cholly75 @jimlerza

[2022-04-19 13:05] #7929 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2022-04-19 13:05] #8317 closed, assigned to rosiehsmith

[2022-04-19 13:05] #8316 closed, assigned to codyseibert, TomElliottFlexion

[2022-04-19 13:05] #8172 closed, assigned to rosiehsmith, rachelschneiderman

[2022-04-19 13:05] #8112 closed, assigned to codyseibert, TomElliottFlexion

[2022-04-19 13:05] #8157 closed, assigned to jamesobrooks, halprin, mrinsin

[2022-04-19 13:05] #8087 closed, assigned to ujahio, halprin, shumway-tm

[2022-04-19 13:06] #8091 closed, assigned to rosiehsmith, rachelschneiderman, shumway-tm

[2022-04-19 13:06] #8331 closed, assigned to codyseibert

[2022-04-19 13:06] #8333 closed, assigned to codyseibert

[2022-04-19 13:06] #8332 closed, assigned to jamesobrooks

[2022-04-19 13:06] #8327 closed, assigned to halprin

[2022-04-19 13:06] #8325 closed, assigned to TomElliottFlexion, shumway-tm

[2022-04-19 13:06] #8164 closed, assigned to mrinsin

[2022-04-19 13:06] #8163 closed, assigned to shumway-tm

[2022-04-19 13:06] #8335 closed, assigned to rosiehsmith

[2022-04-19 13:06] #8328 closed, assigned to jamesobrooks, TomElliottFlexion

[2022-04-19 19:52] TomElliottFlexion commented on #8173
Clarified logic: Each pro se, paper-service petitioner on a case gets a clinic letter appended to their NTD. If any petitioner on the case needs a clinic letter, then the copy of the NTD on the docket record should have that clinic letter appended to it.

[2022-04-19 20:05] cholly75 opened #8342 "BUG: Consolidated Case List Disappears From Screen"
**Describe the Bug**
On a consolidated case, when a function is invoked from the Case Information screen such as Editing the case status/caption, sealing or unsealing a case, adding it to a trial, marking it high priority, or adding a manual block, the list of cases displayed in the Consolidated Cases portion of the screen disappears.

They only display again if the browser page is refreshed or th

[2022-04-20 12:27] ttlenard commented on #8341
## Test Cases

#### 1) New consolidated group of cases is formed; lead case designation displays in the case header for the lead case
- Log in as a Docket Clerk
- The easiest way to ensure that you are selecting cases that can be consolidated (same requested place of trial, same proceeding type, etc) for testing purposes, is to do the following:
- Click on Trial Sessions
- Click on the New Tab
- P

[2022-04-20 16:02] cholly75 opened #8343 "Modify Filed Date on Auto-Generated Orders"
As a petitioner, so that orders issued to me pursuant to my petition accurately reflect the docket record, I need the automatically generated Order to Show Cause (OSCP), Order for Amended Petition (OAP), Order Designating Place for Trial (ODT), and Order for Amended Petition and Filing Fee (O) to represent the Filed Date of the petition rather than the Served Date.

Originally when developed, the

[2022-04-20 16:39] cholly75 commented on #8165
Update on AC: the court would like the FILED_DATE token to represent the actual Filed date of the petition now instead of the served date. Discussed w/ @halprin and @jamesobrooks

[2022-04-20 17:42] cholly75 commented on #8088
@codyseibert @TomElliottFlexion @shumway-tm - bit of a swerve on this previously reviewed story. The Court has changed direction and would like the FILED_DATE token to reflect the petition filed date as opposed to the served date as previously requested. I've created a new story to address this (#9487) for the other auto-generated docs that use this token. I was thinking that since this story has

[2022-04-20 18:46] ttlenard commented on #8339
## Test Cases

#### 1) Document cover sheet is generated from adding a paper filing; cover sheet reflects case caption w/ Document No. added; Document No. reflects the value of the docket record entry number for the document
- Log in as a Docket Clerk
- Go to a Case
- Click on Create
- Click on Paper Filing
- Fill out the required fields on the add paper filing screen. Select any document from the

[2022-04-20 19:01] ttlenard commented on #8340
## Test Cases

#### 1) Chief Judge signature is applied to an Order, reflects Judge Kerrigan as the officeholder
- Log in as a Docket Clerk
- Navigate to a case in the General Docket
- Click Create
- Click Order or Notice from the dropdown
- Select Order
- Click Continue
- Add some text to the Order
- Click Save
- The Apply Signature screen appears
Expected Results
- [x] The signature stamp says "

[2022-04-20 20:25] ttlenard commented on #8340
Here is what the Chief Judge Signature should look like:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/2ee5af21-d03d-4e10-be68-06341a905d87)

[2022-04-22 15:52] ttlenard commented on #8160
## Test Cases

#### 1) "Searching for Documents in DAWSON" document has been replaced with new version in DAWSON
- Go to the DAWSON public user dashboard
- Click on the Order tab
- Click on the "Learn more about searching in DAWSON" URL in the "How to Search" tile
- Repeat these same steps by clicking on the Opinion tab

Expected Results
- [ ] The updated 508 compliant document opens in a new tab

[2022-04-22 16:01] rosiehsmith commented on #8337
Since `test`, `migration`, and `prod` environments do not get the script `bulk-import-judge-users.sh` run on deploy, we created a script to be run to update the offboarded judge users's role and section.

This script to be manually run on these environments is called `scripts/dynamo/offboard-judge-user.sh` and requires passing in the userId of the judge to offboard. Happy to assist in grabbing thi

[2022-04-22 16:49] cholly75 opened #8344 "Add Filtering to ADC Section Messages"
As a ADC user, so that I can prioritize and understand the work that needs to be done by our section, I need to be able to filter the Section displayed messages.

The ADC section is facing a large backlog of work that needs to be addressed. Operationally so that a more targeted view of messages that need responding to can be addressed, we want to be able to filter the Section Messages for specific

[2022-04-22 17:12] cholly75 opened #8345 "Add Filtering to ADC User Messages"
As a ADC user, so that I can prioritize and understand my work, I need to be able to filter my displayed messages.

The ADC section is facing a large backlog of work that needs to be addressed. Operationally so that a more targeted view of messages that need responding to can be addressed, we want each ADC user to be able to filter their Messages for specific values.

We expect to extend this func

[2022-04-25 13:31] ttlenard commented on #8337
Tests all pass! Thanks all!

[2022-04-25 14:28] ttlenard commented on #8344
## Test Cases

#### 1) Section displays all messages; filter selection is made for To field; displays only messages with the corresponding value in the To field
- Log in as an ADC
- Click on "Switch to Section Messages" URL
- Be sure that you run this test with the Inbox and Sent tabs
- Click on the "To" filter and make a selection

Expected Results
- [x] The Inbox/Sent tabs are now filtered and o

[2022-04-25 15:20] ttlenard commented on #8345
##  Test Cases

_You will most likely need to send some test messages (~10 +?) in DAWSON to a test ADC user in order to perform these tests._
- To set these up:
- Log in as a docket clerk
- Go to a case (take note of the case status) and click on create and then choose Message
- Send a message to ADC 1 user
- Go to a different case with a different case status as the first case, and send a message

[2022-04-25 19:46] cholly75 opened #8346 "New item"
As a ADC user, so that I can prioritize and understand the work that needs to be done by our section, I need to be able to sort the Section displayed messages by docket number, received date, or subject.

The ADC section is facing a large backlog of work that needs to be addressed. Operationally so that a more targeted view of messages that need responding to can be addressed, we want to be able t

[2022-04-25 20:42] cholly75 opened #8347 "New item"
As a ADC user, so that I can prioritize and understand work assigned to me, I need to be able to sort the user messages by docket number, received date, or subject.

The ADC section is facing a large backlog of work that needs to be addressed. Operationally so that a more targeted view of messages that need responding to can be addressed, we want to be able to sort the user messages display by spe

[2022-04-26 13:04] ttlenard commented on #8343
## Test Cases

#### 1) File a petition; serve the petition on a different day than the filed date. Auto-generate the OSCP, OAP, ODT, and Order for Amended Petition and Filing Fee; the filed date referenced in the preamble on these orders reflects the filed date of the petition; the due by date on these orders continues to reflect the order creation date + 60.

- Log in as a petitions clerk
- Click

[2022-04-26 13:08] ttlenard commented on #8346
## Test Cases

#### 1) Section displays all messages by default sort criteria; user sorts by Docket Number (ascending); displays all messages sorted by Docket Number (ascending)
- Log in as an ADC
- Click on the URL "Switch to Section Messages"
- Click on the up/down arrows next to the Docket No. header so that the arrow is pointing up
- Be sure to check all views (Inbox, Sent, Completed)

Expecte

[2022-04-26 13:37] ttlenard commented on #8347
## Test Cases

You will most likely need to send some test messages in DAWSON to a test ADC user in order to perform these tests.

- To set these up:
- Log in as a docket clerk
- Go to a case and click on create and then choose Message
- Send a message to ADC 1 user, take note of what you put in the subject line. Example: "Motion for Default and Dismissal"
- Go to different cases and repeat the ab

[2022-04-26 16:57] cholly75 commented on #8343
Obviated w/ ustaxcourt/ef-cms#8165 where this was applied across all AG forms.

[2022-04-26 16:57] #8343 closed, assigned to nobody

[2022-04-27 14:26] #1485 closed, assigned to mmarcotte, JessicaMarine, ttlenard

[2022-04-27 14:26] #1830 closed, assigned to mmarcotte

[2022-04-27 14:26] #1748 closed, assigned to nobody

[2022-04-27 15:13] #8180 closed, assigned to jamesobrooks, mrinsin

[2022-04-27 18:42] #1796 closed, assigned to nobody

[2022-04-27 18:46] mmarcotte commented on #1806
Cool, @ttlenard -- seems like we are good to go with this with that PDF that you linked.

I think it would be better to store this PDF on our web site and then simply update the hyperlink in our codebase. This will give us more control for the next time it needs to change. I'm going to get with Scott Goodrick, as I think he helps manage those files.

[2022-04-28 14:27] ujahio commented on #8181
onboarding checklist: https://docs.google.com/document/d/1zhvp8vcWnVSvUbTKZ-0sHrf5lA6OTlpXqvjeLgKJtVk/edit
onboarding reference guide: https://docs.google.com/document/d/1jOd0wAsqTDBKsFeEvUj9ezvdTimTsqTwkYd6Imibl3c/edit#
Github docs: https://flexion.github.io/ef-cms/#/
Project workflow: https://lucid.app/lucidchart/eb52faa0-5076-47f1-8cf4-d0fa2da8a768/view?invitationId=inv_3529825c-dcac-41a8-8413-

[2022-04-28 15:07] #1730 closed, assigned to nobody

[2022-04-28 17:02] rachelschneiderman commented on #7880
After talking with @cholly75, we determined DAWSON does not allow the following combinations to file a document:
1) a private practitioner and petitioner name
2) a private practitioner and irs respondent

[2022-04-28 18:38] cholly75 commented on #7880
After conferring w/ Docket section, removed "Motion to Substitute Parties and Change Caption" as an affected document in this story.

[2022-05-01 01:06] codyseibert commented on #8173
@ttlenard test case 11 seems incorrect.  It says setup a case and keep one petitioner as paper.  This would mean we should see some type of print paper service page, but the expected results say it should show a green success message which seems incorrect to me.

[2022-05-02 14:17] ttlenard opened #8184 "BUG: "Spinner of doom" when Docket clerk clicks "complete and send message" when QCing documents or when court users send messages with attachments"
**Describe the Bug**
A clear and concise description of what the bug is.
Court users are experiencing a spinner of doom, and they can only get out of it if they refresh their screen.  This occurs when they are QCing documents and click on the Complete and send message or when they send a message with an attachment.  After they send the message, the spinner of doom appears.  The logs show that the

[2022-05-02 15:41] ttlenard commented on #7880
All tests pass!  Thank you!

[2022-05-02 17:17] ttlenard commented on #8342
Note: I added one more test scenario in the bug above.  Editing the Case Status/Caption also causes the Consolidated case list to disappear from view.
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/44dd6c36-f38c-49b3-bdd9-97e57728c033)

[2022-05-02 17:24] ttlenard commented on #8173
@codyseibert I think you are correct.  Sorry about that!  I'll get test case 11 updated.

[2022-05-02 18:59] rachelschneiderman commented on #8341
While implementing this functionality, we weren't sure if the tag should show only for internal users or for both internal and external users. Waiting for PO to return from OOO to confirm which users should be able to see the tag.

[2022-05-02 19:50] #8088 closed, assigned to codyseibert, TomElliottFlexion, shumway-tm

[2022-05-02 19:50] #8337 closed, assigned to rachelschneiderman

[2022-05-02 19:50] #8330 closed, assigned to codyseibert

[2022-05-02 19:50] #8338 closed, assigned to codyseibert, TomElliottFlexion, shumway-tm

[2022-05-02 19:52] #1223 closed, assigned to mmarcotte

[2022-05-03 12:35] ttlenard commented on #8184
I am no longer seeing the spinner of doom! Thank you!

[2022-05-03 14:25] cholly75 opened #8185 "Court User: Filing a paper document in a consolidated case"
As a docket clerk, in order to prevent having to add multiple docket entries in a group of consolidated cases, I need the system to automatically add a docket entry to any other cases in the group that I choose when saving and serving a paper filing in the Lead case.

When a document is filed in a case that is part of a consolidated group (CG), it is often necessary to have that document reflected

[2022-05-03 14:26] cholly75 opened #8186 "Court User: Editing Docket Entry for Lead Consolidated Case (Court-Issued Order/Notice)"

[2022-05-03 14:26] cholly75 opened #8187 "Court User: Editing Docket Entry for Lead Consolidated Case (Court-Issued Order/Notice)"

[2022-05-03 15:15] #8187 closed, assigned to nobody

[2022-05-03 15:15] cholly75 opened #8188 "Court User: Editing Consolidated Case Docket Entry"
## Pre-Conditions
ustaxcourt/ef-cms#6969

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [ ]  Include a narrative. “As

[2022-05-03 18:00] cholly75 commented on #8173
Spoke w/ @TomElliottFlexion - NTD is not appending clinic letters for efilers. PO feedback delivered.

[2022-05-03 19:37] ttlenard commented on #8173
FYI - I did a few load tests with over 100 cases calendared.  The biggest trial session I created had 123 cases.  It completed in 11:20.  Big trial sessions seem ok!

[2022-05-03 20:01] ttlenard commented on #8342
Retested and now if you edit the case caption or status the consolidated case list remains. Thanks for addressing that!

[2022-05-03 21:14] swongCO commented on #8346
IGNORE FILTERS FOR THIS STORY
![Section Messages - Inbox.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/559b46d2-4a9e-44ff-bdc8-001094ddb095)
![Section Messages - Sent.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/88b2c9b4-c48a-41c9-94da-602b40a8baf3)
![Section Messages - Completed.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/183c425d-

[2022-05-03 21:16] swongCO commented on #8347
IGNORE FILTERS FOR THIS STORY
![My Messages - Inbox.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/9dc65663-c6b6-4476-8edc-674e250705f3)
![My Messages - Sent.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/5f2791f3-dce6-47d1-9866-6ee5637d85d7)
![My Messages - Completed.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/78f9ebf4-7290-4232-818f-

[2022-05-03 21:38] swongCO commented on #8344
![Section Messages - Inbox.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/61be0120-e0d0-41d3-b80a-b58f939a4e1e)
![Section Messages - Sent.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/09ab07f7-26b8-48ea-85cc-c1fab0c73cb2)
![Section Messages - Completed.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/45514db8-8660-4c14-8863-956fb306708e)

[2022-05-03 21:59] swongCO commented on #8345
![My Messages - Inbox.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/83d600b1-ca41-4fc4-a57b-a0ab50c3b3f5)
![My Messages - Sent.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/186f1c91-1e7b-4255-80b7-0708ac9c5aa6)

1. Use existing design and interaction for filter components
2. Inbox filters: Case Status, From, Section
3. Sent filters: Case Status, To, Sectio

[2022-05-04 13:28] #8162 closed, assigned to nobody

[2022-05-04 14:10] mmarcotte opened #2142 "New item"
As a DAWSON Administrator, I want to be notified when the IRS Super User is added to the suppression list. The system should also attempt to remove the IRS Super User from the suppression list.

AC:
* Slack notification occurs in specified channel
* Warning Emails sent to specified addresses

[2022-05-04 14:24] cholly75 opened #8189 "Docket Clerk: Identify Consolidated Cases in QC Display"
As a docket clerk, so that I can tell if a document needing QC is a part of a consolidated group, I need to be able to identify consolidated Lead and member cases quickly from the QC display.

Currently, consolidated case QC items display as separate unconnected entities on the Section and user QC displays. In order to facilitate work assignment more quickly and allow clerks to work more efficient

[2022-05-04 15:52] rosiehsmith commented on #8341
Dev review completed by @mrinsin ✅

[2022-05-04 17:09] halprin commented on #8013
More discussion on ustaxcourt/ef-cms#7896.

[2022-05-05 13:35] #7880 closed, assigned to rosiehsmith

[2022-05-05 13:35] #8165 closed, assigned to jamesobrooks, halprin

[2022-05-05 13:35] #8184 closed, assigned to rosiehsmith

[2022-05-06 16:25] rosiehsmith commented on #8341
UX Feedback to address:
- Expand the width of the case detail header portion that contains the docket number and tags so that they don't wrap to the next line as much
- If tags do end up wrapping, add some vertical space between the lines
- Case title to match the width of the docket number/tags section

This might look like:
<img width="1258" alt="image" src="https://user-images.githubusercontent

[2022-05-09 14:07] cholly75 opened #8190 "New item"
As a judge or chambers user, so that I do not have to re-scan stipulated decisions, I need to be able to remove a signature from a stipulated decision.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The use

[2022-05-09 14:07] cholly75 opened #8191 "Un-Strike a Docket Entry"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-05-09 20:56] cholly75 opened #8192 "Unservable Consolidated Case Documents (Court-Filed)"
As a docket clerk, in order to prevent having to add multiple docket entries in a group of consolidated cases, I need the system to automatically add an *unservable* docket entry to any other cases in the group that I choose when adding a docket entry for a Draft in the Lead case.

When a document is filed in the Lead Case of a consolidated group, usually it also needs to be filed in the other cas

[2022-05-09 21:15] cholly75 opened #8193 "New item"
As a court user, so that I can prioritize my work appropriately, I need to be able to quickly tell when a message is related to a case that is in a consolidated group.

When messages are displayed for sections or users, they are accompanied by the docket number to which that message is attached; however, there is no indication on the message display whether that docket is part of a consolidated gr

[2022-05-09 21:17] #8173 closed, assigned to codyseibert, TomElliottFlexion

[2022-05-10 00:38] cholly75 opened #8194 "Updates to Create/Edit Trial Session Info Pages (Est. End Date/Styling)"
As a court, so that I can manage resources and schedules for employees and parties, I want to be able to enter and view an Estimated End Date for a Trial session.

Currently although clerks can enter a start date for a trial, the trials themselves can be of varying length. In order to manage schedules for judges, clerks, courthouses, etc. and understand the expected duration of any given trial ses

[2022-05-10 16:19] swongCO commented on #8346
Hover tips:
Docket No.: ascending order="Oldest to newest"; descending order="Newest to oldest"
Received/Sent/Completed: ascending order="Oldest to newest"; descending order="Newest to oldest"
Message/Last Message: ascending order="In A-Z ascending order"; descending order="In Z-A descending order"
Hover tips are in Sentence case to be consistent with ones for seal/unseal and all future ones.

[2022-05-11 14:50] ttlenard commented on #8340
Some Testing Feedback:

1. Test Case 7 - Still seeing Chief Judge Foley, and "regular" Judge Kerrigan when sending messages
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/673b324a-fa03-439b-9865-06fa54d9c829)
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/0337d80d-02e8-4df8-9e48-d1a10bc6dbec)

2. Test Case 9 - Decision type of Orders - Docket

[2022-05-11 20:11] #1806 closed, assigned to ttlenard

[2022-05-12 21:31] rachelschneiderman commented on #8329
Waiting to hear from court if the language in the Notice of Change of Trial Judge for when a Remote trial session judge has changed is OK.

[2022-05-13 13:24] ttlenard commented on #6969
## Test Cases

#### 1.1) Docket Clerk is in the lead case of a consolidated group and adds a docket entry; modal appears for clerk to select additional cases to file the document in.
- Log in as a Docket Clerk
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select PDF Upload (can also select Order or Notice)
- Upload a PDF and click Save (or generate a

[2022-05-13 13:50] cholly75 commented on #8158
@rachelschneiderman - there has been an update to the event code for this notice: instead of NOCIP, we would like the code to be NOIP. Let me know if you want to discuss. I will update the language in the story. Thanks!

[2022-05-13 14:15] #8169 closed, assigned to nobody

[2022-05-13 17:08] flooie commented on #1834
@mmarcotte I wanted to come back and touch base on this.  I've seen some great changes to the search pages on the court website but the lack of a permanent URL remains a hinderance to us and our users.  It would be helpful to know if this is on the list of enhancements or not?

[2022-05-16 16:52] cholly75 commented on #8158
Updated template file to remove reference to time zone in notice text.

[2022-05-16 18:07] swongCO commented on #8193
![Messages - consolidation indicators.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/96e3e823-bc7d-4234-8356-681b5297afc2)
![Messages - consolidation indicators hovertips.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/44f35e47-e1e9-4544-b1a8-a273301bfc6d)

1. Use existing consolidation icon
2. Lead case indicator has “L” inside of icon (to be provided as svg

[2022-05-16 19:26] cholly75 opened #8195 "New item"
As a court, so that placement of entered and served stamps is consistent in documentation, I need documents with multiple cover sheets to place the Entered and Served stamp in the correct position.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be pick

[2022-05-16 20:07] halprin commented on #6969
Created the `consolidated-case-with-duplicating-docket-entries` feature flag.

[2022-05-16 20:49] halprin commented on #6969
The model is located at `web-client/src/views/ConfirmInitiateServiceModal.jsx`.

[2022-05-16 21:00] halprin commented on #6969
`web-client/src/presenter/sequences/serveCourtIssuedDocumentFromDocketEntrySequence.js` is the sequence that most likely runs when someone clicks "Yes, Serve".  That sequence could be overridden though.

[2022-05-17 14:42] liadmccabe commented on #8346
The caret design and behavior is changing but it won't be reflected in this story, it will be reflected in 9491.

[2022-05-17 15:37] rachelschneiderman commented on #8329
This story is blocked as we are waiting on Docket - there is a potential change to the language in the generated notice.

[2022-05-17 18:15] mmarcotte opened #2190 "New item"
How can we schedule these and make them less painful?

[2022-05-17 19:37] #8339 closed, assigned to mrinsin

[2022-05-17 19:37] #8342 closed, assigned to ujahio, rgoshen, shumway-tm

[2022-05-17 19:37] #8341 closed, assigned to rachelschneiderman

[2022-05-17 20:47] ttlenard commented on #8193
## Test Cases

#### 1) Message is sent from case that is a Lead Case in a consolidated group; message displays w/ visual cue indicating Lead Case status on user and section message views (based on recipient).
- Log in as a court user (ex: Chambers1)
- Navigate to the lead case in a consolidated group
- Click on Create, and then select message
- Send a new message to another court user (docketclerk

[2022-05-19 20:04] cholly75 opened #8196 "BUG: Notice of Change document cover sheets do not show Document No. in caption"
**Describe the Bug**
Recently a change was made to add "Document No." and the docket index number information to generated cover sheets (#9482). However, in production we find that for change notices (NCA, NCAP, NCP, NOCE) their cover sheets are generating with the "Document No." label but not the corresponding docket entry value.

**Business Impact/Reason for Severity**
Inconsistency across the c

[2022-05-20 21:22] #8181 closed, assigned to ujahio

[2022-05-23 14:29] ttlenard commented on #8192
@swongCO @liadmccabe This story still needs UX added.  When the court adds the documents that require cover sheets, these documents are not served to parties, they are just saved to the docket record. Will need to have design added for a new modal for this workflow, since the existing modal states "are you ready to initiate service?" when selecting cases in a CG. Thanks!

[2022-05-24 19:52] cholly75 opened #8197 "New item"
**Describe the Bug**
Icons for paper documentation and the Notes tab are displaying incorrectly. The paper icon now displays in the color black instead of blue and the Notes tab icon is now an outline instead of a filled shape. See screenshots below.

**Business Impact/Reason for Severity**
UI bug potentially causing confusion

**In which environment did you see this bug?**
PROD/TEST

**Who were y

[2022-05-24 19:56] #8340 closed, assigned to codyseibert, TomElliottFlexion

[2022-05-25 20:54] swongCO commented on #8192
Documents that aren't served only have Save Entry / Cancel as CTAs on the Drafts page:
![Add Docket entry - no serve.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/c4eeacb5-050c-425f-859f-fbafc7fad166)

When the user clicks Save Entry, display the modal with the list of cases:
![Add Docket entry - no serve - modal.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab

[2022-05-26 16:16] rosiehsmith commented on #8197
Blocked to investigate if locking down to `fontawesome` v5 is a viable option to prevent unexpected changes to how the icons look.

[2022-05-26 19:33] ttlenard commented on #8192
## Test Cases

#### 1.1) Docket Clerk is in the lead case of a consolidated group and adds a docket entry (with a document that generates a cover sheet); modal appears for clerk to select additional cases to file the document in.
- Log in as a Docket Clerk
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select PDF Upload
- Upload a PDF, add a descripti

[2022-05-27 14:56] cholly75 opened #8198 "Modify Caseless Petitioner 'My Cases' Page"
As a petitioner, so that I can easily understand court procedure, I need the initial, caseless 'My Cases' page to provide better direction on how to engage with the court.

Currently the court is seeing ~100 duplicate cases/mo. created in DAWSON. The vast majority of these are due to parties signing up for online access after having already sent in their petitions by mail; following the instructio

[2022-05-27 17:46] cholly75 commented on #8329
@rachelschneiderman - update to the language, which actually ends up being an answer to the previously asked question. Whaddya do.

In cases where the trial proceeding type of Standalone Remote has had the trial judge changed, instead of the opening sentence reading "The Standalone Remote, Remote trial session..." they would like it to read "The standalone remote trial session..."

[2022-05-31 14:59] cholly75 commented on #8344
Removed AC: "* Message count is updated when filters are applied" - will address message count across application filtered pages together in a separate story

[2022-05-31 15:38] swongCO commented on #8194
![Create trial session.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/affe5099-4ca3-4d62-819b-7928aa539b87)

![Edit trial session.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/701062e7-961c-4f3e-8bbc-86cfeace70f6)
- Append date in blue header to include end date
–––––

![Trial sessions New.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/7

[2022-05-31 16:24] swongCO commented on #6901
![Create Order.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/5401b6be-1009-401a-8c24-a47f8cc42266)
- For lead cases, display icon link beneath Generate tab **[NEW]** with link text "Add docket numbers to the caption"
–––––
![Create Order - add modal.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/cd0b82ff-3c90-4b73-8cff-07d55fa204b9)
When add link is clicked

[2022-05-31 20:19] ttlenard commented on #6901
## Test Cases

#### 1.1) User generates an Order/Notice in the Lead case of a consolidated group; chooses to modify the caption contents of the document.
- Log in as a Docket Clerk, ADC, Petitions Clerk or Chambers User
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select Order or Notice
- Select any Order or Notice option from the dropdown
- Click C

[2022-06-01 21:11] codyseibert commented on #8344
@cholly75 also made a comment to not display the section on the completed queue since everything in the completed queue will always be the same section

[2022-06-03 14:28] ttlenard commented on #6969
It was discussed that if a Decision type of document is added as a docket entry in the lead case, then the updated modal that displays for the user to select additional cases to file in will NOT appear.  Decision documents are only to be filed in individual cases.  I added test case 9 for this scenario.

[2022-06-03 15:14] swongCO commented on #8198
Additional enhancements from UX:
* When link for help email is clicked, auto-populate subject as “eAccess to existing case” so sorting/searching is easier for support staff
* For both blocks, add “(e.g. 12345-67)” after ‘docket number’ in the body to inform the user of the format they’re looking for
* Make the title of the dismissible block in sentence case for ease of reading

[2022-06-03 19:59] ttlenard commented on #8194
## Test Cases

#### 1) User creates a new Trial Session, new field for Estimated End Date is present.
- Log in as a Petitions Clerk
- Click on Trial Sessions
- Click on Add Trial Session

Expected Results
- [x] **NEW FUNCTIONALITY** - Start date field size is smaller
- [x] **NEW FUNCTIONALITY** - MM/DD/YYYY help text is in the Start Date box
- [x] **NEW FUNCTIONALITY** - The Time field has moved s

[2022-06-03 21:22] shumway-tm commented on #8192
Started prep work on story. Will continue pending path taken in ustaxcourt/ef-cms#6969.

[2022-06-05 04:34] #8197 closed, assigned to rosiehsmith, rachelschneiderman

[2022-06-05 04:34] #8346 closed, assigned to jamesobrooks, halprin, shumway-tm

[2022-06-05 04:34] #8158 closed, assigned to rachelschneiderman

[2022-06-05 04:34] #8196 closed, assigned to codyseibert

[2022-06-05 04:34] #8347 closed, assigned to ujahio, shumway-tm

[2022-06-05 04:34] #8329 closed, assigned to mrinsin

[2022-06-06 13:23] #7073 closed

[2022-06-06 14:39] #8314 closed, assigned to nobody

[2022-06-06 16:34] ttlenard commented on #8198
## Test Cases

#### 1) "Caseless" Petitioner logs in; New Information card is available at the top of the initial screen that they see.
- Log in as a Petitioner that does not have ANY existing cases in DAWSON.

Expected Results
- [x] **NEW FUNCTIONALITY** - New information card (as shown in above mockup) is available to the Petitioner at the top of the screen
- [x] **NEW FUNCTIONALITY** - Include

[2022-06-06 19:10] swongCO commented on #8160
UX doesn't have the proper tools to confirm the pdf is 508 compliant but was able to confirm that the pdf opened up in new tab for both Order and Opinion.

[2022-06-06 21:52] rachelschneiderman commented on #8193
This story requires re-indexing as we had to add a join relationship between efcms-case and efcms-message in order to grab the `leadDocketNumber` property off the case a message belongs to.

[2022-06-06 21:59] halprin commented on #6969
Need to add `setupConsolidatedCasesAction` to `web-client/src/presenter/sequences/openConfirmServeCourtIssuedDocumentSequence.js` for when we tackle serving (without filing) of court issued documents.

Need to update `web-client/src/presenter/actions/serveCourtIssuedDocumentAction.js` and `shared/src/business/useCases/courtIssuedDocument/serveCourtIssuedDocumentInteractor.js` too.

[2022-06-07 13:24] cholly75 opened #8199 "Printable Trial Session Copy"
As a Judge, Chambers, or Trial Clerk, in order to keep a paper copy of my trial session worksheet, I need a print optimized view for, er, printing.

Many judges and chambers staff as well as trial clerks like to print out paper copies of their trial sessions for recordkeeping and to take notes on. Currently printing out the session copy from the browser wastes a lot of space and paper, so they wou

[2022-06-07 13:24] #6921 closed

[2022-06-07 15:36] mmarcotte opened #2254 "New item"
@jimlerza wrote a script to purge the `info` cluster of junk records. We can `deleteByQuery(...)` and remove the items that we will never care about.

[2022-06-07 18:47] cholly75 opened #8200 "Add Pretrial Memorandum Column to Session Copy Page"
As a judge or their chambers staff, so that I know prior to trial whether parties have filed a pretrial memorandum, I need an indicator on the Session Copy page telling me whether a PTM has been filed in a case, and by whom.

After being calendared, if a basis for settlement has not been reached and it appears that a trial is necessary, each party must file a Pretrial Memorandum no later than 21 d

[2022-06-07 20:18] cholly75 opened #8201 "New item"
As a docket clerk, in order to prevent having to add multiple docket entries in a group of consolidated cases, I need the system to allow me to automatically add a docket entry to any other cases in the group that I choose when serving a previously saved docket entry in the Lead case.

When a document is filed in a case that is part of a consolidated group (CG), it is often necessary to have that

[2022-06-08 14:52] ttlenard commented on #8201
## Test Cases

#### 1) Docket Clerk is in the lead case of a consolidated group and adds a docket entry.  Clicks Save Entry, document is saved to the docket record of lead case, is not added to any other case in consolidated group.
- Log in as a Docket Clerk
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select PDF Upload (Can also select Order or Not

[2022-06-08 14:55] ttlenard commented on #6969
I deleted the original test case 4 that involved saving the docket entry rather than save and serve since we split that workflow out of this story.  The test cases that were in here are now in story 9513.

[2022-06-08 17:34] cholly75 commented on #6921
Rewritten as ustaxcourt/ef-cms#8199

[2022-06-08 22:06] swongCO commented on #8201
On the Add Docket Entry page, when a user clicks "Save Entry", the document is displayed in the Docket Record with "Not served" in the date column (current flow):
![Entry not served.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/1d435b9c-82c2-419f-9870-20c6c0e5d0bd)

When the user clicks on the document link, it will display in the Document View tab (current flow):
![Document v

[2022-06-08 22:54] halprin commented on #6969
TODO

- set-up feature flag script
- feature flag the other "served only" UI
- "Document served to selected cases in group" after service.
- Cypress and integration tests

[2022-06-09 14:58] #8086 closed, assigned to nobody

[2022-06-09 16:43] codyseibert commented on #8193
[load-testing-9502-on-test.pdf](https://github.com/flexion/ef-cms/files/8872309/load-testing-9502-on-test.pdf)

[2022-06-09 21:19] ttlenard commented on #8200
## Test Cases

#### 1) Session Copy page displays PTM column in case listing with case(s) where only a petitioner has filed a PTM, and the column has a value of "P" in the column for this case(s).

This test case needs some set up:
- Log in as Judge Buch
- Click on a City, State of a trial session from the upcoming Trial Sessions card on your dashboard
- Click on the docket number of a case that i

[2022-06-10 14:56] liadmccabe commented on #8193
When logged in as Chambers1, on the dashboard under recent messages, the Lead icon is currently missing and will need to be added. ![Screen Shot 2022-06-10 at 10.49.02 AM.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/d740a390-0b56-4bd2-9413-8db61c63b6b9)

[2022-06-10 15:26] swongCO commented on #8193
![Screen Shot 2022-06-09 at 2.55.28 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/f8968813-5ba2-413e-baac-23bf97c9fefb)
screenshot 1 - when there are consolidation icons, the column aligns nicely

![Screen Shot 2022-06-09 at 2.54.18 PM.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/2b31bfc5-891f-4e6b-9bd2-0140e885e661)
screenshot 2 - when there isn’t a c

[2022-06-10 15:27] liadmccabe commented on #8193
Lead Icon - Currently the hover is picking up the icon as text instead of the image due to the "L".  This means the hover tip is not accessible unless the user hovers precisely next to rather than over the 'L'. Can be an accessibility pain point. Recommendation to convert the entire image to the .svg file provided by Sui so that the hover text can be picked up regardless of where the user hovers o

[2022-06-10 19:05] liadmccabe commented on #8200
Please see screenshot below for column design to include PTM column and inclusion of "P" value.  Values would be substituted with "B" and "R" as needed.

![Add PTM Column - P.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/e0816ce9-22cf-41d3-b23a-e08b7258fec2)

[2022-06-10 20:17] #2142 closed, assigned to mmarcotte

[2022-06-13 15:49] rosiehsmith commented on #8054
Blocked until @cholly75 speaks to the court about the service flow.

[2022-06-13 19:39] cholly75 opened #8202 "New item"
As a court, so that online-only sources cited in opinions can be persisted in the official record, I need to be able to add these sources to the docket record.

Sometimes in the course of writing an opinion, a judge will cite a source that is only available on the internet. In these cases, it's important to provide these sources as they are at the time of citation. Currently the Court process for

[2022-06-14 13:10] cholly75 opened #8203 "Add Associated Place of Trial to Judge/Chambers Message Display"
As a judge or chambers user, so that I can effectively prioritize my work, I want to be able to see the associated place of trial when reviewing my messages.

Judges and their staff often need to respond most quickly to messages involving cases with upcoming or completed trial sessions. Based on feedback, they have suggested that adding the city value for a case's Trial Location would be helpful i

[2022-06-14 14:05] cholly75 opened #8204 "Text Additions to Support Online Cited Sources"
As a court, so that DAWSON users can locate online sourced citations used in orders and opinions, I need to add verbiage to several publicly accessible DAWSON pages.

To message to users where online sourced citations can be found, we need to add text to several public-facing DAWSON pages explaining that they can be found on the docket record.

See attached screenshots from the Court memo for visu

[2022-06-14 15:07] ttlenard commented on #8189
## Test Cases

#### 1) External document is filed in a case that is a Lead Case in a consolidated group; QC entry displays w/ visual cue indicating Lead Case status on Section Document QC Inbox view.

This test requires some set up:
- Log in as a docket clerk
- Navigate to a Lead case in a consolidated group (I used 22447-16)
- Click on Case information, and then Parties tab
- Add a Practitioner t

[2022-06-14 16:12] liadmccabe commented on #8194
Recommendation: Update text for "Estimated End Date" to sentence case "Estimated end date" to stay consistent with the other headers.

While we were testing this, we ran into some errors that we discovered were not tab-able and not read by the mac voice-over utility, which is not 508 compliant. PO has been informed.

[2022-06-14 18:17] codyseibert commented on #8192
I talked with @halprin about this story and there are a couple of things we want to clear up with @cholly75 before we continue working on this feature.  We are confused why the modal pops up for the `save entry` button, but it was discussed that only serving it would show the modal.

[2022-06-14 18:59] shumway-tm commented on #8194
Talked with Lia and Chris Holly. Fixing the non tab-able errors will be addressed in a broader effort in the future.

[2022-06-14 19:05] ttlenard commented on #8202
## Test Cases

#### 1) Clerk uploads a PDF; New Document type and descriptive information for Online Cited Source documents are available when adding a docket entry.

- Log in as a docket clerk
- Navigate to a case
- Click on the Create Menu
- Select PDF Upload
- Upload a document and put in some description text
- Click Save
- On the drafts page, click Add docket entry.

Expected Results
- [ ] **

[2022-06-14 21:24] ttlenard commented on #8204
## Test Cases

#### 1) Today's Opinions page has updated text that refers to the Online Cited Sources.

-  Go here to the TEST URL for Today's Opinions [https://test.ef-cms.ustaxcourt.gov/todays-opinions]

Expected Results:
- [ ] **NEW FUNCTIONALITY** - The page now has updated text below the date that states, "Any online sourced citations in these opinions can be viewed directly from the associat

[2022-06-15 17:17] cholly75 opened #8205 "Support for Longer/Bigger Trial Sessions"
As a court, so that I can schedule longer trial sessions, I need to be able to calendar trial sessions of approx. 250 cases at a time.

The court is seeing a higher volume of cases going to trial, which in some situations necessitates longer trial sessions, particularly in the larger cities. The court needs to be able to schedule a two-week volume of cases, potentially doubling the number of cases

[2022-06-15 19:45] #8345 closed, assigned to ujahio, shumway-tm

[2022-06-15 19:45] #8160 closed, assigned to nobody

[2022-06-15 19:46] #8344 closed, assigned to codyseibert

[2022-06-15 19:46] #8198 closed, assigned to codyseibert, shumway-tm

[2022-06-16 20:30] cholly75 opened #8206 "New item"
As a docket clerk, so that I can accurately represent the trial session for minute sheets on the docket record, I need to be able to select "Standalone Remote" as a trial session location when adding minutes to the docket record.

During and after a trial session, trial clerks upload Minute Sheets to the case in DAWSON. Docket then takes this upload and adds it to the docket record of the case as

[2022-06-17 15:02] jimlerza commented on #8326
Related:
https://github.com/flexion/ef-cms/issues/9372#issuecomment-1050072046

[2022-06-17 16:22] liadmccabe commented on #8194
Findings from UX Review:

1) During UX review, we found that the Trial Sessions filter does not have "Unassigned" listed as an option on the Judge dropdown selection.  As a result, if you don't have a judge assigned and click to sort by judge, the trial session does not appear.

2) Start time lists itself as optional on the field, however if you don't select anything it still defaults to a 10:00 a

[2022-06-20 15:26] liadmccabe commented on #6969
![Screen Shot 2022-06-20 at 11.27.34 AM.png](https://images.zenhubusercontent.com/615db9dfea10871c30cb1170/39e7ec7c-5bbd-4e2d-9705-74e01381ecba)Issue found during UX Review: Our mockups incorrectly indicated modal text should say "The following document will be served on all parties:".  This text should be corrected to say "The following document will be served on all parties in selected cases"

[2022-06-20 16:36] swongCO commented on #8336
Figma link: https://www.figma.com/file/81RYWvF84vxJBBnfHBWR1U/USTC-%7C-Drafts-%7C-Stamp-Disposition-9479?node-id=95%3A608

![Apply stamp - sidebar preview default state.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/790748c8-c07e-4f40-adde-fbfffcc59a49)
![Apply stamp - sidebar preview.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/3e7e3c3f-630d-44c9-a73f-bd5

[2022-06-20 16:47] swongCO commented on #8336
![Docket record - apply stamp.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/c299cc4e-f290-4c0c-b52a-38286b3fb658)
![Message view - apply stamp.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/5ff59ad9-1014-46a3-965d-22b4dff7d88c)
1. Add apply stamp link in the blue banner atop the document view window
2. Use the stamp icon from fontAwesome
3. Clicking the lin

[2022-06-20 20:44] swongCO commented on #8336
![Drafts view.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/ca0b9822-f836-45dd-b281-b0cef23dfccd)
![Drafts view modal.png](https://images.zenhubusercontent.com/61a7bbb7fda36d7b28c1ab23/23416c14-c244-4749-8a4f-3c8275af8468)
1. In the Drafts page, the stamp order can be edited or deleted by the creator
2. If Edit is selected, the user will be taken to the Apply Stamp page where

[2022-06-21 12:21] ttlenard commented on #6955
## Test Cases

#### 1) New Filter is available for the Court User on the Blocked Cases Report
-  Log in as any court user
- Click on Reports
- Select Blocked Cases Report

Expected Results
- [ ] **NEW FUNCTIONALITY** - There is now a new filter for Case Type below the Trial Location Filter.
- [ ] **NEW FUNCTIONALITY** - Options in the Case Type dropdown are Small, Regular, All
- [ ] **NEW FUNCTION

[2022-06-21 15:26] ttlenard opened #8207 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
Judges and CA's are unable to view the extra large trial sessions. When attempting to access the session, they receive an error message in DAWSON.

Others in the court that are not assigned to the session can open it up without any issue.

The Kibana logs are not showing any error messages, but when doing a screen share with

[2022-06-22 20:37] ttlenard commented on #8336
## Test Cases

Notes
- _Test cases 1-10 test Stamp Order functionality via the Message workflow._
- _Test cases 13-15 test Stamp Order functionality via the Document Preview workflow._
- _Test cases 16-17 test Stamp Order Search and public terminal user functionality_

#### 1) Motion is filed by a party; Docket clerk QC's motion; sends message with the motion attached to Judge; Judge/CA/ADC user r

[2022-06-22 21:47] ttlenard commented on #8205
## Test Cases

#### 1) Trial session with 250 Cases is calendared; all documents generated, served, presented for printing where appropriate

- Log in as a Petitions Clerk
- Click on Trial Sessions
- Click on Add Trial Session
- Fill out the required fields (select a large metropolitan City so that there will be a lot of cases), and Add the Session
- Click on the City, State link from the New tab

[2022-06-23 13:42] cholly75 commented on #8336
@swongCO @liadmccabe - one additional piece of feedback from the Court: for the stamp itself, they would like the first line to read "The Court orders as follows:" by itself, and move "This motion is" to the second line along with the Granted/Denied text.

[2022-06-23 16:10] ttlenard opened #8208 "BUG: Unable to download all cases on a trial session"
**Describe the Bug**
A clear and concise description of what the bug is.
Users assigned to a Trial Session are unable to download all cases in the trial session.  The Compressing Case Files will go to 100% (or sometimes it will go over 100% - see screen grab below), but then the user never get's the opportunity to open a zipped folder.

Note - the last download that the DAWSON team has was from 5/

[2022-06-23 17:37] TomElliottFlexion commented on #8202
Questions:

- Should description on docket record be truncated? Separated from the title?
- Should the doc really open in a new tab instead of the document preview?

[2022-06-23 18:34] cholly75 commented on #8336
@swongCO @liadmccabe Remember the comment I made 5 hours ago saying the first line should read "The Court orders as follows:"? Man, those were good times. Heady days, indeed.

Anyhoo, strike that. It should read, instead, "It is ORDERED as follows:"

Thanks.

[2022-06-23 22:32] halprin commented on #8208
[PR created](https://github.com/ustaxcourt/ef-cms/pull/2304).

[2022-06-24 14:21] ttlenard opened #8209 "BUG: IRS and Private Practitioners experience a white screen when attempting to search for a sealed case by docket number"
**Describe the Bug**
A clear and concise description of what the bug is.
As a logged in practitioner, if I attempt to search for a sealed case by docket number using either the "Search for a case" on the "My Cases" dashboard, or if I search for a sealed case by docket number in any of the tabs in the Advanced Search area, then I receive a white screen (see screen captures below).

**Business Impac

[2022-06-24 14:23] mmarcotte opened #8210 "New item"
**Describe the Bug**

It appears that a deployment that happens soon (looks like [within 24 hours](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html#Streams.Processing)) after a deployment with a blue/green migration will trigger the `streams` lambdas to re-index the records in the DynamoDB stream. This is easily missed on environments with a small data set, but it is a

[2022-06-24 17:15] halprin commented on #8208
[Better PR](https://github.com/ustaxcourt/ef-cms/pull/2309) created to `test`.

[2022-06-27 14:34] #8200 closed, assigned to rachelschneiderman

[2022-06-27 14:34] #8193 closed, assigned to mrinsin

[2022-06-27 14:34] #8194 closed, assigned to codyseibert, shumway-tm

[2022-06-27 15:08] ttlenard commented on #8207
If you need to create a new trial session...here is how you do it:
1 - log in as a petitions clerk
2 - click on trial sessions
3 - click add new trial session
4 - create a trial session (be sure to put 250 on the Number of cases allowed field)
5 - click save
6 - navigate back to the New tab and find the trial session you just created
7 - you can now QC cases to add to the session, but It can take

[2022-06-27 15:12] ttlenard commented on #8206
## Test Cases

#### 1) Docket Clerk uploads a minute sheet on a case; selects the document type of "Hearing Before"; Standalone Remote is available in the picklist for the trial location; Docket entry preview reflects correct location information.
- Log in as a Docket Clerk
- Navigate to a case
- Click on create
- Select "PDF Upload"
- Upload a document and add a description, and click save
- Clic

[2022-06-27 16:22] ttlenard commented on #8326
## Test Cases

#### 1) Create a docket entry for an unservable doctype (ex: Trial Exhibit); edit the docket entry to a servable doctype (ex: Miscellaneous). Docket record displays Edit link, and served status is Not Served; Edit link can be clicked and document can be edited further and served/saved as per usual behavior.
- Log in as a Docket Clerk
- Navigate to a case
- Click Create
- Select PDF

[2022-06-27 17:08] swongCO commented on #8202
Please amend the confirmation message to add "the" before "docket record" so it says "Your entry has been added to the docket record."

[2022-06-27 17:41] cholly75 opened #8211 "Court: Restrict Tracked Items Operations to Docket/Clerk of the Court roles"
As a court, so that I can prevent tracked items from being improperly edited or removed, I need to restrict the Edit, Delete, and Remove operations to specific roles.

The Tracked Items tab on the Case screen displays both Deadlines and docket entries that are tracked on the Pending Report; these are important to the Court in that they often represent actions that need to be taken by parties or th

[2022-06-27 17:59] rgoshen commented on #8202
added "the" before "docket record"

[2022-06-27 19:29] swongCO commented on #8202
@TomElliottFlexion To answer your second question... I believe the new tab opens for parties and the public only. They don't have a document view. It looks like standard behavior for all documents for these users.
cc @liadmccabe @ttlenard @cholly75

[2022-06-27 19:47] cholly75 opened #8212 "New item"
As a petitions clerk, so that I can record email addresses submitted on petitions, I need to be able to enter an email address for a petitioner at the time I enter the petition.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion

[2022-06-28 15:54] ttlenard commented on #6969
Found an issue while testing.  When serving a document, if the petitioner has paper service, the print for paper service screen overtakes all DAWSON tabs that you have open.  This is very confusing if a user needs to issue an Order in a Consolidated group of cases.  If this user is doing multiple things in DAWSON, they may accidentally print the same paper service multiple times. They  may not rea

[2022-06-29 14:00] cholly75 commented on #8209
@mrinsin - the sealed case UI now displays for private/IRS practitioners, however the My Cases link to take the user back to their dashboard is nonfunctional on the screen. Clicking the "back" button in the browser results in a 400 error. Tested in TEST by logging in as either of the two pracs and searching for 4818-19. Let me know if you want me to show you. Thanks!

[2022-06-29 14:33] mmarcotte commented on #8208
this has been deployed

[2022-06-29 14:33] #8208 closed, assigned to halprin

[2022-06-29 18:22] #8153 closed, assigned to nobody

[2022-06-29 18:23] #7742 closed, assigned to nobody

[2022-06-29 18:31] #7145 closed, assigned to nobody

[2022-06-29 18:31] #7040 closed, assigned to nobody

[2022-06-29 18:37] #6731 closed, assigned to nobody

[2022-06-29 18:38] #6578 closed

[2022-06-29 18:38] #6581 closed

[2022-06-29 18:38] #6584 closed

[2022-06-29 18:40] #6595 closed

[2022-06-29 18:42] #6636 closed

[2022-06-29 18:44] #6722 closed

[2022-06-29 18:59] #6988 closed, assigned to nobody

[2022-07-01 15:49] cholly75 commented on #8206
Note: also added this value for Notice Setting Trial docket entry UI. Thanks Rosie!

[2022-07-01 16:54] TomElliottFlexion commented on #8201
Will require changes from BOTH 3569 and 9501.

[2022-07-01 17:09] ttlenard commented on #8211
## Test Cases

#### 1) Docket Clerk and Clerk of the Court Creates a deadline; The Edit link on the Tracked Items/Deadlines tab on a case is available.

- Log in as a Docket Clerk (will need to repeat this test by logging in as the Clerk of the Court as well)
- Navigate to a case
- Click on the Tracked items tab
- Be sure that you are on the deadlines sub-tab.
- Click on Create
- Select Deadline
-

[2022-07-05 16:38] ttlenard commented on #8185
## Test Cases

#### 1.1) Docket Clerk is in the lead case of a consolidated group and adds a Paper Filing; modal appears for clerk to select additional cases to file the document in.
- Log in as a Docket Clerk
- Navigate to the lead case in a consolidated group (I used case 22447-16)
- Click Create and select Paper Filing
- Upload a PDF and Fill in the required fields for the paper filing
- Click

[2022-07-05 19:31] ttlenard commented on #6969
Found an issue while testing today.  I am unable to serve a document to a Consolidated group. I receive a spinner of doom.  Here are the steps to recreate it.

1.  Log in as a docket clerk
2. Navigate to a lead case in a consolidated group (I used 22447-16)
3. Click Create, select Order or Notice
4. Draft an Order, and then click Save and Serve.
5. You will get the "which cases do you want to serv

[2022-07-06 19:53] #7146 closed, assigned to nobody

[2022-07-06 19:55] #7230 closed, assigned to nobody

[2022-07-06 19:58] #8132 closed, assigned to nobody

[2022-07-06 19:58] #8131 closed, assigned to nobody

[2022-07-06 19:58] #8182 closed, assigned to nobody

[2022-07-06 19:59] #8098 closed, assigned to nobody

[2022-07-06 19:59] #8319 closed, assigned to ccolluro

[2022-07-06 19:59] #8311 closed, assigned to ccolluro

[2022-07-07 20:36] cholly75 commented on #8192
Comments from Court post-demo: decision was made to NOT reflect on the cover sheet caption any docket numbers in the consolidated group that the document was NOT filed in. Spoke w/ Cody, sending back to In Progress.

CC: @ttlenard - will need to adjust test cases to account for direction change w/r/t docket numbers captured on the, er, caption.

[2022-07-08 04:08] paul-codes-1 opened #2358 "Onboard new open source contributor"
Welcome to the team! 🎉 😎

#### Access to tools

- [ ] GitHub — speak with your team lead to determine the appropriate repositories and levels of access in the [ustaxcourt](https://github.com/ustaxcourt) and [flexion](https://github.com/flexion) organizations.
- [ ] [Slack](https://ustaxcourt.slack.com) — look for important channels to join in [How We Work](https://github.com/ustaxcourt/ef-cms/blob

[2022-07-08 12:34] ttlenard commented on #8192
@cholly75 Test cases above have been updated to reflect the changes suggested.  Docket numbers that were NOT selected in the modal should not be reflected on the cover sheet.

[2022-07-08 16:39] cholly75 opened #8213 "New item"
As a _______, so that ________, I need ________.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be picked up by the Flexion development team.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [

[2022-07-08 17:49] cholly75 opened #8214 "Session Copy: Display Consolidation Status of Cases"
As a session copy viewer, so that I can see cases in a consolidated group together for trial planning, I need consolidated cases clearly indicated and grouped together in the trial listing part of the session copy page.

Cases in a consolidated group are typically calendared together for a trial session. When viewing a session copy page for the trial session however, there is no indication that a

[2022-07-08 18:52] ttlenard opened #8215 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
This issue stemmed from an admissions clerk that attempted to provide eAccess to a user in case 10185-22.  When she added the email, it gave her a 400 error (see Kibana log).

When we were investigating the case in dynamo, we noticed that there was no user record associated with the case, and we think that this is why she rec

[2022-07-08 19:23] paul-codes-1 opened #2362 "BUG: Broken link to code review process in "How we Work" doc"
**Describe the Bug**
There are two broken links in the how we work doc

**Business Impact/Reason for Severity**
Could be confusing to new open source contributors

**In which environment did you see this bug?**
N/A

**Who were you logged in as?**
N/A

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
Using the doc

[2022-07-08 20:49] #8188 closed, assigned to nobody

[2022-07-11 17:59] ttlenard commented on #6969
On TEST, when you are serving a court issued document via pdf upload in a member case, or just a regular ol' case that isn't part of a CG, you get the pop-up modal that has the updated wording for Consolidated cases...Granted, it doesn't have the checkboxes, but the wording has changed from what it was originally, which could cause some confusion.

Here is what it is currently displaying when serv

[2022-07-11 18:00] #2362 closed, assigned to nobody

[2022-07-11 19:01] jimlerza opened #2369 "BUG: Policy on Prod's Documents S3 Bucket in US-East-1 is incorrect"
**Describe the Bug**
The `dawson.ustaxcourt.gov-documents-prod-us-east-1` S3 bucket policy requires two modifications:
  - The `sid` should be "DelegateS3Access"
  - The `principal` should be the staging account id, not the production account id.

**Business Impact/Reason for Severity**
Can not synchronize the S3 buckets during a glue job.

**In which environment did you see this bug?**
AWS CLI, p

[2022-07-12 15:28] cholly75 opened #8216 "Letter of Appeal"
As a docket clerk handling appeals, so that I can accurately represent appeals documentation on the docket record, I need a new type of docket entry.

When a case goes to appeal, the Court is required to document the letter from the appeals court notifying the USTC that the case docket has created and entered in the appeals court. Currently the letter is being uploaded and a cover sheet generated

[2022-07-12 18:57] mmarcotte opened #2373 "Consolidate `info` cluster nodes in Production"
We have reserved 5 `m5.large` instances to manage the `info` cluster that delivers logging and reporting. Currently we are running on 10 `t2.medium` instances, and we need to consolidate all of the data onto the reserved instances.

According to [Elasticsearch's documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/add-elasticsearch-nodes.html), it's advisable to do this o

[2022-07-13 17:36] swongCO commented on #8318
Research with Judges/CAs July 2022:
https://docs.google.com/document/d/1ImZ1UxoFEUMzQWLr-zs4DyQuAHNzaCzuwJbGxaAqzr4/edit?usp=sharing

Research with Docket Clerks March 2022:
https://docs.google.com/document/d/1ZWj0TnHDpd02OJja8n2KJf5IqBwQZo4kUMKexr1fkjw/edit

[2022-07-14 21:18] ttlenard commented on #8199
## Test Cases

#### 1) Court user assigned to a Trial Session has the option to print Session Copy on the Session copy page.
- Log in as a Judge, CA, or Trial Clerk
- Click on the City, State link for one of your upcoming Trial Sessions

Expected Results:
- [x] New option is available for the Court User (Trial Clerk, CA, or Judge) to print the Session Copy

#### 2) Court user assigned to Trial Ses

[2022-07-14 21:19] #8324 closed, assigned to nobody

[2022-07-14 21:20] rosiehsmith commented on #8336
@cholly75 per our discussion - the `edit` functionality and all AC related to it will be split out into another story/vertical slice. Current story slice includes applying the stamp, saving then generating a draft Stamp Order, ability to delete a draft Stamp Order, ability to add docket entry and serve Stamp Order

[2022-07-15 14:49] cholly75 opened #8217 "BUG: After adding cases to a standalone remote session, judge cannot be added to standalone remote session"
**Describe the Bug**
When attempting to add a judge to a standalone remote trial session that has cases assigned to it, saving the edits to the trial session does not complete and the user is presented with a spinning wheel indefinitely.

Analysis of the logs indicates that the issue is that DAWSON is attempting to generate a Notice of Change  of Trial Judge but is failing because there was no jud

[2022-07-15 19:36] TomElliottFlexion commented on #8201
Will also exclude `Entered and Served` document types, because these close each case immediately

[2022-07-15 20:29] #8206 closed, assigned to rosiehsmith

[2022-07-15 20:29] #8204 closed, assigned to rachelschneiderman

[2022-07-15 20:29] #8202 closed, assigned to rgoshen, TomElliottFlexion

[2022-07-15 20:29] #8207 closed, assigned to jamesobrooks, rgoshen

[2022-07-18 16:23] cholly75 opened #8218 "Docket: Letter of Appeal"
As a docket clerk handling appeals, so that I can accurately represent appeals documentation on the docket record, I need a new type of docket entry.

When a case goes to appeal, the Court is required to document the letter from the appeals court notifying the USTC that the case

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on

[2022-07-18 16:24] #8218 closed, assigned to nobody

[2022-07-18 19:32] ttlenard commented on #8214
## Test Cases

Preconditions: You will need to ensure that there is a consolidated group of cases that have been calendared and assigned to a specific Judge that you have login access for.

#### 1) On the Session Copy page, a Consolidated Group of cases has iconography indicating if a case is the lead or a member case
- Log in as a Judge, CA, or Trial Clerk and click on the City, State URL of the

[2022-07-19 15:43] cholly75 opened #8219 "Blocked Cases Report: Display Consolidation Status"
As a docket clerk, so that I can tell which blocked cases are part of a consolidated group, I need to signify the consolidated status of a case on the Blocked Cases report.

When setting calendars, the Clerk of the Court and docket review the Blocked Cases report to review and potentially remedy any blocks prior to creating trial sessions, as a Blocked Case will not be shown on the Eligible Cases

[2022-07-20 13:11] #8176 closed, assigned to nobody

[2022-07-21 20:42] ttlenard opened #8220 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
When a docket clerk edits a docket entry, a new cover sheet is getting generated, when it shouldn't be.

**Before finalizing this bug:**
Need to fully understand what edited fields would generate the Notice of docket change, and what edited fields should generate a new cover sheet getting added to the document.

In looking at

[2022-07-21 20:42] ttlenard opened #8221 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.
When a docket clerk edits a docket entry, a new cover sheet is getting generated, when it shouldn't be.

**Before finalizing this bug:**
Need to fully understand what edited fields would generate the Notice of docket change, and what edited fields should generate a new cover sheet getting added to the document.

In looking at

[2022-07-22 16:34] cholly75 commented on #8336
@rosiehsmith @ttlenard - removed mentions of Edit functionality w/r/t the Stamp Order in the story AC.

[2022-07-22 19:47] ttlenard commented on #8216
## Test Cases

#### 1) Clerk uploads a PDF; New Document type and descriptive information for Letter of Appeal document is available when adding a docket entry.

- Log in as a docket clerk
- Navigate to a case
- Click on the Create Menu
- Select PDF Upload
- Upload a document and put in some description text
- Click Save
- On the drafts page, click Add docket entry.

Expected Results
- [x] **NEW F

[2022-07-25 15:46] ttlenard commented on #8219
## Test Cases

#### 1) Court user selects a city for the Blocked Cases report, Lead Case in the group is blocked; Lead case indicator displays next to docket number.
This test case has some set up:
- Log in as a docket clerk
- Navigate to the lead case in a consolidated group (I used 22447-16)
- Click on the Case Information tab
- Click on "Add Manual Block"
- Add a reason, and then click "Block C

[2022-07-26 17:21] #8209 closed, assigned to mrinsin

[2022-07-26 17:21] #8192 closed, assigned to codyseibert, shumway-tm

[2022-07-26 17:21] #6969 closed, assigned to jamesobrooks, halprin, rgoshen, TomElliottFlexion

[2022-07-26 21:19] ttlenard opened #8222 "BUG: Clinic letters that are more than one page are getting appended to NOTR in some instances"
**Describe the Bug**
A clear and concise description of what the bug is.

If a clinic letter has > 1 page (when a clinic letter has both English and Spanish instructions, see Washington DC, Nashville, TN) and if there are multiple petitioners on a case where one petitioner is represented and the other isn't, and the private practitioner is receiving paper service for that case, then the first page

[2022-07-27 14:04] ttlenard opened #8223 "New item"
**Describe the Bug**
A clear and concise description of what the bug is.

If I attempt to select the "Order petr(s) to show cause why "S" should not be removed", and then if I attempt to select the "Continue button", nothing happens.  DAWSON should take me to the Create Order Screen, but it doesn't.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Prod, Test

[2022-08-03 16:28] #8221 closed, assigned to nobody

[2022-08-03 18:59] cholly75 opened #8224 "Trial Clerk: Assign non-clerk personnel to Trial Sessions"
As a trial clerk, so that I can accurately document when a non-regular trial clerk assumes that role for a particular trial session, I need to be able to enter the name on the Trial Session.

Frequently court personnel with prior experience in the role are assigned as trial clerks to a trial session despite not being a regular trial clerk (typically due to personnel shortages or scheduling conflic

[2022-08-04 20:21] cholly75 opened #8225 "BUG: Counsel w/ no email attached to case generates clinic letters when case is calendared for trial"
**Describe the Bug**
When counsel representing a petitioner has no email address on their user profile, when the case is calendared for trial the document generation of NTD/SPTO is incorrectly generating clinic letters for counsel along with their paper service.

Ex.: Docket 6680-21 had counsel AM0232 representing petitioner. When the case was calendared, paper service was generated for counsel as

[2022-08-05 14:58] cholly75 opened #8226 "Court: Dedicated Docket View for Exhibits"
As a DAWSON user so that I can quickly identify exhibits pertaining to a case, I need a view that displays only exhibit event code docket entries.

In the course of a case at trial or in a hearing, many times there will be multiple references to specific exhibits that have been docketed. Currently the trial clerk or other DAWSON user must navigate the entirety of the docket record to locate and vi

[2022-08-05 18:48] cholly75 opened #8227 "Minute Sheets"
As a trial clerk or CA, so that I can easily document the occurrences that happen at trial, I need to be able to enter minute sheet information directly into DAWSON and have it generate a document to be docketed.

During a trial session, trial clerks will enter "minute sheets" (attached) for a case that document various aspects of the case and proceedings during the session. Currently, the trial c

[2022-08-08 16:49] #8201 closed, assigned to maddenf, TomElliottFlexion

[2022-08-08 16:49] #8217 closed, assigned to TomElliottFlexion

[2022-08-08 17:41] ttlenard opened #8228 "New item"
As a Court user, so that I can add in the necessary amount of information on a case, I need the character limit that is currently set to 500 characters to be removed from the case notes field.

Currently, if a court user adds more than 500 characters in the case notes field, the user will experience a 400 error. This error message that they receive doesn't "tell" them why they are receiving an err

[2022-08-08 17:59] #8205 closed, assigned to codyseibert, shumway-tm

[2022-08-08 20:52] mmarcotte opened #8229 "BUG: Duplicate Trial Session Notices filed on most cases"
**Describe the Bug**

While attempting to set the calendar for a Trial Session in production, the SPTO and NTD were filed and served in duplicate for all cases except one.

We only observe one API request that generates these notices. `/async/trial-sessions/987f66bc-8770-4590-9207-7bb98d9cdc4d/generate-notices`.

However, we also observed one item in the dead letter queue for the queue where the e

[2022-08-08 22:08] swongCO commented on #8336
I haven't gone through the test cases yet but did preliminary testing with an existing case/motion.

1. When I open up the date picker calendar and click on the arrows to go to the next month/year, it exits the calendar back to the radio btn in focus
2. When I entered a date with the wrong format, it didn't trigger an error state (screenshot)
![Screen Shot 2022-08-08 at 3.35.56 PM.png](https://ima

[2022-08-08 23:26] jamesobrooks commented on #8336
@swongCO for item 5 in your latest comment, feedback we got from the court was to _not_ emphasize anything. @mmarcotte, and @ttlenard will have more context. I can check out items 1-3.

[2022-08-08 23:41] jamesobrooks commented on #8336
Item 2:
Note that the stamp has the correct date despite the input having dashes rather than slashes.
![Screen Shot 2022-08-08 at 6 29 25 PM](https://user-images.githubusercontent.com/12275865/183531710-f3dde43b-c0d8-4555-8e20-6ab6022d23a9.png)

Item 3:
We can check on how to make this work potentially, but we are using the date picker from USWDS and it is converting that to a date in the first ce

[2022-08-09 00:17] jamesobrooks commented on #8336
Actually, it looks like potentially the input area is ours, but then we need to figure out a way to handle short years that makes sense. For example, I can add this code:
[code]

This does trigger the `Enter a valid date` validation error. But we already have code that handles entering the date in various formats which might get a little weird. For example, we do accept dates like `2022-12-01` in

[2022-08-09 13:49] #6606 closed

[2022-08-09 13:50] #6570 closed

[2022-08-09 13:53] cholly75 commented on #8336
@swongCO @jamesobrooks - re: Sui's feedback: items 1/2/3 should be addressed in some manner. Item 4 - that's an old Blackstone motion in the screenshot example, can we see how it looks with a DAWSON-generated motion cover sheet (it looks correct in James' screenshot to me)? Item 5 - James is correct, the request is to remove the styling altogether.

Thanks,
Chris

[2022-08-09 19:51] mmarcotte opened #8230 "BUG: Sortable docket number should use 4-digit year"
**Describe the Bug**

`Case.sortableDocketNumber` currently consists of a 2-digit year plus the (6-digit, zero-padded) docket number. Since this field is stored as an integer, the zero-padding is lost for cases from the year 2000. If you sort all cases by the sortable docket number, cases from the year 2000 to the present are sorted _before_ cases from prior to the year 2000.

This field is used t

[2022-08-10 14:23] cholly75 opened #8231 "Text Change - Opinion Search Page"
As a _______, so that ________, I need ________.

Now that all online sourced citations in opinions have been moved to their respective docket records, we need to update the verbiage on the Opinion Search page.

Currently it reads, "Any online sourced citations in opinions filed after July 11, 2022 can be viewed directly from the associated docket record."

We need to change it to read "Any online

[2022-08-10 21:27] ttlenard opened #8232 "BUG: Document links to some notices are not available to the public terminal user"
**Describe the Bug**
A clear and concise description of what the bug is.

It appears that the document links and the document title for some notices are not showing on the docket record for the public terminal user.  The document title shows for the public non logged in user when doing a case search, and the document title and link is available for logged in court users. The problem just seems to

[2022-08-11 12:36] ttlenard commented on #8228
## Test Cases

#### 1) Court user types in over 500 characters in the Case Notes Field; no errors occur, text appears legible and the entirety of the case note can be viewed on the page.

- Log in as any Court user
- Navigate to a case
- Click on Notes
- Click Add Case Note
- Copy text (or type) varying lengths of text in the Case Notes (I was using this site to copy the exact number of characters

[2022-08-11 15:57] #2373 closed, assigned to nobody

[2022-08-11 19:48] liadmccabe commented on #8189
@rgoshen i'm passing this back because although technically it passes the test without UX issues related to the icons themselves showing, I'd like to note that there are some gold icons that should be blue that show up when logged into the practitioner account.  An example is log into Practitioner6 and go to 22447-6 under 'Open Cases' Tab (see screenshot). ![Screen Shot 2022-08-11 at 3.47.51 PM.pn

[2022-08-11 20:45] mmarcotte opened #8233 "BUG: NOCE not getting filed and served for petitioners gaining eAccess"
**Describe the Bug**

When Admissions completes an eAccess request, they add an Email address to a Petitioner record on a given case. If the Email address doesn't exist in Cognito, the system creates the Cognito account, the user record, and marks their Email address as pending. It does not yet file and serve any documents.

The petitioner receives their welcome email, and once they login a Cognit

[2022-08-12 13:57] cholly75 opened #8234 "New item"
As  the Chief Judge, so that orders are correctly reflecting Court policy, I need the calculated date on auto-generated orders for filing fee and orders for amended petition and filing fee to be updated.

The court has approved a policy change to reduce the amount of time petitioners have to pay the filing fee from 60 days to 30 days. We need the auto-generated draft orders created at the time of

[2022-08-12 14:34] #8229 closed, assigned to nobody

[2022-08-12 16:17] cholly75 commented on #8336
Item: "Created By" text in draft view for stamp order is displaying the creator/filer of the original motion rather than the creator of the Stamp order:

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/920e3c0a-ddfc-4368-a7cf-a8f3b6c27529)

[2022-08-12 16:47] #8233 closed, assigned to mmarcotte

[2022-08-15 16:28] cholly75 opened #8235 "New item"
As a Court so that I can manage user behavior, I need to be able to toggle the ability to create stamp orders off and on with a feature flag.

We would like to put the work done in #here behind a feature flag so that we can release it at our discretion after all the appropriate change management has been done.

## Pre-Conditions
https://github.com/flexion/ef-cms/issues/9479

## Acceptance Criteria

[2022-08-15 17:59] mrinsin commented on #8235
The script `bash scripts/dynamo/enable-stamp-disposition.sh` will need to be run on the desired environments so as to setup the stamp-disposition-enabled feature flag (default value being true). CC @mmarcotte @jimlerza

[2022-08-15 19:14] rosiehsmith commented on #8235
Reviewed turning this flag on & off on `test` w/ Holly and Mrinalini 🚀

[2022-08-16 14:34] #8231 closed, assigned to rosiehsmith, mrinsin

[2022-08-16 14:34] #8223 closed, assigned to TomElliottFlexion

[2022-08-16 15:04] cholly75 opened #8236 "Notice of Receipt of Petition: Text Change"
As a petitioner, so that information provided to me is accurate, I need the text on the Notice of Receipt of Petition updated.

The current Notice of Receipt of Petition generates text which references Rule 22(b)(4) . The referenced rule has been updated to Rule 24(e). We need to modify the text that DAWSON generates for this notice (see screenshot below).

## Pre-Conditions

## Acceptance Criteri

[2022-08-16 15:45] shumway-tm commented on #8225
Could not reproduce on Test or locally.

[2022-08-16 16:43] #8225 closed, assigned to codyseibert, rgoshen, shumway-tm

[2022-08-16 17:46] swongCO commented on #8224
Met with some devs to discuss technical feasibility and decided to wait until it's picked up in Ready for Engineering to dig deeper. Tenille will wait until a solution is proposed to write test cases.

[2022-08-17 17:46] cholly75 commented on #8234
Initial test looks fine - testing again on 8/17 to confirm weekend skip

[2022-08-17 17:46] cholly75 commented on #8216
Test looks fine - need to confirm w/ appellate clerk criteria have been met

[2022-08-17 17:51] rosiehsmith commented on #8234
@cholly75 sounds good, FYI we're using the same method to calculate future business date as we were with 60 days, we've just updated its input to 30 days on these 2 order types.

[2022-08-17 17:52] cholly75 commented on #8234
perfect, thanks @rosiehsmith !

[2022-08-18 13:56] cholly75 opened #8237 "Stamp Order: Add Hyphens On Stamp Clauses"
As a judge, so that my stamp orders are stylistically uniform, I need to add hyphens to the beginning and end of the "due date" and free text clauses on the printed stamp.

This is a request from the judges to add the hyphens bookending individual stamp clauses on the stamp that gets applied to a stamp order (see screenshot below) to any "due date" clauses and free text clauses added to the stamp.

[2022-08-19 21:37] rosiehsmith commented on #8336
@mmarcotte @jimlerza since this story includes the [feature flag addition](https://github.com/ustaxcourt/ef-cms/pull/2437), the manual deploy step required is:

Run script `./enable-stamp-disposition.sh`  to setup the `stamp-disposition-enabled` feature flag (default value being true).