[2020-12-18 15:40] #7575 closed, assigned to nobody

[2020-12-18 16:06] #7025 closed

[2020-12-18 16:13] klohman commented on #7574
## Design

### Public Search screen
* Update header on public search screen

### Case Search Updates

* add helper instructions for "Petitioner Name" field
- "Advanced syntax search (*, “”, - , etc. ) is not supported at this time."

### Exact Match Query w/ matches
* execute only exact match (AND) queries
* Display results (sorted as defined in tests)
* Display number of matches

![image.png](htt

[2020-12-18 16:29] JessicaMarine opened #7741 "Docket Clerk: Manually add blocked case to trial session or for hearing"
As a Docket Clerk, I need the ability to manually add a case to a trial session or hearing even if it's blocked.

The blocked feature is really intended for a case not to be scheduled for trial as part of the automated scheduling process.  Right now, it's preventing a case from being *manually* added to a session as well.  The Court needs more flexibility.

## Pre-Conditions
* Case is blocked from

[2020-12-18 16:38] klohman commented on #7580
## Design

### Order Search Updates
* add helper instructions for keyword field
- "Advanced syntax search (*, “”, - , etc. ) is not supported at this time."

### Exact Match Query w/ matches
* execute only exact match (AND) queries
* Display results (sorted as defined in tests)
* Display number of matches

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/b09fed06-b11a-487

[2020-12-18 17:34] mariahkannenberg opened #7742 "Partial Matches: Case search usability"
As the Court, in order to make sure our users are having a good user experience, we need to make some usability tweaks to the search features.

These AC are based on Kristen's usability testing with 5 participants on 12/14/2020.

## Pre-Conditions
* If user elects to perform a partial match search, display exact matches then partial matches
  * Keyword exact match (exact words in exact order)
  *

[2020-12-18 17:35] mariahkannenberg opened #7743 "Partial Matches: Search usability (HOLD)"
As a user, so that I may expand my order search, I want to see partial matches in the search results.

These AC are based on Kristen's usability testing with 5 participants on 12/14/2020.

## Pre-Conditions

## Acceptance Criteria
* User  should see an indication that my search request is “processing” after starting a search
* If user elects to perform a partial match search, display exact matches

[2020-12-18 17:37] mariahkannenberg opened #7585 "Opinion Search: AND keyword search"
As a Court employee, in order to locate the most relevant documents, I need to have more control over how my keyword search is executed.

## Pre-Conditions

## Acceptance Criteria
* User is able to search using multiple keywords/phrases using the equivalent of boolean operator “AND” and retrieve results containing BOTH keywords/phrases (including exact match)

## Mobile Design/Considerations

## S

[2020-12-18 17:46] mrinsin commented on #7580
# Test Scenarios

## 7369 - Display matches for order search

- exact keyword match on document title - eg with keyword "Sunglasses"
  - Create an order whose title contains the word "Sunglasses" and document contents "pigeon"
  - Create an order whose title contains the word "Sunglassesy"
  - searching for keyword "sun" returns no results
  - searching for keyword "pigeon" returns no results **//

[2020-12-18 17:51] klohman commented on #7742
## Design

* Add checkbox for "Include partial matches"

## Exact Match query only
**include partial matches checkbox is unchecked**
* execute exact match query only

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8904813e-4d43-4887-b42e-c279c687898a)

## Exact and partial match queries
**include partial matches checkbox is checked**
* execute exact match query and part

[2020-12-18 17:51] mmarcotte opened #679 "Perform load tests in the Migration environment"
With a focus on public search, let's try to measure how ES is performing.

[2020-12-18 18:36] adunkman opened #680 "Get US West logs into Kibana"

[2020-12-18 18:40] #669 closed, assigned to mmarcotte

[2020-12-18 18:40] adunkman commented on #393
The subscription confirmation email will look something like this:

![image](https://user-images.githubusercontent.com/14930/102649113-9fcd3f80-4136-11eb-836f-d591698231c8.png)

[2020-12-18 18:55] adunkman opened #682 "Export database into different account — AWS Glue"
Goal: Enable Flexion to test in a production-like data environment, including the contents of documents.

TODO:

- [x] Consider whether we want to create a stream so other environment's data is always up-to-date.
- [x] Determine approach: should we migrate from DynamoDB to DynamoDB, or use the migration scripts and endpoints?
- [x] Identify data that should not be migrated or redacted (@JessicaMar

[2020-12-18 18:58] adunkman commented on #682
May make sense to migrate _all_ PDFs with contents. Prioritized after launch.

[2020-12-18 18:59] adunkman opened #683 "Add www.EFCMS_DOMAIN redirect."
Redirect www.dawson.ustaxcourt.gov to dawson.ustaxcourt.gov (and the equivalents in other environments).

[2020-12-18 19:33] mmarcotte opened #684 "BUG: STIN document not included on e-filed petition; just the cover sheet"
**Describe the Bug**

PDFs served to the IRS for STIN for e-Filed petitions are only the cover sheet. They are missing the actual STIN file.

**Business Impact/Reason for Severity**

The IRS requires the STIN to process the case properly

**In which environment did you see this bug?**

USTC IRS env; able to recreate in USTC Staging

**Who were you logged in as?**

petitioner creating a petition, d

[2020-12-18 19:37] #680 closed, assigned to adunkman

[2020-12-18 22:37] mariahkannenberg opened #7586 "Order and Opinion - Coming Soon"
As a user, so that I am aware that all order and opinion search are not functional (but coming soon), I need to be made aware.

## Pre-Conditions

## Acceptance Criteria
* Public and practitioners are aware that order and opinion search is coming soon
* Public and practitioners are able to see the order and opinion tabs, but not the pages, and this are not able to perform a search.
* Public is not

[2020-12-20 18:23] #393 closed, assigned to mmarcotte, mark-meyer

[2020-12-21 14:50] adunkman commented on #679
Completed Friday; results archived in [Google Drive](https://drive.google.com/drive/folders/1ZpLt36vgYycCF77qAZoxl4e411Sp1GAI) and delivered directly to @mmarcotte via Slack. Additionally, improved documentation and developer experience of the load testing tooling in https://github.com/ustaxcourt/ef-cms-load-tests/pull/3.

I believe this is complete; let me know if there is remaining work to be do

[2020-12-21 14:50] #679 closed, assigned to adunkman, mark-meyer

[2020-12-21 15:13] #7501 closed, assigned to sutt0n, matthopson

[2020-12-21 15:13] #7573 closed, assigned to adunkman, kkoskelin, mmarcotte

[2020-12-21 15:25] klohman commented on #7586
![Screen Shot 2020-12-21 at 10.25.20 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/4a7b92cc-4e3c-4403-b28f-6d3452a98ad3)

[2020-12-21 15:36] adunkman commented on #683
This can’t be achieved with Route53 directly; we’ll need either a Lambda function to return the redirect response or a S3 bucket with website hosting enabled to redirect the requests.

I think the S3 bucket involves less setup; I’ll continue forward with that approach.

[2020-12-21 15:51] klohman commented on #7574
## Updated language for case search instructions

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/7390bd56-8d00-4965-b87b-11b7a77bb8b5)

[2020-12-21 15:57] mmarcotte commented on #684
Looks like the cover sheet is not getting added upon upload, as it is for the other e-filed documents. This is because it's not in the array that is made available after creating a case to the function that adds cover sheets.

Then the operation serving the case to the IRS attempts to "replace" the coversheet for the STIN and other documents. However, since the STIN never received a cover sheet, i

[2020-12-21 15:57] JessicaMarine opened #7587 "BUG: Printable address on Notice of Receipt of Petition not aligned correctly"
**Describe the Bug**
The address on the printable Notice of Receipt of Petition is supposed to be in a particular place on the sheet to use a window envelope.  It is too high.

![Image from iOS.jpg](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/41b95e49-33b4-48be-a469-1cc5aef4e919)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's Prod

[2020-12-21 16:29] mmarcotte opened #690 "Opinion & Order search fails if docket entry doesn't have `numberOfPages`"
The stricter validation added by https://github.com/flexion/ef-cms/issues/7343 causes the entire request to fail if one of the items doesn't pass validation.

It returns a 400 error, and this is the error message in the response.

[code]

We need to
- [ ] handle the error better... inform the user why the request failed
- [ ] consider removing the validation for `numberOfPages`
- [ ] determine why

[2020-12-21 16:33] JessicaMarine commented on #7587
Could not reproduce -- perhaps paper got jammed while printing.  Closing for now.

[2020-12-21 16:33] #7587 closed, assigned to nobody

[2020-12-21 17:26] klohman opened #7588 "BUG: Petitioner names with special characters (') are not displaying in search results"
**Describe the Bug**
Petitioner names with special characters (') are not displaying in case search results. When searching for name D'Angelo, the apostrophe is stripped out during the search, and is not being matched with the petitioner name "D'Angelo"

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion

**Who were you logged in as?**
public

**What we

[2020-12-21 19:17] mrinsin commented on #7588
@JessicaMarine  is this bug a part of PR 58? (Asking because we don't see a PR label)

[2020-12-21 19:32] JessicaMarine commented on #7588
@mrinsin  yes, I just hadn't added the lane yet.

[2020-12-21 19:46] klohman commented on #7155
## Recommendations
* Add description / definition for Order and Opinion search to give public users context
* Include capability outside of this global search feature; allow users to filter and search within a docket record
* Allow users to search for exact matches only; consider that most users expect to use quotations marks for this
* Include “Bench Opinions” in Opinion Type dropdown
* Allow use

[2020-12-21 19:47] klohman commented on #7155
## Summary of Usability Findings (December 2020)

**What are users searching for?**
Searching for a specific case
If they have the docket number, they’ll use that
If they don’t have the docket number, they’ll lookup by taxpayer name
For businesses or partnerships, would search by address, case name, or party associated with the case
“If i don’t have that info, I’m going to use West Law or LexisNex

[2020-12-21 20:13] mrinsin commented on #7552
The engineers tried a few ways to scan a document to reproduce this bug (however Mike tried it out on the staging environment and it DID work). @mmarcotte is going to try to sync up with Deborah to get more information, but until then we have added a 'Could not reproduce' label.

[2020-12-21 20:16] JessicaMarine commented on #7552
@mmarcotte This might be another instance of the Court's network wreaking havoc...

[2020-12-21 20:19] rachaelparris opened #7589 "BUG: Some New trial sessions are throwing an error"
**Describe the Bug**
Some new trial sessions are throwing an error.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
Clicking on a new trial session

**To Reproduce**

[2020-12-21 20:39] rachaelparris commented on #7535
Add logging to the migration we write so there is a record of what cases practitioners were removed from.

[2020-12-21 20:55] JessicaMarine opened #7590 "Reports Needed"
Reports Needed:

1. Run a report for all OPEN cases without a requested place of trial
2. Run a report for all OPEN cases where the fee has not been paid

[2020-12-21 21:54] mmarcotte opened #693 "Try to resolve other PDF issues"
Need to sync with Mike McVicker on the other PDF issues.

- [ ] identify items that need `isFileAttached` set
- [ ] ensure that we are updating `numberOfPages` for those docket entries
- [ ] copy files over to `test` environment
- [ ] copy files over to `prod` environment
- [ ] correspondence documents

[2020-12-21 22:21] kkoskelin commented on #7572
FYI: the search predicate for judge name sometimes includes middle initials, like "M".  The current syntax allows for any number of matches, so if we search for "Susan B Anthony" we would get "Johnny B Goode" as a potential match.

[2020-12-21 22:36] JessicaMarine opened #7591 "Today's Orders"
As the Court, in order to present all of the Orders of the Court to the public, we need a "Today's Orders" feature very similar to "Today's Opinions"

## Pre-Conditions

## Acceptance Criteria
* User is able to access a "Today's Order" page from the Court's website (at dawson.ustaxcourt.gov/todays-orders) that includes a list of all orders served that day chronologically, most recent on top (by ti

[2020-12-22 01:59] mmarcotte opened #696 "Disable extra Dynamsoft EC2 instances"
We are currently only using the on on Staging, but we are running ec2 instances effectively doing nothing for:

- irs
- mig
- test
- dev
- exp1

[2020-12-22 02:11] #683 closed, assigned to adunkman

[2020-12-22 02:39] mmarcotte opened #697 "Error preventing Dynamsoft in Production"
When trying to load a page that uses Dynamsoft, I'm presented with this error:

[code]

Looks like we need to add it to the CSP

[2020-12-22 02:59] mmarcotte commented on #7552
@JessicaMarine -- could be.

Where I thought the Court's network was going to be an issue was in finding the scanner. In reviewing the video, it would appear that she was able to connect to the scanner and perform the initial scan. In fact I could even hear the scanner whirring in the background audio.

However, the operation of creating the PDF does _something_ to pass the file from State to DAWS

[2020-12-22 13:52] #7552 closed, assigned to nobody

[2020-12-22 14:51] adunkman commented on #696
These may be account-level resources instead of environment-specific.

[2020-12-22 14:52] #697 closed, assigned to mmarcotte

[2020-12-22 15:09] adunkman opened #700 "Receive and log content security policy violation reports."
In the diagnosis of #697, we could have seen this issue if we were [receiving and logging violation reports](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy#Reporting_directives).

This would enable us to query in our logs any time a browser attempts to load (and is blocked from loading) content from sources which is forbidden by our policy.

This may be duplicati

[2020-12-22 16:02] JessicaMarine commented on #7574
PO Review:
1) When I perform an Advanced Search when logged in as an IRS Practitioner.  I get the error message that says "More than 100" but the matches shown count is 200: https://files.slack.com/files-pri/TD3DSU09Y-F01H0NVLH9V/image.png
2) Need to remove "or excluding partial matches" from the error messages when more than 100 results.

[2020-12-22 16:04] matthopson commented on #7737
#### Reason for bug:
When we refactored how judge names were being stored, we dropped the "Judge" part of the name, and added a `judgeTitle` field. We were not putting these together when generating document titles.

[2020-12-22 16:40] JessicaMarine opened #7592 "Practitioner: Ability to Edit Email Address"
As a Practitioner, in order to keep all my information current with the Court and ensure I am getting service emails, I need the ability to edit my email address.

Related to ustaxcourt/ef-cms#6890: Edit Petitioner's Email

## Pre-Conditions
* Practitioner exists in DAWSON with an email address

## Acceptance Criteria
* Practitioner has the ability to **edit** his/her email address
* Practitioner

[2020-12-22 17:14] JessicaMarine opened #7593 "BUG: View Full PDF is opening in same window"
**Describe the Bug**
As an internal user, when I click on "View Full PDF", it is now opening that PDF in the same window.  It should open the full PDF in a new tab.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod; replicated in Flexion's prod

**Who were you logged in as?**
Internal User

**What were you doing when you discovered this bug? (Usi

[2020-12-22 17:50] klohman commented on #7591
## Todays Orders w/ results
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/26fffe36-8289-4f33-8731-f3af8dd74bf9)

## Todays order - no orders
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/98d4c92a-0476-4b50-972b-0d0163b46369)

## Mobile
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/2e9c2cfa-92e0-4339-8581-2c15629

[2020-12-22 17:51] #684 closed, assigned to mmarcotte

[2020-12-22 18:37] klohman commented on #7591
## Test Scenarios

7404 Todays Orders

#### 1) Public user sees message when no orders have been served for today’s date
* Go to public url for Today’s Orders
* No orders have been served today
Expected results
- [ ] “No orders issued today” message displays

#### 2) Public user sees orders served for today’s date
Test data
- Case xx1-20
    - Order (not served)
- Case xx2-20
    - Order (served t

[2020-12-22 19:03] mmarcotte opened #702 "BUG: Some cases don't load when searching for them in the admin"
**Describe the Bug**

When searching for some cases in the admin, no results are returned. In fact the request fails without the server returning a response code. Case `15975-14` is an example in the Test and Migration environments.

Nothing obvious is logged to help troubleshoot.

This is a large case with many docket entries.

It works in Production, which hasn't had PDFs scraped.

**Business Im

[2020-12-22 19:44] adunkman commented on #702
Log indicates the response finished successfully (statusCode 200):

[code]

… and immediately afterward:

[code]

[2020-12-22 20:21] JessicaMarine opened #7594 "Court: Deactivated internal user"
Deactivated Court user -- no longer needs to show in messaging dropdown
Retired judge -- no longer needs to show in the dropdown to add documents to docket record; no longer needs to be in the reports

[2020-12-22 21:23] matthopson commented on #7519
Dropping until we can discuss some additional findings.

[2020-12-23 15:10] adunkman commented on #661
I’m hitting #702 when attempting to look up these cases — one example is `mig`’s largest PDF:

[code]

Looking at Elasticsearch, this is case 15011-14. Attempting to workaround the issue to specifically trigger the intended actions.

[2020-12-23 15:17] klohman opened #7595 "Display PDFs consistently across the application"
As a user of the system, I need to be able to view PDFs consistently across devices so that I can complete my workflow without interruption.

## Pre-Conditions
none
## Acceptance Criteria
* We have established and documented all scenarios for displaying PDFs across the system, user and device

* PDF links accessed by an internal user only open consistently on all devices
   - View Full PDF (Corres

[2020-12-23 15:19] adunkman commented on #702
Looks like there is a [6MB cap on payloads](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

[2020-12-23 15:21] #7570 closed, assigned to rachelschneiderman

[2020-12-23 15:21] #7576 closed, assigned to mrinsin

[2020-12-23 15:22] #7737 closed, assigned to sutt0n, matthopson

[2020-12-23 15:22] #7565 closed, assigned to rachaelparris

[2020-12-23 15:22] #7574 closed, assigned to kkoskelin

[2020-12-23 15:22] #7586 closed, assigned to ericsorenson

[2020-12-23 15:22] #7740 closed, assigned to mrinsin

[2020-12-23 15:25] JessicaMarine opened #7596 "Today's Opinions: Update Null Message"
## Pre-Conditions

## Acceptance Criteria
* The Court would like the null state on the Today's Opinions page to read: Opinions are generally published at 3:00 PM.  If you are receiving this message after 3:00 PM, there are no opinions today.
* Make sure font matches whatever was implemented for Today's Orders.

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does this work make

[2020-12-23 15:28] mmarcotte commented on #451
🎉

[2020-12-23 15:28] #451 closed, assigned to mmarcotte, JessicaMarine

[2020-12-23 17:34] adunkman commented on #661
I was able to workaround the above and calendar a trial with large PDFs. When attempting to download a trial session’s cases (causes all documents to be zipped), the download request starts as expected, and the UI stalls in progress.

![image](https://user-images.githubusercontent.com/14930/103022840-c1556f00-451a-11eb-9847-0b8eed3ae54f.png)

The websocket continues to report status at regular int

[2020-12-23 18:35] #673 closed, assigned to mmarcotte

[2020-12-23 18:36] adunkman commented on #146
Remaining work is tracked in #536, and is good enough to 🚢 ! 🎉 🌮 🎉 🌮

[2020-12-23 18:36] #146 closed

[2020-12-23 18:38] adunkman commented on #235
Blocked waiting on 🕐 — will happen Sunday.

[2020-12-23 19:51] adunkman commented on #661
Confirmed this is a memory management problem; adding additional memory causes the task to succeed as designed.

[code]

[2020-12-23 19:57] codyseibert commented on #7455
It appears that those keys are related to a flexion honeybadger key which we have removed since this was committed.  I do not think this is an issue due to this key being inactive now and since the court isn't using honeybadger at this point.

[2020-12-23 20:46] klohman opened #7597 "BUG: Mobile - Review Your Case - Unable to view entire PDF in preview"
**Describe the Bug**
On mobile, user is unable to view the entire PDF preview on the Review Your Case screen. The PDF displays with page options, but the bottom of the PDF is not visible and user cannot scroll

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
petitioner1

**What were you doing when you discovered t

[2020-12-23 22:16] adunkman commented on #661
The largest PDF which we may need to add a coversheet is either the largest unserved migrated PDF, or the largest possible attachment. The largest unserved migrated PDF is 1.7mb, well below the maximum upload of 250mb.

[2020-12-23 22:20] #661 closed, assigned to adunkman

[2020-12-23 22:39] klohman opened #7598 "Update How to Create a Case PDF"
update How to Create a Case PDF - replace current PDF with updated version [https://app.zenhub.com/files/152320868/6ab3da50-5374-4cf5-9930-1d40db16ee00/download](https://app.zenhub.com/files/152320868/6ab3da50-5374-4cf5-9930-1d40db16ee00/download)

[2020-12-23 23:43] #693 closed, assigned to mmarcotte

[2020-12-24 14:20] JessicaMarine opened #7599 "BUG: Uploaded Notice requires signature"
**Describe the Bug**
Any notice created in the system is automatically signed by the Clerk.  If you upload a PDF and try to add it to the Docket record, it is requiring a signature, but the Clerk's signature is not available to apply.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you discovered t

[2020-12-24 18:06] matthopson commented on #7519
As discussed, here's the branch for method for opening the pdf from a modal. This allows us to generate the pdf and create a real link that can be clicked by the user, which prevents mobile safari from silently blocking the pdf from opening in a new tab programatically.

Branch: `7181-bug-printbale-dr-mobile`
Note: Will likely need updates to integration and pa11y tests to complete

![Screen Shot

[2020-12-24 21:06] JessicaMarine commented on #7591
Jessica reviewed 12/24/2020 -- functionality is working as expected.

Need to wait until 12/25/2020 to test null state.

Also, need to increase the # showing before load more.

[2020-12-24 21:18] JessicaMarine commented on #7535
@mrinsin @rachaelparris Can you please confirm that you added this as a logging event so that I will be able to manually check all the ones that were changed/removed when we deploy to the Court's prod. cc: @mmarcotte

[2020-12-25 17:41] mrinsin commented on #7535
@JessicaMarine @mmarcotte This is a screenshot of some of the CloudWatch logs detailing that a practitioner with x bar number is being removed (from yesterday's Flexion prod migration):

![image](https://user-images.githubusercontent.com/20514925/103139869-b246fc00-4695-11eb-8c49-70533e4eb6b7.png)

[2020-12-25 21:11] JessicaMarine commented on #7535
PO reviewed; can move to done after UX review.

[2020-12-25 21:11] JessicaMarine commented on #7566
PO reviewed; can move to done after final UX review.

[2020-12-26 19:27] mmarcotte opened #711 "Introduce Rate Limiting for searches in report-only mode."
Acceptance Criteria

- As a user of DAWSON, in order to prevent the servers from overloading and not getting a request back, throttle my searches so that I can only perform ___ per minute.
- As a user of DAWSON, if I try to search ___ or more times within 60 seconds, present me with a user friendly error that informs me I can only perform ___ searches per minute.
- As a system administrator of DAW

[2020-12-27 01:50] JessicaMarine commented on #536
https://docs.google.com/document/d/1zKf7AXkaG0we-b6KEcqCq4hh8K9bq0VuHCENsMe_r6Y/edit?usp=sharing

[2020-12-27 01:50] #536 closed, assigned to vickimcfadden, JessicaMarine

[2020-12-27 15:47] mmarcotte opened #712 "Fix Dynamsoft Health Check for Prod"
Currently the Dynamsoft check is [hardcoded for the Staging environment](https://github.com/ustaxcourt/ef-cms/blob/staging/shared/src/business/useCases/health/getHealthCheckInteractor.js#L58). We need to make this work for the Production environment that uses its own set of URLs. Additionally, these are frequently returning an unhealthy status. We should investigate why we receive so many 503 erro

[2020-12-27 21:06] mmarcotte opened #713 "Welcome email improvements"
Since we will continue sending welcome emails to new Practitioners, we should consider some improvements based on user feedback.

1. Use a system font in the HTML version of the email to clearly show the difference between a 1, an l and an I.
2. Provide instructions in the welcome email to copy and paste the email rather than trying to retype it.
3. Eliminate the slash from line with the email add

[2020-12-28 14:06] klohman commented on #7535
No changes to review for UX. Backlogging story to address attorney employer updates https://flexion.slack.com/archives/CHMLA049H/p1609163539491700?thread_ts=1609163201.491600&cid=CHMLA049H

[2020-12-28 14:09] klohman opened #7600 "BUG: [anything] displaying on Print Paper Service Screen for some event codes"
**Describe the Bug**
The Print Paper Service screen is displaying placeholder text [anything] for some event codes.
SPMT, SATL, ADMT, OBJ, OP, RESP,

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing oth

[2020-12-28 14:57] klohman commented on #7588
Searched for D'Angelo and received expected results. Created a case for Mary O'Reilly and searched O'Reilly and got back results.

[2020-12-28 15:56] klohman commented on #7739
## Practitioner Detail
* Add blank state to empty email address field = “None”
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/95652c12-bc61-4fdf-bfc5-52e478a868d7)

## Edit Practitioner Detail - No email
* Add blank state to empty email address field = “None”
* If email address field is empty = display “Add email address” button

![image.png](https://images.zenhubuserco

[2020-12-28 16:19] klohman commented on #7739
## 7377 Test Scenarios

#### 1) Admission clerk sees blank state for migrated practitioner with no email address
* Login as admissions clerk
* Search for practitioner without email address (example: TN0030)
Expected results
- [x] Email field displays with blank state =  “Not provided”

#### 2) Admissions clerk sees option to add email address to practitioner with no email address on profile
* Logi

[2020-12-28 17:48] klohman commented on #7519
@JessicaMarine This fix applies across all the Printable Docket Record links. Do we want to retain the PDF opening in an iFrame for internal users, or are we ok to use this flow and open the PDF in a new tab for internal?

[2020-12-28 17:52] JessicaMarine commented on #7519
@klohman I am okay with this being applied for internal users as well.

[2020-12-28 18:02] mrinsin commented on #7591
@JessicaMarine updated max order page size is on prod!

[2020-12-28 19:35] sutt0n commented on #7589
Unable to reproduce this error with user flows; discussed with @matthopson and @rachaelparris and concluded this to be bad data _only_ in the Flexion environments from a previously migration that has been since fixed. Closing per @klohman! 😄

[2020-12-28 19:35] #7589 closed, assigned to sutt0n

[2020-12-28 19:37] #588 closed, assigned to mmarcotte, julialeague

[2020-12-28 19:37] #235 closed

[2020-12-28 19:38] JessicaMarine opened #7601 "Docket and Petitions Clerk: Received Date NEEDED for certain Court-issued docs"
As a Docket and Petitions Clerk, in order to record the date we received certain documents, I need the ability to select a date received for certain Court-issued documents.

There are some documents  (e.g., returned mail, trial transcripts) that are considered Court-issued but are "received" by the Court.  These documents needs to be added to the docket record as of the date of receipt, not date o

[2020-12-28 19:50] #654 closed, assigned to vickimcfadden

[2020-12-28 19:51] mmarcotte commented on #235
I have copied all of these into textExpander. Thank you!

[2020-12-28 20:40] adunkman commented on #519
I’m going to take a first pass at these!

[2020-12-28 22:27] JessicaMarine commented on #7593
@mrinsin @klohman When I try to click on "View Full PDF" for a document attached to a message, nothing happens.  Can we ensure that everywhere an internal user has that "View Full PDF" option, it is working.

[2020-12-29 00:16] klohman commented on #7593
@mrinsin I checked the View Full PDF links on Document View, Drafts and Correspondence and they are all working as expected. The link on the message detail seems to be the only issue

[2020-12-29 14:07] JessicaMarine opened #7602 "IRS: Needs Ability to See Service Preference before being associated w/ case"
As the IRS, in order to properly serve documents on petitioner(s), I need to know their service preference *before* being associated with the case.

## Pre-Conditions
* Case exists in the system.
* IRS practitioner is not associated

## Acceptance Criteria
~~* IRS can see the service preference of petitioner(s) and any Other party *before* being associated with the case, including sealed cases, bu

[2020-12-29 15:40] klohman commented on #7601
Event codes with isUnservable: true:

CTRA
FTRL
HEAR
PTRL
TRL
ROA
RTRA
TRAN
HE
TE
USCA
ES
RM

[2020-12-29 15:56] klohman commented on #7087
## Updated Create Trial Session form

#### In Person proceeding type
**Proceeding type**
* Add radio set for proceeding type
* Options include In Person and Remote
* Field is required

**In Person**
if “In Person” is selected, display the following fields:
* Trial location
* Courthouse name
* Address line 1
* Address line 2
* City
* State
* ZIP code

![image.png](https://images.zenhubusercontent.c

[2020-12-29 15:59] JessicaMarine opened #7603 "Calendar: Set/Cut a Remote Trial Session (Must be done by early January 2021)"
As a Petitions Clerk, I need to the ability to cut/set a remote trial session so that cases that have been QC'd are automatically set for trial.

## Pre-Conditions
* Remote trial session is on "New" tab

## Acceptance Criteria
* Petitions Clerk can check off cases that have been QC'd [Note: same functionality as in-person sessions]
* Petitions Clerk can "set" the remote trial session
* When a remo

[2020-12-29 16:22] JessicaMarine opened #7604 "Changes Needed for In-Person Trial Sessions"
When the Court returns to in-person trial sessions, we need to make sure everything is updated to account for new policies/procedures adopted during the pandemic.

## Pre-Conditions

## Acceptance Criteria
* Update SPTN content

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does this work make major changes to t

[2020-12-29 16:23] klohman commented on #7087
## 4561 Test Scenarios

#### 1) Internal user selects “In person”  proceeding type
* Login as internal user
* Go to Trial Sessions
* Click Add Trial Session
* Select “In Person” proceeding type
Expected results
- [x] Fields for In Person proceeding type display
    - [x] Trial location
    - [x] Courthouse name
    - [x] Address line 1
    - [x] Address line 2
    - [x] City
    - [x] State
    -

[2020-12-29 16:25] JessicaMarine opened #7605 "Admissions Clerk: Edit Practitioner profile when no email"
As an Admissions Clerk, I need the ability to edit a practitioner's information even when they don't have an email address.

## Pre-Conditions
* Practitioner profile exists without email address

## Acceptance Criteria
* Admissions Clerk can edit a practitioner's information even when they don't have an email address.

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does this wo

[2020-12-29 16:27] klohman commented on #7604
## Add Trial Session form

**In Person**
if “In Person” is selected, display the following fields:
* Add Chambers phone number (new field)

**Chambers phone number**
* Is optional to create session
* Is required to set the calendar

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/27112fb3-aa02-4fdd-9640-f652f44526e6)

##  Trial Session Detail

**Courthouse Location card*

[2020-12-29 16:42] klohman commented on #7603
##  Trial Session Detail

**Warning message**
if  any of the following fields are blank when trying to set the calendar, display the alert message = "Provide remote proceeding information and judge to set this trial session."
* Meeting ID
* Password
* Join by telephone
* Chambers phone number
* judge

If judge field is blank, display warning = "Provide judge to set this trial session."

if  any of

[2020-12-29 17:16] klohman commented on #7603
## 7443 Test Scenarios

#### 1) Petitions clerk sets the calendar for a remote session without remote proceeding information
* Test Data
    * Create remote session for “New Orleans, LA
    * Session type = Regular
    * leave one or more fields blank
        * Meeting ID
        * Password
        * Join by telephone number
        * Chambers Phone number
* Login as petitioners clerk
* Go to remo

[2020-12-29 17:50] #321 closed, assigned to mmarcotte, lauraGgit

[2020-12-29 17:57] mmarcotte opened #715 "BUG: Links are created to documents that don't exist (isFileAttached: false)"
**Describe the Bug**

It looks like all orders and opinions are clickable on the public UI, even if they don't have documents attached to them.

Here are some cases. We don't have documents for them, isFileAttached is false. We shouldn't be providing links to these items.

- 25871-87
- 1498-91
- 21880-91
- 5648-91
- 10468-99
- 16667-99
- 7401-00

**Business Impact/Reason for Severity**

End user c

[2020-12-29 18:00] mmarcotte opened #716 "BUG: Practitioner cannot view some documents."
**Describe the Bug**

It looks like users are getting unauthorized to view document for case documents even though they have access to it.

[code]

**Business Impact/Reason for Severity**

Petitioners and Practitioners should have access to all of the documents associated with their case (provided that it's not sealed)

**In which environment did you see this bug?**

Prod

**Who were you logged in

[2020-12-29 18:04] #243 closed

[2020-12-29 18:12] adunkman commented on #267
Ongoing work is tracked in https://github.com/ustaxcourt/ato and #519.

[2020-12-29 18:12] #267 closed

[2020-12-29 18:17] adunkman commented on #702
Note: this is happening in test and migration, not production. Appears to be related to the documentContents.

[2020-12-29 18:18] adunkman commented on #702
To reproduce, requires environment that has documentContents, which Flexion is blocked from getting until #682.

[2020-12-29 18:20] adunkman commented on #636
Risk level is low, fallout is high. Would not be able to pick up implementing a failover now due to other pressing issues. Would like to have the data before implementation.

[2020-12-29 18:25] adunkman commented on #649
Duplicate of #638, @julialeague let me know if I’m incorrect!

[2020-12-29 18:26] adunkman commented on #649
Closing #638 instead.

[2020-12-29 18:26] adunkman commented on #638
Closed in favor of #649.

[2020-12-29 18:26] #638 closed, assigned to nobody

[2020-12-29 18:30] adunkman commented on #711
Our current rate limits are defined by #578.

[2020-12-29 18:31] adunkman commented on #711
Messaging around this error should tell you how long you will be rate limited for.

[2020-12-29 18:34] adunkman commented on #711
We can use IP throttling or WAF for this.

[2020-12-29 18:35] adunkman commented on #711
Should be rolled out with Order + Opinion searches

[2020-12-29 18:43] adunkman commented on #713
Let’s pull in Kristen as needed here for UX consultation.

[2020-12-29 18:45] klohman opened #7606 "BUG: [Date] field not displaying in docket entry for Court-Issued documents"
**Describe the Bug**
The date field entered when adding specific court-issued documents is not displaying on the docket entry.

Is impacting at least these event codes:
OAPF
OAP
OF
OFFX
OFWD
OODS
OPFX
OPX
OPFX
ORAP
OROP
OSCP
NTD

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
prod , flexion prod

**Who were you logged in as?**
petitions clerk

**What were y

[2020-12-29 19:32] klohman commented on #7601
### Add Court-Issued Docket Entry

* Add "Filed date" field for these event codes:
    * CTRA
    * FTRL
    * HEAR
    * PTRL
    * TRL
    * ROA
    * RTRA
    * TRAN
    * HE
    * TE
    * USCA
    * ES
    * RM
* Filed date should display when the document type has been selected and should appear below Service Parties
* Filed date is required for these codes

#### Example: Corrected Transcrip

[2020-12-29 19:32] klohman commented on #7601
## 7440 Test Scenarios

#### 1) Petitions / docket clerk enters Filed Date for [event code] when adding to the docket record
* Login as petitions / docket clerk
* Go to case
* Upload PDF
* Add Docket entry
* Select document type:
    * CTRA
    * FTRL
    * HEAR
    * PTRL
    * TRL
    * ROA
    * RTRA
    * TRAN
    * HE
    * TE
    * USCA
    * ES
    * RM
Expected results
- [x] Filed date fie

[2020-12-29 20:21] adunkman commented on #519
Unfortunately we don’t have visibility into failed logins with Cognito to satisfy "AWS: Cognito user login (and login failure)" —

We can however see when the API exchanges temporary codes for access tokens, so we can at least see when users are successfully authenticated.

[2020-12-29 22:17] mrinsin commented on #7593
@JessicaMarine the message detail link update is on Flexion's prod!

[2020-12-30 04:47] mmarcotte commented on #7454
While I 👍 the catching of exceptions from the Search client, I think I side with the testers that the queries shouldn't be being making it to the data store. We should be rejecting searches that have special characters. Perhaps we can use Joi to validate what is a valid search query.

[2020-12-30 16:49] JessicaMarine opened #7607 "BUG: Signature is turning vertical on save"
**Describe the Bug**
When a Docket Clerk signed a Proposed Stipulated Decision, upon save, the signature turned vertical:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/5b6f0a67-9379-4678-9e14-17739762f02d)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's Prod

**Who were you logged in as?**
Docket Clerk (Craig Taublib)

*

[2020-12-30 17:09] JessicaMarine opened #7608 "BUG: New coversheet generated during QC when nothing on coversheet changed"
**Describe the Bug**
A Docket Clerk was QC'ing an eFiled document.  The Clerk added some information in Additional Line 1 but did *not* add it to the cover sheet.  When the document was saved after the QC, a new cover sheet was added even though nothing on it changed.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What we

[2020-12-30 18:18] JessicaMarine commented on #7519
Judge Buch tested on an iPad. He reports he had no issues opening and scrolling through a long Printable Docket Record.

[2020-12-30 19:37] JessicaMarine opened #7609 "BUG: Scrolling on modal (iPad)"
**Describe the Bug**
When Judge Buch was trying to send a message using an iPad, the whole forward message modal did not appear in the window and there was no way to scroll to hit Send.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court' prod

**Who were you logged in as?**
Judge Buch

**What were you doing when you discovered this bug? (Using the applic

[2020-12-30 20:36] JessicaMarine opened #7610 "BUG: Completed messages still showing in Inbox"
**Describe the Bug**
Multiple users have reported a completed message still showing in their inbox in the Court's prod environment:

**(1) Docket # 25515-18; user is Patty Hodge.  Message was completed by Darlene Counts in Docket, but is still showing in Patty's inbox**
![image](https://user-images.githubusercontent.com/40871081/103379817-f2064d00-4ab4-11eb-9144-5d3452981c9b.png)

**(2) Docket # 2

[2020-12-30 20:42] mmarcotte commented on #7610
Here are the four messages in the system for that case:

[code]

[code]

[code]

[code]

[2020-12-30 20:55] mmarcotte commented on #7610
Here are more messages from 23915-18

[code]

[code]

[code]

[2020-12-30 21:16] JessicaMarine commented on #7606
Jessica tested each of the affected document types in the Court's staging env. and everying posted to the docket record as expected:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/539ad634-1683-4c0e-931d-200954341c9c)

[2020-12-30 21:16] #7606 closed, assigned to codyseibert

[2020-12-30 23:37] JessicaMarine opened #7611 "BUG: Updating Address not removing 2nd line"
**Describe the Bug**
In 1232-20, I updated the address to change the first line and remove the second line in its entirety for both petitioners.  On save, the first line retained the change.  The second line didn't delete -- the apt information stayed -- on the contact info on the Case Info. tab.  The Notice of Change of Address picked up the change correctly for both petitioners.

**Business Impa

[2020-12-30 23:40] JessicaMarine commented on #7610
@mmarcotte One more: Docket No. 11240-20S

[2020-12-31 14:56] mmarcotte opened #724 "BUG: Case Entity was invalid Error"
**Describe the Bug**

Still trying to track down the root cause of this. When a Private Practitioner was trying to POST an external document (to 11559-20 specifically) they triggered a Joi validation error. Something must have been sent to the server and should have been caught by the client side validation.

`POST: /case-documents/11559-20/external-document`

[code]

**Business Impact/Reason for

[2020-12-31 14:57] mmarcotte opened #725 "BUG: Case Entity was Invalid"
**Describe the Bug**

Observed another Case Entity was invalid in the error logs. Something wasn't being caught on client side validation.

Needs investigation

[code]

`POST: /case-documents/7118-19/docket-entry`

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the a

[2020-12-31 14:58] mmarcotte opened #726 "BUG: TrialSessionWorkingCopy entity was invalid"
**Describe the Bug**

The TrialSessionWorkingCopy entity was invalid. {“trialStatus”:“‘caseMetadata.9680-18.trialStatus’ is not allowed to be empty”}

Needs investigation

PUT: /trial-sessions/B16F65C1-B974-4EA4-A6FA-1FC12557374A/working-copy

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you disc

[2020-12-31 14:59] #713 closed, assigned to mmarcotte

[2020-12-31 14:59] #715 closed, assigned to mark-meyer

[2020-12-31 18:25] JessicaMarine commented on #7560
.

[2020-12-31 19:18] JessicaMarine opened #7612 "Other Petitioners: Edit Contact Info."
As the Court, in order to make sure we always have current information for a party, we need the ability to change contact information for other petitioner(s).

## Pre-Conditions

## Acceptance Criteria
- Other Petitioner(s) can edit their own address and phone number (See ustaxcourt/ef-cms#6549)
- Docket can edit address and/or phone number of other petitioner(s) (See ustaxcourt/ef-cms#6789)
- Cou

[2020-12-31 19:32] #6763 closed, assigned to nobody

[2020-12-31 19:33] #6757 closed

[2020-12-31 19:33] #6762 closed

[2020-12-31 19:38] mark-meyer commented on #7612
Currently users like Intervenors in the `otherFilers` and `otherPetitioner` lists can only see the public version of cases even when the case appears in their cases once logged in. Intervenors and otherPetitioners who are associated with the case should be able to view the full case.

[2021-01-02 23:06] mmarcotte opened #727 "Update Email Address"
Acceptance Criteria:

As a Petitioner or Practitioner using DAWSON, so that I can continue to access my information and receive service, I need to be able to update my email address.

[2021-01-03 00:03] mmarcotte commented on #725
dupe of https://github.com/flexion/ef-cms/issues/7304

[2021-01-03 00:03] #725 closed, assigned to mmarcotte

[2021-01-03 03:49] mmarcotte opened #728 "Ban an IP address"
Acceptance Criteria:

As a sysadmin, so that I can keep bad actors from impacting the performance of the site, I need to quickly ban IP addresses from making requests to the API Gateway.

Notes:

- Should be a bit of Terraform or aws CLI to be able to ban (or unban) an IP address with one command.
- Possibly make it easy automate banning an IP in case as we add more triggers to catch suspicious or

[2021-01-04 15:29] #7550 closed, assigned to klohman

[2021-01-04 15:48] JessicaMarine commented on #7454
Moving this story to done!  Any additional work (e.g., rejecting searches that have special characters) will be added to the search stories.

[2021-01-04 15:55] JessicaMarine opened #7613 "BUG: PDF not displaying at full size (Is this a bug or just how the browser behaves?)"
**Describe the Bug**
In 26230-15 (entry ustaxcourt/ef-cms-flexion#222) in the Court's prod environment, the PDF does not display at full size in the PDF viewer under "Document View" tab.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod

**Who were you logged in as?**
Cheryl Crouse -- Docket Clerk

**What were you doing when you discovered this b

[2021-01-04 16:41] klohman commented on #7739
UX Review - no issues.

These AC will need to be tested by Tech Lead:

* Technical Lead can add email addresses to practitioner's profile in bulk
* Log any errors in a way that will allow us to identify and correct problems created from failed API calls.

[2021-01-04 18:58] JessicaMarine opened #7614 "BUG: Practitioner Unable to update Firm Name"
**Describe the Bug**
Practitioner is not able to update his/her firm name from their dashboard

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**To Reproduce**
Steps to reproduce the behavio

[2021-01-04 19:42] sutt0n commented on #7611
Reason: We were updating contact information based on a merged object of old information and new information; however, the new information associated with `Address 2` (including `Address 3` and `Title`) was not being sent over the wire via the API call from the UI since it was an empty value. In order to fix this, a default value for these optional fields are used in-case they're `undefined`.

[2021-01-04 21:32] julialeague opened #730 "AWS SES Failover Configuration and Fault Tolerance"
In order to ensure that Dawson's use of AWS SES for email notifications is resilient, we should investigate what steps we can take to configure high-availability, such as failover between different regions and/or data retention in the case of a service outage.

Acceptance Criteria:
* Determine what failover and fault tolerance strategies should be implemented for the application's SES system
* Imp

[2021-01-04 22:33] klohman commented on #7611
UX review on dev - ready for prod deploy and PO review

[2021-01-05 02:01] JessicaMarine opened #7615 "BUG: QC items not displaying in Judge's QC box"
**Describe the Bug**
Multiple judges have reported items that have been filed, but not yet QC'd, are missing from their QC box.  It appears that only cases with the status "Calendared" are showing up in the QC box.

Judge Toro reports -- 17513-17 entry ustaxcourt/ef-cms#6510
Judge Goeke reports --6225-16 (Petr. Reply Brief on 12/30), 6488-18 (a proposed decision), and 8056-19 (Status Report).

**B

[2021-01-05 15:47] JessicaMarine commented on #7610
Also reported in:
7744-20
1039-20
10327-20S
714-20W
19654-19L
2644-20

[2021-01-05 15:55] JessicaMarine opened #7616 "View Counsel Information on Printable Docket Record (Tom)"
As a public user, internal user, party to the case, or petitioner, in order to know who the counsel of record is on the case, I need to see counsel information on the printable docket record.

This has also been requested by the IRS (1/5/2021): The Service’s Office of Appeals was accustomed to being able to access petitioner counsel contact information as part of the publicly facing information in

[2021-01-05 15:57] JessicaMarine opened #7617 "Public: View Stipulated Decisions"
As the public, in order to see how a case was resolved, I need to be able to view stipulated decisions.

## Pre-Conditions
A stipulated decision has been entered in a case

## Acceptance Criteria
* Stipulated Decisions are viewable to the public
* Pro-Se contact information has been redacted (removed, not just covered up)

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does thi

[2021-01-05 16:58] klohman opened #7618 "BUG: Edit Docket Entry: When editing doc type to a court-issued code that requires cover sheet, updated PDF does not include cover sheet"
**Describe the Bug**
When editing a docket entry for court-issued document changing the doc type or to a code that requires a coversheet, the coversheet for the new document type is not being generated.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bu

[2021-01-05 17:03] mmarcotte opened #731 "Associate users to cases who are receiving served documents"
We have a number of tickets for users who did not have accounts created automatically because their case was closed at the time of migration. However, documents are still being served in some of them, and they have no way of accessing these documents.

Acceptance Criteria:
- [x] Quick fix: associate users manually
- [ ] Longer term fix: As a user of the system, if I create a new petitioner account

[2021-01-05 17:33] klohman opened #7619 "BUG: Edit Docket Entry: Unable to select previous document when doc type is updated to Reply"
**May also related to [7510](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7510)**

**Describe the Bug**
When editing a docket entry, if you update the document type to "Reply", you cannot select any previous documents from the "Which document are you replying to?" dropdown. Document are visible in the dropdown, but when you select one, it is not sh

[2021-01-05 18:37] #412 closed, assigned to mmarcotte, vickimcfadden

[2021-01-05 18:59] klohman commented on #7607
UX - fix looks good
![Screen Shot 2021-01-05 at 1.59.22 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/edd703e9-6d77-4521-ba4c-31a2d640da1a)

[2021-01-05 19:15] klohman opened #7620 "Docket Clerk- Edit Docket Entry for Each Type of Document"
## Pre-Conditions
An entry exists on the docket record

## Acceptance Criteria

**Court-issued documents**
(Docket clerk edits [a field] on a court-issued document type and [this happens])

* Docket clerk updates document type to a type that requires a signature and [this happens]
* Docket clerk updates document type from a code without coversheet to a type that has a coversheet and [this happens]

[2021-01-05 19:16] julialeague commented on #247
Here are the notes I've taken throughout working on this issue:
https://docs.google.com/document/d/15zCf3F2RRoFbOO-0t8j5AXJCR1ad-Nz2uSw7j892OdM/edit?usp=sharing (only visible to GSA users and folks I've explicitly shared to)

[2021-01-05 19:26] JessicaMarine commented on #7607
PO unable to test since fix has been implemented.  Looks like a PDF that previously had the same issue can be signed correctly. Moving to done!

[2021-01-05 20:04] JessicaMarine opened #7621 "Docket: Ability to QC items from the docket record"
As a Docket Clerk, so that I can quickly QC any item pending in a case, I need the ability to QC items from the Docket record.

Currently, the only way a Docket Clerk can QC something is from the QC box.  Due to ES limits, we only return the first 1,000 items, so there may be times when something needs to be QC'd but is not showing in that top 1,000.  Docket has no way to QC it.  Additionally, the

[2021-01-05 20:14] JessicaMarine opened #7622 "Docket Clerk: Docket entry preview"
As a Docket Clerk, to ensure the correct docket entry language is going to be added to the docket record, I need to see the full preview.

## Pre-Conditions
* Docket Clerk is adding a document (paper filed or Court-issued) to the Docket record.

## Acceptance Criteria
* Docket Clerk can see the docket entry preview in its entirety
* Ensure the preview is present on all "Add Docket Entry" screens
*

[2021-01-05 20:40] JessicaMarine opened #7623 "Remove Signature Validation for Standing Pretrial Order"
As the Court, in order to add Standing Pretrial Orders to the docket record, I need the signature validation to be removed.

## Pre-Conditions

## Acceptance Criteria
* Remove signature requirement for Standing Pretrial Order (under Court-issued documents)
* Remove signature requirement for Standing Pretrial Order for Small Tax Cases (under Court-issued documents)

## Mobile Design/Considerations

[2021-01-05 20:55] adunkman opened #732 "Ensure important Cognito events are logged."
As introduced in https://github.com/ustaxcourt/ef-cms/pull/719, our [Logging in EF-CMS](https://github.com/ustaxcourt/ef-cms/blob/staging/docs/logging.md) documentation highlights a few key logging blind spots in Cognito:

- AWS: Cognito user login (and login failure) — not available when using the Cognito Hosted UI
- EF-CMS: Exchanging authorization codes for tokens (and failed exchanges) — not a

[2021-01-05 21:19] vickimcfadden opened #733 "Speak about DAWSON at upcoming legal/gov tech conferences"
Court Technology Conference -  https://courttechnologyconference.org/
eCourts education conference, biennial - https://e-courts.org/
Court Information Technology Officers Consortium - http://www.citoc.org/
Code for America

The Court could be receptive to invitations, but we aren't going to put ourselves out there on the speaking circuit.

[2021-01-06 15:34] JessicaMarine opened #7624 "Remote Proceeding Form: Add Validation to Phone Number fields"
## Pre-Conditions

## Acceptance Criteria
* Add validation to phone number fields on remote proceeding form
   * Format should be: (xxx) xxx-xxxx

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does this work make major changes to the system?
 - [ ] Does this work implement new authentication or security controls

[2021-01-06 15:46] JessicaMarine opened #7625 "BUG: eFiled documents not getting cover sheet; page count is 0"
**Describe the Bug**
There are several documents that have been eFiled that did not get a cover sheet and the docket entry shows 0 as the page count. The issue is compounded when it's a Proposed Stipulated Decision.  If you encounter a Proposed Stipulated Decision without a cover sheet, you will NOT be able to sign it because when you click "Apply Signature", the very first thing the system is doi

[2021-01-06 16:52] klohman commented on #7602
## Updated Permission

#### Unassociated IRS Attorney > Case Detail view

**Docket Record**
* Unassociated IRS Attorney sees public docket record view (no changes)

**Printable Docket Record**
* Unassociated IRS Attorney sees public docket record view (no changes)

**Case Information**
* Display all tabs under Case Information and all included data
  * Overview
  * Petitioner
  * Respondent
  * Ot

[2021-01-06 17:04] klohman commented on #7602
## 7441 Test Scenarios

#### IRS attorney views unassociated case (with no Respondent Counsel)
* Login as irs attorney
* Go to case
    * Case has no respondent counsel
* View Docket Record
* View Printable Docket Record
* View Case Information (Overview, Petitioner, Respondent, Other tabs)
Expected results
- [x] File First IRS Document button displays
- [x] Docket record displays public docket re

[2021-01-06 17:07] julialeague commented on #247
To do: Log the rest of the bold line items from my testing doc that aren't needing risk acceptance discussion with @mmarcotte. Log a follow-up issue to discuss risk acceptance-related questions and document the conclusions.

[2021-01-06 17:18] sutt0n commented on #7603
Marked as blocked since its work is dependent on ustaxcourt/ef-cms#7087

[2021-01-06 17:30] klohman commented on #7615
Tested on flexion prod with Judge Buch - e-filing documents for both a Calendared case and Assigned-Case associated with Judge Buch

![Screen Shot 2021-01-06 at 12.28.20 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/135513fe-23db-42e2-9661-f9744da7c1ad)

[2021-01-06 18:54] klohman opened #7626 "BUG: Updating field in concatenated document title during QC or Edit Docket Entryis not updating document title"
**Describe the Bug**
If I update a field that is concatenating the document title and Complete QC, the document title is not being updated correctly.
* the updated document title is not being saved on the docket entry
* No new coversheet is being generated
* No NODC is being generated
* Message attach document dropdown shows old document title

**Business Impact/Reason for Severity**

**In which e

[2021-01-06 19:13] klohman opened #7627 "BUG: Create/Send Message modal : Attach document dropdown does not show "Additional Info" as part of the document title"
**Describe the Bug**
The attach document dropdown on message modals is not displaying the text entered into "Additional Info" as part of the document title.
Adding text to "Additional Info 1" and checking "add to coversheet" should make the additional info text part of the document title, and it should be displayed wherever the document title is displayed.

Note - May need to consider checking thi

[2021-01-06 19:25] klohman opened #7628 "BUG: Complete QC and Send Message: Updates to document title are not appearing in send message modal"
This may not have been explicitly defined in the AC.

**Describe the Bug**
When the document title has been updated during QC and clerk clicks Complete and Send Message, the document title in the message modal is still displaying the original document title.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket

[2021-01-06 20:45] klohman commented on #6956
Notes from UX Docket Deep Dives

Recording Actions (aka Action/Status column)

Need the list of action/ status codes - and what they mean (JESSICA??? Rhonda said she will provide list)
Need the ability to record these actions:
Granted
Denied
Stricken - draws line through entry
Vacated - most of the when it’s vacated, the status changes - happens all the time
Withdrawn - they add the ORD and date i

[2021-01-06 22:50] JessicaMarine opened #7629 "BUG: Unexpected log out during order drafting"
**Describe the Bug**
A Chambers Administrator was drafting a very long order and the system kicked her out without warning.  They lost a lot of work.  This seems to happen a lot when DAWSON opens a new window/tab.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's Prod

**Who were you logged in as?**
Angela Frith (Chambers Administrator)

**What were y

[2021-01-07 00:25] mmarcotte opened #7630 "Usability: Make links to documents in the docket record act as hyperlinks"
Acceptance Criteria:

As a frontend user of DAWSON, I want to be able to use my browser's ability to open a document in a new tab or window when clicking on a link to that document. The navigation should enter my browser history, and if I click back, I'm taken back to the page or state I was in before clicking the link.

Notes:

When viewing a docket record, either on the frontend or the backend,

[2021-01-07 02:14] mmarcotte commented on #7630
meant to put this in our repo

[2021-01-07 02:14] #7630 closed, assigned to nobody

[2021-01-07 02:17] mmarcotte opened #736 "Make links to documents in the docket record act as hyperlinks"
Acceptance Criteria:

As a frontend user of DAWSON, I want to be able to use my browser's ability to open a document in a new tab or window when clicking on a link to that document. The navigation should enter my browser history, and if I click back, I'm taken back to the page or state I was in before clicking the link.

Notes:

When viewing a docket record, either on the frontend or the backend,

[2021-01-07 16:26] klohman opened #7631 "BUG: Edit Docket Entry: Not retaining all data in fields for Motion for Leave to File and causing errors when changing doc type"
#### Related to [7508](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7508)

**Describe the Bug**
When editing a paper-filed docket entry, some of the data fields for document type Motion for Leave to File are not being retained from the original form.

Example: When edited a Motion for Leave to File Exhibits, the secondary document dropdown is not d

[2021-01-07 16:41] klohman opened #7632 "BUG: Edit Docket Entry: Required fields not displaying when doc type is updated to Scenario H document"
#### Related to [7506](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7506)

**Describe the Bug**
When editing a paper-filed docket entry and updating document type to scenario H document, the required secondary document is not displaying in the form.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion pro

[2021-01-07 17:05] JessicaMarine opened #7633 "BUG: Validation error on messages"
**Describe the Bug**
Judge Toro was trying to respond to a message sent from Jessica Marine.  He entered a message and hit "Send" and got a validation error:

![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/1e13f1c1-eead-4284-b1fa-7382d3c489fd)

It appears that this error is caused by entering too many characters in the "Add message" box.

**Business Impact/Reason for Se

[2021-01-07 17:24] klohman opened #7634 "BUG: Edit Docket Entry: Docket entry preview not updating with date for scenario D documents"
**Describe the Bug**
When editing a docket entry to a scenario D doc type (ex: Certificate of Service), the docket entry preview is not displaying the selected document (possibly related to [7473](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7473))  or the date.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?*

[2021-01-07 17:35] sutt0n commented on #7625
@JessicaMarine @mmarcotte
A note on replication: I was only able to replicate this while watching the network tab and refreshing right _before_ the coversheet is added (last step during a document's upload from the `File a Document` view). Going through the normal flow of logging in as a petitioner/practitioner and eFiling a document, I was unable to replicate this on Flexion's prod environment.

[2021-01-07 17:51] klohman opened #7635 "BUG: Validation messaging shifting submit buttons"
**Describe the Bug**
If user attempts to submit a form but it produces validation errors, the vertical size of the form itself "grows". when validation requirements are met and the validation messages/decorations disappear on "blur", such as the user trying to click a "submit button", does the button move OUT from beneath the user's mouse, requiring them to re-target the submit button and try a se

[2021-01-07 17:52] klohman commented on #7635
Notes from Trello card:

Suggestions:
- do not use the warning message banner when its addition/removal changes the vertical (y-axis) coordinates of a submit button
- use only the field-level validation
- make the height of the search box fixed such that addition/removal of the field-level validation does not alter the height of the search box

Additional Note:
- it is likely there are other searc

[2021-01-07 17:55] klohman opened #7636 "BUG: Keyboard-tab order upon navigate (bug?)"
**Issue moved from Trello UX Pain points

**Describe the Bug**
From Kelsey: I was exploring the new Practioner search function on localhost/docker + Firefox this evening. I'm logged in as clerkofcourt currently and noticed that tabbing through the page for mouse-free navigation completely skips the "Messages" and "Document QC" and "Trial Sessions" and "Advanced" topbar menu navigation. It does hit

[2021-01-07 17:56] klohman commented on #7636
Notes from Trello card from @kkoskelin

Here's an exceptional article from Accessibility industry expert, Marcy Sutton :
https://www.gatsbyjs.org/blog/2019-07-11-user-testing-accessible-client-routing/

Discussion on complexities of managing focus for purposes of accessibility when given a single-page application can be found here: https://adhocteam.us/2018/02/20/developer-driven-focus-management-

[2021-01-07 17:57] kkoskelin commented on #7635
DEMO: https://www.awesomescreenshot.com/video/2297850?key=f82175f1d4e0ddeb9cba15b11aea4ef1

[2021-01-07 17:59] JessicaMarine opened #7637 "Signing of Stipulated Decision when one already exists"
As a Judge, in some circumstances I need the ability to sign a Proposed Stipulated Decision when one has already been signed.

DAWSON was currently built to prevent a Proposed Stipulated Decision from being signed if there is already a signed copy on the case.  This is okay if the signed copy is in the Drafts tab waiting to be processed, but we have the situation where a Stipulated Decision is pro

[2021-01-07 18:02] klohman opened #7638 "BUG: Filing fee status text should be sentence case not title case"
**Describe the Bug**
The filing fee payment status should be in sentence case, not title case in case details.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
internal user

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
moved

[2021-01-07 18:03] klohman commented on #7638
Notes from Trello card by @matthopson:

Since this comes from constants - `PAYMENT_STATUS.UNPAID` - we need to migrate all case data that would use this value as well to keep things consistent.

[2021-01-07 18:19] mmarcotte commented on #736
Duplicate of https://github.com/flexion/ef-cms/issues/7414

[2021-01-07 18:19] #736 closed, assigned to nobody

[2021-01-07 18:30] adunkman commented on #712
Some more information about the intermittent failures:

- The error rate is very consistent:

  ![Screenshot of frequency](https://user-images.githubusercontent.com/14930/103929811-d2da7180-50eb-11eb-8b2c-ad03e4340cba.png)

- It happens seemingly randomly across the four assets checked (`dynamsoft.webtwain.initiate.js`, `/dynamsoft.webtwain.config.js`, `dynamsoft.webtwain.install.js`, and `dynamso

[2021-01-07 19:39] #7739 closed, assigned to rachaelparris

[2021-01-07 19:39] #7454 closed, assigned to kkoskelin

[2021-01-07 19:39] #7535 closed, assigned to mrinsin

[2021-01-07 19:39] #7549 closed, assigned to rachaelparris

[2021-01-07 19:39] #7561 closed, assigned to rachelschneiderman

[2021-01-07 19:39] #7566 closed, assigned to codyseibert

[2021-01-07 19:39] #7567 closed, assigned to rachelschneiderman

[2021-01-07 19:39] #7588 closed, assigned to kkoskelin

[2021-01-07 19:39] #7591 closed, assigned to rachaelparris

[2021-01-07 19:39] #7593 closed, assigned to mrinsin

[2021-01-07 19:39] #7596 closed, assigned to klohman

[2021-01-07 19:39] #7598 closed, assigned to klohman

[2021-01-07 19:39] #7599 closed, assigned to mrinsin

[2021-01-07 19:39] #7519 closed, assigned to sutt0n

[2021-01-07 19:39] #7597 closed, assigned to rachelschneiderman

[2021-01-07 19:39] #7601 closed, assigned to sutt0n, matthopson, kkoskelin

[2021-01-07 19:39] #7607 closed, assigned to mrinsin

[2021-01-07 19:39] #7608 closed, assigned to rachelschneiderman

[2021-01-07 19:39] #7611 closed, assigned to sutt0n, matthopson

[2021-01-07 19:39] #7615 closed, assigned to rachaelparris

[2021-01-07 20:02] mmarcotte opened #742 "Add Case summary to Practitioner Detail Page in Admin"
Acceptance Criteria:

As a member of the Court, so that I can know the status of every case for a given practitioner, I want a list of every Docket Number and its status for a practitioner where I can edit Practitioners.

Notes:

@mmarcotte  has some helpful DynamoDB queries to help generate this information.

[2021-01-07 20:29] lauraGgit opened #743 "Reference to ATO - #52"
**Is your feature request related to a problem? Please describe.**
This ticket is to placehold for security activities in the ATO repository.

**Describe the solution you'd like**
Completion of security tickets in the ATO repository

[2021-01-07 21:00] klohman opened #7639 "BUG: Selected document in drafts not being retained when navigating within a case"
**Moved from Trello UX Pain Points**

**Describe the Bug**
The default behavior for Drafts screen (not linking directly from document link) is that the first draft document will be selected - this currently requires a refresh, or the user to initiate another workflow that resets the case

If possible, the draft screen should retain the selected document when a user clicks within a case, but if the

[2021-01-07 21:09] klohman opened #7640 "BUG: Case Detail> Petitioner Counsel - Spacing is off on represented parties (Link to story and close)"
**Moved from Trello UX Pain Points

**Describe the Bug**
Petitioner Counsel - "Representing"
- spacing between field label and data should be decreased (should be the same as Service Preference and Party type in example screenshot)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**

**Who were you logged in as?**

**What were you doing when you discovered this

[2021-01-07 22:50] julialeague opened #744 "Documents S3 buckets failover"
Unlike the application S3 buckets, the documents S3 bucket isn't fault tolerant right now - if S3 has availability issues in us-east-1, we don't currently support failover to another availability zone. We should determine the failover strategy for the documents S3 and then implement the configuration for the same.

## Acceptance Criteria
* Determine failover strategy for documents S3
* Implement c

[2021-01-07 22:53] julialeague commented on #247
Per the discussion with Mike Marcotte on Wednesday, I'll log an issue to revisit resiliency testing in the future, since we don't have any automated processes doing this sort of testing for us.

[2021-01-07 22:59] JessicaMarine opened #7641 "Add/edit note on trial card after case is scheduled (Dave)"
As a Docket Clerk, I need the ability to add/edit a calendar note without removing and re-adding the case.

## Pre-Conditions
* Case has been set for trial

## Acceptance Criteria
Revised:
* Docket clerk has the ability to add a calendar note on a trial after adding the case to the trial
* Docket clerk has the ability to edit a calendar note on a trial
* Docket clerk has the ability to delete a ca

[2021-01-08 02:40] mmarcotte commented on #7633
I believe this is due to it being greater than 500 characters. Perhaps it's best to increase that limit while also providing better error messaging.

[2021-01-08 04:56] julialeague opened #745 "AWS DynamoDB Failover"
Currently, if a DynamoDB table is unavailable or deleted, there is no automatic failover to another availability zone. We should determine what failover strategy we can set up for DynamoDB and then implement its configuration.

## Acceptance Criteria
* Determine failover strategy for DynamoDB, including consideration for how clients connect to another instance if failover occurs
* Implement config

[2021-01-08 14:01] klohman opened #7642 "BUG: Edit Docket Entry - Page never loads; receiving spinner and error"
**Describe the Bug**
When trying to edit a docket entry (entry number 4 on 12844-20), the page never loads and the spinner displays indefinitely. Error is received in console.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket

**What were you doing when you discovered this bug? (Using the application, demoin

[2021-01-08 14:29] JessicaMarine opened #7643 "BUG: Entered and Served Date not applied"
**Describe the Bug**
A Proposed Stipulated Decision was eFiled on 12/28/2020.  It was signed and served on 1/6/2021.  The "Entered and Served 1/6/2021" was **NOT** applied to the bottom of the document.

Here is the PDF that caused problems: [https://app.zenhub.com/files/152320868/96ba5b2d-8349-4320-80d2-ae99cab3c502/download](https://app.zenhub.com/files/152320868/96ba5b2d-8349-4320-80d2-ae99cab3

[2021-01-08 16:38] sutt0n commented on #7625
From discussions w/ @mmarcotte last night regarding these two docket numbers:

```Error: Input document to `PDFDocument.load` is encrypted. You can use `PDFDocument.load(..., { ignoreEncryption: true })` if you wish to load the document anyways.
    at new EncryptedPDFError (/var/task/api.js:670594:20)
    at new PDFDocument (/var/task/api.js:676783:54)
    at Function.<anonymous> (/var/task/api.j

[2021-01-08 16:58] julialeague opened #746 "Resiliency: Establish risk mitigation and acceptance documentation"
During resiliency testing work done in #247, questions came up about what we'd like to do in the near future and what we are willing to accept as risks at the moment. This story covers documenting risk acceptances and talking to tech lead Mike Marcotte to determine the same.

## Acceptance Criteria
* Add a document to the ef-cms repo which will list out resiliency risks and document whether we cur

[2021-01-08 17:11] julialeague opened #747 "Recurring: Test the application’s failover, monitoring, alerting, outage, and recovery processes."
As the Court TL, I need to intentionally break the Court's environment, so I have assurances that the system (including people) can withstand outages, route correctly, and fix breaks in a timely manner.

Acceptance criteria:

- [ ] **The test:** When parts of the application fail, the Court knows how the application as a whole will respond.
- [ ] **The test:** When parts of the application fail, t

[2021-01-08 17:13] julialeague commented on #247
Logged #747 to revisit this testing at a later date.

[2021-01-08 17:14] julialeague commented on #247
The epic for failover-related issues: https://github.com/ustaxcourt/ef-cms/issues/631

[2021-01-08 17:14] adunkman commented on #712
I’ve [discovered that the `us-west-1` EC2 instances were stopped](https://ustaxcourt.slack.com/archives/C015SEE9CUU/p1610121269403800), and there is a latency routing rule in effect — meaning that some requests were routed to these stopped instances.

[2021-01-08 17:23] #247 closed

[2021-01-08 20:45] klohman commented on #7603
## UX Review

### SPOS Feedback

* In Technology section - there should be a comma before the www.ustaxcourt.gov link
![Screen Shot 2021-01-08 at 3.37.29 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/cdfdbc8f-9a0a-47d5-aad8-eac562e12f69)

* Date should be left aligned
* Judge's name shouldn't wrap
![Screen Shot 2021-01-08 at 3.36.46 PM.png](https://images.zenhubusercontent.

[2021-01-08 21:01] klohman commented on #7603
## UX review

### SPTO feedback

* Date should be left aligned and judge name should not wrap
![Screen Shot 2021-01-08 at 3.55.01 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/130d1b96-cd27-4ccf-8f5a-e1aae7886a65)

* Pages 4 - 5 should not have the header (docket number and page count)
![Screen Shot 2021-01-08 at 3.58.08 PM.png](https://images.zenhubusercontent.com/5bd72715

[2021-01-08 22:56] rachelschneiderman commented on #7643
Hotfix PR to court: https://github.com/ustaxcourt/ef-cms/pull/748

[2021-01-11 13:46] klohman opened #7644 "BUG: Error received when serving document with extremely long title"
**Describe the Bug**
When entering a docket entry for a document (court-issued or paper-filed) with an extremely long title and serving, system throws 400 error.

When e-filing a document as a party with document title over max character count, the app throws error on submit.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logge

[2021-01-11 14:05] JessicaMarine opened #7645 "BUG: Today's Orders not Left Aligned"
**Describe the Bug**
The Order column on "Today's Orders" is not left-aligned:

![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/ed186ed2-affc-435b-8555-41dfa3be23ef)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court production

**Who were you logged in as?**

**What were you doing when you discovered this bug? (Using the appli

[2021-01-11 15:20] mariahkannenberg commented on #7610
Jessica's Observation
Docket clerk replies to a message and then completes it (they stay on message page)
The message gets hung up in the inbox of the recipient.

[2021-01-11 15:30] klohman commented on #7644
Current character limit for doc title - DOCUMENT_TITLE: STRING.max(3000)

If this is related to the issue, we can re-evaluate and possibly reduce this limit (discuss with Jessica if applicable)

[2021-01-11 15:48] sutt0n commented on #7625
The reason this bug wasn't caught by a test was due to a lack of encryption check during the PDF's validation process. A unit test will be added for this scenario.

[2021-01-11 18:00] JessicaMarine opened #7646 "BUG: Not able to update trial session information when session has an inactive case that is "blocked""
**Describe the Bug**
I was unable to update a future trial session's information -- the Judge -- when the session had an inactive case that was "blocked".

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod (reproduced in Flexion's prod)

**Who were you logged in as?**
Docket Clerk

**What were you doing when you discovered this bug? (Using the app

[2021-01-11 18:13] #7643 closed, assigned to rachaelparris

[2021-01-11 18:51] mariahkannenberg opened #7647 "Prevent service email from sending to parties when anything fails, including documents"
As the IRS, so that I don't receive emails with broken links to PDFs, I do not want to receive an email when the document fails to be uploaded and processed successfully.

## Pre-Conditions
* Petitioner or practitioner has e-filed a petition or uploaded a document to a case

## Acceptance Criteria
* Prevent service email from sending parties on a case when anything fails between PDF upload and add

[2021-01-11 20:53] klohman commented on #7625
Tested on flexion prod 101-21 using encrypted PDF [https://app.zenhub.com/files/152320868/ec075da6-86f0-4a37-ad5f-de022d0f3e83/download](https://app.zenhub.com/files/152320868/ec075da6-86f0-4a37-ad5f-de022d0f3e83/download)

Encrypted PDF was not uploaded and added to the docket record. Error message was received, blocking the pdf from being uploaded
![Screen Shot 2021-01-11 at 3.50.21 PM.png](http

[2021-01-11 21:12] mmarcotte opened #753 "Update links to forms"
It looks like the links to various forms on our application have become out of date as the Court's website got updated. We added a workaround of copying the form file to the locations where DAWSON was pointing so that public could access them, but now we are maintaining them in two locations. We need to consolidate so that this doesn't happen again (and if the forms change, we only need to change

[2021-01-11 21:35] mariahkannenberg commented on #7633
Reproduced on Flexion prod and added steps to bug. Seems like it's a character limit issue as noted above.

[2021-01-11 21:44] mariahkannenberg commented on #7629
![image.png](https://images.zenhubusercontent.com/5bc501b8601657183131caf3/9c1a0f96-d29b-4fc2-a85f-b41ad075fad4)

[2021-01-11 22:07] mmarcotte opened #754 "Fix Judge Carluzzo's name"
Judge Carluzzo's name currently coming up as Caluzzo. Need to fix!

Also need to fix Judge Leyden's name

- [x] Lewis R. Caluzzo => Lewis R. Carluzzo
- [x] Diana Leyden => Diana L. Leyden

[2021-01-12 15:36] JessicaMarine opened #7648 "BUG: Trial Session info. not showing in UI correctly"
**Describe the Bug**
We have several cases in the Court's production where they were set for trial on session ustaxcourt/ef-cms#6491 and then added for hearing on session ustaxcourt/ef-cms#6492.  For some reason, the information displaying in the Trial card is no longer the session ustaxcourt/ef-cms#6491 information, but is the session ustaxcourt/ef-cms#6492 information. Also, the judge has been u

[2021-01-12 15:39] JessicaMarine opened #7649 "BUG: Service stamp turning vertical"
**Describe the Bug**
The "Served" or "Entered and Served" date applied by the system at the bottom of the page is turning vertical on save on some PDFs.  Likely related to: https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7447

**Business Impact/Reason for Severity**
Unable to process some documents (including decisions)

**In which environment did you

[2021-01-12 17:13] JessicaMarine opened #7650 "Content Changes for Notice Setting Case for Trial"
## Pre-Conditions

## Acceptance Criteria
* Reduce size of boxes
* `Password` should be `Passcode` (4 places)
* Grammar issue -- Your Meeting ID and Passcode for the remote proceeding **are**:
* Indent 1st, 2nd, and last paragraphs

* Small issues with SPTO: [https://app.zenhub.com/files/152320868/7de838bb-d61e-4415-9a65-0be4c9c307f3/download](https://app.zenhub.com/files/152320868/7de838bb-d61e-4

[2021-01-12 17:16] JessicaMarine commented on #7603
Backlogged some minor content changes in ustaxcourt/ef-cms#7650

[2021-01-12 18:17] adunkman commented on #636
Wanted to clarify on the scope of this issue — for Jessica and Mike to make an informed decision about how to plan for an outage, they would like to know statistics on how often Cognito experiences service outages.

[2021-01-12 18:21] adunkman commented on #372
Resolved by #661.

[2021-01-12 18:21] #372 closed, assigned to mmarcotte, mark-meyer, JessicaMarine

[2021-01-12 18:22] #246 closed

[2021-01-12 18:27] mrinsin commented on #7648
Hotfix PR: https://github.com/ustaxcourt/ef-cms/pull/761/

[2021-01-12 18:33] klohman opened #7651 "BUG: Case sort order on Printable Trial Session Detail is incorrect"
**Describe the Bug**
The cases on the printable Trial Session Detail are not being sorted by oldest to newest.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod / court env.

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, e

[2021-01-12 18:43] mmarcotte commented on #702
workaround:

- do not index the document contents of the docket entries (all of them, not just orders & opinions)

[2021-01-12 18:46] mmarcotte commented on #726
might need to turn back on logging of POST requests

[2021-01-12 18:47] mmarcotte commented on #724
Could this be related to when the information of the Date Selector wasn't being retained. https://github.com/flexion/ef-cms/issues/7446

These issues in the JS issues when someone posts undefined or null as a Date. (so the datepicker may have been acting up).

[2021-01-12 18:57] mark-meyer commented on #732
One note regarding brute force attempts at logging in. Cognito appears to rate limit failed logins:

https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-authentication-flow.html

[2021-01-12 19:00] adunkman commented on #732
I really wish they logged in a place we could see. :sigh:

[2021-01-12 19:02] mmarcotte commented on #742
dupe of ustaxcourt/ef-cms#6649

[2021-01-12 19:03] mmarcotte commented on #437
@mmarcotte has a script to provide this information; we have logged #742 to show it in the UI

[2021-01-12 19:03] #437 closed, assigned to nobody

[2021-01-12 19:18] #519 closed, assigned to adunkman, mmarcotte, lauraGgit

[2021-01-12 22:22] julialeague commented on #636
From AWS's documentation, it looks like there is about 1 major outage per year, give or take:

https://aws.amazon.com/premiumsupport/technology/pes/

<img width="976" alt="Screen Shot 2021-01-12 at 2 07 41 PM" src="https://user-images.githubusercontent.com/51330839/104381276-0ef14600-54e1-11eb-93ed-943d7ac8774f.png">

From those documented service outages, the one we experienced in November is the

[2021-01-12 22:36] #7646 closed, assigned to codyseibert

[2021-01-12 22:41] julialeague commented on #636
I haven't been able to find any other significant documentation surrounding AWS service outages, so I'm taking the previously-posted link as canon.

I think it's safe to assume that Cognito will experience ocassional service "blips" that may cause some brief connectivity issues, but it doesn't typically go down for prolonged periods of time, given what we know.

@mmarcotte @JessicaMarine, do you h

[2021-01-12 23:06] adunkman opened #767 "Revisit DNSSEC configuration now that AWS Route53 supports it."
Our [Email architecture documentation](https://github.com/ustaxcourt/ef-cms/blob/staging/docs/architecture/email.md) reads:

[This is no longer true](https://aws.amazon.com/about-aws/whats-new/2020/12/announcing-amazon-route-53-support-dnssec/):

### Background

From the email documentation:

[2021-01-13 12:48] #7648 closed, assigned to rachelschneiderman

[2021-01-13 12:55] JessicaMarine opened #7652 "BUG: Pretrial Memos are accessible by public"
**Describe the Bug**
It was brought to the Court's attention that some pretrial memos are showing up as hyperlinks in the public view of the docket record.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod

**Who were you logged in as?**
Public

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, test

[2021-01-13 15:13] mmarcotte opened #768 "Get Flexion a report of Support Tickets"
Need to figure out the right balance of information to send them. Help inform them about usability issues. Perhaps leverage the API to generate a report.

[2021-01-13 15:14] mmarcotte opened #769 "Generate a Support Ticket report"
Need to figure out the right balance of information to share. Help inform about usability issues. Perhaps leverage the API to generate a report.

- report for Court Users
- report for Flexion

Figure out what we need...

[2021-01-13 15:14] mmarcotte opened #770 "Build Support Ticket Report"
Need to figure out the right balance of information to share. Help inform about usability issues. Perhaps leverage the API to generate a report.

- report for Court Users
- report for Flexion

[2021-01-13 15:44] klohman commented on #7610
## Tests (Drafts)
#### User completes message that is in their Inbox
* Login as adc1
* Go to case 101-21
* Send message with document attached to docketclerk1
* Login as docketclerk1
* Go to case 101-21
* Complete message from adc1
Expected results
- [ ] Message does not display in docketclerk1 Inbox
- [ ] Message does not display in Docket Section Inbox
- [ ] Message displays in Completed box for

[2021-01-13 16:08] klohman commented on #7649
## 7549

#### 1) Docket clerk serves Order with “Entered and Served” stamp from Drafts screen
* Login as docket clerk
* Go to case
* Upload PDF (rotated PDF)
* Apply Signature
* Add Docket entry
* Select code “O” for document type
* Select Entered and Served for service stamp
* Save and Serve
Expected results
- [x] Served stamp is applied to PDF as “Entered and Served [today’s date]
- [x] Served s

[2021-01-13 16:27] JessicaMarine commented on #7642
I encountered the same issue in 9851-20 entry 4.

[2021-01-13 16:33] klohman commented on #7554
## 7287 Tests

#### 1) Docket clerk adds private practitioner without email to case and sees practitioner has paper service
* Login as docket clerk
* Go to Case > Case Information > Petitioner
* Add petitioner counsel -counsel w/o email address
Expected results
- [x] Private practitioner displays under Petitioner Counsel
- [x] Petitioner service indicator updates to “none”
- [x] private practition

[2021-01-13 16:35] rachaelparris commented on #7554
For whoever picks this up, we have started work for task 1 on the branch `7287-user-migration`

[2021-01-13 16:38] adunkman commented on #712
Restarting these issues significantly impacted the error rate (upper line is total health checks, bottom line is health check failures due to the EC2 instance):

![Screenshot of health checks and error rates](https://user-images.githubusercontent.com/14930/104479946-fbea7e80-5591-11eb-86be-671cf81eff47.png)

Changing scales to highlight the EC2 instance failures since the drop, we are still seeing

[2021-01-13 16:41] adunkman commented on #712
Confirmed errors are happening equally across environments, which is expected given they are sharing the same EC2 configuration. (Note that `dev` has been partially down during the time period of this chart).

![image](https://user-images.githubusercontent.com/14930/104481745-22a9b480-5594-11eb-852c-42cde8493774.png)

[2021-01-13 16:46] klohman opened #7653 "BUG: Case not displaying in case search results"
**Describe the Bug**
A case that should be accessible to public is not displaying in case search results.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
public

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
manual testing

*

[2021-01-13 16:57] klohman commented on #7652
**Cannot reproduce on flexion prod - generic test cases below**

## 7555 tests

#### 1) Party files Pretrial Memorandum and it is inaccessible to the public
* Login as petitioner / private practitioner/ IRS practitioner
* Go to case
* File Pretrial Memorandum
* Go to public search
* Search for case
Expected results
- [ ] Pretrial memorandum entry is visible on docket record
- [ ] Pretrial memorand

[2021-01-13 18:33] adunkman commented on #484
Closed in #485!

[2021-01-13 18:33] #484 closed, assigned to julialeague

[2021-01-13 18:35] #754 closed, assigned to mmarcotte

[2021-01-13 18:35] adunkman commented on #636
Decision made in a meeting just now by @JessicaMarine that once a year, once documented is an acceptable risk for now, and we can revisit if concerns arise in the future about availability.

[2021-01-13 18:35] #636 closed, assigned to julialeague

[2021-01-13 19:26] JessicaMarine opened #7654 "BUG: Editing Docket Entry is creating duplicate cover sheet"
**Describe the Bug**
If a user edits a **migrated** docket entry of a eFiled or paper-filed document, the system is putting a duplicate cover sheet on the document even if nothing changed.

You would change the filed by parties (not on the cover sheet). Hit save, and it would put a NEW cover sheet on it. That's not desirable. In other words, if you're not changing information that appears on the c

[2021-01-13 20:05] mariahkannenberg commented on #7652
Notes:
If more pervasive than pre-trial memos, fix everywhere.

[2021-01-13 20:12] klohman commented on #7644
- Document title < 3000 characters
Court-issued
    - petitionerNames
    - freeText  < 500
    - judge
    - docketNumbers < 500
    - Date
    - Trial location <100
External docs
    - previousDocument.documentTitle (assume <3000)
    - freeText < 500
    - documentTitle (assume <3000)
    - serviceDate
    - trialLocation <100
    - ordinalValue
    - documentType (longest is 123 characters)

[2021-01-13 20:44] mmarcotte commented on #7631
Perhaps related, we have observed a number of these showing up in the error logs:
[code]

[2021-01-13 21:20] klohman commented on #7644
## 7533 Tests

Need to test these document scenarios / type:
CourtIssuedDocumentTypeA
CourtIssuedDocumentTypeB
CourtIssuedDocumentTypeC
CourtIssuedDocumentTypeD
CourtIssuedDocumentTypeH
ExternalDocumentNonStandardB
ExternalDocumentNonStandardC
ExternalDocumentNonStandardI
ExternalDocumentNonStandardJ

#### 1) Docket clerk enters 1000 characters into free text field court-issued document and serves

[2021-01-14 14:22] klohman commented on #7632
### 7508 Tests

#### 1) Docket clerk updates paper-filed entry doc type to Motion for Leave to file
* Go to case
* Add Paper Filing (any type except for scenario H)
* Save and Serve
* Edit docket entry
* Update doc type to Motion for Leave to File
* Save
Expected results
- [x] Secondary document field displays when doc type is updated
- [x] Secondary document field is required
- [x] on save, docke

[2021-01-14 14:41] klohman commented on #7631
## 7506 Tests

#### 1) Docket clerk edits paper-filed entry doc type to Motion for Leave to file
* Go to case
* Add Paper Filing for Motion for Leave to File [any document]
* Save and Serve
* Edit docket entry
Expected results
- [x] Secondary document field displays with [any document] selected

#### 2) Docket clerk edits paper-filed entry doc type to Motion for Leave to File out of Time
* Go to c

[2021-01-14 14:47] klohman commented on #7642
Both of these docket entries have a processing status of "pending" - if that could be the cause of this error

![Screen Shot 2021-01-14 at 9.45.15 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/4c7174fd-8866-4359-9d77-ff651f2968ee)

[2021-01-14 15:06] rachaelparris commented on #7580
Work has been started for this story on branch `7369-order-search-with-petitioner-name`

[2021-01-14 15:10] adunkman commented on #712
On the subject of request volume, it’s by design and caused by my misunderstanding of the health check interval, currently configured to 30 seconds. This interval is not the interval between health checks — it’s the interval between checks from each health check worker, and there are "typically about 15".

[2021-01-14 15:13] mariahkannenberg commented on #7652
const EVENT_CODES_NOT_VISIBLE_TO_PUBLIC = [
  'SDEC',
  'NOT',
  'FTRL',
  'HEAR',
  'NTD',
  'PTRL',
  'TRL',
  'ROA',
  'MISC',
  'HE',
  'TE',
  'USCA',
  'ES',
  'RM',
  ...Object.keys(EVENT_CODES_NOT_VISIBLE_TO_PARTIES_FOR_TIME_PERIOD_MAP),
];

[2021-01-14 15:16] mariahkannenberg commented on #7652
If court-issued, look on blacklist. If not on blacklist, it's publicly available.
If not court-issued, not publicly available.

Discussion on 1/14/21 - use whitelist instead of blacklist.
Anything on order search or opinion search would be on the whitelist
Document testable parameters for event codes.
For Kristen to test, we can migrate a case to get it into same status.

[2021-01-14 15:20] adunkman commented on #712
Furthermore, we cannot configure it to perform fewer requests. The request interval can either be 10 seconds or 30 (we’re already using 30, the slower interval).

I’m going to manually change the region configuration to see if reducing the regions the health check are in will reduce the number of workers performing checks (it’s unclear in the documentation).

[2021-01-14 15:40] adunkman commented on #712
I reconfigured the IRS environment’s health checker. The documentation states that health check configurations may take up to an hour to propagate. [This Kibana graph](https://search-info-xw4ehxtswfeh63wmz4srpbkf3u.us-east-1.es.amazonaws.com/_plugin/kibana/app/kibana#/visualize/create?type=line&indexPattern=f8384e80-2516-11eb-82a4-0f6df8788ac7&_g=(filters:!(),refreshInterval:(pause:!t,value:0),tim

[2021-01-14 15:57] adunkman commented on #712
I’ve hit the end of my timebox on this issue — given that this is not a user-reported issue, I’m going to move forward with:

- If the region configuration change shows promise, I’ll roll it out across environments.
- I’ll increase the failed health check interval by 1 to reduce the number of times the alert is triggered.
- #771 is opened to handle configuring the health check appropriately for pr

[2021-01-14 17:20] klohman commented on #7644
* increase freeText fields to 1000 characters and show error message when reached
* any field that has a character limit , display error message when reached
* if document title max limit is reached, show global error message - page level only

[2021-01-14 17:22] klohman commented on #7633
* related to field character limit - increase limit to 700
* show error message when character limit reached

[2021-01-14 17:42] rachaelparris commented on #7610
We added some of the data to Flexion's prod to verify that the completed messages do not show up in the inbox. The message detail is [here](https://app.dawson.flexion.us/messages/13341-20/message-detail/df13c74c-6037-4360-9eab-7babeec9d89f). We also verified that those messages are no longer in the petitions or docket inboxes.

[2021-01-14 17:52] rachaelparris commented on #7644
Scenarios to verify:
* Create order modal

[2021-01-14 18:01] mmarcotte commented on #6617
This is going to satisfy a growing number of support tickets! Thanks for prioritizing it.

This needs figuring out:

- How to we verify the identity of an individual?
- Do they need to file something via paper in order to make the switch?

It would be great to figure out a way to allow them to do this via the App:

- we may have their phone number, and we could possibly use it for messaging / veri

[2021-01-14 18:18] klohman commented on #7642
## 7524 Tests

#### 1) Docket clerk clicks edit for new paper-filed docket entry
* Login as docket clerk
* Go to case
* Add Paper Filing for Response [anything]
* Save and Serve
* Click Edit link on docket entry
Expected	results
- [x] App routes to Edit Docket Entry screen
- [x] Doc type field is populated with Response
- [x] What is this document responding to field is populated with [anything]

[2021-01-14 18:25] #7087 closed, assigned to codyseibert

[2021-01-14 18:25] #7602 closed, assigned to sutt0n, matthopson, kkoskelin

[2021-01-14 18:25] #7603 closed, assigned to rachelschneiderman

[2021-01-14 18:25] #7625 closed, assigned to sutt0n

[2021-01-14 18:38] klohman commented on #7619
### 7473 tests

#### 1) Docket clerk edits paper-filed docket entry and updates doc type to nonstandard A type
* Login as docket clerk
* Go to case
* Add Paper filing [ any document type other than nonstandard a]
* Save and Serve
* Click edit link for docket entry
* Update document type to nonstandard A
    * Redacted
    * Notice of No Objection
    * Notice of Objection
    * Reply
    * Sur-Rep

[2021-01-14 18:42] adunkman opened #772 "Explore running limited migration database to answer ad-hoc queries."
## Description

We'd like to the ability to run limited ad-hoc queries against the Blackstone Database -- In case we need to retrieve any information or just to make it more accessible. It's also more cost-effective than the EC2 instance dedicated to running the Microsoft SQL database.

We're currently using the help of AWS Pro Services to migrate the information into a MySQL RDS Instance.

## Tas

[2021-01-14 19:07] mark-meyer commented on #772
Currently, legacy data is hosted in a different court environment in a SQL Server database running inside a large ec2 instance. This was provisioned in a way to allow migrations to run quickly, but is over-provisioned for occasional ad hoc queries. Also, the current database contains the binary data for the PDFs, which require a lot of storage and are probably no longer needed. One proposed soluti

[2021-01-14 19:31] klohman opened #7655 "PR 60-61 Manual Testing"
Manual user testing to be performed during Sprint .

## Acceptance Criteria

AC 1) Team has performed manual testing on the Flexion prod environment for the following user flows, defined in https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit?usp=sharing
* External parties workflows
* Mobile

## Notes

## Tasks
**External parties workflows**

- [x] 1) eFile a pe

[2021-01-14 19:50] mmarcotte opened #773 "Investigate irregularities concerning E-Service to IRS"
It looks like DAWSON has tried to serve multiple copies of the same document:

- Docket No: 7118-19
- Docket Entry: 30
- Docket Code: MISCL

appeared to be served four times (12/29) with Document Ids:

- 9c21f708-8d76-4fbc-93d0-d4fd1fd6c2cb
- 1d7065a2-cf11-4fc5-adf0-b21d3de6c370
- 1a1a8637-6f2d-413b-9f7c-2ad7a4502f60
- 1d7065a2-cf11-4fc5-adf0-b21d3de6c370

Second and fourth appear to have identica

[2021-01-14 21:05] julialeague commented on #637
I updated the description to provide actual detail, sorry about that!

[2021-01-14 21:34] klohman opened #7656 "BUG: Printable Receipt of Filing - Certificate of Service date has incorrect format"
**Describe the Bug**
On the Receipt of Filing PDF, the Certificate of Service date is displaying in the wrong format. It displays as YYYY-MM-DD, and should display the same way it does on the docket record (MM/DD/YY)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
petitioner

**What were you doing when you discov

[2021-01-14 21:44] klohman opened #7657 "BUG: Document QC: Field to concatenate document title is not populated on QC screen"
**Describe the Bug**
For event code AFF, the document QC screen is not displaying the previousDocument selected when the document was filed. The field displays but has no document selected.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the

[2021-01-14 22:47] JessicaMarine opened #7658 "Admissions Clerk: Ability to Update Practitioner Email Address"
## Pre-Conditions
* Practitioner exists in DAWSON with an email address

## Acceptance Criteria
* Admissions Clerk has the ability to edit a practitioner's email address
* Practitioner is provided new credentials to access DAWSON [See note below]
* Practitioner must verify their new email address
* Practitioner is able to log-in and access their cases with the new email after it's verified
   * En

[2021-01-15 13:53] adunkman commented on #712
![Screenshot of reduction in request volume](https://user-images.githubusercontent.com/14930/104734937-f5354600-570e-11eb-842e-40f977b1ce68.png)

Overriding the regions to which the health check is deployed reduces the request volume per environment, from (this graph is a logarithmic y-axis) 1,779 req/hour/env to 671 req/hour/env. I’ll prepare a pull request to make this change.

[2021-01-15 14:11] klohman opened #7659 "BUG: Print receipt of filing - Access denied error"
**Describe the Bug**
After filing a document and clicking the Print Receipt, I received an access denied error. I believe this may be related to timing - I waited about 2 minutes before clicking on this link.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
petitioner

**What were you doing when you discovered thi

[2021-01-15 14:12] mmarcotte opened #774 "Grant AdmissionsClerk privileges to ClerkOfCourt"
As per special request from Stephanie, the Court is requiring that we equip the Clerk of Court role the capabilities that Admissions Clerks have in order to perform some of their functions.

[2021-01-15 14:31] adunkman opened #775 "Debug Route53 errors in develop environment."
We experienced odd regional DNS resolution errors for `dev.ef-cms.ustaxcourt.gov` starting Monday evening, leading us to rebuild our `dev` environment attempting to fix the issue. Unfortunately, the issue was not resolved, and our newly issued ACM certificates could not be validated, further pointing towards an oddity with Route53.

AWS Support was able to assist, highlighting:

[2021-01-15 15:10] adunkman commented on #775
This appears to be a configuration problem in the `ustaxcourt.gov` hosted zone. We should be delegating `ef-cms.ustaxcourt.gov` to the staging AWS account, which handles all configuration for `dev.ef-cms.ustaxcourt.gov` — however, the `ustaxcourt.gov` hosted zone is also delegating `dev.ef-cms.ustaxcourt.gov` to another hosted zone in a different AWS account.

Additionally, the support rep noticed

[2021-01-15 15:19] adunkman commented on #767
If we had DNSSEC enabled, we could protect against issues such as #775 (only one set of records would be signed and authorized).

[2021-01-15 15:30] adunkman commented on #775
Handing off to @mmarcotte to make the above changes (I don’t have access to that hosted zone, for good reason).

[2021-01-15 15:35] klohman opened #7660 "BUG: Public docket record: Displaying wrong event code for Lodged documents"
**Describe the Bug**
Lodged documents are displaying the incorrect event code on the public docket record. They display MISCL for the internal/parties view of the docket record, but are displaying the actual document event code for public users.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
public user

**What

[2021-01-15 15:48] klohman opened #7661 "BUG: Public docket record: Not displaying parenthetical information on docket entries"
**Describe the Bug**
The public docket record view does not display any parenthetical information on entries, for example:
* (Lodged)
* (Attachments)
* (Objections)
* (CS mm/dd/yy)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
public

**What were you doing when you discovered this bug? (Using the application, d

[2021-01-15 15:57] klohman opened #7662 "BUG: Public Docket Record - Served Parties column not being populated"
**Describe the Bug**
Parties column is not populated on public docket record. The parties info does display on the Printable Docket Record.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
public

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functi

[2021-01-15 17:11] klohman commented on #7652
@JessicaMarine

543-20 on prod is in the same state as the original docket entry, and now displays no hyperlink for public view
![Screen Shot 2021-01-15 at 12.10.41 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/43d09109-85dd-4c55-ab03-3e133f412256)

[2021-01-15 17:17] kkoskelin commented on #7642
Appears to have been fixed by ustaxcourt/ef-cms-flexion#7569

[2021-01-15 17:19] rachaelparris opened #7663 "BUG: Error screen flashing when QCing docket entry"
**Describe the Bug**
When QCing a docket entry and adding additionalInfo over the character limit, then reducing the size, an error message is flashing on the screen (see screen recording).

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
local

**Who were you logged in as?**
docketclerk@example.com

**What were you doing when you discovered this bug? (Using

[2021-01-15 17:23] kkoskelin commented on #7642
The bug was because the `ExternalDocumentNonstandardA` was the type of external document on the docket entry in question -- which was a Response to an Order.  However, this case appeared to have been migrated, and as such, the `previousDocument` property was not populated.  The function responsible for generating the document title expected it to have a value when it did not, causing an error refe

[2021-01-15 18:28] mariahkannenberg commented on #7632
Original designs and user story:

https://github.com/flexion/ef-cms/issues/980

![image.png](https://images.zenhubusercontent.com/5bc501b8601657183131caf3/2e0713ea-0edd-494b-857f-03eae4d96c0e)

![image.png](https://images.zenhubusercontent.com/5bc501b8601657183131caf3/2da46ec5-1b23-47d4-b414-51fe6a8836f7)

[2021-01-15 18:35] mariahkannenberg commented on #7632
Original design notes...
• If Nonstandard H document type is selected, show secondary document category field and document type field and secondary "Select" button

secondary Document Category field and document type field is required

Document Type field is populated with documents within the selected category
• "Motion for Leave to File" and "Motion for Leave to File Out of Time" should not be s

[2021-01-15 18:36] adunkman opened #778 "Develop security concerns & controls for production data sets."

[2021-01-15 18:42] klohman commented on #7642
UX Review - able to reach Edit Docket Entry screen for 12844-20 entry 4 and 9851-20 entry 4[Uploading... Screen Shot 2021-01-15 at 1.41.59 PM.png]

[2021-01-15 18:57] mmarcotte opened #779 "Include Service Indicator for Petitioner in v1 API"
The API that we use to distribute information about a case or document needs to indicate the service preference for all parties on the case. Right now it appears to be lacking in the v1 API. We need to bring this information in to help inform users of the API how parties need to be served.

- [x] Include service indicator
- [x] Change `case.noticeOfTrialDate` to `trialDate`
- [x] Include `trialLoc

[2021-01-15 19:05] klohman commented on #7554
@matthopson

### 7287 UX Review

![Screen Shot 2021-01-15 at 1.57.55 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/04f0d526-9494-4ca1-bd89-cdc26ac80cd0)

* Paper service address page is not displaying the Practitioner address (private or IRS practitioner)

[2021-01-15 19:18] julialeague opened #780 "Alerts for important DynamoDB events"
As an administrator for the system, it would be helpful to have alerts set up for events that indicate problems with DynamoDB which can lead to a significant loss in performance or availability, so that I can see that there is an issue when I'm not observing the system's health directly.

## Acceptance Criteria
- [ ] We determine which DynamoDB metrics we want alerts for
- [ ] We configure alarms

[2021-01-15 19:20] julialeague commented on #746
Logged an issue for setting up DynamoDB alerts: https://github.com/ustaxcourt/ef-cms/issues/780

[2021-01-15 20:47] JessicaMarine opened #7664 "BUG: Electronic signatures not viewable in PDF preview"
**Describe the Bug**
When a party is eFiling a document that has been electronically signed, the eSignature does not display in the PDF previewer modal, so they are not sure whether it will be there when filed.  Note:  It does actually show on the filed version, but it's causing a lot of uncertainty on the part of the filer.

**Business Impact/Reason for Severity**

**In which environment did you

[2021-01-15 20:56] JessicaMarine opened #7665 "BUG: Scroll on dropdown missing"
**Describe the Bug**
The IRS reports that when they are trying to eFile documents, the scroll on the dropdown for "previously filed" documents is missing.  They could navigate using the up and down arrows, but this is not intuitive. Using Windows 10 with chromium Microsoft Edge browser.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod

**Who wer

[2021-01-15 22:44] JessicaMarine opened #7666 "BUG: Notice of Docket Change not generated with Attachment and C/S info changes"
**Describe the Bug**
When Docket is QC'ing a document and changes the "attachment" information (either selecting it or de-selecting it) and/or the certificate of service information (either selecting it, de-selecting it, or changing date), a notice of docket is not being generated.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod

**Who were you

[2021-01-15 22:56] JessicaMarine commented on #7644
@klohman @mrinsin @rachaelparris We can mob to test this on Monday!  Have a great weekend.

[2021-01-18 15:22] mariahkannenberg opened #7667 "BUG: Judge not able to open working session copy of the trial session (HOTFIX)"
**Describe the Bug**
Judge is unable to open his working session copy of the trial session.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court Prod; able to replicate for 1/20 Washington DC session in Flexion's prod

**Who were you logged in as?**
Judge Carluzzo

**What were you doing when you discovered this bug? (Using the application, demoing, smoke t

[2021-01-18 15:49] rachaelparris commented on #7554
dev and prod - migrated practitioner with bar number `KS2111` with electronic service indicator. After migration, should be set to paper. Also added that practitioner to case 105-20 with electronic service indicator. After migration, should be set to paper.

[2021-01-18 16:10] JessicaMarine commented on #7667
Discovered this is likely due to not updating the hearing entity on cases.  400 error also being generated when trying to generate "Deadlines" report.

[2021-01-18 16:45] sutt0n commented on #7619
Reason: The previous document wasn't being set correctly on the form when a file was selected, and upon saving, it did not update the respective docket entry with the document as an object. It was attached to the docket entry, and unit tests were written.

[2021-01-18 18:12] rachelschneiderman opened #7668 "BUG: Updating a court issued document to a document type that does not require a coversheet should remove the existing coversheet, if it exists"
**Describe the Bug**
When a court issued document is edited and the eventCode is changed from a document that requires a coversheet to one that does not, the coversheet is not removed from the document.

We currently do not have a good way to verify/identify if a coversheet is present on a given document. We can make the assumption that one is present based on the document's eventCode, but we can'

[2021-01-18 21:11] matthopson commented on #7661
@JessicaMarine These do not show up because some fields are missing on the Public Docket Entry entity, compared to the internal one.

[code]

I'd assume since these are to be present in the UI, it's safe to include the fields in the entity and send them over the wire, but since we've been super cautious about what we send back from the API for public, we just wanted to confirm that this would be o

[2021-01-18 21:12] JessicaMarine commented on #7661
@matthopson Yes, these are okay to include

[2021-01-19 13:25] klohman opened #7669 "BUG: Docket QC Complete and Send Message - Not Routing to Paper Service Screen or Generating Paper Service PDF"
**Describe the Bug**
From the docket QC screen, if the user edits the entry and selects Complete and Send Message for a case with a paper service party, the app is not routing to the Print Paper Service screen to allow them to print the Notice of Docket Change, as expected. The Notice is generated on the docket record, but they are not prompted to print.

If the user selects "Complete" from the QC

[2021-01-19 13:42] #7667 closed, assigned to matthopson

[2021-01-19 13:51] klohman commented on #7554
@JessicaMarine UX Notes:

* When adding an email to a practitioner who previously had no email on record, the practitioner service indicator does not update on the practitioner's current cases. It remains as paper. When you add this practitioner to another case, the service indicator will default to electronic.

[2021-01-19 14:20] JessicaMarine commented on #7554
@klohman I think that functionality was missed in ustaxcourt/ef-cms#7739 (https://github.com/flexion/ef-cms/issues/7377) then.  There was an AC: Practitioner's service preference is changed to electronic. I guess that could've been more explicit and said "in each case"

[2021-01-19 16:02] klohman commented on #7645
Update looks good
 ![Screen Shot 2021-01-19 at 11.02.04 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/139becf5-0e51-49e5-b36b-f6670b6af985)

[2021-01-19 16:06] klohman commented on #7633
@JessicaMarine @rachaelparris

Did we want to increase the character limit here to 700? ![Screen Shot 2021-01-19 at 11.04.22 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/aaf19f1c-5c06-40c9-8e47-2e7c529128a4)

[2021-01-19 16:13] klohman commented on #7618
Update looks good

![Screen Shot 2021-01-19 at 11.11.56 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/22ebf074-d80c-48a2-af04-b97f15eef9f0)

[2021-01-19 16:52] JessicaMarine commented on #7633
@klohman yes, I think you added a comment to increase to 700

[2021-01-19 17:51] kkoskelin commented on #7631
This bug occurred because `Case.prototype.updateDocketEntry` was using `Object.assign()` to override *only* the provided key/value pairs on a given docket entry, not actually replacing it entirely.  The updated tests now inspect the entirety of the updated docket entry, not just the key/value pairs that we expected to change.

[2021-01-19 18:04] sutt0n commented on #7560
Reason for the bug: The `MISCL` event code was not filtered from the dropdown prior to being shown, with a scenario of `Not in dropdown`. The specific event code was added as an entity constant and filtered out in the presenter prior to being rendered in the view and a specific unit test was added to cover this test case.

[2021-01-19 18:31] julialeague opened #788 "App S3 Bucket Object Deletion Alarm"
As a system administrator of DAWSON, I want to be alerted if the app S3 objects or bucket is deleted, so that I can be aware of undesired system activity.

Acceptance Criteria:
- [ ] Configuration is set up to monitor and alert the app S3 objects/bucket for deletion events
- [ ] Configuration is set up to monitor and alert the documents S3 bucket for deletion events

[2021-01-19 19:08] julialeague commented on #788
Related reading regarding security, particularly about S3 Object Lock and MFA for Delete: https://docs.aws.amazon.com/AmazonS3/latest/userguide/disaster-recovery-resiliency.html
https://docs.aws.amazon.com/AmazonS3/latest/userguide/security-best-practices.html

Perhaps S3 Object Lock could be implemented for the S3 app bucket - it would help prevent any unwanted deletions and can be applied to spe

[2021-01-19 19:55] klohman commented on #7657
Related issue found during ustaxcourt/ef-cms#7644

- Go to Document QC Inbox
- Select document with free text field (affidavit in support0
- Update freeText field (do not change doc type)
- Complete QC
- Document title is not updating

[2021-01-19 20:16] klohman commented on #7560
Update looks good

![Screen Shot 2021-01-19 at 3.15.35 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8a3bacbb-0569-4585-9424-d840c7c4cfc2)

![Screen Shot 2021-01-19 at 3.15.20 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/39c8b6b8-c0ef-4c45-ae79-382842c5f759)

[2021-01-19 20:29] mmarcotte opened #789 "Improve workflow for Blue/Green Deployments that require a Migration"
In order to reduce confusion, possible human error, these are the proposed steps for performing a deployment that involves a Migration.

**Initiate**

This is currently performed manually.

- [ ] Determine and update the destination table name in the deploy table
- [ ] Change the `migration` flag to `true` in the deploy table

**Backup AWS Resources**

This is currently not performed. It may not b

[2021-01-19 20:40] klohman commented on #7633
Reviewed on dev - ready for PO review after prod deploy

![Screen Shot 2021-01-19 at 3.40.20 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/f3aef071-49fe-4fc3-834d-75b3f385e659)

[2021-01-19 21:43] klohman commented on #7669
## 7608 Tests

#### 1) Docket clerk updates Filings and Proceeding for case with paper service and completes QC
* Login as petitioner
* Go to case
    * Case has at least 1 party with paper service
* File a document
* Login as docket clerk
* Go to Document QC > Inbox
* Click on eFiled document
* Update document type
* Click Complete button
Expected results
- [x] Paper service modal displays
- [x]

[2021-01-19 21:48] Anthony-Calderaro opened #791 "Add tooling to automatically check and resend temporary credentials"
**Is your feature request related to a problem? Please describe.**
The majority of support tickets are requests to resend temporary credentials to users whose previous credentials have expired. Currently, there are several thousand users whose accounts are not confirmed and whose temporary credentials may expire, requiring new ones to be issued.

**Describe the solution you'd like**
By setting up

[2021-01-19 22:04] klohman commented on #7664
## 7584 Tests

#### 1) External user uploads digitally signed PDF when filing a Petition
* Login as petitioner / private practitioner
* Create case
* Upload digitally signed STIN
* Upload digitally signed Petition
* Select Corporation as party type
* Upload digitally signed ODS
* Review petition
* View PDF previews on Review Your Case screen
Expected results
- [x] PDF preview displays digital sign

[2021-01-19 22:07] julialeague opened #792 "Set up notifications for SES issues"
As a system administrator for DAWSON, I want to be alerted when certain SES system issues arise, so that I can know about and mitigate the issue ASAP.

## Acceptance Criteria
- [ ] Determine the metrics/alarms we want to set up for SES
- [ ] Configure the metrics/alarms and SNS notifications for the same.

## Notes
* Per my discussion with @mmarcotte, we *at least* want to be notified if emails hi

[2021-01-20 14:35] mariahkannenberg opened #7670 "User Management"
As the Court, so that we may manage access to DAWSON, we need the ability to add and remove users, as well as edit their information.

Acceptance Criteria
* Docket Clerk can edit petitioner contact info at an individual level
* Docket Clerk can add a petitioner to an existing case
* Docket Clerk can add and/or remove multiple petitioners from a case
* Docket Clerk can add and/or remove "other" pet

[2021-01-20 15:11] klohman commented on #7627
## 7493 Test Scenarios

#### 1) Docket clerk enters text into Additional Info 1 field and adds to coversheet and sees full document title in “Attach Document” dropdown when creating a message
* Login as docket clerk
* Go to Document QC Inbox
* Select a document = Answer
* Enter text into Additional Info 1 = “which has additional info”
* Check "Add to Coversheet"
* Complete QC
* Go to case and send

[2021-01-20 17:39] klohman commented on #7628
### 7494 Test Scenarios

#### 1) Docket clerk enters text into Additional Info 1 field and adds to coversheet and sees document title when selecting Complete and Send Message
* Login as docket clerk
* Go to Document QC Inbox
* Select a document = Answer
* Enter text into Additional Info 1 = “which has additional info”
* Check "Add to Coversheet"
* Click Complete and Send Message
Expected results
-

[2021-01-20 18:28] mark-meyer commented on #772
Jan 19 meeting with AWS Services, Mike McVicker, and Mike Marcotte: AWS will explore options for loading a subset of the redacted migration SQL Server tables into a lightweight RDS instance, which will allow small ad-hoc queries of data going forward.

[2021-01-20 19:56] klohman commented on #7626
### 7492 Test Scenarios - QC Screen

#### 1) Docket clerk updates free text fields in document title and completes QC (Scenario B doc)
* Login as petitioner
* Go to case
* File a document
* Select doc type = Ratification
* Enter “for testing” into What are you ratifying field
* Login as docket clerk
* Go to Document QC Inbox
* Select Ratification
* Update “What are you ratifying field” to “for tes

[2021-01-20 20:14] mariahkannenberg commented on #7664
In the modals, the individual pages are being rendered upon a <canvas> I think. odd - kris
Kristen aslo tested in other places, and only seems to be happening in preview modal.

[2021-01-20 20:21] mariahkannenberg commented on #7628
May be related to order of operations. Is the updated title saved yet?

[2021-01-21 05:31] julialeague opened #794 "Data redundancy"
As a system administrator for DAWSON, I want secure data backups for the live system, so that the system is protected against any unexpected loss of data.

## Acceptance Criteria
- [ ] Determine how data should be backed up - would it involve transferral to on-premises storage?
- [ ] Implement configuration for the back up solution.
- [ ] test the back up solution

## Notes
This work will likely i

[2021-01-21 14:03] klohman opened #7671 "BUG: Access Denied / PDF Upload Error on Paper Filing/PDF Upload screen"
**Describe the Bug**
When trying to add a paper filing to a case, user receives error on Save and Serve. Error displays as Access Denied.

Error also occurs when uploading PDF to drafts.
Reproduced this on several different cases 500-20, 12239-20, 4001-20 with different PDFs.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logge

[2021-01-21 15:01] JessicaMarine opened #7672 "Admissions Clerk: Change Practitioners Employer"
As an Admissions Clerk, I need to the ability to change a practitioner's employer, so that the practitioner has the right permissions to a case.

## Pre-Conditions
* Practitioner exists in DAWSON

## Acceptance Criteria
* Admissions Clerk can change a practitioner's employer
* Need to discuss implications on case association
   * Dashboard
   * Within case (open v. closed)
   * Disassociate with a

[2021-01-21 15:31] JessicaMarine commented on #7672
IRS has provided a list of IRS practitioners who are no longer w/ the IRS:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/2cdf556d-e6cc-4452-9bbb-5cd6e9230438)

[2021-01-21 16:38] klohman commented on #7671
Issue was due to devops task and has been resolved

[2021-01-21 16:38] #7671 closed, assigned to nobody

[2021-01-21 18:36] adunkman opened #796 "Case Deadlines not working"
Unexpectedly Case Deadlines stopped working (again). It appears ONE of the cases getting returned from `getCasesByDocketNumbers(...)` fails validation, and so the whole request fails. The error message is not helpful.

It appears that the information stored on the case is not valid, and it should not be used. However, the case passes if pulled individually by `getCaseByDocketNumber(...)` because t

[2021-01-21 18:42] adunkman commented on #682
#793 is related.

[2021-01-21 18:43] adunkman commented on #716
`POST` data would be very helpful in debugging this, since there’s lots of branching logic.

[2021-01-21 18:44] adunkman commented on #746
Closed by https://github.com/ustaxcourt/ef-cms/pull/795.

[2021-01-21 18:51] adunkman commented on #457
Experienced an issue just now where a `null` reference was causing a user error (logged out) — this would have allowed us to see the issue before a user reported it.

[2021-01-21 19:53] JessicaMarine opened #7673 "BUG: White Screen when clicking on message"
**Describe the Bug**
There are times when I click on a message, either from my inbox or from within a case, and all I get is a white screen.  I recorded this error:

![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/9ff782d8-1899-42a2-8ebf-07f9f1c5c2b5)

When I refresh, the message loads, but the following is recorded in the log:

![image.png](https://images.zenhubusercont

[2021-01-21 20:56] mmarcotte opened #798 "BUG: Document got served then lost during Blue/Green Migration"
**Describe the Bug**

While we were conducting a Blue/Green migration in Production, a user was serving a document. They received the service email, and the PDF made it to S3. However, upon switching colors, the record was lost to the old table. For some reason the stream was not properly subscribed to the old table. We should have copied that record over to the new table.

Document info:
[code]

[2021-01-22 16:13] JessicaMarine opened #7674 "Update or Add New Email: Notice of Change of Email Address - Party"
As the Court, in order to create a transparent record of when a party's email is first added to the system or an existing address is changed, a Notice of Change of Email Address should be generated by DAWSON.

## Pre-Conditions

## Acceptance Criteria
* If a party already has a verified email address on their account and they update that email address to an **unverified** email address:
  * A Noti

[2021-01-22 16:52] mark-meyer commented on #682
Mike and I talked about the first todo:  (`Consider whether we want to create a stream so other environment's data is always up-to-date`) and realized we probably don't want to do this. Day-to-day use of the migration environment may include writing/deleting/updating rows which could cause validation issues if that data no longer aligns with data coming from the production DB. This will mean perio

[2021-01-22 18:31] sutt0n commented on #7664
Reason for bug: Mozilla's PDF.js dist (used for previewing) doesn't support signature widgets in PDFs, and therefore does not render them. Switched our previewer to `pdf-lib`

[2021-01-22 18:40] adunkman commented on #702
No longer happening in `migration` due to document contents no longer being present there.

[2021-01-22 19:15] JessicaMarine commented on #779
v1 improply includes `case.noticeOfTrialDate` It should be`trialDate` instead.  Also should include `trialLocation`

[2021-01-22 19:43] kkoskelin commented on #7673
ustaxcourt/ef-cms-flexion#7646

[2021-01-22 21:25] klohman commented on #7605
#### 1) Admission clerk edits practitioner information for practitioner without email.
* Login as admissions clerk
* Search for practitioner without email
* Click Edit
* Edit any field
* Save
Expected results
- [x] No error message displays
- [x] App routes back to Practitioner Detail with success message displayed
- [x] Updates are saved and displayed

[2021-01-24 20:48] #7554 closed, assigned to matthopson

[2021-01-24 20:48] #7560 closed, assigned to sutt0n

[2021-01-24 20:48] #7610 closed, assigned to rachaelparris

[2021-01-24 20:48] #7618 closed, assigned to mrinsin

[2021-01-24 20:48] #7619 closed, assigned to sutt0n, kkoskelin

[2021-01-24 20:48] #7631 closed, assigned to kkoskelin

[2021-01-24 20:48] #7632 closed, assigned to rachaelparris

[2021-01-24 20:48] #7633 closed, assigned to rachaelparris

[2021-01-24 20:48] #7642 closed, assigned to kkoskelin

[2021-01-24 20:48] #7644 closed, assigned to mrinsin

[2021-01-24 20:48] #7645 closed, assigned to rachelschneiderman

[2021-01-24 20:48] #7649 closed, assigned to rachelschneiderman

[2021-01-24 20:48] #7652 closed, assigned to codyseibert

[2021-01-24 21:07] JessicaMarine commented on #7626
Reviewed by PO 1.24.2021 -- functionality works as expected but cannot move to Done until Bug Resolution Steps are checked off by engineering team.

[2021-01-24 21:08] JessicaMarine commented on #7628
Reviewed by PO 1.24.2021 -- functionality works as expected but cannot move to Done until Bug Resolution Steps are checked off by engineering team.

[2021-01-25 00:56] #7655 closed, assigned to nobody

[2021-01-25 12:55] JessicaMarine opened #7675 "BUG: Completed Messages Still Displaying in **SECTION** inbox and as "In Progress" within a case"
**Describe the Bug**
Although we've corrected the bug (#7452) that was still displaying completed messages in an individual's inbox, the problem is persisting for the **section** inbox and on the "In Progress" messages on a case.

Related to https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/7452

**Business Impact/Reason for Severity**

**In which envir

[2021-01-25 14:52] #712 closed, assigned to adunkman

[2021-01-25 15:17] kkoskelin commented on #7673
Why not caught by test? It could have been caught only by a cypress test that interacts with the react form that relied upon being able to deconstruct the result of a helper.

[2021-01-25 17:38] #796 closed, assigned to mmarcotte

[2021-01-25 17:57] adunkman commented on #775
This is now resolved, thanks for the help!

[2021-01-25 17:57] #775 closed, assigned to mmarcotte

[2021-01-25 18:13] matthopson commented on #7675
As with ustaxcourt/ef-cms#7610, completed messages were not being filtered out of the user inbox query on ElasticSearch. Adding this filter on the section inbox query resolves the problem.

https://github.com/flexion/ef-cms/pull/7651

[2021-01-25 18:21] julialeague commented on #746
#795 introduced the resiliency documentation created as a result of the work in this issue. Follow-up issues are logged.

[2021-01-25 18:21] #746 closed, assigned to julialeague

[2021-01-25 19:37] kkoskelin commented on #7673
To verify:
As a docket clerk
 * navigate to a case detail
 * Create > New Message. Select Section:Docket, recipient: Test DocketClerk1 (or yourself), add a subject and message.  do not choose any documents.  Send.
 * Upon success, navigate to Messages > Inbox and scroll to the bottom, locating your message, and click its title
 * Message should open up, showing the detail but no attachments.
 * Co

[2021-01-25 20:18] klohman opened #7676 "BUG: Edit Docket Entry: Unable to save / error thrown when updating doc type to MISC"
**Describe the Bug**
When editing a docket entry and changing the doc type to MISC, the form will not save.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
verifying

[2021-01-25 20:25] JessicaMarine commented on #7673
@kkoskelin I was able to run through the flow above, but I wanted to clarify that it wasn't the attachment in the iFrame that was coming up blank, it was the whole screen.  Does the solution above still resolve that?

[2021-01-25 20:39] kkoskelin commented on #7673
@JessicaMarine yes, your original issue was replicated in local environments before the code fix was in place in a mob. After we identified the issue in a view "helper" and addressed it, the problem no longer occurred.

[2021-01-25 20:59] matthopson commented on #7661
PR: https://github.com/flexion/ef-cms/pull/7654

[2021-01-25 21:16] matthopson commented on #7660
This is due to the lodged flag not being present on the Public Docket Entry entity, which is addressed with ustaxcourt/ef-cms#7661.
https://github.com/flexion/ef-cms/pull/7654

Here's a screenshot of an Administrative Record with lodged from the public view after that fix.
![Screen Shot 2021-01-25 at 2.15.56 PM.png](https://images.zenhubusercontent.com/5cadf168c7e4b91e9a637015/7a8d6605-8d95-446d-8

[2021-01-25 22:25] #773 closed, assigned to mmarcotte

[2021-01-25 22:31] mmarcotte commented on #727
dupe of https://github.com/flexion/ef-cms/issues/7406

[2021-01-25 22:31] #727 closed, assigned to nobody

[2021-01-25 22:40] mmarcotte commented on #7417
This appears to happen when a JavaScript error has occurred.

[2021-01-25 22:40] #726 closed, assigned to nobody

[2021-01-25 22:41] mmarcotte commented on #726
not showing up in the logs any longer. will keep an eye out...

[2021-01-25 22:42] mmarcotte commented on #724
Haven't seen this one occur again since https://github.com/flexion/ef-cms/issues/7446 was solved

[2021-01-25 22:42] #724 closed, assigned to nobody

[2021-01-25 22:44] mmarcotte commented on #414
Dupe of #728

[2021-01-25 22:44] #414 closed, assigned to nobody

[2021-01-25 22:47] #770 closed, assigned to nobody

[2021-01-26 14:55] matthopson commented on #7675
Update: Addressing the messages stuck in Case Messages > In Progress

The same filters that exist when fetching messages for the user inbox did not exist in this section (though we fetch the messages directly from dynamo here). This issues is not easy to reproduce, but I managed to recreate the state from the given example messages. Here's a screen recording before and then after the fix that demo

[2021-01-26 15:46] JessicaMarine opened #7677 "Admissions Clerk: Process Petitioner's Request for Electronic Access to Case"
As an Admissions Clerk, in order to provide a petitioner electronic access to his/her case, I need the ability to process that request.

## Pre-Conditions
* Petitioner has made request for electronic access to case

## Acceptance Criteria:
* Admissions clerk can select which petitioner on the case the request is for
* Admissions clerk has the ability to print and mail a letter to the petitioner th

[2021-01-26 15:50] JessicaMarine opened #7678 "Petitioner with Existing Account: Gain Electronic Access to Case"
As a Petitioner, in order to interact with the Court electronically, I need to gain electronic access to the case once the Court sends me my access code.

## Pre-Conditions
* Petitioner has made request for electronic access to case (manual process for now)
* Admissions Clerk has processed request (manual process for now)

## Acceptance Criteria
- Admissions clerk can add an email address for sing

[2021-01-26 16:14] klohman commented on #7592
## Practitioner Dashboard

* Remove My Contact Information card

## user Menu
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/444f17a5-5f0e-409f-a04a-bb9d963ddc30)

* Add My Account item
* on select of My Account, route to My Account screen

## My Account screen

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/9a232ba1-8455-4a09-9bb7-b950b48a51

[2021-01-26 16:21] klohman commented on #7592
## Updated Email Flow

* Edit Contact Information
* Update email
* App/cognito sends verification email to NEW email with a verification link

* Old email is still valid; user can log in with old email; service emails go to old email
* new email is pending verification and user cannot log in with new email; service emails do not go to new email
* App displays warning message to verify new email
*

[2021-01-26 16:36] klohman commented on #7592
## 7406

#### A) Practitioner accesses My Account information
* Login as practitioner
* Click user menu and select My Account
Expected results
- [x] My Account is option in user menu
- [x] My Account screen displays My Contact Information Card
- [x] My Account screen displays Login & Service email card

#### B) Practitioner accesses Change email screen
* Login as practitioner
* Click user menu and

[2021-01-26 17:04] klohman commented on #6890
## User Menu
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/a85c493d-4a8b-462f-8337-8dd36a6a52e2)
* Add My Account item
* on select of My Account, route to My Account screen

## My Account screen

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/ee68743e-770f-4ac0-a185-aac5d8c235c0)

#### Login & Service Email Address
* display current email
*

[2021-01-26 17:26] klohman commented on #6890
## 2223 Test Scenarios

#### A) Petitioner accesses My Account information
* Login as petitioner
* Click user menu and select My Account
Expected results
- [x] My Account is option in user menu
- [x] My Account screen displays Login & Service email card

#### B) Petitioner accesses Change email screen
* Login as petitioner
* Click user menu and select My Account
* Click Change Email link
Expected

[2021-01-26 18:23] mmarcotte commented on #711
Andrew is making good progress, terraform and CircleCI futzing currently ongoing. 🤞 it's into a PR soon.

[2021-01-26 18:24] mmarcotte commented on #778
Keeping production data sets in Court environment. Flexion NDA complete

[2021-01-26 18:24] #778 closed, assigned to mmarcotte

[2021-01-26 18:25] mmarcotte commented on #768
Flexion has what they need!

[2021-01-26 18:25] #768 closed, assigned to Anthony-Calderaro

[2021-01-26 18:34] adunkman commented on #589
Related to https://github.com/flexion/ef-cms/issues/7501 in Flexion’s backlog to address a specific case. This issue is to assess the global pattern for inconsistencies — Mike has seen issues when a computer is asleep overnight and the UI doesn’t report a logout event, leading to the UI showing zero cases/items in lists.

[2021-01-26 18:35] mmarcotte opened #812 "Reintroduce POST data into Application Logging"
To aide in debugging of incoming issues.

[2021-01-26 18:41] klohman commented on #7661
Verified public docket is now displaying parenthetical info

![Screen Shot 2021-01-26 at 1.40.36 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/d403d2d9-e1c6-4f57-a197-9317fe69441b)

[2021-01-26 18:45] mmarcotte commented on #779
Put together the revised API into the IRS test environment. So they have time to test it and make sure that it works with their system.

Possible worry about changing the path of the API itself ("v2")

[2021-01-26 18:45] JessicaMarine opened #7679 "BUG: Document went missing during blue/green deploy [Timebox research]"
Timebox research to 24 hour period.

**Describe Bug**
While Mike was conducting a Blue/Green migration in Production, a user was filing a document. They received the service email, and the PDF made it to S3. However, upon switching colors, the record was lost to the old table. For some reason the stream was not properly subscribed to the old table. We should have copied that record over to the new

[2021-01-26 18:45] JessicaMarine commented on #798
Moved to Flexion's backlog: https://github.com/flexion/ef-cms/issues/7663

[2021-01-26 18:45] #798 closed, assigned to JessicaMarine

[2021-01-26 18:48] mmarcotte commented on #780
Recommended alerts for DynamoDB may be available with a bit o' research.

[2021-01-26 18:48] adunkman commented on #780
We already use CloudWatch metric alarms for AWS ElasticSearch, so this should be a pretty straightforward implementation.

[2021-01-26 18:58] mmarcotte opened #813 "SPIKE: Use Cognito under the Hood"
To help improve logging and function of DAWSON, let's brainstorm with how we could improve the app by doing authentication within the app (using Cognito under the hood).

[2021-01-26 19:01] JessicaMarine commented on #7675
Unable to test in Flexion's environment.  Will log additional bug if doesn't fix issue in Court's prod.

[2021-01-27 16:24] klohman commented on #7592
## Update to Global Warning

* OK to move warning above page title bar so that it will appear on all screens

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/84c0688b-4b46-4cd0-86c3-c3a7dc536f5a)

[2021-01-27 16:57] klohman opened #7680 "BUG: Edit Docket Entry : Error when updating filing status from Filed to Lodged"
**Describe the Bug**
When editing a docket entry and updating the filing status from Filed to Lodged, an error is received on Save. If you click Save again, the form is submitted and the entry is updated.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this

[2021-01-27 17:00] klohman commented on #7676
## 7652 Tests

#### 1) Docket clerk updates document type to MISC when editing docket entry (new entry)
* Login as docket clerk
* Go to case
* Click Edit for non-migrated externally filed or paper filed document
* Change document type to MISC
* Enter description
* Click Save
Expected results
- [ ] App routes to Docket Record with success message displayed
- [ ] Entry is updated with new document t

[2021-01-27 17:14] klohman commented on #7634
## 7510 Tests

#### 1) Docket clerk edits docket entry, updates document type to Certificate of Service (non-migrated entry) and sees preview
* Login as docket clerk
* Go to case
* Click edit for docket entry
    * Entry is non-migrated externally filed or paper filed
* Update document type to COS
* Select date
* Select previous document
Expected results
- [ ] Docket entry preview displays full do

[2021-01-27 17:26] mariahkannenberg commented on #7679
Questions:
* What was the user's experience? How was the bug discovered?

Ticket from user - filed a document - got a service email. Document wasn't listed on the docket record. Nothing was listed on the docket record.

Notes:
* Trying to recreate a bug that's ~1/1M will cost a lot in terms of testing. May not need to test w/ "like" dataset.

* If people are using the system while a migration is g

[2021-01-27 17:29] mariahkannenberg commented on #7629
@mmarcotte Can you add logging to this one. See screenshot

[2021-01-27 17:31] mariahkannenberg commented on #7629
Questions:
* How do we reproduce?
* How do we know it's fixed?

[2021-01-27 18:28] klohman opened #7681 "BUG: Completing document in QC is not removing it from the Document QC Inbox"
**Describe the Bug**
Completed QC items are displaying in Document QC Inbox.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
manual testing

**To Reproduce**
Steps t

[2021-01-27 18:34] klohman opened #7682 "BUG: New work items (documents) not showing up in Section Document QC Inbox"
**Describe the Bug**
New e-filed documents are not displaying in Section Document QC inbox.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**
testing

**To Reproduce**

[2021-01-27 18:39] mmarcotte commented on #772
Mark to figure out how to get access to that RDS MySQL database.

[2021-01-27 18:39] mmarcotte commented on #660
Mark getting the lay of the land. Dreaming up possible tests. Then tackling low hanging fruit. Several days of work before done!

[2021-01-27 18:41] mmarcotte commented on #711
Good luck Andrew! Droping the lessons learned in #18f-collab

[2021-01-27 19:31] mmarcotte commented on #7629
wonder if opening in a new tab doesn't have the same state that the previous tab (or the subsequent action taken in the new tab) relied upon 🤔

[2021-01-27 19:39] mmarcotte commented on #7629
Here's a tab-delimited server log of that user on that day. Note the one error they encountered @ 16:31:49.340:

[code]

[7401-server-log.zip](https://github.com/flexion/ef-cms/files/5882606/7401-server-log.zip)

[2021-01-28 08:55] julialeague commented on #586
I wasn't able to reproduce the failover issue I previously experienced while testing against the latest code in exp1. Looking into it, I see that a latency-based routing policy was created in route 53 for all of the endpoints in late October! I suspect that my original test was performed against code that didn't already have the latency routing policy, and the introduction of that has resolved the

[2021-01-28 08:56] #586 closed, assigned to julialeague

[2021-01-28 13:45] #7677 closed, assigned to nobody

[2021-01-28 16:25] klohman opened #7683 "BUG: Updated full document title not displaying in document dropdown"
**Describe the Bug**
Additional Info information is not displaying in the document title in the previous document dropdown.
- Edit Docket Entry
- QC screen
- File a document

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, de

[2021-01-28 16:39] klohman opened #7684 "BUG: New coversheet not being applied consistently when docket entry is updated"
**Describe the Bug**
Jessica's experience:
 18984-18, there was a Motion for Partial Summary Judgment filed on 11/17.  An order was issued to change the title to Motion for Summary Judgment.  Made that change without issue and cover sheet was generated. Then another order changed it back to Motion for Partial Summary Judgment (don't ask me why!).  When editing docket entry, the title changed on th

[2021-01-28 18:41] adunkman commented on #711
Successfully deployed to the `dev` environment for the private API endpoints, and working on the public API endpoints which requires configuring the public API’s API Gateway Stage with Terraform, which was previously implicitly created. Working on a script for this now.

[2021-01-28 18:42] mmarcotte commented on #772
Mark can connect, but no credentials yet. Coming soon!

[2021-01-28 18:56] kkoskelin opened #7685 "BUG: Typing a case detail URL w/ suffix or w/ a docket # that doesn't exist blank page"
**Describe the Bug**
When typing a case detail URL w/suffix or with a docket number that does not exist, the user is directed to a blank page.

Note:
* When typing a case detail URL w/ suffix, the best solution would be to redirect the user to the case detail URL **w/o** the suffix
* When typing a case detail URL for a case (docket #) that doesn't exist, ensure that the user gets the "Case does no

[2021-01-28 18:56] kkoskelin commented on #7685
This also seems to produce a similar app-breaking 404 when using the public interface (i.e. not logged-in)

[2021-01-28 19:51] JessicaMarine opened #7686 "Petitions Clerk: Dropdown for Swing session"
As a Petitions Clerk, in order to make sure I'm associating the correct sessions, I need the dropdown for swing sessions to include more information.

## Pre-Conditions
* Petitions Clerk has indicated that a session is part of a swing session

## Acceptance Criteria
* Dropdown that displays sessions to associate with as part of swing session needs to have date and type [Note: Similar to dropdown w

[2021-01-28 20:01] kkoskelin commented on #7682
What we've researched:
* we have used a script `test-elasticsearch.js` to communicate directly with the production instance of Elasticsearch that is supposed to be returning a work item -- but isn't.
* We wrote a query limiting the `pk` and `sk` to the item we expected to find, but it was not found.
* the work item itself *does* indeed appear to have been created in DynamoDB, but the stream to ela

[2021-01-28 20:30] matthopson commented on #7682
Some additional thoughts:

Looking at Section Document QC (for docketclerk), it's clear there's a gap in work items being indexed by elasticsearch - it goes from Jan 26, skips the 27, and then today (Jan 28) work items are showing up again. The last deploy to production was the day before (Jan 25). That day, we saw two failures while making that deploy that seemed to be related to network issues t

[2021-01-28 21:27] #682 closed, assigned to mmarcotte, mark-meyer

[2021-01-28 22:07] JessicaMarine opened #7687 "BUG: Signature not displaying in Firefox"
**Describe the Bug**
The signature of an IRS attorney is not showing up in Firefox.  It displays on the PDF in Chrome.

View of document in Chrome:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/fd7a6965-aee9-4045-a13f-8d807fbdce05)

View of same document in Firefox:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/23b6d2bb-a782-41b8-b75b-fad12

[2021-01-28 22:14] matthopson commented on #7687
Just a note for this: IF this signature is applied electronically and is considered a layer in the document like the eSigned sig, it may be the same issue we moved away from in the other viewer implementation. That old implementation relied on pdf.js (by Mozilla), which is also used natively in Firefox.

[2021-01-29 15:11] mariahkannenberg commented on #7678
Don't need to move party type to the petitioner level.
We're only handling primary and secondary petitioners.
@klohman

[2021-01-29 15:16] #7682 closed, assigned to matthopson

[2021-01-29 15:29] #7320 closed, assigned to nobody

[2021-01-29 16:12] JessicaMarine commented on #6890
.

[2021-01-29 16:13] JessicaMarine commented on #7682
Closing -- due to Elasticsearch issue in Flexion's prod.  Not able to reproduce

[2021-01-29 17:49] julialeague commented on #730
Documentation I'm looking at:
[AWS SES Regions](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html)
[Verifying SES Domain Accounts in Multiple Regions](https://aws.amazon.com/premiumsupport/knowledge-center/ses-verify-domain-accounts-regions/)
[DNS Failover Configuration](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-configuring.html)

[2021-01-29 18:01] JessicaMarine commented on #7681
Closing -- after retesting with a new case and a document qc item (that wasn't messed up on Flexion's prod via the deploy mishap regarding 7673), we were unable to replicate 7672, and it seems that since this isn't on the court's environment, it's related to 7673 as initially assumed. should 7672 be closed since its problem is the same as 7673?

[2021-01-29 18:01] #7681 closed, assigned to sutt0n

[2021-01-29 18:22] klohman commented on #7592
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8e4701c0-c7eb-47cf-8f32-302b2d99fecc)

[2021-01-29 18:42] mmarcotte commented on #660
Queries looking cleaner; work items are complicated! Making sure the tests pass. 👍  💪

Perhaps need some recommendation for term vectors to block out common terms like "petitioner, petr"

[2021-01-29 20:16] #7626 closed, assigned to mrinsin

[2021-01-30 14:04] #7605 closed, assigned to rachaelparris

[2021-01-30 14:04] #7627 closed, assigned to mrinsin

[2021-01-30 14:04] #7628 closed, assigned to rachaelparris

[2021-01-30 14:04] #7660 closed, assigned to sutt0n, matthopson

[2021-01-30 14:04] #7661 closed, assigned to sutt0n, matthopson

[2021-01-30 14:04] #7664 closed, assigned to sutt0n, matthopson

[2021-01-30 14:04] #7669 closed, assigned to rachaelparris

[2021-01-30 14:04] #7673 closed, assigned to kkoskelin

[2021-01-30 14:04] #7675 closed, assigned to sutt0n, matthopson

[2021-02-01 15:42] JessicaMarine opened #7688 "BUG: Unable to QC Entry of Appearance, Substitution of Counsel, or Limited Entry of Appearnance"
**Describe the Bug**
Docket clerk is unable to QC an entry of appearance or substitution of counsel or Limited Entry of Appearance.  Likely an issue will **ALL** request case access filings.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod; able to reproduce in Court's mig

**Who were you logged in as?**
Docket Clerk

**What were you doing when

[2021-02-01 16:39] klohman commented on #7688
Errors received on court migration when completing
![Screen Shot 2021-02-01 at 11.37.47 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/9d3a9e96-252a-45d7-8b88-f76407d94433)

[2021-02-01 16:41] adunkman commented on #728
My first thought is to implement an example rule that can be manually tweaked in the console without a deploy, since this rule will likely be need to be used in an urgent situation (an IP address wreaking havoc).

Looks like we can use a few sets of IPs for these examples, as they are unused and reserved for use in documentation:

[2021-02-01 17:31] klohman opened #7689 "BUG: Draft document title / description does not display in attach document dropdown on messages"
**Describe the Bug**
The draft document title is not displaying on the attach document dropdown when sending/forwarding/ replying to message

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
flexion prod

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other

[2021-02-01 18:01] JessicaMarine opened #7690 "Docket Clerk: Add oral motion to docket record"
## Pre-Conditions

## Acceptance Criteria
* Docket Clerk can add an oral motion to the docket record
* Oral motion should:
   * Have document code of `ORAL`
   * Be a Minute entry (no PDF)
   * Be added to the pending report

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does this work make major changes to the

[2021-02-01 18:03] JessicaMarine opened #7691 "Clerk of Court: Provide all Admissions Clerk's privileges to Clerk of Court role"
* Add/edit practitioner

[2021-02-01 18:04] JessicaMarine commented on #774
Moved to Flexion's backlog: https://github.com/flexion/ef-cms/issues/7703

[2021-02-01 18:04] #774 closed, assigned to mmarcotte, JessicaMarine

[2021-02-01 20:34] mariahkannenberg commented on #7679
@mmarcotte To assist with this one if needed. He'll also track down some timestamps that could help us w/research and recreation.

[2021-02-01 20:59] JessicaMarine opened #7692 "Bench Opinions: Include in Opinions Search"
As the Court, in order to have all of our opinions appear in the same place, Bench Opinions should be displayed in Opinions Search.

## Preconditions
* Bench opinion is served.

## Acceptance Criteria:
(Note: AC should include non-standard testing, deployment, documentation or security requirements)
* Bench Opinions (Doc Code OST) should appear as results in Opinion Search
* A bench opinion in a s

[2021-02-01 21:01] JessicaMarine opened #7693 "Court: Pending Email Change"
As the Court, for transparency on what's happening, we need to know when a petitioner or practitioner's email change is pending.

## Pre-Conditions
* Email change for petitioner or practitioner has been initiated.
   * Petitioner--self ustaxcourt/ef-cms#6890
   * Practitioner--self ustaxcourt/ef-cms#7592
   * Practitioner--Admissions Clerk ustaxcourt/ef-cms#7658

## Acceptance Criteria
* Court use

[2021-02-01 21:27] adunkman commented on #711
If no requests will be blocked, the graph should appear blank:

![image](https://user-images.githubusercontent.com/14930/106520171-5ba9ba80-64aa-11eb-8047-c75f276ccb29.png)

If there would be blocked requests if we moved from `count` to `block` mode, they show up like this:

![image](https://user-images.githubusercontent.com/14930/106520136-4cc30800-64aa-11eb-8103-cf1cf30cfb36.png)

[2021-02-02 18:37] mmarcotte commented on #711
@adunkman to introduce new ticket that will act as follow up for this one to enforce the rate limiting. This ticket will be to count the current behavior.

[2021-02-02 18:45] mmarcotte opened #822 "Update the Court's Test environment"
Run a glue job to refresh the Court's test environment.

[2021-02-02 19:42] klohman commented on #7227
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/a532f283-5675-4ef0-98ff-97ed301491ea)

[2021-02-02 19:50] klohman commented on #7227
#### 6239 Test Scenarios

#### 1) Public user sees served OST in Today’s Opinions
* Login as docket clerk
* Go to case
* Upload PDF and sign
* Add docket entry and serve OST
* Go to public site - /todays-opinions
Expected results
- [x] OST is listed in Today’s Opinions
- [x] OST Opinion Type displays as Order of Service of Transcript (Bench Opinion)

#### 2) Public user does not see served OST in

[2021-02-03 14:47] #613 closed, assigned to mmarcotte

[2021-02-03 17:12] JessicaMarine opened #7694 "BUG: IRS seeing wrong service indicator on primary petitioner before being associated with case"
**Describe the Bug**
Before an IRS attorney is associated with a case, they are seeing the wrong service indicator on the primary petitioner.  They will see "Electronic", but then it switches to "Paper" after being associated with case.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's Prod; able to re-create in Court's mig

**Who were you logged in a

[2021-02-03 18:30] klohman commented on #7658
## Practitioner Detail
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/47e4e383-3384-408f-ba48-1ded11335f65)

* Remove alternate email field

## Edit Practitioner Detail
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/ff13cb87-98aa-4b29-b475-35d12780d992)

* Remove alternate email field

### Login & Service Email
* Add new section labelled “Log

[2021-02-04 13:50] klohman commented on #7694
* This is happening on migration for legacy petitioners with counsel as well, and a service indicator of "none"
* This does not happen on Migration with a new paper filed case. IRS attorney sees "Paper" when not associated.

[2021-02-04 14:55] adunkman opened #828 "Enforce request limits per IP address."
We introduce per-IP request limits in #711, but deployed them in count-only mode (meaning they are not blocking IP addresses which exceed the limit). Once we are confident that enforcing these limits will not cause a service outage, we should do so.

- [ ] Check CloudWatch metrics displayed in WAF to ensure a reasonable and correct number of requests are blocked.
- [ ] Ensure the application has b

[2021-02-04 15:06] adunkman opened #829 "Gracefully handle too many requests from a single computer."
ustaxcourt/ef-cms-flexion#711 introduced AWS Web Application Firewall rules which limit the number of requests allowed for a computer (IP address). When they are enforced in ustaxcourt/ef-cms#6758, API requests may be blocked due to this limit being exceeded, and we need to present the user with something helpful.

- WAF responds with HTTP 403 when requests are blocked and a JSON response body.

[2021-02-04 15:23] adunkman opened #830 "Provide permanent URLs for public documents."
We only serve signed, temporary URLs for documents currently — which means that Dawson cannot be referenced as a source (there is no permanent URL that can be used to retrieve a document). For unsealed and generally public documents, explore providing a publicly-available permalink to documents.

- Because we may change S3 bucket naming, these URLs should likely be served from `dawson.ustaxcourt.g

[2021-02-04 15:28] adunkman opened #831 "[SPIKE] Adjust usage of docker to improve CI build times."
Explore splitting our large docker container into smaller docker images that are run through `docker-compose` and ensure our builds are cached between jobs in a workflow.

- @adunkman hypothesizes that this will speed up our builds substantially.
- We may be able to remove the usage of a custom CI runner, which would remove all infrastructure and code relating to ECR.
- We can likely reuse this `d

[2021-02-04 16:42] adunkman commented on #728
A few questions for you when you have a moment @mmarcotte —

- For "Need to be able to quickly identify an IP address in Kibana" — **is that satisfied by the current implementation, examining `request.headers.x-forwarded-for` or would another way be better?**
- On "Possibly make it easy automate banning an IP in case as we add more triggers to catch suspicious or malicious activity." — we will hav

[2021-02-04 16:43] klohman opened #7695 "Admissions Clerk: Add new practitioner to DB with email verification"
## Pre-Conditions

## Acceptance Criteria

**When adding a new practitioner to the DB:**
* Admission clerk must enter new email twice when adding an email for a practitioner
* Admission clerk cannot add an email that already exists
* Practitioner is provided new credentials to access DAWSON
* Practitioner must activate their new email address
* Practitioner's service indicator is paper until email

[2021-02-04 17:15] JessicaMarine commented on #7592
PO Review:
* My Contact Info still showing on practitioner's dashboard:
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/a4e3f4ec-80e3-498e-8284-4fea51ab329e)

[2021-02-04 17:33] klohman commented on #7658
## 7574

#### 1) Admissions clerk sees Login & Service information for practitioner
* Login as admissions clerk
* Go to Advanced Search > Practitioner
*  Search for practitioner
    * flexionustc+practitioner@gmail.com
* Click Edit link on practitioner detail screen
Expected results
- [x] Edit Practitioner screen displays Login & Service email card
- [x] current email displays under Current email

[2021-02-04 17:34] matthopson commented on #7629
### Test Scenarios ###
*Assumes the default timeouts of:
  - 55 minutes until idle activity modal displays
  - 5 minutes after idle activity modal displays, the user is automatically logged out

#### Test that modal displays in the given timeout after no activity ####
 - Log in as an internal user
 - Open two more windows and place them side by side, ensuring you're logged into both and all three

[2021-02-04 18:13] JessicaMarine opened #7696 "Court: Log Out Behavior with Multiple Tabs/Windows Open"
As the Court, in order to ensure the system is secure, if a user logs out (or is logged out due to inactivity) in one tab/window, they should be logged out in all instances of the application.

## Pre-Conditions
* User has more than one window/tab open with the application running.

## Acceptance Criteria
* When a user logs out of DAWSON in one window/tab, they should be logged out in all windows/

[2021-02-04 18:18] JessicaMarine opened #7697 "BUG: Processed/Served boxes not showing 7 days of activity"
**Describe the Bug**
The Processed box for Docket and the Served box for Petitions is not displaying 7 days of activity.  It appears this is hitting the 1MB limit.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's Prod

**Who were you logged in as?**
Petitions Clerk/Docket Clerk

**What were you doing when you discovered this bug? (Using the applicati

[2021-02-05 15:22] klohman commented on #7689
Confirmed is now working on dev
![Screen Shot 2021-02-05 at 10.22.24 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/1c51e081-525a-4f86-91e6-1a954e7e1746)

[2021-02-05 17:22] sutt0n commented on #7629
The broadcast channel flow designed (aided in solutioning) via https://draw.io:

![image](https://user-images.githubusercontent.com/1116426/107067030-55feee00-67a4-11eb-9ecc-8b7fe778e72c.png)

[2021-02-07 18:30] #7688 closed, assigned to rachelschneiderman

[2021-02-08 15:48] mariahkannenberg commented on #7679
Notes:
 - Items missing were not added to system during migration
 - Doc got added after migration but before colors switched
 - Make sure nothing that was in system before migration gets excluded when everything moved from current to new
 - Do we already log everything that gets moved?

Reproduce:
 - Team

Make sure nothing that was in system before migration gets excluded when everything moved f

[2021-02-08 16:39] mmarcotte commented on #7679
My attempt to replicate on Friday on Court's Staging:

- e-file some documents with petitioner1@example.com.
  * 145-21
  index: 5 Motion in Limine (No Objection) a382413c-44a8-4881-bdca-2855f1a32366
  index: 6 SUPM c44c2248-ad63-4327-b658-e3dca6441df9
  * 136-21
  index: 5 M014 4e6d7071-8504-43c6-a137-69043c41ca6c
- e-file a petition with petitioner2@example.com
  * 149-21S
- switch-colors
  - 12

[2021-02-08 21:24] matthopson commented on #7679
The team stood up an instance on exp2, recreated the window where we believe the issue occurred, and filed documents as various roles - before, during, and after the window was opened and closed...

We were unable to reproduce the issue. The system performed as expected through our tests, indicating the subscription to the stream from source to destination tables was doing its job during this time

[2021-02-08 21:25] mmarcotte opened #836 "Add script to audit filings during a deployment"
This script is going to track all documents and petitions filed during a deployment. It will allow the person conducting the deployment to see all new petitions and all documents filed since a specific timestamp.

It should be used to match up against the Kibana logs for filings. It should be a straightforward ES query to look for items greater than a certain filedBy.

This script should then chec

[2021-02-08 21:29] mmarcotte commented on #7679
In two attempts we were unable to replicate the issue. And we were unable to think of a scenario where this could have happened. The stream linkage appears to be the single point of failure that could have caused this.

Created https://github.com/ustaxcourt/ef-cms/issues/836 to ensure a tool exists for the Court to ensure this doesn't happen again, or be able to handle it better in the case that i

[2021-02-08 21:29] #7679 closed, assigned to nobody

[2021-02-08 22:14] JessicaMarine opened #7698 "BUG: Cover sheet not being applied; page count is 0 (recurring?)"
**Describe the Bug**
Same issue as previously resolved in ustaxcourt/ef-cms#7625.  Documents are being eFiled and end up without a cover sheet and a page count of 0 on the docket record.

## Tasks
- [x] 1 Get PDFs, docket entry json, any logs from Mike
- [x] 2 Attempt to upload same PDFs locally to recreate issue
- [x] 3 Downgrade pdf-lib to 1.15.0 locally and try to recreate the issue
- [ ] ~4 Wr

[2021-02-08 22:17] JessicaMarine commented on #7698
@mmarcotte Are you able to add any log information about docket entries 18-21 in 14810-19.

[2021-02-09 15:59] JessicaMarine opened #7699 "BUG: Unable to add trial transcript to docket record"
**Describe the Bug**
Docket Clerk is unable to add a trial transcript to the docket record.  ~~The attorneys on the case were also inexplicitly removed.~~(move to separate bug)

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod; able to reproduce in Court's mig

**Who were you logged in as?**
Docket Clerk

**What were you doing when you discovered

[2021-02-09 16:53] mark-meyer opened #839 "Investigate Options of Orders & Opinions Search"
Order and Opinion searches are currently offline until we can make the search more performant and offer better results. We don't currently know where the performance bottleneck(s) is and don't have an easy way to test and iterate, which is really the only way to determine the best configuration for Elasticsearch. For example, we can not say with confidence that more smaller instances holding more

[2021-02-09 17:31] JessicaMarine commented on #7699
Eric and Jessica pair to troubleshoot -- discovered that when uploading the PDFs through the "PDF Upload" feature, it's adding the entire content of the PDF to the case entity which is causing it to size out.  Tried with 2 separate PDFs -- same result.

![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/9007cdf2-72f0-4ad9-8585-a4dc88563121)

![image.png](https://images.zenh

[2021-02-09 17:57] #822 closed, assigned to mmarcotte, mark-meyer

[2021-02-09 18:18] adunkman opened #840 "Debug and diagnose Terraform failures."
Blocking #728, worked around in #735. Terraform is timing out when calculating plans, and we’re not quite sure why.

[2021-02-09 18:48] mmarcotte commented on #829
Pick this up when Flexion picks up the Search stories.
Possible 403 Forbidden message when we hit this limit; would it forward them to the login page?
Add in the rules from ustaxcourt/ef-cms#6758 for Order & Opinion Search

@adunkman halp!

[2021-02-09 19:15] JessicaMarine opened #7700 "Court: Apply rate limiting per user for searches"
As the Court, in order to prevent degradation of services to other users, we need to apply rate limiting to order and opinion searches.

** Note: ** This is different that the auto-rate limiting that may be applied to keep ES healthy.  This is one user performing many successive searches within a period of time

## Pre-Conditions

## Acceptance Criteria
* User knows how many searches they can perf

[2021-02-09 19:51] matthopson commented on #7694
https://github.com/flexion/ef-cms/pull/7757

The cause of the issue was the PublicCase entity was not conveying the `isPaper` flag, which affects how the service indicator is computed for the petitioner.

[2021-02-09 19:53] klohman opened #7701 "Quarterly Manual Testing - Tech Mob"
## Acceptance Criteria

AC 1) Team has performed manual testing on the Court migration environment for the following user flows, defined in https://docs.google.com/spreadsheets/d/1FUHKC_YrT-PosaWD5gRVmsDzI1HS_U-8CyMIb-qX9EA/edit?usp=sharing

* Mobile - Rae + Mrin
* Stip Decision flow - Mrin
* Correspondence File - Rae
* Public Users - Rae

## Tasks (Draft)
- [x] Complete steps in Test Matrix (as a

[2021-02-09 21:56] klohman commented on #7658
UX Feedback

* To test adding a new email to a practitioner with no email - is there a practitioner on dev without an email? I think we had to set this up before?
* ![Screen Shot 2021-02-09 at 3.27.08 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/9868c6a3-5a6e-45da-a140-8a27b958de99)When the verification modal displays, the success message is displaying on the Edit screen,

[2021-02-10 00:12] mmarcotte commented on #7699
It appears that we are again hitting the 1MB limit for our DynamoDB.

When I query this case in DynamoDB, I get a `LastEvaluatedKey`, which means we need to use that in [order to retrieve more information](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.Pagination.html). When I use that key as an `ExclusiveStartKey` in a subsequent query I get the rest of the information inc

[2021-02-10 14:33] mmarcotte opened #841 "Upgrade Terraform to latest"
We are currently running on `v0.12.28`, and Terraform is currently up to `v0.14.6`. Upgrading is something we will need to do across the entire team. It will yield benefits with stability and functionality, but we'll need to be very careful about ensuring all of our resources remain intact and deployed as we roll this through our environments.

[2021-02-10 14:37] mmarcotte opened #842 "Find missing Opinions"
We currently have a number of docket entries that are missing files. We need to find them in the legacy database:

`SOP` (since 01/10/2001)
1043 missing out of 2798 total (37.27%)

`TCOP`, `MOP`  (since 09/25/1995)
6110 missing out of 11963 total (51.07%)

`MOP` specifically:
1995 - 2005: 4884 missing out of 5237 total (93.25%)
2005 - 2015: 507 missing out of 3825 total (13.25%)
2015 - present: 0

[2021-02-10 14:39] mmarcotte opened #843 "Possible Rate Limiting with AWS"
@adunkman has been having a difficult time working with Terraform and our account of late. It appears that AWS is rate limiting our terraform runs, and it is making it difficult to change our infrastructure using Terraform. We need to investigate and figure out next steps.

https://github.com/ustaxcourt/ef-cms/issues/841 is tracking upgrading Terraform to the latest, which could possibly help.

[2021-02-10 14:58] mmarcotte opened #844 "Generate Report for missing IRS Practitioners"
Find any open case with a filedBy > 60 days ago that is missing an IRS Practitioner.

[2021-02-10 15:23] sutt0n commented on #7699
It appears there may be two problems here:

1) `documentContents` getting stored onto `Case.docketEntries` and bloating the Case item
2) The Case item becoming too large, thus resulting in necessary pagination (causation of ustaxcourt/ef-cms#6491?)

[2021-02-10 16:15] JessicaMarine opened #7702 "BUG: Blank PDF viewer"
**Describe the Bug**
When an external user tries to eFile a document larger than 2MB, the PDF viewer modal on the "Review Your Filing" screen is blank.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod; able to reproduce in Court's mig

**Who were you logged in as?**
IRS attorney; similar issue also reported by a petitioner's counsel

**What were

[2021-02-10 16:28] mmarcotte opened #845 "Create visualization"
Are we able to add a visualization on the Kibana dashboard that could capture
- [ ] how many items a Docket Clerks serves (or creates docket entry for)?

[2021-02-10 17:10] adunkman commented on #767
Search.gov has had [a rough experience with DNSSEC](https://digital.gov/2016/09/12/dnssec-vs-elastic-load-balancers-the-zone-apex-problem/), but it sounds like it would be significantly easier today now that Route53 supports DNSSEC, and the Tax Court is using Route53 for all domains + subdomains in question.

For us to get the benefits of DNSSEC, it would require enabling at all the relevant hoste

[2021-02-10 18:35] mmarcotte commented on #277
Created a ticket with AWS support to increase our S3 quota from 100 to 200.

[2021-02-10 18:43] mmarcotte commented on #840
Nothing is in the Trace logs. :( Then it just exited without calculating the state. Tough one.

[2021-02-10 18:44] mmarcotte commented on #767
Would require collaboration with Court OIS team to get the `ustaxcourt.gov` and `.gov`.

Will document what we learned to ready this for when we have more bandwidth.

[2021-02-10 18:58] adunkman commented on #767
Enabling DNSSEC ([guide on how to do so on Route53](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-configuring-dnssec.html)) is done in two steps:

1. Enable signing in Route53 for the hosted zone.
2. Add a `DS` record to the parent hosted zone (up through `.gov`).

For the US Tax Court, that would mean our steps will be:

1. Enable DNSSEC for `ustaxcourt.gov`.
2. Log in to the [.go

[2021-02-10 21:11] JessicaMarine opened #7703 "BUG: getCaseByDocketNumber larger than 1MB"
**Describe the Bug**
When `getCaseByDocketNumber` is larger than 1MB, part of the case gets dropped.  In 16724-19, the case was larger than 1MB (due to bug addressed in ustaxcourt/ef-cms#7699) and the attorneys on the case (4 respondent's counsel & 1 practitioner's counsel) got dropped -- no longer showing in UI and not able to access the case.

**Business Impact/Reason for Severity**

**In which

[2021-02-10 21:12] JessicaMarine commented on #7703
From @mmarcotte:

It appears that we are again hitting the 1MB limit for our DynamoDB.

When I query this case in DynamoDB, I get a `LastEvaluatedKey`, which means we need to use that in [order to retrieve more information](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.Pagination.html). When I use that key as an `ExclusiveStartKey` in a subsequent query I get the rest of t

[2021-02-10 21:54] matthopson commented on #7698
Reason for the bug:
When a document is filed electronically, the system looks at documents on the case that are in a state of `processingStatus: 'pending'` and attempts to run the coversheet generation and sets the number of pages on the docket entry. When ustaxcourt/ef-cms#7625 was addressed, validation was added to prevent encrypted PDFs from making it to the point where they are added to the ca

[2021-02-10 21:57] JessicaMarine opened #7704 "Disclosure Cases -- Need to be Sealed"
## Pre-Conditions

## Acceptance Criteria
* Upon filing, cases with `caseType` of "Disclosure" need to be sealed

## Mobile Design/Considerations

## Security Considerations
 - [ ] Does this work make you nervous about privacy or security?
 - [ ] Does this work make major changes to the system?
 - [ ] Does this work implement new authentication or security controls?
 - [ ] Does this work create ne

[2021-02-10 22:11] DWLarsen commented on #7703
Checking if my access let's me comment.  Disregard.

[2021-02-10 23:03] adunkman commented on #841
/cc @ericsorenson who mentioned Terraform updates in our 1:1 today — this isn’t being actively worked on over here, but just wanted to keep you in the loop!

[2021-02-11 03:06] sutt0n commented on #7699
After some discussion, a second bug will be created to address item 2 in the previous comment.

Furthermore, a migration will be created to remove a nested `draftOrderState.draftOrderState` on the docket entry (after investigation, it was determined that was being added after modifying a draft order), and fix the problem with nesting the `draftOrderState` property.

Draft PR: https://github.com/us

[2021-02-11 15:55] mmarcotte opened #7705 "BUG: Transcript should be viewable after 90 days"
**Describe the Bug**

Respondent counsel should have access to a Transcript document since it is after the 90 days from when it was filed.

**Business Impact/Reason for Severity**

Documents need to be made available to relevant parties in a timely manner.

**In which environment did you see this bug?**

* Court's Prod
* Migration Environment

**Who were you logged in as?**

`2c895af2-b486-4b79-ac

[2021-02-11 16:32] klohman commented on #7678
## Update to Permissions
* Admissions clerks need permissions to Edit Petitioner Information
* Admissions Clerk can view Sealed Addresses

## Case Detail > Petitioner Contact Info - No Email
* Remove party type field
* Update field locations per design

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/6b95b791-71fa-43e2-9962-3de493e7a7e6)

## Edit Petitioner information
*

[2021-02-11 20:56] mmarcotte commented on #842
Opinion types in Legacy DB:
[code]

[2021-02-11 23:57] JessicaMarine commented on #7658
PO review: When the Admissions Clerk changes the email address of a practitioner, a progress bar popped up on the bottom of my screen.  It was unclear what was happening then.  Was it updating the email address of that practitioner on all cases?  If so, that seems inconsistent with the messaging on the modal the Admissions Clerk sees and the messaging the practitioner sees at the top of the page b

[2021-02-12 00:00] JessicaMarine commented on #7698
PO Review:  Able to file documents in the target case without issue.  The cover sheet was applied and the correct page count displays on the docket record.  Need to backlog the manual work needed on prod to correct the documents that are able to be corrected in the Court's backlog so that @mmarcotte can perform it after this is deployed to prod.

[2021-02-12 19:43] matthopson commented on #789
Getting started with some draft A/C:

As THE ROBOTIC HUMAN ANALOG, I want to:
- Deploy and migrate via merge to deploying branch
- Avoid manually checking or writing to the deploy table (migrate flag, table version, etc...)
- Avoid manually setting environment variables specific to the deploy, migration, or color change
  - one exception may be the ENV variable (stg, prod, etc...)
- Avoid having t

[2021-02-14 14:06] #7699 closed, assigned to sutt0n

[2021-02-14 14:24] JessicaMarine opened #7706 "BUG: Unable to QC document in 16724-19"
**Describe the Bug**
In 16724-19, the parties filed a Third Stipulation of Facts.  When trying to QC the document -- changing doc type to `MISC` so I can re-name it Fourth Stipulation of Facts -- I get a spinning wheel when I hit complete and nothing when I hit Complete & Send.  It throws the following error:

![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/30650651-d7f8

[2021-02-15 16:14] matthopson commented on #7678
Feature branch: 7658-feature-petitioner-access

[2021-02-15 16:27] cnelsonflexion commented on #7641
![default.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/6011875f-7630-4de0-ada6-5786a7976ebc)

![Trial-ScheduledDefault.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/1dbfcec6-8a79-45a7-a6dc-3bff41c2d213)

Default view of Calendared and Scheduled Trial

[2021-02-15 16:50] TomElliottFlexion commented on #7703
PR here: https://github.com/flexion/ef-cms/pull/7788

[2021-02-15 17:03] cnelsonflexion commented on #7641
![trial-editmenu.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/a4b3747a-9f6a-4041-a0a9-33560a35bfcc)

Trial card - edit menu

[2021-02-15 17:07] cnelsonflexion commented on #7641
![trial-addeditnote.png](https://images.zenhubusercontent.com/5db1fb429d25900001eabf17/c35a921b-6d30-4039-b098-0cab80024c7e)

Trial card - Add/edit modal

[2021-02-15 18:10] kkoskelin commented on #7702
Uncovered information relating to this bug here: https://bugs.chromium.org/p/chromium/issues/detail?id=69227
TL;DR: we cannot load base64 data URIs more than 2MB without killing the renderer.

Instead, we are using URL.createObjectURL() functionality -- which has a limit of 500MB.

PR: ustaxcourt/ef-cms-flexion#7790

[2021-02-15 20:49] cnelsonflexion commented on #7641
Test Scenarios

#### 1) Docket Clerk adds a case to trial and then adds a calendar note
* Login as docket clerk
* Go to case
   - Case status = Calendared
* Click Edit link for trial card
* Click Add/Edit Calendar Note
* Enter text in note field
* Click Save
Expected results
On click of Edit link:
- [x] Edit menu options display
On click of Add/Edit Calendar Note
- [x] Add/Edit Calendar Note modal

[2021-02-16 15:17] klohman commented on #7237
## Add Practitioner screen

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/662e702f-6244-4a9d-9c2b-d45cb6e126c0)

#### Practitioner Notes section
* Add practitioner notes section to form

**Practitioner Notes field**
* Is optional
* Character limit = 500
* Error message if over character limit = “Limit is 500 characters. Enter 500 or fewer characters.”

## Practitioner

[2021-02-16 15:17] mmarcotte opened #859 "Get some statistics for Clerks of the Court"
## Tasks:

- [x]  Get a sheet of ZIp Codes for petitioners with open cases
- [x] How many documents with code LEA​ were filed between June 1, 2020 - November 21, 2020?
- [x] List of cases (docket numbers) w/ suffix with document code TCOP​MOP​ or SOP​filed October 1, 2019 - September 30, 2020.
- [x] Number of open cases with petitioner's counsel
- [x] Number of total open cases
- [x]  For cases wi

[2021-02-16 15:20] klohman commented on #7237
## 6335 test scenarios

#### 1) Admissions clerk enters practitioner note when adding a new practitioner
* Login as admissions clerk
* Go to Advanced Search > Practitioner
* Click Add Practitioner
* Enter practitioner note : “This is a new practitioner note”
* Complete form
* Save
Expected results
- [x] Practitioner note field displays on Add Practitioner form
- [x] On save, Note is displayed on P

[2021-02-16 15:41] rachelschneiderman commented on #7683
I'm not seeing this fix on dev. Need to investigate.

[2021-02-16 16:28] mmarcotte commented on #859
[code]

[2021-02-16 16:29] #753 closed, assigned to Anthony-Calderaro

[2021-02-16 16:29] #844 closed, assigned to mmarcotte, JessicaMarine

[2021-02-16 17:11] mmarcotte commented on #859
[code]

[2021-02-16 17:23] JessicaMarine commented on #859
@mmarcotte I think there is some confusion about:
- Number of open cases with petitioner's counsel
- Number of total open cases

This isn't a sub-request of the opinion question, it's a completely independent one.  We're looking for total # of open cases in the system and, of those, how many have counsel.

[2021-02-16 17:47] JessicaMarine opened #7707 "BUG: Court user not able to edit order"
**Describe the Bug**
Multiple reports from Court-users that they cannot **edit** an order. NOTE: This doesn't seem to be an issue with creating an order, only editing it

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod; able to reproduce on Court's mig

**Who were you logged in as?**
Judge Pugh
Tammy Staples (Chambers Administrator)

**What were

[2021-02-16 18:38] mmarcotte commented on #842
Check in with Mike McVicker to see the status of the flattened tables. Talking at 4:30 to make sure we are all aligned with next steps.

[2021-02-16 20:06] Anthony-Calderaro opened #862 "Add a script to handle the resending of temporary passwords"
We should be able to make a script that is able to something similar to the following workflow:
- [ ] Pull all the relevant tickets from Zendesk based on a specific `tag`
- [ ] For each ticket, grab the email address of the sender or from the "email of user" field and check their credentials in Cognito.
- [ ] Reply and close out the ticket based on the status in Cognito:
  - [  ] RESET_TEMPORARY_P

[2021-02-16 20:49] mmarcotte commented on #859
17215 total open cases
6760 have a practitioner

[2021-02-16 20:55] klohman commented on #7703
Counsel for petitioner and respondent now displaying

![Screen Shot 2021-02-16 at 3.55.12 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/c310e78f-be01-4d7b-ae3e-7ced8f0a47a4)

[2021-02-16 21:19] mmarcotte commented on #859
NOTE: I had to used the receivedAt... createdAt isn't indexed. 🤔
[code]

[2021-02-16 21:20] klohman commented on #7683
![Screen Shot 2021-02-16 at 4.20.19 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/ffec74a6-b3df-40a5-b89c-1042281f226f)

* Updated doc title now displays in document dropdown

[2021-02-16 21:29] mmarcotte commented on #859
NOTE: I had to use `receivedAt` because we don't index `createdAt` for cases:

[code]

[2021-02-17 00:37] mmarcotte opened #863 "Investigate Bounced Service Emails"
Need to figure out what's going on here.

[2021-02-17 00:40] mmarcotte opened #864 "Investigate Service Email Issues"

[2021-02-17 14:44] #7707 closed, assigned to TomElliottFlexion

[2021-02-17 14:44] #7706 closed, assigned to rachelschneiderman

[2021-02-17 15:41] klohman commented on #7621
## Docket Record

**On click of document link, route to Document QC screen**
* If user is Docket Clerk
* If document has not been QC’d

**On click of document link, route to Document View with selected document in PDF preview **
 * If user is any other role except Docket Clerk
* If document has not been QC’d
* If document has been QC’d

## Document View

![image.png](https://images.zenhubuserconte

[2021-02-17 15:42] klohman commented on #7621
## 7476 Test Scenarios

#### 1) Docket clerk accesses QC screen from docket record for an e-filed document that has not been QC’d
* Login as petitioner
* Go to case xx1-21
* e-file document = Administrative Record
* Login as docket clerk
* Go to case xx1-21
* Click Administrative record link from Docket record
Expected results
- [x] Docket entry for Administrative record displays with red star ico

[2021-02-17 15:45] JessicaMarine commented on #7683
@rachelschneiderman and team:

1. Log-in as IRS counsel Anne D. Melzer (DA0124) on `MIG`
2. Go to 4498-20
3. File a "First Amended Exhibit(s) to Stipulation of Facts (Exhibit 1-J)":
![image.png](https://images.zenhubusercontent.com/5bbfb4d092b88e6ddb8b0e3d/e317696f-24a7-4fd8-8124-064174a08442)

4. Note that the full concatenated title doesn't carry through to the:
File Your Document(s) screen:
![i

[2021-02-17 18:07] mariahkannenberg opened #7708 "Admissions clerk adds email to Petitioner without Existing Cognito Account"
As an admissions clerk, so that I can give a petitioner access to the system, I need the ability to give electronic access to a petitioner who does not have an existing Cognito account

## Pre-Conditions
ustaxcourt/ef-cms#7678

## Acceptance Criteria

- When Admissions Clerk adds an email address, a new cognito account is created
- When a new Cognito account is created, the petitioner receives an

[2021-02-17 18:08] mariahkannenberg opened #7709 "Petitioner without Existing Account: Verifies Email and Gains Electronic Access to Case"
As a petitioner, so that I may gain access to the DAWSON system, I need the ability to verify my account.

## Pre-Conditions
ustaxcourt/ef-cms#7708

## Acceptance Criteria
- Single petitioner is able to verify their Cognito account and gain access to the system
- When a user is linked to a case (either through the new Cognito account or linkage to existing one), they have access to the case:

[2021-02-17 18:10] mariahkannenberg opened #7710 "Second Petitioner: Gain Electronic Access to Case (Refactoring pre-condition)"
As an admissions clerk, so that the secondary petitioner can gain access to the system, I need the ability to grant them access.

## Pre-Conditions
ustaxcourt/ef-cms#7715
* Refactor primary, secondary and other petitioners into a simple list of petitioners on the case

## Acceptance Criteria

- Admissions clerk can add an email address for second petitioner who did not previously have one
- When A

[2021-02-17 18:50] klohman commented on #7678
## 7658 Test Scenarios

#### 1) Admissions clerk can access Edit Practitioner screen
* Login as Admissions clerk
* Go to case xx1-20
    * Case has party type = Petitioner & Spouse
    * Both petitioner & spouse have paper service (no email)
* Click Case Information > Petitioner
* Click Edit link on Petitioner card
Expected results
- [x] Edit link is displayed for Petitioner
- [x] On click of Edit

[2021-02-17 19:04] klohman commented on #7708
#### No Email Exists

**When email is added and no matching email exists:**

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/4ebd7dde-c13d-4740-9f87-0aea43711502)

* Display “No Matching Service Email" modal
* Display associated Petitioner Name
* Display email

**On click of Yes, Continue**
* Modal closes and app routes to Case Detail> Petitioner with success message dis

[2021-02-17 19:10] klohman commented on #7708
## 7806 Test Scenarios

#### 1) Admissions clerk adds service email that is not in the system to petitioner on case (primary contact)
* Login as admissions clerk
* Go to case xx3-20
    * Case has party type = Petitioner & Spouse
    * Petitioner & Spouse have no email and paper service
* Click Case Information > Petitioner
* Click edit link for primary contact
* Enter and re-enter new email = [ne

[2021-02-17 19:16] klohman commented on #7709
## Petitioner receives new account email and verifies (aka, logs into system for first time) email

## External Party View: Case Detail > Petitioner
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/22eb84c7-dbed-4237-8129-407a30eabb68)

** Once email is verified**
* Remove party type
* Update field locations based on design
* Hide current email field for party view

## In

[2021-02-17 19:24] klohman commented on #7709
## 7807 Test Scenarios

#### 1) Petitioner (primary contact) without existing account is added to case and verifies email
* Login as admissions clerk
* Go to case xx3-20
    * Case has party type = Petitioner & Spouse
    * Petitioner & Spouse have no email and paper service
* Click Case Information > Petitioner
* Click edit link for primary contact
* Enter and re-enter new email = [new email]

[2021-02-17 21:00] JessicaMarine commented on #7676
Resolved by ustaxcourt/ef-cms#7706

[2021-02-17 21:00] #7676 closed, assigned to nobody

[2021-02-17 21:50] rosiehsmith commented on #7683
https://github.com/flexion/ef-cms/pull/7812

[2021-02-18 15:37] mmarcotte opened #866 "Fix PDFs that didn't get a coversheet and page count"
[code]

[2021-02-18 18:45] klohman opened #7711 "BUG: Unable to edit migrated Order (code "O") due to validation error"
**Describe the Bug**
When trying to edit a docket entry for a migrated Order (with event code O), user receives an error message to select a service stamp and cannot save any changes.

The service stamp (Entered or Entered and Served) is required when adding a "O" event code to the docket record, but should be ignored after the entry is served.

**Business Impact/Reason for Severity**

**In which

[2021-02-18 18:46] klohman commented on #7711
When I created a new entry with event code "O", i see serviceStamp on the docket entry. This seems to be missing for migrated entries.

 ![Screen Shot 2021-02-18 at 1.45.15 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/30387889-ddba-4269-bfd8-025ba964b921)

[2021-02-18 21:26] klohman commented on #7678
UX review

- - I had intended (but probably wasn't explicit about it) that the name associated with the matching email would display in the confirm modal...is that possible? Currently, it is displaying the name of the petitioner on the case that the email is being added to

example below - Petitioner Gmail was the name entered when the cognito account was created; Korey Steideman is the petitioner

[2021-02-18 23:15] mark-meyer opened #871 "Convert Elasticsearch Judge Fields to Keywords"
Judge fields in the `efcms-docket-entry` elasticsearch index are currently mapped as text fields. This causes the judges names to be tokenized such that a name like `Maurice B. Foley` becomes individual tokens in the index `['maurice', 'b',  'foley']`. This causes search results to include other judges with shared name components like `Michael B. Thornton`.  There is no advantage to tokenizing nam

[2021-02-18 23:32] mark-meyer opened #872 "Remove parent/child join in Elasticsearch"
The `efcms-docket-entry` Elasticsearch index contains a parent/child relationship between cases and docket entries. This is used to allow a single representation of case-level fields (docket number, sealed state,  case caption, etc). The search query however to join this case data with advanced docket record searches creates a bottleneck and is very resource intensive. [Elasticsearch documentation

[2021-02-19 00:06] mark-meyer opened #873 "Consider increasing the number of replica shards for efcms-docket-entry"
Dawson's current Elasticsearch configuration use three nodes. Each index however is only allocated a single primary and single replica shard. Write requests, such as indexing, are the responsibility of primary shards, but both replicas and primary shards can handle read requests such as queries. This means that all full-text searches can only be served by two of the three available nodes. By incre

[2021-02-19 16:26] JessicaMarine opened #7712 "BUG: Signature not staying affixed to Proposed Stipulated Decision"
**Describe the Bug**
I have had several users report that they sign a Proposed Stipulated Decision and the signature does not save.  Not sure if it is a coincidence, but all were reported in "small" cases.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
Court's prod; able to reproduce in MIG with the PDFs below.

**Who were you logged in as?**
ADC

**What w

[2021-02-19 17:45] mmarcotte commented on #864
I was able to find this in the logs from that Lambda request:
[code]

And it looks like no retries were made.

These are the errors that are returned from the the AWS API call.

[2021-02-19 17:46] #859 closed, assigned to mmarcotte, JessicaMarine