[2021-08-16 21:01] cholly75 commented on #7948
@klohman looks good!

[2021-08-16 21:11] cholly75 commented on #7956
@klohman In the instructional FAQ, do we want to mention a note about how the exact match will ignore special characters?

[2021-08-17 13:57] ttlenard commented on #8015
I just tested this again on the TEST environment. All was working. No longer seeing issues with buttons not working, and I can see the "Set Calendar" button as well.  I believe we can cancel this ticket?

Thanks everyone!

[2021-08-17 14:21] matthopson commented on #7967
Will do a migration to clean up old data.

[2021-08-17 14:21] ttlenard commented on #7956
@klohman  I noticed that the FAQ we indicate that the pipe character means "OR", but in the UI, it doesn't explicitly say that.  Is this ok?

[2021-08-17 15:11] klohman commented on #7956
@TomElliottFlexion

[https://app.zenhub.com/files/152320868/cb6c3396-b7c3-4fcb-af68-ec9e06437995/download](https://app.zenhub.com/files/152320868/cb6c3396-b7c3-4fcb-af68-ec9e06437995/download)

[2021-08-17 20:40] cholly75 commented on #7985
@kkoskelin @mariahkannenberg - the issue is specific to when a docket clerk changes a given Order from a specific order type to a generic Order, which is supported in the UI. The served selection validation should not be firing in this case, as there is no (and should not be an) option to select Served vs. Entered and Served.

[2021-08-17 21:01] #7950 closed, assigned to matthopson, rachaelparris, TomElliottFlexion

[2021-08-17 21:01] #7989 closed, assigned to rachelschneiderman

[2021-08-17 21:01] #7781 closed, assigned to matthopson

[2021-08-17 21:08] mariahkannenberg opened #8025 "Order Search - Automate performance testing to utilize variable data for a simulated load"
As a court user, so that I can perform performance testing, I need a framework to automate performance testing to utilize variable data for a simulated load

## Pre-Conditions

## Acceptance Criteria
* X simultaneous users running a randomized order query every Y seconds for Z minutes. Results must return within XX seconds. Users should see YY request timeouts.
* For functionality that utilizes ES

[2021-08-18 14:02] matthopson commented on #7993
@cholly75 After some investigation, I think we need to create a new story rather than treat this as a bug. The underlying issue is the header navigation has grown as the application has grown, and the responsive breakpoints don't accommodate that well.

Fixing this issue in THIS SPECIFIC scenario doesn't fix it in a slightly smaller viewport. The solution here is going to require some design input

[2021-08-18 14:15] mariahkannenberg commented on #8015
Chris to add a note and then close.

[2021-08-18 14:16] mariahkannenberg commented on #7944
Trim horizon fixed. Moving to tech review

[2021-08-18 14:17] mariahkannenberg commented on #7979
Eric is 75% done. There's a branch out there with the work. Let's wrap it up.

[2021-08-18 14:18] mariahkannenberg commented on #7761
Oh hold until IRS enables WebSockets. Chris and Mike to chat about it.

[2021-08-18 14:20] mariahkannenberg commented on #7572
Turn opinion search on in MIG or test and see if it's still a problem.

[2021-08-18 16:34] ttlenard opened #8026 "BUG: Unable to use the document feeder while using the scan feature in DAWSON"
**Describe the Bug**
A clear and concise description of what the bug is.
Justine Miles and Santrisha Mapson in the Petitions section are unable to scan into Dawson particularly it continuously spins, and the image does not load.

Shawn Norman checked her laptop, and she can scan in Adobe but having issues scanning into Dawson.  She is scanning in Adobe for the interim, but we need assistance with

[2021-08-18 17:06] cholly75 commented on #7993
@matthopson makes sense. I'll close this issue, as I can't even repro this anymore.

[2021-08-18 17:06] #7993 closed, assigned to matthopson

[2021-08-18 17:33] cholly75 commented on #8015
USWDS issue resolved - see 8693 for similar issue. Can no longer reproduce.

[2021-08-18 17:33] #8015 closed, assigned to nobody

[2021-08-18 17:39] ttlenard opened #8027 "BUG: Unable to update the Requested place for trial when case status is "General Docket - At Issue (Ready for Trial)""
**Describe the Bug**
A clear and concise description of what the bug is.
When a case is in the status of "General Docket - At Issue (Ready for Trial), and the requested place of trial is empty, court users are unable to add data to the Requested place for Trial.  If this scenario happens, a 400 error occurs. (See Screen shot)

Note: if there is already a requested place of trial, and it get's upda

[2021-08-18 18:28] ttlenard commented on #8021
I tested over on TEST and it looks great!  The Session notes now say "User Notes" instead of Judges notes. Thank you!

[2021-08-18 18:34] ttlenard commented on #7996
I am still seeing the duplicate text in the document titles in the TEST environment.  Need to kick this one back.

[2021-08-18 18:51] cholly75 opened #8028 "Search: User Feedback"
As a search user, I want to be able to provide feedback to the DAWSON development team so that I can communicate what's working well and what isn't regarding search.

We would like to be able to collect data from search users regarding their DAWSON search experience in a way that allows us to collect data, analyze it, and make decisions based on that data.

## Pre-Conditions

## Acceptance Criteri

[2021-08-18 19:42] mariahkannenberg commented on #8025
Services / Features By ES Index

`efcms-case-deadline`
- Case Deadlines

`efcms-case`
- Case Advanced Search
- Case Public Search
- Blocked Cases Report
- Case Inventory Report
- Get Case By User ID
- Get First Single Case
- Get Ready For Trial Cases
- Get Case Deadlines (report)

`efcms-docket-entry`
- Advanced Document Search (USES JOIN ON CASE)
- Pending Items (USES JOIN ON CASE)
- Reconciliati

[2021-08-18 19:46] klohman commented on #8028
#### Search Feedback Survey

1. How would you rate your experience with search? [binary response]
    * Good, I was able to find what I needed
    * Bad, I was not able to find what I need or I was not able to use the search tool

2. Overall, how easy or difficult was using DAWSON search? [linear scale]
    * 1 - Very easy to use
    * 5 - Very difficult to use

3. Please tell us more about your e

[2021-08-18 20:52] cholly75 commented on #7931
@mmarcotte let's work together and backlog a story with the inventory of pages/cases we want a general user to be able to navigate to in these tests on production. Changed the AC for now to verify that the user is presented with their dashboard as confirmation that they're in the system upon login.

[2021-08-18 21:29] cholly75 commented on #8028
@klohman - here's a link to your survey in MS Forms: https://forms.office.com/Pages/DesignPage.aspx?fragment=FormId%3DffQzvB8vfUKKwjrrqKsOvTVbiWEK6y1AtToWYyLphJdUNE9USVM1NkxBNDJBQUFLQ1U4SzZVVUg3Mi4u%26Token%3D710f2eb37349426d8c0ed11ff1fcedbd

[2021-08-18 22:26] mmarcotte commented on #7944
https://github.com/flexion/ef-cms/pull/8673 this solved it!

[2021-08-18 22:26] #7944 closed, assigned to nobody

[2021-08-19 12:54] klohman commented on #8028
@cholly75 I don't have access to login to MS Forms. If that's how we are going to implement, can we talk about how to disseminate the responses? Maybe a daily export?

[2021-08-19 13:22] cholly75 commented on #8028
@klohman Yeah, Forms lets me export to Excel - attached is an example

[https://app.zenhub.com/files/152320868/4b87d69e-1670-4fc7-bd11-591c0205c42c/download](https://app.zenhub.com/files/152320868/4b87d69e-1670-4fc7-bd11-591c0205c42c/download)

[2021-08-19 14:00] cholly75 opened #8029 "BUG: Order Search: Docket number and Case title/Petitioner Name field search validation fires incorrectly after manually clearing the field"
**Describe the Bug**
When attempting an Order search, if a search is performed with the Docket number or Case title/Petitioner's name field populated, then that field is subsequently cleared and the other field is then populated, no search is executed and the validation appears saying "Enter either a Docket number or a Case name/Petitioner name, not both" despite only one of the fields being popul

[2021-08-19 14:39] cholly75 commented on #8028
@klohman

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/1cc20ca7-8ec6-4b28-979a-7c7343188199)

[2021-08-19 14:42] klohman commented on #8028
@cholly75 Looks good! Is there a way to include the link to my calendar to schedule interviews?

[2021-08-19 14:44] mariahkannenberg commented on #7941
Flexion to provide feedback on final notes from Kris and Matt.

[2021-08-19 14:45] mariahkannenberg commented on #7941
Court to merge. Will add more if needed.

[2021-08-19 14:47] mariahkannenberg commented on #7996
Tenille still seeing the bug on test on the specific case re: in bug. Tenille to reach out to Kris.

[2021-08-19 14:47] kkoskelin commented on #8023
See PR https://github.com/ustaxcourt/ef-cms/pull/1589 --

[2021-08-19 14:56] mariahkannenberg commented on #8026
Reach out to Justine or Santrisha. These are the specific users having these problems.
Step 1 - Flexion engineers to try to recreate locally. Chris too.
Dynamsoft update - Court to help facilitate update.

[2021-08-19 14:56] cholly75 commented on #8028
@klohman *sigh* remind me to tell you some time how much I hate snip n' sketch. :) Here's page 2, conveniently left off the initial shot.

![image.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/2e135fc1-6d8f-43f4-b660-a3e9158c374c)

[2021-08-19 15:26] mmarcotte commented on #8025
@cholly75 and I came up the following while spitballing for this story:

* Document (Order/Opinion) searches need to return information within 2 seconds under no/low load
* Document searches need to return information within 10 seconds under high load (90%+ CPU Usage)
* Baseline for each of the other systems that rely on ES is established under no/low load (how many milliseconds?)
* Baseline is es

[2021-08-19 15:36] mmarcotte commented on #7941
Completed with https://github.com/ustaxcourt/ef-cms/pull/1377

[2021-08-19 15:52] mmarcotte opened #8030 "SPIKE: Document decision to use a monolambda for API processing"
As a tech lead, so that I can understand the decision to use a monolambda with Express, I need to discuss and document the decision with folks who were here at the time that decision was made.

## Pre-Conditions

- [ ] A quorum of folks present who were present when the decision to employ a monolamda with express was made.
- [ ] Folks involved could spend a few minutes to prepare for the meeting b

[2021-08-19 15:53] mmarcotte opened #8031 "SPIKE: Document decision to use Terraform"
As a tech lead, so that I can understand the decision to use a Terraform instead of Serverless to maintain infrastructure as code, I need to discuss and document the decision with folks who were here at the time that decision was made. This discussion is specifically trying to decide between Serverless Framework and Terraform, not necessarily the merits of Terraform, which would be discussed in [t

[2021-08-19 15:56] mmarcotte opened #8032 "SPIKE: Document decision to use Terraform to automate infrastructure provisioning"
As a tech lead, so that I can understand the decision to use a Terraform to maintain infrastructure as code, I need to discuss and document the decision with folks who were here at the time that decision was made.

## Pre-Conditions

- [ ] A quorum of folks present who were present when the decision to use Terraform was made.
- [ ] Folks involved could spend a few minutes to prepare for the meetin

[2021-08-19 15:58] mmarcotte commented on #1223
Created these tickets on Flexion's board to help continue and wrap up the conversations.
- https://github.com/flexion/ef-cms/issues/8816
- https://github.com/flexion/ef-cms/issues/8815
- https://github.com/flexion/ef-cms/issues/8814

[2021-08-19 16:01] mariahkannenberg commented on #8026
Get TWAIN printer drivers for the two users as next step.

[2021-08-19 16:37] matthopson commented on #7967
Migration PR: https://github.com/ustaxcourt/ef-cms/pull/1590

[2021-08-19 16:37] kkoskelin commented on #7996
The titles on these docket entries are generated when they get edited -- and it is this act of generation that caused the duplicate strings.  To test fully, one must attempt to edit the docket entry.  For the case in question, edit docket entry 162 as a docket clerk and do the following:
1) locate the menu for "Which document are you redacting?"
2) change the selection from `Exhibit(s)... 1-J thro

[2021-08-19 18:48] kkoskelin commented on #7996
After speaking with @ttlenard and reviewing the `test` environment, the bug is fixed, though some docket entry document titles have "duplicate text" strings in them already as a result of editing them prior to the bugfix.

[2021-08-19 22:04] cholly75 opened #8033 "Performance: Users Getting Logged Out"
As a user, I would like to stay logged into DAWSON for the entirety of my shift so that I can use the system.

Court users from multiple departments are reporting a high degree of unexpected logouts in the system on a daily basis. Anecdotally, this number is between 5-10 times a day, and has increased in frequency.

- Ref. ustaxcourt/ef-cms#7629 for work previously done to address this
- Original

[2021-08-19 22:07] cholly75 opened #8034 "Court: Add Identifier To Notes Tab When Case Notes/Judge Notes Exist"
As a court user, I would like the Notes tab to display an indicator when there are case notes populated for a case.

User feedback indicates that the Notes feature would benefit from an identifier similar to the one used for Tracked Items that displays when there are in fact Notes to read; this would both notify anyone that they should read the notes and drive user adoption of the Notes feature.

[2021-08-19 22:12] cholly75 commented on #7911
@mmarcotte - this might be the story for monitoring efforts.

[2021-08-19 22:24] cholly75 opened #8035 "Opinion Search: User Research"
As a DAWSON team member, I would like to understand user expectations around Opinion search so that I can better develop a user-friendly system.

## Pre-Conditions
-Opinion search is turned on in the court's MIG environment

## Acceptance Criteria
All Court users can provide usability feedback
Targeted usability testing is performed with a small group of users in the Court's prod environment
Resul

[2021-08-20 13:13] cholly75 commented on #7956
Minor edit - can we add a blurb to the OR instructions on the "Searching for Documents in DAWSON" page to explicitly say the pipe character is located above the backslash key on the keyboard?

[2021-08-20 13:47] klohman commented on #7956
@TomElliottFlexion Updated PDF per PO comments is attached.

[https://app.zenhub.com/files/152320868/ffe41d15-6a44-4873-9f7f-e3534802acf7/download](https://app.zenhub.com/files/152320868/ffe41d15-6a44-4873-9f7f-e3534802acf7/download)

[2021-08-20 14:19] klohman commented on #8028
## Updated search page
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8fb41768-0d60-4837-abb5-043446828b38)

* Add "Send Feedback" button to be displayed on all advanced search screens in header.
* On click of button, open [MS Form page] in new tab

@cholly75 Can you add the link to the official MS Form?

[2021-08-20 14:25] mariahkannenberg commented on #8026
@mmarcotte Looking into TWAIN drivers for the two court users

[2021-08-20 14:52] cholly75 commented on #8028
@klohman Here's the "short URL" version - lemme know if we end up needing the long version:

https://forms.office.com/r/J1AHm7d3BE

[2021-08-20 15:30] klohman commented on #8014
## Case status = NEW (i.e. Petition has not been served)

#### Practitioner address/phone number is updated
* Notice of Change of Address / Phone number is not generated for any cases in NEW status
* Notice of Change of Address/Phone numbers are generated for all other practitioner cases (current functionality)
* Practitioner's updated address/phone number displays in UI

#### Add Docket Entry (Co

[2021-08-20 16:42] klohman commented on #8014
### 8763 Test

#### 1) Docket clerk adds docket entry when case status = NEW
* Login as docket clerk
* Go to case with status = NEW
* Create, save, sign Order
* Add Docket Entry for Order
* Save
Expected results
- [x] Warning messaging displays on Add Docket Entry screen
- [x] Save and Serve button is hidden
On Save,
- [x] Docket entry is added to Record but not served

#### 2) Docket clerk adds d

[2021-08-20 16:52] klohman commented on #7493
![Frame 9.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/3b38a442-f336-4cb2-9598-8797152c4d1a)

## Tech leads sets system to maintenance mode

#### User is logged in to DAWSON when maintenance mode begins
* On next user action, display modal
* On click of Log Out, user is logged out of app
* On click of Cancel, route to Maintenance Page

![image.png](https://images.zenhubuserco

[2021-08-20 17:00] klohman commented on #7493
### 7095

#### 1) User is logged in to system and maintenance mode begins
* Login as user
* Set to maintenance mode
Expected results
On next user action
- [x] Maintenance model displays
On Click of Log out button
- [x] User is logged out of system
On click of Cancel button,
- [x] User is routed to Maintenance page

#### 2) User logs in to system during maintenance mode
* Set to maintenance mode
*

[2021-08-20 17:15] ttlenard opened #8036 "BUG: The "submitted date" changes to today's date when a petitions clerk is Reviewing Petitions that have been submitted electronically"
**Describe the Bug**
A clear and concise description of what the bug is.
The submitted date on an electronically submitted petition represents the date it was submitted, until a petitions clerk reviews the electronically submitted petition.  Once they review it, the submitted date will change to today's date.  (The filed date that is on the cover sheet in the actual uploaded document remains the c

[2021-08-20 17:59] ttlenard commented on #8023
No longer receiving the error. Thank you!

[2021-08-20 18:04] ttlenard commented on #8027
This looks good. No longer seeing the 400 error.  Thank you!

[2021-08-20 18:10] ttlenard commented on #8023
I also tested the bug flow in ustaxcourt/ef-cms#7958, and was still able to change the filed by successfully w/o receiving an error.

[2021-08-20 19:16] klohman commented on #8034
## Option 1

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/84408ac5-439d-40c5-985c-23c13edee853)

## Option 2

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/6b1ba7dc-942a-4f5f-a7e5-3563817400b0)

[2021-08-20 19:55] ericsorenson commented on #7457
Modifications to the history of the court's repository can't be made with a pull request from a fork.

https://github.com/rtyley/bfg-repo-cleaner is a great tool for modifying git history.

[2021-08-20 19:57] ericsorenson commented on #7455
Modifications to the history of the court's repository can't be made with a pull request from a fork.

https://github.com/rtyley/bfg-repo-cleaner is a great tool for modifying git history.

[2021-08-20 19:57] ericsorenson commented on #7456
Report.html was removed when we switched from parcel to webpack.

[2021-08-23 14:03] ttlenard opened #8037 "BUG: Unable to edit draft order - when clicking edit, a blank order comes up"
**Describe the Bug**
A clear and concise description of what the bug is.
Court users are reporting that they are unable to edit draft Orders. They can see the draft order, but when they click edit, a blank Order appears.

Note: I was not able to recreate the issue with a newly created Order in MIG. Seems that we may need to find an Order that was drafted prior to the release over the weekend?

Spe

[2021-08-23 14:29] mariahkannenberg commented on #7979
Blocked - needs to be a user story.

[2021-08-23 15:11] ttlenard commented on #8037
Here is the temporary work-around that I provided to Court users:

- Open the Draft Order
- Click on Create in the upper right-hand corner of DAWSON
- Select Order or Notice from the list
- A new tab will open.
- Copy the content of the original draft order and paste it into the new order.
- You will most likely need to adjust the formatting after you copy, but you will be able to edit the origina

[2021-08-23 16:31] ttlenard commented on #7956
I have a few items for feedback.

General Question regarding the use of "Guy Fieri" and "Sam Fieri".  Are using these names of actual people in the help documents advisable for when this goes to the public?  Just wondering if we should use more generic names?  Maybe it doesn't matter though???

Found a misspelled word in the help doc:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d

[2021-08-23 18:24] ttlenard opened #8038 "BUG: When editing a "Pre-DAWSON" docket entry, I get an error to "select a filing party", even though there is data in this field"
**Describe the Bug**
A clear and concise description of what the bug is.

As a docket clerk, if I go into a docket record that was migrated into DAWSON, and attempt to edit the "Filed by" field, I get an error to "select a filing party" after I click save, even though I have data in this field.

This was reported by a docket clerk on the following docket record on PROD: Dkt. No. 592-18 Morgan Entr

[2021-08-23 19:41] kkoskelin commented on #7956
I am unable to make the requested changes at this time -- the changes are all needed within the how-to-use-search.pdf document and I do not have the source from which the PDF was generated. May need to wait for Tom or Kristen.

[2021-08-23 20:35] ttlenard commented on #7948
Got a demo of this today. All looked good to me!

[2021-08-23 20:35] ttlenard commented on #8028
This looks good to me!

[2021-08-23 21:43] matthopson commented on #8036
PR to address bug going forward: https://github.com/ustaxcourt/ef-cms/pull/1602

Migration coming in a separate PR.

[2021-08-23 22:17] mmarcotte commented on #8037
Resolved this by cleaning up the data. The migration that ran over the weekend overwrote the `documentContents` files removing their `richText` contents (the contents of the draft). We ran a query of all Court Issued Documents that were in draft state, narrowed them down to ones where the file was written during the migration, and then deleted the documentContents files restoring the `richText` dr

[2021-08-23 22:17] #8037 closed, assigned to codyseibert, kkoskelin

[2021-08-24 16:57] mariahkannenberg commented on #7493
Pulling out this AC and moving it to it's own story. Will ref the new story.

- _Court tech lead can permit certain users to access the system while in maintenance mode_

[2021-08-24 16:59] mariahkannenberg opened #8039 "Tech Lead: Grant access to users while in maintenance mode"
As the tech lead, so that I can validate functionality while in maintenance mode, I need the ability to grant access to users while the system is in maintenance mode.

## Pre-Conditions
Original Story: ustaxcourt/ef-cms#7493

## Acceptance Criteria
- Court tech lead can permit certain users to access the system while in maintenance mode

## Mobile Design/Considerations

## IRS API Considerations
D

[2021-08-24 17:07] #1532 closed, assigned to mark-meyer

[2021-08-24 17:08] mmarcotte opened #1604 "Consider Alias Strategy for Elasticsearch Clusters"
Reindexing is kinda hard. Perhaps we could make use of aliases as a strategy for how we maintain our indices. See this ticket for a lot of great research and intel thanks to @mark-meyer https://github.com/ustaxcourt/ef-cms/issues/1532

[2021-08-24 17:16] mmarcotte opened #1605 "Document automated end-to-end regression automated tests"
Let's put tests we would like to see for each role in here, and then we can build some cypress tests to perform whenever we see fit!

[2021-08-24 17:16] mmarcotte commented on #1567
We found a desire to expand on what the smoketests perform to include actions that each role performs to help with regression testing. This way PO or PS don't have to manually re-perform the same actions.

@cholly75 to create a ticket to help document what those automated end-to-end regression automated tests would include. https://github.com/ustaxcourt/ef-cms/issues/1605

[2021-08-24 17:16] #1567 closed, assigned to mmarcotte, JessicaMarine, cholly75, ttlenard

[2021-08-24 17:22] mariahkannenberg commented on #8022
Being addressed in 8763

[2021-08-24 17:25] mmarcotte commented on #1531
May be done, @adunkman did update some of them.

[2021-08-24 17:26] mmarcotte opened #1606 "Onboard [Person] Test"
Welcome to the team! 🎉 😎

#### Access to tools

- [ ] GitHub — speak with your team lead to determine the appropriate repositories and levels of access in the [ustaxcourt](https://github.com/ustaxcourt) and [flexion](https://github.com/flexion) organizations.
- [ ] [Slack](https://ustaxcourt.slack.com) — look for important channels to join in [How We Work](./how-we-work.md).
- [ ] Zoom — speak wit

[2021-08-24 17:34] mmarcotte commented on #879
@mmarcotte , @cholly75 , @ttlenard to chat about this and figure out next steps in the coming weeks

[2021-08-24 17:36] mmarcotte commented on #690
Mike to check if this is fixed; pretty sure Cody made a fix to solve this one.

[2021-08-24 17:39] mmarcotte commented on #745
DDB currently performs failover if one DDB table is deleted or becomes unavailable. We tested this when we upgraded to the most recent version of DDB. We deleted a table, and it failed over to the other region.

[2021-08-24 17:39] #745 closed, assigned to nobody

[2021-08-24 17:48] mmarcotte commented on #643
Mike to create refactoring backlog ticket to improve debugging capabilities. Will post in here again when that's done.

[2021-08-24 19:25] cholly75 commented on #8034
Clarification: the indicator should be on the Notes tab, not the Case Messages tab (I referred to the Notes tab as the Case Notes tab, so I apologize for the confusion).

Also, option 2 is the preference - I like the post-it as opposed to the warning exclamation.

[2021-08-24 19:47] mmarcotte commented on #8038
just waiting on a small typo fix

[2021-08-24 20:42] codyseibert commented on #7948
leaving here to document a small bug fix related to the spinner fixed on batch8: https://github.com/flexion/ef-cms/pull/8847

[2021-08-24 22:02] cholly75 commented on #7581
## Test cases

expected results
results include all keywords in exact order
results do not include documents with keywords not in exact order
exact match found in document title and contents
exact match found in document title but not document contents
exact match found in document contents but not document title
exact matches with lowercase/uppercase characters (should not be case sensitive)

Dat

[2021-08-25 12:57] mariahkannenberg commented on #7911
Needs More Info - Cody to give a demo and weigh in on how this story may overlap with ustaxcourt/ef-cms#7949

[2021-08-25 13:01] mariahkannenberg commented on #7674
Needs More Info - Need Event Code

[2021-08-25 13:07] mariahkannenberg commented on #7585
Needs More Info - The story linked in AC is for exact match. I think this may be the wrong story. Need clarification.

[2021-08-25 13:07] cholly75 commented on #7674
@mariahkannenberg - just now edited the story to include new event code NOCE

[2021-08-25 13:17] cholly75 commented on #7585
@mariahkannenberg good catch, I've edited this story to revise the AC and restrict it to the AND keyword, like we did for Orders - I'll enter a similar but separate story for the OR operator.

[2021-08-25 13:29] cholly75 commented on #8034
Updated terminology in story to be more accurate

[2021-08-25 15:10] cholly75 commented on #8034
@TomElliottFlexion

Test Cases:

1. When there is an entry in the Case Notes for a case, if the logged in user has visibility to the Case Notes field then an indicator should display on the Notes tab.

2. When there is an entry in the Judge Notes for a case, if the logged in user has visibility to the Judge Notes field then an indicator should display on the Notes tab.

3. If there are entries in

[2021-08-25 15:54] mmarcotte commented on #1167
Looks like [Batch 7](https://github.com/ustaxcourt/ef-cms/pull/1568/files) achieves this!

[2021-08-25 15:54] #1167 closed, assigned to nobody

[2021-08-25 16:09] cholly75 opened #8040 "Opinion Search: OR keyword search"
As a Court employee, in order to locate the most relevant documents, I need to have more control over how my keyword search is executed.

## Pre-Conditions

## Acceptance Criteria
(Note: AC should include non-standard testing, deployment, documentation or security requirements)
* User is able to search using multiple keywords/phrases using the equivalent of boolean operator “OR” and retrieve resul

[2021-08-25 16:53] #1531 closed, assigned to nobody

[2021-08-25 17:11] mmarcotte opened #1610 "Onboard DevOps Engineer Jerome Emilo"
Welcome to the team! 🎉 😎

#### Access to tools

- [ ] GitHub — speak with @mmarcotte to determine the appropriate repositories and levels of access in the [ustaxcourt](https://github.com/ustaxcourt) and @mariahkannenberg for [flexion](https://github.com/flexion) organizations.
- [ ] [Slack](https://ustaxcourt.slack.com) — look for important channels to join in [How We Work](https://github.com/usta

[2021-08-25 18:04] ttlenard opened #8041 "BUG: Issues when Private Practitioner changes jobs and becomes an IRS Respondent"
**Describe the Bug**
A clear and concise description of what the bug is.

**Apologies...this is kind of a long description for this!**

This user: 66692668-2c07-442c-a10c-4575377aa7b7 Jeffrey Phillips (PJ0955) switched from a private practitioner to an IRS attorney.  We can see that this recently happened (August 9th maybe? - Mike saw this in the DB).  This user updated their own contact info, inc

[2021-08-25 18:04] ttlenard opened #8042 "BUG: Issues when Private Practitioner changes jobs and becomes an IRS Respondent"
**Describe the Bug**
A clear and concise description of what the bug is.

**Apologies...this is kind of a long description for this!**

This user: 66692668-2c07-442c-a10c-4575377aa7b7 Jeffrey Phillips (PJ0955) switched from a private practitioner to an IRS attorney.  We can see that this recently happened (August 9th maybe? - Mike saw this in the DB).  This user updated their own contact info, inc

[2021-08-25 18:45] matthopson commented on #8042
It looks like we had a story related to this that was closed without doing any work on it.
https://github.com/flexion/ef-cms/issues/7635

Do we know for sure this is a bug and not something that we hadn't actually performed work on? I'll keep looking to see if there are any other similar stories that may have touched on this.

[2021-08-25 18:59] mmarcotte commented on #7911
I'm going to revisit this story and possibly incorporate it into the health status that we already have. i just don't think this is worth your time at present.

[2021-08-25 19:21] ttlenard commented on #8038
Tested this and it appears to be working as needed. Thanks!

[2021-08-25 19:48] mariahkannenberg commented on #7779
Needs more info. Split the story ustaxcourt/ef-cms#6491) Do the health check ustaxcourt/ef-cms#6492)Implement the retry. (see notes section)

Also discussed again today doing broad level analysis of service. Add a spike to the board and be clear about what the expected outcome would be. What problem would be trying to solve.

[2021-08-25 20:55] cholly75 opened #8043 "SPIKE: Service Analysis"
As a DAWSON team member, I would like to understand how our service architecture and methodology can be improved so that I can help develop better solutions to court needs.

## Pre-Conditions

## Acceptance Criteria

## Mobile Design/Considerations

## IRS API Considerations
Do these changes impact the IRS API?

## Security Considerations
 - [ ] Does this work make you nervous about privacy or sec

[2021-08-25 21:01] mmarcotte commented on #1564
Gave @ttlenard access to update the snippet groups (and thus the snippets therein)

[2021-08-25 21:01] mmarcotte commented on #1563
Gave @ttlenard access to update the snippet groups (and thus the snippets therein)

FYI Jen Siegel should have access to update all of these, too.

[2021-08-25 21:20] cholly75 commented on #7585
Opinion 1:
- title: `Opinion 1 welcome to flavortown`
- contents: `Opinion 1 welcome to flavortown`

Opinion 2:
- title: `Opinion 2
- contents: `Opinion 2 welcome to flavortown`

Opinion 3:
- title: `Opinion 3 welcome to flavortown`
- contents: `Opinion 3 lorem ipsum`

Test Cases:

`welcome + flavortown` in document title and contents: returns 1, 3

`welcome + flavortown` in document title only: r

[2021-08-26 14:10] mariahkannenberg commented on #8026
Nothing more for Flexion to do on this. Mike waiting until next week when McVicker is back.

[2021-08-26 14:10] mariahkannenberg commented on #8038
Ready for Mike's review. @mmarcotte

[2021-08-26 14:16] mariahkannenberg commented on #7985
Matt and Mariah to pair to investigate today.

[2021-08-26 15:19] sutt0n commented on #8025
If those criteria aren't met due to implementing automated performance test (this story), then those would have to be separate tasks of their own (pending this output of this story), if I'm not mistaken.

cc: @cholly75 @mmarcotte @mariahkannenberg

[2021-08-26 21:49] cholly75 opened #8044 "Court: Change Specialized Order Docket Entry to Generic Order Docket Entry"
As a Docket clerk, I would like to be able to edit a docket entry for a specific type of Order to a generic type of Order without encountering unnecessary validations so that I can correct mistakes made in the original entry.

This may be related to an issue originally implemented/fixed with ustaxcourt/ef-cms#7711?

Order Codes that should be able to be changed to type "O" Order w/o triggering the

[2021-08-26 21:51] cholly75 commented on #7985
@matthopson @mariahkannenberg Entered story 8866 for this as discussed, referencing 7474

[2021-08-27 13:58] mariahkannenberg opened #8045 "Opinion Search: Turn Search on in MIG"
As a product owner, so that I can understand how opinion search works, I need it turned on in MIG

## Pre-Conditions

## Acceptance Criteria
* Opinion Search is turned on everywhere for internal users, except for production
* Feature flag is implemented to turn order search on/off in production for internal users only

## Mobile Design/Considerations

## IRS API Considerations
Do these changes imp

[2021-08-27 16:19] matthopson commented on #8045
PR: https://github.com/flexion/ef-cms/pull/8870

[2021-08-27 18:20] adunkman commented on #767
Here’s an example implementation for Route53, in case it’s useful in the future: https://github.com/GSA/datagov-ssb/pull/99

[2021-08-30 13:24] #8005 closed, assigned to rachaelparris

[2021-08-30 13:24] #7994 closed, assigned to rosiehsmith

[2021-08-30 13:24] #7949 closed, assigned to codyseibert, kkoskelin

[2021-08-30 13:24] #7983 closed, assigned to TomElliottFlexion

[2021-08-30 13:24] #7956 closed, assigned to kkoskelin, TomElliottFlexion

[2021-08-30 13:24] #7948 closed, assigned to sutt0n, rachaelparris

[2021-08-30 13:24] #8028 closed, assigned to TomElliottFlexion

[2021-08-30 13:28] #7957 closed, assigned to nobody

[2021-08-30 13:28] #7988 closed, assigned to matthopson

[2021-08-30 13:28] #7987 closed, assigned to codyseibert

[2021-08-30 13:28] #7990 closed, assigned to TomElliottFlexion

[2021-08-30 13:29] #7991 closed, assigned to TomElliottFlexion

[2021-08-30 13:29] #7995 closed, assigned to codyseibert

[2021-08-30 13:29] #7986 closed, assigned to codyseibert, kkoskelin

[2021-08-30 13:29] #8000 closed, assigned to sutt0n, TomElliottFlexion

[2021-08-30 13:29] #8038 closed, assigned to codyseibert

[2021-08-30 13:29] #8029 closed, assigned to codyseibert

[2021-08-30 13:29] #7971 closed, assigned to kkoskelin

[2021-08-30 13:29] #7974 closed, assigned to kkoskelin

[2021-08-30 13:29] #7996 closed, assigned to codyseibert, kkoskelin

[2021-08-30 13:29] #8016 closed, assigned to matthopson

[2021-08-30 13:29] #8021 closed, assigned to matthopson

[2021-08-30 13:29] #8023 closed, assigned to kkoskelin

[2021-08-30 13:29] #8027 closed, assigned to kkoskelin

[2021-08-30 13:30] #7941 closed, assigned to ericsorenson, codyseibert, kkoskelin

[2021-08-30 13:30] #8024 closed, assigned to nobody

[2021-08-30 13:30] #7992 closed, assigned to matthopson

[2021-08-30 13:30] #7998 closed, assigned to rosiehsmith

[2021-08-30 13:30] #7583 closed, assigned to codyseibert

[2021-08-30 13:30] #7647 closed, assigned to TomElliottFlexion

[2021-08-30 13:30] #7980 closed, assigned to codyseibert

[2021-08-30 13:30] #8004 closed, assigned to matthopson

[2021-08-30 13:30] #7968 closed, assigned to matthopson

[2021-08-30 13:30] #7954 closed, assigned to matthopson

[2021-08-30 13:30] #7951 closed, assigned to rosiehsmith, TomElliottFlexion

[2021-08-30 13:30] #7955 closed, assigned to rosiehsmith

[2021-08-30 13:30] #7928 closed, assigned to codyseibert

[2021-08-30 13:30] #7969 closed, assigned to mrinsin

[2021-08-30 13:30] #7933 closed, assigned to codyseibert

[2021-08-30 13:36] ttlenard commented on #8033
8/27 - Another Court user (Susan Culbreath) reported getting logged out.  This person indicated that it always happened to her around 5PM ET.  She confirmed that she typically has 2 DAWSON tabs open.

[2021-08-30 14:56] mariahkannenberg opened #8046 "Order Search: User Feedback"
As a development team, so that we may discover usability issues w/order search for internal users, we need to monitor feedback from users after order search goes live for internal users.

## Pre-Conditions

## Acceptance Criteria
* Feedback from feedback form is analyzed and trends highlighted
* Feedback from users who opt in to interview sessions is analyzed and shared

## Mobile Design/Considera

[2021-08-30 15:13] klohman opened #8047 "BUG: Typos in search instructions"
**Describe the Bug**
Typos found in Order search instructions PDF

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
prod

**Who were you logged in as?**
court user

**What were you doing when you discovered this bug? (Using the application, demoing, smoke tests, testing other functionality, etc.)**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to O

[2021-08-30 15:13] klohman commented on #8047
[Search Examples PDF_8-30-21.pdf](https://github.com/flexion/ef-cms/files/7085778/Search.Examples.PDF_8-30-21.pdf)

[2021-08-30 15:43] TomElliottFlexion commented on #8018
Matrix of special use characters in order search and their results https://docs.google.com/spreadsheets/d/1QolUAtg2kfT2Bv4NYxfzJhuz-jup4Ei1uPZxEHh1odE/edit#gid=0
Thanks @kkoskelin

Of note:
- "-" and "&" will return the same results whether or not they are included in the search, regardless of exact phrase matching.
- "." Is a sentence boundary but not a word boundary, so it is treated as the end

[2021-08-30 15:55] TomElliottFlexion commented on #8018
Note: ASCII-folding is not currently supported by advanced search: If a document contains diacritics (e.g. ñ ö) they will not return on searches unless that EXACT character is provided (Cortés vs. Cortes). This could provide difficulty when searching for names. There is a feature available that could easily be turned on to support this.

[2021-08-30 16:12] TomElliottFlexion commented on #8018
Note: "-" character is the "NOT" operator (currently not supported, but coming in ustaxcourt/ef-cms#7970). The results of the search matrix are likely to change once we enable this "NOT" operator.

[2021-08-30 16:25] codyseibert commented on #8025
duration: 300
arrivalRate: 5

[code]

![Screen Shot 2021-08-30 at 12 25 11 PM](https://user-images.githubusercontent.com/1868782/131371959-6dfff971-5f39-4cbb-ba46-882c4e25c04c.png)

[2021-08-30 16:27] ttlenard commented on #8036
I just tested this and I am still seeing the Date Received switch over to today's date:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/52796936-e363-4e4f-b7b9-eb4ab4fc2480)

This petition was filed on 6/1:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/eb40287f-e063-4e30-9de4-73ffea1c324d)

I was in this record on MIG: https://app.mig.ef-cms.

[2021-08-30 16:43] codyseibert commented on #8025
- duration: 300
      arrivalRate: 100

[code]

![Screen Shot 2021-08-30 at 12 43 27 PM](https://user-images.githubusercontent.com/1868782/131374300-50538f7f-94e0-4dfd-8506-751cec23dc84.png)

[2021-08-30 16:51] codyseibert commented on #8025
- duration: 300
      arrivalRate: 180

[code]

![Screen Shot 2021-08-30 at 12 51 26 PM](https://user-images.githubusercontent.com/1868782/131375431-e4eff754-0473-455a-99ed-c6cff670b0a3.png)

[2021-08-30 17:49] matthopson commented on #8030
I'm fairly certain the notes in Sprint 43 document this decision, which - it appears much of this was used for the notes that were provided by Andrew.

https://github.com/ustaxcourt/ef-cms/pull/280

A search in slack for "delete the stacks" is one example of the suffering that was experienced early on with the previous infrastructure.

[2021-08-30 17:57] matthopson commented on #8036
@ttlenard This isn't on MIG. AFAIK, this fix is only on the test environment.

[2021-08-30 17:59] ttlenard commented on #8036
FACE SLAP.  I will retest on TEST...ahh geez...

[2021-08-30 18:27] ttlenard commented on #8036
This looks great on TEST.  Thank you Matt!! (and sorry for my mishap with the environments)

[2021-08-30 19:46] mmarcotte opened #1626 "Upgrade Dynamsoft Scanning Plugin to the latest"
Right now we're at 14.3.1, and the [current version is 17.1.1](https://www.dynamsoft.com/web-twain/docs/info/schedule/stable.html#breaking-changes) Looks like there may be some breaking changes, and we would want to be careful with testing this in the Staging environments first.

It may cause some outage for Flexion deployments that are reliant on the 14.3.1 path, so coordination with them will be

[2021-08-30 19:46] mmarcotte opened #1627 "Ensure Court Users are using TWAIN drivers for their scanners"
https://github.com/flexion/ef-cms/issues/8800

TODO Grab specific TWAIN drivers for kodak printers

- [x] kodak i2600
- [x] kodak i2900

This story on Flexion's board helped track down the issue. The main problem is that Court users are having issues scanning, especially with Document Feeders. And we need to ensure that they are using the TWAIN drivers for their scanners in order for the document

[2021-08-30 19:55] mmarcotte commented on #8026
Moved to https://github.com/ustaxcourt/ef-cms/issues/1627

[2021-08-30 19:55] #8026 closed, assigned to ericsorenson, TomElliottFlexion

[2021-08-30 20:11] klohman commented on #8014
#### Test 3
* On the Edit Docket Entry screen - we don't need to show both alerts. if case status is New, display only the yellow warning message.
![Screen Shot 2021-08-30 at 3.55.31 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/eb96e7eb-b036-4aa8-9b52-11f485bd69a4)

#### Test 7
* On Document View for a paper-filing, the warning message "Document cannot be served until the

[2021-08-30 20:15] #7985 closed, assigned to nobody

[2021-08-30 21:18] kkoskelin commented on #8014
Pending changes made so that if the petition itself is unserved *AND* the petition is the selected document, it still says "Not Served":
![Screen Shot 2021-08-30 at 4 15 08 PM](https://user-images.githubusercontent.com/2445917/131406595-627dd667-691f-4083-a74b-da259012c206.png)

However, all other documents will show as below:
![Screen Shot 2021-08-30 at 4 15 14 PM](https://user-images.githubuserc

[2021-08-30 21:22] cholly75 commented on #8030
@mmarcotte Is this what you were looking for, or is further discussion needed?

[2021-08-31 13:07] #8022 closed, assigned to nobody

[2021-08-31 13:12] #7155 closed, assigned to nobody

[2021-08-31 13:25] klohman commented on #8014
@kkoskelin Your first instinct is right. Let's show "Not Served" for the Petition document, but the "Document cannot be served...." message for all other documents.

[2021-08-31 14:11] ttlenard commented on #7967
I looked in a few random cases and no longer saw the Notice of Trial Date in the JSON. I also looked at a few random cases that had a trial date and they HAD a Notice of trial date in the JSON, so this looks good to me! Thank you.

[2021-08-31 16:21] cholly75 opened #8048 "Opinion Search: UI Fix"
As a user of Opinion search, I would like the fields to display in a more organized manner so I can more easily use Opinion search.

The current UI for Opinion search has been changed over the course of making multiple fixes for browser compatibility to support Order search; we need to make some adjustments to the UI to reorganize the fields given the current display code.

## Pre-Conditions

## A

[2021-08-31 17:28] matthopson commented on #8047
@klohman It looks like you were maybe trying to upload a PDF here? ☝️

[2021-08-31 17:29] matthopson commented on #8047
@mmarcotte We're going to need to get the test env updated with prod before this can be addressed. This will technically be a blocker.

[2021-08-31 17:41] klohman commented on #8048
### Updated Opinion UI

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/9a959e8c-4ca8-4675-a68a-c6b071d4b224)

**Opinion Type**
* should support multi-select of checkboxes

[2021-08-31 18:27] cholly75 commented on #7572
@mariahkannenberg Confirmed in MIG, this is still an issue. Unblocking.

[2021-08-31 19:01] #690 closed, assigned to mmarcotte

[2021-08-31 19:01] #1528 closed, assigned to mmarcotte

[2021-08-31 20:45] cholly75 opened #8049 "Handle Maintenance Mode Gracefully for Non-WebSocket Connections"
As a system, I want to be able to gracefully handle the recently implemented maintenance mode in DAWSON for users who are not using WebSocket connections, so that I can reduce disruption to their user experience.

This is a companion story to ustaxcourt/ef-cms#7493 and is intended to address those users and systems connecting to DAWSON via http or other non-WebSocket method.

## Pre-Conditions

##

[2021-08-31 20:47] cholly75 commented on #8049
@mmarcotte Please go ahead and include any relevant analysis or acceptance criteria. Thanks!

[2021-09-01 00:22] cholly75 commented on #7500
@klohman - Use cases for choosing "none": return mail and trial minutes are both docket additions that should not be served when filed.

[2021-09-01 13:29] #7965 closed, assigned to nobody

[2021-09-01 13:31] klohman commented on #7500
@cholly75 Returned Mail (RM) and Trial minutes (I believe those codes are TRL, PTRL, etc.) are flagged as isUnservable, so no one is served already. Do you want to chat and (if needed) update the AC for this story together? cc. @mariahkannenberg

[2021-09-01 14:25] ttlenard opened #8050 "Admissions Clerk: Prevent changing practitioner employer field if practitioner is associated with Open cases"
As an Admissions Clerk, in order to prevent a docket clerk from having issues with editing Counsel (Private and IRS) correctly, I need to be prevented from switching the employer field while editing a practitioner if the practitioner is associated with Open cases.

## Pre-Conditions
A practitioner has switched employers
Ex: IRS Attorney switches employers and moves to Private
Ex: Private Practitio

[2021-09-01 14:37] ttlenard commented on #8042
After a deep dive, we have determined that Mr. Phillips filed the EA while his profile had him under Private as his employer.  His employment did get switched to IRS, but this was after he had filed those petitions.  This caused some issues where Docket or Admissions could not remove him from private counsel.  Solution: Admissions will switch his employer back to private, then they will be able to

[2021-09-01 14:38] #8042 closed, assigned to matthopson

[2021-09-01 14:38] codyseibert commented on #7932
We tested this code on the court's dev on 8/31/2021 and it appeared to wait until everything was reindexed as expected.

[2021-09-01 15:52] mmarcotte opened #8051 "Recover from Failed SES Health Check"
## Pre-Conditions

- https://github.com/flexion/ef-cms/issues/8917 is Done

## Acceptance Criteria

* As a DAWSON Administrator, so that I can be informed when the system has recovered, I need the system to alert me via the `system_health_alarms` SNS topic when service Emails are able to send again.
* As any DAWSON user with access to the Health Checks, so that I can know the status of the system,

[2021-09-01 16:23] mmarcotte opened #8052 "Private Practitioner changes Email to IRS/DOJ"
As a Private Practitioner who is joining the IRS or Department of Justice, so that I can ensure a smooth transition and avoid conflicts of interest, I need to remove myself from all of the cases I currently represent petitioners before proceeding.

## Pre-Conditions

## Acceptance Criteria

- If a Private Practitioner changes their Email address to `@*.irs.gov`,  `@*.doj.gov`, `@*.treas.gov` and t

[2021-09-01 16:26] mmarcotte opened #8053 "IRS Practitioner changes their Email to non-IRS/DOJ"
As an IRS Practitioner who is leaving the IRS or Department of Justice, so that I can ensure a smooth transition and avoid conflicts of interest, I need to remove myself from all of the cases I am currently the respondent before proceeding.

## Pre-Conditions

## Acceptance Criteria

- If an IRS Practitioner changes their Email address from `@*.irs.gov`,  `@*.doj.gov`, `@*.treas.gov` to a non-IRS/

[2021-09-01 16:55] #1606 closed, assigned to nobody

[2021-09-01 17:35] mariahkannenberg opened #8054 "Update Email: Notice of Change of Email Address - Practitioner"
As the Court, in order to create a transparent record of when a party's email address is changed, a Notice of Change of Email Address should be generated by DAWSON whenever a practitioner's email address is updated in the system.

## Pre-Conditions
* A practitioner has completed the verification process of updating their email and the update has been committed to DAWSON, regardless of whether it w

[2021-09-01 17:38] klohman commented on #7674
## Notice of Change of Email Docket Entry

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/95f4718d-ca13-44ce-a6d0-e38b272c90bb)

[2021-09-01 17:38] klohman commented on #7674
### 7643 Party Changes Email and Notice is Generated

**Note: Court users do not currently have the ability edit a party’s email address - only the party can make that update.**

#### 1) Unrepresented petitioner updates and does not verify email and a Notice of Email Change is not generated
* Login as petitioner
    * Petitioner is not represented by counsel
    * Has cases
        * In New status

[2021-09-01 17:54] klohman commented on #8054
## NOCE Docket Entry

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/4bc7331d-2648-4235-92a9-c54178126144)

[2021-09-01 17:54] klohman commented on #8054
### 8891

#### 1) Practitioner edits email and does not verify and no Notice of Change of Email is generated
There are a couple of steps to set this test case up.
*Log in as an Admissions Clerk
* Click on the advanced tab in the upper right hand corner
* Click on Practitioner tab
* Click on the Add new practitioner.
* Create a new Private Practitioner (select employer as Private) and an IRS practi

[2021-09-01 18:13] kkoskelin opened #8055 "BUG: Cannot open "Order or Notice" workflow from "Paper Filing" page"
**Describe the Bug**
When viewing case detail, if you navigate to the "Paper Filing" page but then instead attempt to open "Order or Notice", the page goes blank and an error occurs in the console.

The workflow described below would entail first abandoning the form used to create a paper filing -- but it's easy enough to arrive there if you accidentally select the wrong item from the "Actions" me

[2021-09-01 19:30] matthopson commented on #7572
PR with temp fix to only search on last name: https://github.com/ustaxcourt/ef-cms/pull/1638

@cholly75 to work on creating stories to address uniquely identifying / associating judges in the system.

[2021-09-01 20:22] #1559 closed, assigned to mark-meyer

[2021-09-01 21:30] cholly75 opened #8056 "Court: Standalone Remote Trial Sessions - Creation"
**As a Court user, I would like to be able to create Standalone Remote Trial sessions so that I can accommodate calendaring of remote trials on an as-needed basis.**

As the Court moves into a new era of remote and in-person sessions, we are also going to have "standalone remote trial sessions" that will not follow the normal calendaring process.  These are sessions that are scheduled **without**

[2021-09-01 22:23] kkoskelin commented on #7581
I created all seven opinion documents as PDFs just like the attached.
[opinion-1.pdf](https://github.com/flexion/ef-cms/files/7094690/opinion-1.pdf)

Then I uploaded them with the specified titles in the above scenarios and added them as TC Opinions.
![Screen Shot 2021-09-01 at 5 06 26 PM](https://user-images.githubusercontent.com/2445917/131753125-20af94bb-827b-4ba2-9327-f88bbe44ffd9.png)

I perf

[2021-09-01 23:10] kkoskelin commented on #7581
https://github.com/flexion/ef-cms/pull/8897

[2021-09-02 15:48] mmarcotte commented on #8025
Thanks for all the hard work on this @sutt0n and @codyseibert. This will be a sweet addition right into the codebase, and it looks much more straightforward than the gatling solution we had been using.

Here's my feedback thus far:

- Please add `tokens.csv` to `.gitignore`. I would hate for someone to inadvertently commit and push that file to github.
- Please change `DEFAULT_PASS` to `DEFAULT_AC

[2021-09-02 18:41] TomElliottFlexion commented on #7585
Screenshots to illustrate the above:
NOTE: following Kris's example, I made a _local_  change to reveal the complete document title (instead of just document type e.g. "T.C. Opinion") so we could see which ones were being returned in the searches.![Screen Shot 2021-09-02 at 1.28.48 PM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/89a9d085-59fc-443e-a07c-85754963a201)![Screen S

[2021-09-02 18:46] TomElliottFlexion commented on #7585
![Screen Shot 2021-09-02 at 1.38.40 PM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/6d34138b-f9f2-4a99-9ff6-5cd3956ddaae)
![Screen Shot 2021-09-02 at 1.39.04 PM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/1bdb85b6-589a-4330-a8ac-b5b00c20e67c)
![Screen Shot 2021-09-02 at 1.39.31 PM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/539dd3

[2021-09-02 18:50] TomElliottFlexion commented on #7585
No code changes

[2021-09-03 13:53] cholly75 commented on #8055
Confirmed this is happening in PROD as well.

[2021-09-03 14:58] kkoskelin commented on #8054
This story should probably be picked up *after* ustaxcourt/ef-cms#7674 since much of the code will be shared.

[2021-09-03 15:32] klohman commented on #7500
## Add Paper Filing - No UI Change

**On Save and Serve**
All parties other than the filing party are served
Filing party or parties are not served
Docket entry reflects served date and the parties served
P - if only petitioner, intervenor, participant, or counsel was served
R - if respondent only was served
B -if both any petitioner, ntervenor, participant, or counsel AND respondent were served

[2021-09-03 15:37] klohman commented on #7500
## Tests

#### 1) Docket clerk adds paper-filing and non-filing parties have all electronic service
* Login as docket clerk
* Go to case
    * Case has at least 2 petitioners
        * petitioner1
        * petitioner2
* All parties on case have electronic service
* Click Add Paper Filing
* Select filing party = petitioner1, petitioner2
* Save and Serve
Expected results
- [ ] Document is added to

[2021-09-03 15:51] ttlenard commented on #8014
Test Case 5 - As docket Clerk, if you choose add paper Filing, the save and serve button is still visible, and if you click it, you DO get a warning message stating it is NOT electronically served, but on the docket record, it shows it was served.  I was in 20050-21.
-
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/606dbb81-5837-4ef1-9227-8bbe35d0ac7e)

[2021-09-03 16:29] cholly75 commented on #7456
Thanks @ericsorenson - closing issue.

[2021-09-03 16:29] #7456 closed, assigned to nobody

[2021-09-07 14:37] mariahkannenberg commented on #7931
Everything passed in prod successfully. Ready for acceptance, unless feedback.

[2021-09-07 14:38] mariahkannenberg commented on #7930
Cody out all week. Connect w/Mike on acceptance.

[2021-09-07 14:42] mariahkannenberg commented on #8014
None of this story can go live with Batch 8. @kkoskelin @TomElliottFlexion @ericsorenson

[2021-09-07 14:47] mariahkannenberg commented on #7572
Opinion not turned on in Court's test environment.

[2021-09-07 14:54] ttlenard commented on #1564
Updated language to this:

Thank you for contacting DAWSON Support. Please note that the email address is case sensitive, so please be sure to enter your Email Address exactly as you see it below:

%filltext:name=Email Address:width=40%

If you do not recall your password, you should be able to reset it by following these instructions: 

1. Go to https://dawson.ustaxcourt.gov
2. Click on "Log-in"

[2021-09-07 14:56] ttlenard commented on #1563
We do have this one in Text Expander:

Thanks for getting in touch with DAWSON Support.  We’re always looking to hear how we can better meet your needs, and although we don’t publicly comment on our roadmap of features, we regularly use feedback like this to help ensure we’re on track and make adjustments.

Did we want to edit this existing snippet?

[2021-09-07 16:03] klohman commented on #8046
[Search Feedback Form Responses ](https://docs.google.com/spreadsheets/d/1bZCcjLwQVnB6ZV1eIgjsjQS7PbYXvFAQ/edit#gid=403909158)
* one anonymous response received; unknown issue and no follow up recommended at this time

[2021-09-07 16:05] cholly75 opened #8057 "Opinion Search: Date Selection Fields"

[2021-09-07 16:06] #8057 closed, assigned to nobody

[2021-09-07 16:09] cholly75 opened #8058 "Opinion Search: Date Selection Fields"
As a user searching for Opinions, so that I can refine my search I need to be able to add a date range as criteria.

Currently, the date fields on the Opinion search UI return the error "Enter a Valid Start Date" when populated (screenshot below).

## Pre-Conditions

## Acceptance Criteria
(Note: AC should include non-standard testing, deployment, documentation or security requirements)
* Date fie

[2021-09-07 17:09] mmarcotte commented on #1564
worked great, thanks Tenille!

[2021-09-07 17:09] #1564 closed, assigned to ttlenard

[2021-09-07 17:11] mmarcotte commented on #1563
We are going to use the `;soon` snippet for this, thanks Tenille!

[2021-09-07 17:11] #1563 closed, assigned to ttlenard

[2021-09-07 17:14] mmarcotte commented on #1610
Not going to happen...

[2021-09-07 17:14] #1610 closed, assigned to nobody

[2021-09-07 19:13] ttlenard commented on #8047
Just reviewed this over on TEST. The updates to the document look great. Thank you for fixing those!

[2021-09-07 20:43] TomElliottFlexion commented on #8014
The commits that had not yet made it from dev -> staging have been cherry-picked and [merged](https://github.com/flexion/ef-cms/pull/8906) into staging, and this story has been moved back to Batch 8. @cholly75 @mariahkannenberg @kkoskelin

[2021-09-07 20:53] #8046 closed, assigned to nobody

[2021-09-07 21:05] cholly75 commented on #8040
Test cases (identical to OR operator tests for Orders) - the following scenarios should all produce results matching title/contents containing the search query:

Keyword OR keyword in document title and contents

Keyword OR keyword in document title only

Keyword OR keyword in contents only

“Exact match Keyword phrase” OR keyword in document title and contents

“Exact match Keyword phrase” OR key

[2021-09-08 18:36] #7455 closed, assigned to nobody

[2021-09-08 18:37] mariahkannenberg commented on #7455
Court to address

[2021-09-08 18:37] #7457 closed, assigned to nobody

[2021-09-08 18:37] mariahkannenberg commented on #7457
Court to address

[2021-09-08 20:52] mmarcotte opened #8059 "Total failure at service email should alert SES Health Check"
As the Tech Lead, so that I know there is a problem with the Court's outgoing email service, the SES Health Check should reflect an unhealthy status when a total failure occurs attempting to perform a service email.

As any DAWSON user with access to the Health Checks, so that I can know the status of the system, I need the SES Health Check to show an unhealthy state when one service email complet

[2021-09-08 21:27] cholly75 opened #8060 "Opinion Search: Associate Judge to Bench Opinion"
As a user of Opinion search, I would like to be able to filter my opinion search by Judge so that I can see the most relevant results.

Currently, bench opinions are not associated with the judge that signed the Order of Service of Transcript (OST) associated with the bench opinion. We need to be able to associate the correct judge to the opinion in DAWSON .

## Pre-Conditions

## Acceptance Crite

[2021-09-08 21:44] cholly75 opened #8061 "Standalone Remote Trial Sessions - Functionality"
**As a Court user, I would like to be able to use Standalone Remote Trial sessions so that I can accommodate calendaring of remote trials on an as-needed basis.**

As the Court moves into a new era of remote and in-person sessions, we are also going to have "standalone remote trial sessions" that will not follow the normal calendaring process.  These are sessions that are scheduled **without** any

[2021-09-09 14:29] ttlenard opened #8062 "BUG: When Editing a docket entry, I get an error to enter a valid date, even when the date is valid"
**Describe the Bug**
A clear and concise description of what the bug is.
This bug was reported by a Docket Clerk (Patricia Anchors) in Prod.

When a docket clerk edits a certain type of docket entry (Docket entry ustaxcourt/ef-cms-flexion#4 in 2332-21), the date field gives an error message that they must enter a valid date (even though it is a valid date).  What is happening is that the date has

[2021-09-09 20:20] cholly75 opened #1647 "Pen Testing: Found API key"
The Court engaged a third-party (NSSPlus) to perform penetration testing and  a vulnerability assessment of DAWSON.  NSSPlus reported an informational item relating to Found API Key.  NSSPlus' findings and recommendations are included in Notes below.

## Acceptance Criteria:
* Remediate issue found by NSSPlus re: Found API Key

## Notes:
* See section 7.2 of this report for NSSPlus' findings and r

[2021-09-09 20:21] cholly75 opened #1648 "Pen Testing: Email Addresses Found"
The Court engaged a third-party (NSSPlus) to perform penetration testing and  a vulnerability assessment of DAWSON.  NSSPlus reported an informational item relating to Email Addresses Found.  NSSPlus' findings and recommendations are included in Notes below.

## Acceptance Criteria:
* Remediate issue found by NSSPlus re: Email Addresses Found

## Notes:
* See section 7.4 of this report for NSSPlus

[2021-09-10 13:36] cholly75 opened #8063 "Simplify Judge Data In DAWSON"
As a developer, so that I can more easily work with data associated to specific judges, I would like to streamline judge data in DAWSON.

Currently when using features such as filters on the search screens, we have several different ways of doing judge lookups that involve regular expressions, reading text strings, as so on. It would be more efficient to rationalize how we retrieve and refer to ke

[2021-09-10 14:17] klohman opened #8064 "BUG: Max character count error on document title displaying erroneously"
**Describe the Bug**
When adding a paper-filing with event code MISC and leaving the description field blank, the character limit error is displaying as well as the validation error on the description field.

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
migration

**Who were you logged in as?**
docket clerk

**What were you doing when you discovered this

[2021-09-10 14:33] klohman opened #8065 "BUG: Editing Paper-Filing with event code MISC before serving routes to wrong screen"
**Describe the Bug**
When editing an unserved paper-filing with event code MISC (or MISCL), the app is routing to the "Edit Docket Entry" screen" (/edit-court-issued) instead of the Edit Paper Filing screen (/complete).

Notes: Event code MISC is on both the internal events and court-issued events lists (intentionally). However, when this code is added as a paper-filing and saved, it seems to be r

[2021-09-10 14:34] ttlenard opened #8066 "BUG: If Docket adds a document to pending report, and then marks a case as high priority, the UI indicates the case is Blocked"
**Describe the Bug**
A clear and concise description of what the bug is.
If Docket is editing docket records, and adds a document to the pending report, the case will have a blocked flag on the UI.  If Docket THEN marks the case as high priority, the blocked flag remains on the UI (The blocked flag should be removed, since high priority status takes precedence over blocked status).  Good news is t

[2021-09-10 17:54] #1477 closed, assigned to mmarcotte

[2021-09-10 18:46] matthopson commented on #8062
PR: https://github.com/ustaxcourt/ef-cms/pull/1651

[2021-09-13 15:21] ttlenard commented on #7493
@mmarcotte will be reaching out to the IRS today (9/13/21) to schedule some testing in the IRS Test environment to ensure that the IRS environment isn't affected.

[2021-09-13 18:13] klohman commented on #8056
#### Notes

**What is the purpose of a “standalone remote trial session”?**
    - Petitioners can elect to do remote trial - would submit a motion
    - Remote session has a date - 3 set for winter already
    - Need to add cases at any time before the session date
    -  Cases will come and go from this session and the session cannot automatically close when there are no cases
    - Needs to rema

[2021-09-13 19:48] kkoskelin commented on #7674
Business Logic Questions:
 * if petitioner on case did not previously have e-access (no previous email), should NOCE be filed?
   * does "update" (in story summary) mean only when updating from one defined value to another, and _not_ when setting an initial value from empty?
 * design guidance requested for formatting of NOCE pdf (see screenshot below)

![Screen Shot 2021-09-13 at 1 41 14 PM](http

[2021-09-13 22:58] mmarcotte opened #8067 "BUG: Migration blocked by overloaded segment"
**Describe the Bug**

When performing a migration in Production, one of the segments repeatedly timed out after 15minutes of Lambda execution, which is the maximum. It processed as many records as it could, but the segment has become too overloaded.

The `pk` that appears to be overloaded is `section-outbox|docket`.

It appears the codebase really only looks for records that are seven days old, an

[2021-09-14 12:50] cholly75 commented on #7674
@klohman @kkoskelin What do we do when adding a phone number to a (not NEW) case where none previously existed (or N/A existed)? I should think we would want to follow the same logic here.

[2021-09-14 12:54] klohman commented on #7674
@cholly75 The phone number field is required, so it really always exists (it just may say "No telephone number" or "N/A'. If we want to follow the same logic, that means every time a petitioner is granted eAccess to a new case, this Notice will be generated, if that's the desired behavior. The Notice itself than could just have "No email provided" as the previous email.
@kkoskelin

[2021-09-14 12:59] cholly75 commented on #7674
@klohman I think that's OK, since this will only affect cases not in NEW status, then changing from an absence of an email to the presence of an email would warrant a notice. I like the "no email provided" verbiage for the prior email address in the notice.

[2021-09-14 13:49] ttlenard commented on #8014
Some testing feedback:

For brand new cases, the system prevented service from happening if the petition was not yet served (yay!)  However, for the records that had docket entries that had been served already and a petition that had not yet been served, there was some different behavior.  I talked with Chris about this and we think it will be ok (I think there are only 9 cases in PROD that are in

[2021-09-14 15:23] #8030 closed, assigned to matthopson

[2021-09-14 15:23] #8032 closed, assigned to nobody

[2021-09-14 15:23] #8031 closed, assigned to nobody

[2021-09-14 15:24] #8018 closed, assigned to kkoskelin, TomElliottFlexion

[2021-09-14 15:41] kkoskelin commented on #7674
@cholly75 This story seems to have been focused primarily on the user-verification process which would generate the NOCE.  However, there is another scenario in which the existing user in cognito is assigned to a case.  For this scenario, no verification is required.  However, this scenario is also not covered in the acceptance criteria.

Should this new scenario (in which an existing eAccess acco

[2021-09-14 16:11] TomElliottFlexion commented on #7674
Updated NOCE @klohman ![Screen Shot 2021-09-14 at 11.10.59 AM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/a97ea8aa-a230-44a6-a2e6-c4b78e356a4e)

[2021-09-14 16:11] ttlenard opened #8068 "BUG: Orders that are 2 or more pages in Length have two different font types"
**Describe the Bug**
A clear and concise description of what the bug is.
An Order that is 2 or more pages have two different font types.  The Text of the Order is Times New Roman, but the Header (where it has the docket # and page #) is Calibri (I think?)  These fonts need to both be Times New Roman to be consistent.

**Business Impact/Reason for Severity**
This is low severity

**In which environ

[2021-09-14 17:14] mariahkannenberg commented on #8067
Blocking this until we get a business decision on deleting data from @JessicaMarine or @cholly75

[2021-09-14 17:27] cholly75 commented on #7674
@kkoskelin That would be a separate story; this is concerned with the change of a party's email address, adding a party to a case would be a different scenario, unless I'm missing some nuance here?

[2021-09-14 17:37] mmarcotte commented on #7493
We need to discuss the next steps we need to take here. As feared, the IRS cannot log into DAWSON. They are presented with an error, the same error as https://github.com/flexion/ef-cms/issues/7959

[2021-09-14 17:39] kkoskelin commented on #7674
@cholly75 I think we'll need to discuss further -- as mentioned in a previous message, this workflow has been focused on the verification of email as the trigger (which is sometimes but not always the product of "change of a party's email address"), without regard to what process triggered it.  Our work on this story thus far makes no distinction between the scenarios you mention.

[2021-09-14 17:42] mariahkannenberg commented on #7674
BLOCKED - There are some nuances we need to discuss with @cholly75 around the AC referenced above before we unblock.

[2021-09-14 17:43] mariahkannenberg commented on #7932
@cholly75 This is ready for your review.

[2021-09-14 18:50] ttlenard commented on #8055
I tested this and I am no longer seeing the blank screen while navigating from Paper Filing to an Order. Thank you!

[2021-09-14 18:55] JessicaMarine commented on #7674
@cholly75 I just worked with the team to re-work the AC.  Because the generation of the Notice of Change of Email Address was tied to the verification process, there is no real easy way to bifurcate the verification that occurs when a party changes their email address versus the verification that is required when Admissions adds a new email address for a party.  As a result, some additional work n

[2021-09-14 21:29] cholly75 commented on #7493
Moved back to In Progress to address defect (IRS issue).

[2021-09-14 21:34] mmarcotte commented on #7493
This breaks for all IRS Practitioners. When the system is not in maintenance mode, IRS Practitioners cannot log into DAWSON and perform any function. Effectively, this disables DAWSON for IRS Practitioners. Their browsers are configured to block WebSockets requests.

It would seem that we might be able to catch the Network Error that is currently occurring upon logging in that establishes the WebS

[2021-09-14 21:35] TomElliottFlexion commented on #7674
Upon further investigation, it seems that it is not possible for a party to update their own email address to one already in use (AC bullet 2) ![Screen Shot 2021-09-14 at 4.33.40 PM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/4748c6d0-aa50-4598-91dc-c60961fb1465) @JessicaMarine @cholly75

[2021-09-15 13:03] klohman commented on #8061
@JessicaMarine @cholly75 Question on 8919 Standalone Remote Trial Session

- Can cases be added to this session for hearing?
- We do not automatically generate a Notice of Trial when a case is manually added to an Open trial session. Should we auto-generate this Notice for the Standalone Remote sessions?

[2021-09-15 13:08] JessicaMarine commented on #8061
@klohman
1. yes, they should be able to add cases for hearing to these sessions.
2. No, there should not be any notices auto-generated with respect to these sessions.

[2021-09-15 13:22] mariahkannenberg commented on #8014
Blocked - Waiting on decision referenced in above comment. @cholly75 @JessicaMarine

[2021-09-15 13:25] mariahkannenberg commented on #7674
Still blocked - Technical incompatibility with AC ustaxcourt/ef-cms#6492. See above last two comments.

[2021-09-15 13:33] JessicaMarine commented on #7674
@TomElliottFlexion  I took that AC 2 out. It was only included for completeness.

[2021-09-15 14:10] mariahkannenberg commented on #8067
Moved to New - Mike taking ownership to resolve in Court envs.

[2021-09-15 14:29] mariahkannenberg commented on #8014
Unblocked - going to backlog a story to fix the 9 issues. Tenille to backlog.

[2021-09-15 14:42] mariahkannenberg commented on #8048
Blocked - Failed to migrate. Possibly linked to the same issue w/PK-outbox...

To unblock, @mmarcotte to look into it.

[2021-09-15 14:43] mariahkannenberg commented on #7581
Blocked - Currently can't make it to MIG. @mmarcotte

[2021-09-15 15:50] ttlenard opened #8069 "Court: Prevent parties from being served cases documents before the petition is served, even when other documents have already been served in the case"
As a party in a case, when a document has already been served before the petition, I need my petition to be served before any other documents in the case are served.

This is related to Story [8763](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/8763).  8763 solved the issue with all brand new cases that didn't yet have any other document served in t

[2021-09-15 17:42] ttlenard commented on #8062
Tested this and I am now able to edit a date in the past. Thank you!

[2021-09-16 12:16] ttlenard opened #8070 "Private Practitioner filing a petition has same modal pop-up as Petitioner, and the pop-up is not needed"
As a Private Practitioner, when I am filling out a petition for Petitioner and Spouse, I receive a pop up with incorrect references to "Myself" and "Your Spouse", and I would like this pop up to be removed from the workflow, as it is not needed.

Log in as a Private Practitioner
Begin filling out the petition
When you get to the question "Who are you Filing this Petition for?", select Petitioner a

[2021-09-16 13:34] mmarcotte commented on #7932
So close, but I think it's also too close for comfort. [The CircleCI job](https://app.circleci.com/pipelines/github/ustaxcourt/ef-cms/2734/workflows/25ed4695-d1bd-4c94-993e-98972a3eccc4/jobs/26695) timed out at 5 hours when it was very close to completion.

The bones of this solution are excellent, and I think we can and should make use of them. It's just that the long running items with the deplo

[2021-09-16 13:38] mariahkannenberg commented on #7932
@codyseibert See above comments

[2021-09-16 14:35] codyseibert commented on #7932
doing some research, there may be a way to "block" a build to wait for approval.  We could use a lambda cron to invoke the circle job's Approve a job to have it continue with the reindexing is done.  https://circleci.com/docs/api/v2/#operation/getWorkflowById

[2021-09-16 15:47] TomElliottFlexion commented on #7674
~@JessicaMarine @cholly75 More questions! If a verified email has already been added to a party on a case, should that address be blocked from being added to another party? Should we allow multiple parties to be associated with the same verified address (and cognito account)? @kkoskelin @codyseibert~
Note/Open question for future stories: Adding the _same_ **_verified_ **email address to a second

[2021-09-16 16:28] ttlenard commented on #8048
I think the UI looks great! I checked on mobile as well.

[2021-09-16 19:27] matthopson commented on #7500
@klohman I think I know the answer to this, but just want to be clear.... In a scenario like where a Petitioner is filing a document, they would not be served - but I _assume_ the intent is to show a P (even though they weren't served, they were the only party that _would_ be served if they weren't the filing party). 🥴

[2021-09-16 19:29] JessicaMarine commented on #7500
@matthopson No.  If P files a document, then they wouldn't be served.  So, the served party would be R (or blank if nobody is served).

[2021-09-16 19:33] matthopson commented on #7500
@JessicaMarine  Thanks!

[2021-09-16 19:57] mmarcotte commented on #7932
As this is where most of time takes place on the CircleCI job, I think this is a viable path forward.

[2021-09-17 14:31] klohman commented on #8056
### Create Trial Session UI

#### Session scope
* New datapoint to identify a session

**Location-based**
* selected by default
* This is the session scope for all trial sessions other than Standalone Remote session (aka all of our current sessions)
    * Includes all in person or remote sessions that have a trial location identified
* If selected,  display the current Create Trial Session form

!

[2021-09-17 15:49] ttlenard opened #8071 "BUG: Users are getting logged out of DAWSON unexpectedly"
Timebox - day to reproduce; day or two to poke around code

**Describe the Bug**
A clear and concise description of what the bug is.

Users are getting logged out of DAWSON unexpectedly.  Court users have reported that they continually get logged out of DAWSON multiple times a day.

* Note: Steps to reproduce at least two ways in Edge to cause this have been confirmed below.

Related to https://gi

[2021-09-17 15:58] klohman commented on #8056
### 8896 Test Cases

#### 1) Petitions clerk adds location-based trial session (Regular, Small, Hybrid)
* Login as petitions clerk
* Go to Trial Sessions
* Click Add Trial Session button
* Session scope = location-based
* Session type = Regular / Small / Hybrid
* Complete form
* Save
Expected results
On Create Trial Session form
- [ ] Location based is selected by default on form
On Save (existing

[2021-09-17 17:00] klohman commented on #8061
## Editing Standalone Remote session

* on click of Edit button from the Trial session detail screen, route to Edit Trial Session form (Standalone Remote)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/79d758e6-da80-4f7f-8701-6acd727241a6)

## Add to Trial / Set for Hearing modals
* Session displays in Select trial session dropdown in Add to Trial modal
* Session displ

[2021-09-17 18:19] klohman commented on #8061
## 8919 Test Cases

#### 1) Petitions/docket clerk edits Standalone Remote session
* Login as petitions or docket clerk
* Create Standalone Session
* Go to Trial Session > Open
* Click Standalone Remote session link
* Update information
* Save
Expected results
On click of Edit
- [x] app routes to Edit Trial Session form
- [x] form displays field for Standalone Remote session (per design)
On click

[2021-09-17 18:21] klohman commented on #8061
@cholly75 Clarifying question on last AC: Ability for the court to turn on or off in production as desired after deployment.

Do we expect that this functionality would be turned off only if there are no existing standalone remote sessions open? Is the "turning off" portion more related to turning off the ability to create any new standalone remote sessions, or do we need to address more than that

[2021-09-17 18:24] klohman commented on #8061
Blocked until 8896 is complete

[2021-09-17 18:27] cholly75 commented on #8061
@klohman No, this AC was only intended to put this feature behind a "feature flag" in case it was done and deployed before the court was ready to start using it.

[2021-09-18 03:11] mmarcotte opened #8072 "Allow Court User ability to Download all of the documents from a Case"
As a Court User, so that I can easily get all of the documents associated with a case with minimal clicks, I would like to have a button or link to download all of the documents about a case
As a Court User, so that I can have control of what documents I download, I would like to have the option of downloading any combination of Sealed, Unsealed, Correspondence (are there others?) documents.
As a

[2021-09-20 13:07] #8049 closed, assigned to nobody

[2021-09-20 13:07] ttlenard opened #8073 "BUG: Court user is unable to serve documents"
**Describe the Bug**
A clear and concise description of what the bug is.
Docket clerk indicated that they are unable to serve paper filing documents in this case: 15977-18 and also 25605-15W.  They are getting an error message that states "Document cannot be served until the Petition is Served".  In this particular case, the Petition was served back in 2018.

## Acceptance Criteria
* Parties in a

[2021-09-20 13:10] ttlenard commented on #8073
I do notice that in this case, there is not a capital "P" Petition on the Docket.  The Petitions in this case appear to have event codes "MISC" and "PTFR".  While testing the story [8763](https://app.zenhub.com/workspaces/flexionef-cms-5bbe4bed4b5806bc2bec65d3/issues/flexion/ef-cms/8763) last week, we ran into problems with still being able to serve documents when the petition had not yet been ser

[2021-09-20 13:35] mariahkannenberg commented on #8061
@cholly75 If there are specific deployment/release strategy requirements, please include them in the acceptance criteria.

[2021-09-20 13:37] cholly75 commented on #8061
@mariahkannenberg - Kristen and I chatted about this on Friday, I've removed the requirements from this and its companion story. Are there any other blocking issues for this one, or is it just blocked because we need the companion story done first (which makes sense)?

[2021-09-20 13:43] klohman commented on #8061
@cholly75 @mariahkannenberg I added the blocked to this because 8896 needs to be done first. I don't believe anything else is blocking this.

[2021-09-20 13:45] kkoskelin commented on #8073
For the sake of 8763, the story was specifically depending upon finding not just any document, but specifically a _Petition_ which had been served by looking in the docket entries for an item with event code `P`.

Indeed, code in the repository relies upon the Petition being filed with `P` code, and not `PTFR`.
Fixes needed:
* identify complete list of document codes which are Petitions (if more t

[2021-09-20 14:17] ttlenard commented on #8073
FYI - We just got another report of Docket getting this error. Here is the docket #: 25605-15W

[2021-09-20 15:29] matthopson commented on #8014
@cholly75 I'm just pulling this over from Slack (thanks Mike). Are these conditions correct for this story / Bug ustaxcourt/ef-cms#8073 (https://github.com/flexion/ef-cms/issues/8952)?

Is there a petition document?

-- Yes; Is it served?
---- Yes; Allow service
---- No; Disallow service
-- No; are there other documents on the case that are served?
---- Yes; Allow service
---- No; Disallow service

[2021-09-20 15:36] cholly75 commented on #8014
@matthopson Yes, that's correct.

[2021-09-20 16:08] matthopson commented on #8014
@cholly75 Just one question for clarity - are we defining a petition document in ANY other way than a document with event code "P"?

[2021-09-20 16:10] cholly75 opened #8074 "Opinion Search: Allow Search w/o Keyword or Phrase Input"
As a DAWSON user, I need to be able to search Opinions without entering a keyword/phrase so that I may see all results based solely on other filter input.

As with order search, the ability to search for opinions solely by judge, date range, type, or combination thereof is a primary use case, particularly for public users.

Currently attempting to do so results in the DAWSON "We've encountered a t

[2021-09-20 16:18] cholly75 commented on #8014
@matthopson I'm relying on past conversations prior to my arrival at the Court for this; I believe ( @JessicaMarine can confirm) that it was determined that searching for all available petitions with all possible codes would be difficult or problematic to do with accuracy for legacy cases, hence the guidance to use the "if anything has already been served, consider the petition served" rule.

If t

[2021-09-20 16:26] cholly75 commented on #8014
@matthopson It looks like based on JSON files that the codes P, RAT, and PTFR are the only ones currently designated with the category of "Petition", if that helps. Doesn't solve the legacy case problem, but presumably all three of these would be considered a "petition" for current cases.

[2021-09-20 16:50] matthopson commented on #8014
Then is it more fair to say the logic should be:

[code]

The logic in the previous comment doesn't specify what a petition actually _is_. Without being able to correctly identify a petition we can't know if it's served or not. Relying, however, on whether it's a legacy case, we can easily just look for any document that's served - which seems to be the real intent here.

[2021-09-20 17:12] matthopson commented on #8014
Which I thought sounded familiar.. haha.
![Screen Shot 2021-09-20 at 11.12.17 AM.png](https://images.zenhubusercontent.com/5cadf168c7e4b91e9a637015/b4d169c5-f20c-4313-a70f-6254cb0c9ae3)

[2021-09-20 17:12] mmarcotte commented on #8014
@matthopson -- You would never get to "Is there a served petition [P, RAT, PTFR]" if there is no document served.

[code]

[2021-09-20 17:13] JessicaMarine opened #8075 "Court: Public Terminal with Access to All Unsealed Documents/Cases"
As the Court, in order to satisfy the requirements of Rule 27(b)(2), we need to provide a public terminal at the Courthouse in Washington, DC that provides a public user access to all unsealed cases and all unsealed documents within an unsealed case.

Rule 27(b) provides:
(b) Limitations on Remote Access to Electronic Files: Except as otherwise directed by the Court, access to an electronic file i

[2021-09-20 17:14] mmarcotte commented on #8014
The initial logic proposal that I made helps catch the untenable situation, which we could probably query for right now, of

[2021-09-20 17:17] cholly75 commented on #8014
@matthopson My worry is that we're building in a "gotcha" in case the Court adds a new petition event code down the line; wouldn't it be safer to check:

Is there a served petition [P, RAT, PTFR]?
-YES: Allow service
-NO: Is any document served?
  - YES: Allow service
  - NO: Disallow service

An alternative solution was discussed last week I believe that might also simplify the problem greatly: d

[2021-09-20 17:17] matthopson commented on #8014
That logic started by asking the question "is there a petition document served", not "is any document served", and I saw Chris kinda qualified the problem with legacy documents (as we've kinda discussed in past conversations).

@cholly75

[2021-09-20 17:27] matthopson commented on #8014
@cholly75

[code]

I think this effectively simplifies to "if any document is served, allow service - otherwise disallow service" - which is what existed before this story.

[2021-09-20 17:32] matthopson commented on #8014
@cholly75 @mmarcotte

Can we agree that this would cover all expectations? I'm happy to explore this approach, as it seems simple enough to rely on the case status and not care about the state of the docket record as long as there aren't any weird edges to this assumption.

[2021-09-20 17:52] cholly75 commented on #8014
@matthopson It should, yes; as long as we're restricting service (not entry) for non-Petitions users if the case is in NEW state, that would effectively solve the problem.

[2021-09-20 22:17] cholly75 commented on #8075
@JessicaMarine - added a few specifics to AC, please review.

[2021-09-21 13:15] #8058 closed, assigned to nobody

[2021-09-21 14:35] mariahkannenberg commented on #7932
There's more work to do on this - not meeting AC.

[2021-09-21 14:36] mariahkannenberg commented on #7581
Getting code to MIG today.

[2021-09-21 14:37] mariahkannenberg commented on #7674
Tom, Kris, Cody and Joshua working this today.
Jessica mentioned that this notice doesn't have a title, like the rest of them do. Add the title to the design. Tom and folks to add. Chris and Tom to also talk about question of service and backlog.

[2021-09-21 14:45] mariahkannenberg commented on #7500
Was in progress. Diverted to a bug. Move to batch 10. Matt can revert the change.
Anyone who picks up this story can talk to Matt about what he found. This is a "sticky" story - and has some assumptions.

[2021-09-21 14:45] klohman commented on #7674
@ttlenard @TomElliottFlexion  Notice of Change of Address does not have a title currently (on migration) so that's probably where the template came from for the new notice. We'll need to update both (I assume) to include the title above the "Please change the contact information..." line

![Screen Shot 2021-09-21 at 10.43.02 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/d84

[2021-09-21 14:56] TomElliottFlexion commented on #7674
@klohman @ttlenard  We currently add the title to the coversheet for all `Notice of Change` documents, should we add it to the document itself for all four? ![Screen Shot 2021-09-21 at 9.54.10 AM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/626cdc68-3313-4328-87ad-66d3d3ef3b19)

[2021-09-21 15:08] klohman commented on #7674
The title should be on the cover sheet AND the actual Notice. It was there previously, and I'm not sure when it was dropped but I don't think it was intentional.

[2021-09-21 15:49] ttlenard commented on #8073
I copied these same test cases over from 8763.  I also copied over a few more test cases that had failed with those 9 cases that existed on Prod. These came out of a comment on 8763 as well. It was the comment related to Service workflows.

**1) Docket clerk adds docket entry when case status = NEW**

- Login as docket clerk
- Go to case with status = NEW
- Create, save, sign Order
- Add Docket En

[2021-09-21 16:18] TomElliottFlexion commented on #7674
@ttlenard @klohman Updating the template to look like this: (Same as `Notice of Change` docs before ![Screen Shot 2021-09-21 at 11.13.12 AM.png](https://images.zenhubusercontent.com/601ac936c7e347e64fed075e/4f7303a9-f79e-4ed0-a957-6c9732f4ab9f)

[2021-09-21 18:39] mariahkannenberg commented on #8073
Blocked - Waiting for Court to finalize test cases. Once test cases are done, review w/engineers.

[2021-09-21 18:46] mariahkannenberg commented on #7932
Added Ready for Engineering Tag - This story in on hold while Cody joins another mob to help w/onboarding. Rae said she could pick up this story when 8896 is done.

[2021-09-21 19:11] ttlenard commented on #8073
Here are the specific Docket entries that had issues. Will be good to test with these cases:

- 15977-18 or 25605-15W (these are older cases that do not have the captial "P" Petition).
- These are the cases in Prod where the petition wasn't yet served, but other documents in the case were:
- 11701-21
- 19688-21
- 3756-21
- 18628-21
- 22635-21
- 18624-21
- 3668-21
- 5687-21
- 17600-21
- 18629-21

[2021-09-21 20:00] ttlenard commented on #7674
@klohman @TomElliottFlexion Thank for you getting the title added to the template!  It looks great! I'm a little confused by Kristen's first comment in that the title isn't on the Notice of Change of Address in MIG. Last week when I grabbed screen shots of each notice, I'm pretty sure I was in MIG and took this:

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/d9dfce61-c

[2021-09-21 20:02] mariahkannenberg commented on #8073
Unblocked - test cases complete.

[2021-09-21 20:11] klohman commented on #7674
@ttlenard Yes, this morning I checked the other Notices on mig because the Notice of Change of Email would have used the same general template. The title was missing from the other notices as well (likely a recent update made mistakenly), but I belivee @TomElliottFlexion is updating them all to ensure they have the title.

[2021-09-21 20:14] TomElliottFlexion commented on #7674
@ttlenard I can explain this; Both the `Notice of Change of Address` and the `Notice of Change of Email Address` are generated using the same template- a template we were/are still working on. The changes to `Notice of Change of Address` on migration are a part of this story, and the titles should be back to normal when this story is complete.

[2021-09-21 20:14] mariahkannenberg commented on #7500
7119 was started by Matt and then put on ice to work on a critical bug. He reverted code chagnes out of batch 9 on staging. Whoever picks this story up, can chat w/Matt about some of the challenges he encountered.

[2021-09-21 20:15] TomElliottFlexion commented on #7674
Thanks for pointing this out, we might not have noticed right away!

[2021-09-21 22:05] ttlenard commented on #8065
Tested this today 9-21-21, and now I am seeing the "edit paper filing" screen rather than the edit docket entry screen. Thank you so much for fixing this!

[2021-09-21 22:09] ttlenard commented on #7674
Thanks for the additional information!

[2021-09-21 22:23] matthopson commented on #8073
@cholly75 being able to ensure expected behavior for external users such as IRS Super user, is dependent on exposing the case status to the PublicCase entity. It wouldn't necessarily be displayed in the UI, but it would be part of the network request.

[2021-09-21 22:29] matthopson commented on #8073
PR, pending ☝️
https://github.com/ustaxcourt/ef-cms/pull/1668

[2021-09-22 14:05] cholly75 commented on #8073
@matthopson Yes, this is fine.

[2021-09-22 14:25] klohman commented on #8056
## UX Review

* Standalone session time is showing as 10:00 am ET on session detail screen. All standalone remote sessions should be 1 pm ET (can probably hard card this)
![Screen Shot 2021-09-22 at 10.18.15 AM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8677fdb5-5b73-49b3-aca8-e20a5584a651)

* I got an error when trying to create a Standalone session. It may be related to r

[2021-09-22 17:59] mmarcotte commented on #8067
Solved with https://github.com/ustaxcourt/ef-cms/pull/1669 See PR notes for more context.

[2021-09-22 17:59] #8067 closed, assigned to mmarcotte

[2021-09-22 20:34] kkoskelin commented on #8073
Please see:
https://github.com/ustaxcourt/ef-cms/pull/1668/commits/98348f184785eae8c15dcd1a43f40cfa11bbdd77
I have updated this PR expections of the v1 and v2 endpoints.
I am not altering the "contract", because frequently we *do* have values being returned for `contactPrimary` and `status`.  Only now they will be returned more frequently.
I believe this should not compromise any functionality of

[2021-09-22 20:43] ttlenard opened #8076 "BUG: eFiled document has duplicate Docket entry #'s, no cover sheet, and incorrect page count"
**Describe the Bug**
A clear and concise description of what the bug is.

There are two ustaxcourt/ef-cms-flexion#14 index numbers for case at docket number 3517-21.  The first one has "0" pages beside it, and there is no cover page in the first ustaxcourt/ef-cms-flexion#14.  The second ustaxcourt/ef-cms-flexion#14 is ok.  This was a motion to consolidate cases.  The motion filed in 3521-21 is oka

[2021-09-22 21:08] klohman commented on #7692
## Update to UI
* Reorder Opinion type options (per user research)
* Update "Bench" to "Bench Opinion (Order of Service of Transcript)" (per AC)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/8145ec3d-92e3-46d0-89ed-5029c578ca79)

[2021-09-22 21:09] klohman commented on #7692
## 7704 Test Scenarios

#### 1) Court user searches using Opinion search and sees served bench opinion In results
* Create, save, and serve OST in case xx1-21
    * Opinion has keyword “laughs”
* Login as court user
* Go to Opinion search
* Search keyword “laughs”
Expected results
- [x] OST opinion in case xx1-21 returns in results

#### 2) Court user searches using Opinion search and does not see

[2021-09-23 16:04] rachelschneiderman commented on #8056
This story is ready for PO review but it can't be deployed to `ustaxcourt:migration` until Batch 9 is wrapped up. Therefore, marking it as blocked for now.

[2021-09-23 16:56] klohman commented on #8060
## 8918 Test Cases

#### 1) Court user searches using Opinion search and sees OST opinions in results with associated judge displayed
* Create, save, and serve OST 1
    * Judge = Buch
* Create save, and serve OST 2
    * Judge = Ashford
* Search for
    * Opinion type = OST
Expected results
- [x] OST 1 returns in results with Judge Buch displayed in judge column
- [x] OST 2 returns in results wit

[2021-09-23 17:11] rosiehsmith commented on #8076
@ttlenard just to make sure we're on the right track to reproduce this bug (on mig) - this is what we've tried so far:

1. login as a petitioner on case 3521-21
2. go to case 3521-21
3. file a motion to consolidate cases as the petitioner
4. login as docket clerk
5. mark QC complete
6. view docket record for 3521-21 (no duplicates)
7.  view docket record for 3517-21 (no duplicates)

do you have a

[2021-09-23 18:39] ttlenard commented on #8076
@rosiehsmith I think that the test case you provided is mostly correct, but I have a few suggestions.  I added in the other case that the petitioner is filing a motion for.  I would think that the

- login as a petitioner on case 3521-21
- go to case 3521-21
- file a motion to consolidate cases as the petitioner
- ensure that the motion has a cover sheet and page number, ensure no duplicate docket

[2021-09-23 18:46] klohman commented on #8035
[https://app.zenhub.com/files/152320868/80822b85-7164-4ed5-8dc7-91c29f975180/download](https://app.zenhub.com/files/152320868/80822b85-7164-4ed5-8dc7-91c29f975180/download)

[2021-09-23 20:24] klohman commented on #7692
Note: We can probably remove the "judge" portion from this AC: "Bench Opinions can be filtered by Judge and/or Date Range"

- the judge association and filtering will be handled in ustaxcourt/ef-cms#8060

@cholly75

[2021-09-23 20:34] ttlenard opened #8077 "BUG: Docket clerk is unable to create an Order in case 7100-21, receives 400 error"
**Describe the Bug**
A clear and concise description of what the bug is.
This issue was reported by Docket.  When attempting to create an Order in Docket 7100-21, she continually receives a 400 error. We are unable to re-create this issue in MIG or in TEST.

She tried to complete this all throughout the day on 9/23 (9 different times), and continued to receive this error. I also verified in the Ki

[2021-09-23 21:39] rosiehsmith commented on #8077
we found a little bit more info looking at the logs for whoever can pick this bug up
![image](https://user-images.githubusercontent.com/16403861/134587610-11c1b051-4128-40e5-9cc5-0538147b0a59.png)
with this query
https://search-info-4vkmt6q7gikrqmth5bknb4mj6u.us-east-1.es.amazonaws.com/_plugin/kibana/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-09-23T15:30:00.

[2021-09-23 21:49] cholly75 commented on #7692
@klohman Done!

[2021-09-24 11:25] mariahkannenberg commented on #8056
Thanks @rachelschneiderman ! I'm going to move it to the blocked column!

[2021-09-24 13:14] #8074 closed, assigned to nobody

[2021-09-24 14:47] mariahkannenberg commented on #8076
Try a few steps to reproduce (Tenille's new steps). If unable, run a gluejob in MIG so that we can attempt to reproduce.  T

[2021-09-24 14:49] mariahkannenberg commented on #7674
Need someone w/deeper AWS experience. Mariah to track someone down.

[2021-09-24 15:13] klohman commented on #7041
# Design
## Case Detail update
![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/6a5c3413-07fe-4974-b4a8-484029097613)

**Unseal case button**
* Display this button if:
* Docket clerk is logged in
* Case is sealed

On click of Unseal case button, display confirmation modal

## Confirmation modal - Unseal a case

![image.png](https://images.zenhubusercontent.com/5bd72715088

[2021-09-24 15:20] cholly75 commented on #7041
@klohman Design approved!

[2021-09-24 15:24] klohman commented on #7041
### Test Cases 4251

#### 1) Docket clerk views sealed case
* Login as docket clerk
* Go to case 1
    * Case is sealed
    * Case has a served Order
        * Keyword - glacier
* Go to Case Information tab
Expected results
- [x] Unseal case button displays in Case Details card

#### 2) Docket clerk unseals a case
* Scenario 1
* Click Unseal case button
* Click Yes, Unseal Case button
Expected res

[2021-09-24 15:44] rosiehsmith commented on #8076
Unfortunately I was still unable to reproduce with the above steps (on mig)

[2021-09-24 15:55] mariahkannenberg commented on #8076
Blocked - Let's try a gluejob @mmarcotte @cholly75 @adunkman

[2021-09-24 16:08] klohman commented on #6994
@cholly75

I think it's worth considering breaking this AC out into it's own story:
* If there is no electronic service of a document, no service information should be reflected under "served parties" and "served date"
* Ensure that these changes don't change the logic for court-issued documents
* For any party-filed document, if service information is entered in the Served Party/Served Date colum

[2021-09-24 16:28] klohman commented on #6994
## Test Cases 3843

#### 1) Petitioner e-files document in open case and only the other parties receive electronic service
* Login as petitioner
* Go to case
    * Case has parties with electronic service
        * Respondent Counsel - electronic service
* E-File a document
    * Select filing party - Petitioner
Expected results
- [ ] Respondent counsel receives service email
- [ ] Petitioner does

[2021-09-24 16:46] rosiehsmith commented on #8076
moving this back to the backlog to prioritize currently working on 8511 but per @mmarcotte it's recommended to attempt reproducing on the `test` env (mentioned in thread [here](https://flexion.slack.com/archives/CD4PNKEPK/p1632498579128100))

[2021-09-24 19:45] ttlenard commented on #8073
All tests passed!  Thank you everyone for the hard work on this!  I made sure to test with some of those specific cases listed above, and logic seems to be working for each scenario identified!

[2021-09-24 19:48] cholly75 opened #8078 "BUG: Opinion Content Unsearchable"
**Describe the Bug**
There are opinions which are not searchable via keyword/phrase in DAWSON due to the manner in which the PDFs were scraped for content upon upload. Based on analysis by @kkoskelin it appears that the method for scraping content from November 2020 until August 9 2021 was inserting spaces into the scraped content which is stored in s3. Accordingly, the indexed content for these d

[2021-09-24 19:53] cholly75 commented on #8078
Meeting with @mmarcotte on Monday to see if we can identify # of Opinions uploaded during the time this content parsing was in place.

[2021-09-24 20:20] ttlenard commented on #8073
We are awaiting IRS environment testing

[2021-09-27 14:39] kkoskelin commented on #8078
because we clearly have had situations in which we've both *added* and *removed* a commit that adds a space between parsed item strings within `scrapePdfContents`, I'd like to suggest that we collect those items in an array instead of string-appends (e.g. `string += ' ' + item.str;`).  We can then analyze the number of one-character or two-character tokens, which can drive whether we will then joi

[2021-09-27 14:42] ttlenard commented on #8076
I looked in TEST environment and for this Docket record, there are 2 docket entry # 14's.  We don't need a Glue Job since the data is there in TEST already.

[2021-09-27 19:40] mmarcotte opened #8079 "BUG: Trial Session Mapping Records Data Issue"
**Describe the Bug**

We attempted to address this a few times before, but we were unable to identify the fix. Instead we fixed the data on the server to resolve the problem.

It appears that the problem is due to a race condition.

A [previous solution deleted the mapping](https://github.com/ustaxcourt/ef-cms/pull/1303/files#diff-6836aafcd66549093ae6efe88eb994aaead3dae5f9f01af5e304085496a4e07eR21

[2021-09-27 20:54] mmarcotte commented on #8079
This could even be considered refactoring with https://github.com/ustaxcourt/ef-cms/pull/1673

[2021-09-28 13:03] ttlenard opened #8080 "BUG: Websocket does not gracefully re-connect when there is network latency"
**Describe the Bug**
When network or connectivity issues interrupt a connection for a user that has an operation in progress waiting to be completed (ex.: setting a calendar, downloading cases for a trial session), the UI becomes non-responsive with no indication as to whether the operation has completed. Even if the connection is subsequently restored, the user session does not appear to pick up

[2021-09-28 14:42] cholly75 opened #8081 "Opinion Search: Re-Order Opinion Type Check Boxes"
As a DAWSON user, I want the Opinion Type options re-ordered so that I can more easily use the Opinion Search UI.

Based on usability research, the Opinion Type check boxes should be re-ordered to more closely align with court users' mental model of Opinion "hierarchy".

## Pre-Conditions

## Acceptance Criteria
* Opinion Type check boxes are reordered left to right: TC/Memorandum/Summary/Bench
*

[2021-09-28 15:08] ttlenard opened #8082 "BUG: When editing an opinion on the docket, if I change filed date to today's date, I receive an error that the date must to less than or equal to now"
**Describe the Bug**
A clear and concise description of what the bug is.

Today we are unable to edit the Filed date to today's date when editing an Opinion on the docket.  We receive an error message that "Filing date" must be less than or equal to "now".

Jessica was able to do this in TEST yesterday around 5:00 PM ET.  See these records in TEST where she was able to manipulate: Docket: 7020-18

[2021-09-28 15:32] ttlenard commented on #8082
Thanks to Matt for digging around on this one.  Here is some info from him:

The filingDate is being stored as an ISO date in the db - which includes a time. WHen we update the filing date via that date input we’re just changing m/d/y, and applying that to the current ISO, so it preserves the time of filing, just changing the date of filing.

In this case, since the opinion was filed at ‘2021-03-2

[2021-09-28 15:37] ttlenard commented on #8082
Per Chris: I think we're OK leaving this as is, we just want to understand the use cases to which it applies.

I will close this ticket for now, but will be good to have this understanding ow what is going on in the future with this data field.

Mike ended up tweaking the data in PROD to solve this issue for now so that it shows up on Today's Opinions.  Mike will be changing the date/timestamp bac

[2021-09-28 15:38] #8082 closed, assigned to nobody

[2021-09-28 18:16] cholly75 opened #8083 "SPIKE: Opinion Citations Research"
As a product owner, I need to understand how Opinion Citations are stored in each of our 4 different opinion types (TC, Bench, Memo, Summary) so that I can make decisions regarding the Opinion search.

This is a spike to investigate how individual opinion citations are stored as data in our opinions (legacy and otherwise) in service to potential implementation of a targeted citation search in DAWS

[2021-09-28 18:23] cholly75 opened #8084 "Opinion Search - Logging Opinion Search User Data v1"
As a product owner, so that we may understand how users are utilizing Opinion search, I would like to collect data from user input.

In the same manner that we are currently exposing Order search queries in Kibana, we need to expose Opinion search query data. (ref. ustaxcourt/ef-cms#7949 for details of the Order search logging)

## Pre-Conditions

## Acceptance Criteria

* User can log into Kibana

[2021-09-28 18:35] cholly75 opened #8085 "Opinion Search: Ability to Turn off/on Opinion Search internally in the production environment"
As a Tech Lead for the Court, in order to have control over opinion search availability for internal users, I need the ability to turn it on and off in the production environment without doing a deploy.

## Pre-Conditions
ustaxcourt/ef-cms#7692, ustaxcourt/ef-cms#8060, ustaxcourt/ef-cms#8040, ustaxcourt/ef-cms#8081, ustaxcourt/ef-cms#8083, ustaxcourt/ef-cms-flexion#8989

## Acceptance Criteria
* T

[2021-09-28 18:41] cholly75 opened #8086 "Allow Filtering of Docket Table"
TBD

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Story Definition of Ready (Created on 9/26/21)
The following criteria must be met in order for the user story to be ready for grooming.
The user story must:
- [ ]  Be immediately actionable for the development team
- [ ]  Be focused on users
- [ ]  Include a narrative. “As a ____, so that I can ______, I need _____.”
- [ ]  Inc

[2021-09-28 19:28] mmarcotte opened #1675 "BUG: Printable Docket Record Button is showing for New Cases when logged in"
**Describe the Bug**

The printable docket record button is still showing for New Cases when the user is logged in. Because it is relying on `status`, being not new and we are not passing along `status` to the Public Case, it gets it wrong for cases that the user is not associated.

Related to:
https://github.com/flexion/ef-cms/issues/8280

**Business Impact/Reason for Severity**

**In which envir

[2021-09-28 19:59] klohman commented on #7325
## 6641 Test scenarios

#### Set-Up Flow
* Petition/docket clerk logs in
* Navigates to case
* Selects “Correspondence”
* Sees “Add Correspondence” page
* Scan radio button is selected by default

#### First Use - Install Flow
* User is prompted to download and install scan utility software
* Click download
* Software downloads
* User installs software to computer
* User returns to Case Informatio

[2021-09-28 19:59] klohman commented on #7325
## Add Correspondence (default)

![image.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/9921dbee-bceb-4285-975c-68d23ead282e)
* Add “How do you want to add this document” field
* Scan - updated functionality to match other scanning options
* Upload - current functionality for uploading PDF

[2021-09-28 21:24] cholly75 opened #8087 "Petitions: Auto-Generate Notice of Attachments in the Nature of Evidence"
As a Petitions clerk, so that I may easily generate needed documentation , I need to have DAWSON generate a draft of a Notice of Attachments in the Nature of Evidence automatically when I indicate that one is needed for a case.

Currently, when a Petitions Clerk indicates that a Notice of Attachments in the Nature of Evidence (NANE) is needed for a case, they check the appropriate box at the time

[2021-09-28 22:24] cholly75 opened #8088 "Petitions: Auto-Generate Order Designating Place of Trial"
As a Petitions clerk, so that I may easily generate needed documentation , I need to have DAWSON generate a draft of an Order Designating Place of Trial automatically when I indicate that one is needed for a case.

When a petitioner submits a petition but does not include the RQT form (Request for Place of Trial), the Court will designate a place of trial for them based on their ZIP code and addre

[2021-09-29 13:44] mmarcotte opened #1680 "Add Zendesk automation for creating New Users"
As a member of OIS or DAWSON support, so that I can easily create users in DAWSON, I need to be able to create a ticket and use a tag to easily create a new user.

Tasks
- [ ] Create fields in Zendesk for the Form
- [ ] Ensure HTTP WebHook works for tickets in OIS group as well as DAWSON
- [ ] Add Lambda to handle the HTTP WebHook

[2021-09-29 15:22] matthopson commented on #8076
I've also tried to reproduce various ways. The best explanation I can come up with, based on the payload of the request(s), within 10 seconds of filing the document, _something_ went wrong - perhaps on the client's network - that allowed the document to continue to be uploaded / saved to persistence, but also allowed the user to go back and re-submit before the case was updated with the previously

[2021-09-29 15:24] matthopson commented on #8076
Passing the mic to @mmarcotte

[2021-09-29 15:41] ttlenard opened #8089 "BUG: When Practitioner eFiles for Petitioner, the Petitioners Service Preference indicates Electronic instead of None"
**Describe the Bug**
A clear and concise description of what the bug is.
I was a practitioner e-filing on behalf of a petitioner.  After I submitted the petition, I noticed that service for petitioner stated Electronic, but the test case in the TEST matrix says it should be None. I also see story [1072](https://github.com/flexion/ef-cms/issues/1072) that confirms it should state None here also.

I

[2021-09-29 17:56] mmarcotte opened #1681 "Re-Parse Opinion Documents"
There appears to have been a bug since we launched that has been scraping the PDF contents for Opinions poorly and saving the problematic documentContents. This is also being tracked here with tons of context: https://github.com/flexion/ef-cms/issues/8977

It would appear that we need to re-scrape the contents of all Opinion documents since going live.

[2021-09-29 19:21] klohman opened #8090 "Seal and unseal cases and documents - User Research"
As a DAWSON team member, so that the sealing/unsealing feature meets user needs, I need to understand user workflows and usability concerns related to sealing and unsealing cases and documents.

## Pre-Conditions
Docket clerks are available for user interviews.

## Acceptance Criteria
* Results of the study are documented
* User stories from results are added to the backlog

**Research Questions**

[2021-09-29 19:48] klohman commented on #7880
## Updated Docket Entry
* for event codes e-filed by private practitioner:
   * Entry of Appearance
   * Limited Entry of Appearance
   * Motion to Substitute Parties and Change Caption
   * Notice of Election to Intervene
   * Notice of Election to Participate
   * Notice of Intervention
   * Substitution of Counsel

* Filed By columns displays [Private Practitioner Name]
   * Example: Sally Atto

[2021-09-29 20:06] klohman commented on #7880
## 8255 Test Scenarios

#### 1) Private Practitioner e-files Entry of Appearance in new case and is listed as Filed By in docket entry
* Log in as private practitioner [Test Practitioner]
* Search for case (not associated with)
* File Entry of Appearance
* View docket record
Expected results
- [ ] Docket entry for Entry of Appearance displays filed by Test Practitioner

#### 2) Private Practitione

[2021-09-29 22:17] ttlenard commented on #8077
@mmarcotte  I just got a report from Docket that this same issue that Cheryl was experiencing on the 23rd and 24th of September also happened to Stephen Currence  (Docket 17546-21). I checked the logs and was able to confirm.

UPDATE: I actually just tweaked my Kibana query, and looks like Cheryl attempted again on the 28th, and Stephen attempted again on the 29th and had the same result.

![image

[2021-09-30 03:43] mmarcotte commented on #8077
We were unable to replicate or find solid evidence in the logs to explain how https://github.com/flexion/ef-cms/issues/8976 happened. Somehow the docket entry got tagged with the `isPendingService` flag, but service did not complete. We couldn't find any information in the logs about the previous attempt.

The last trace of the attempt was that the Work Item `work-item|9faa7809-6540-40d7-bc36-0638

[2021-09-30 14:36] mariahkannenberg commented on #8076
Nothing more for Flexion to do at this time. Moving to PO review

[2021-09-30 16:52] cholly75 opened #8091 "Petitions: Auto-Generate Order for Filing Fee"
As a Petitions clerk, so that I may easily generate needed documentation , I need to have DAWSON generate a draft of an Order for Filing Fee automatically when I indicate that one is needed for a case.

Currently, when a Petitions Clerk indicates that an Order For Filing Fee is needed for a case, they check the appropriate box at the time of paper Petition entry or QC of eFiled petition. After the

[2021-09-30 17:39] mmarcotte commented on #1681
Might need to re-parse Orders that have been uploaded as a PDF. Let's see if we can find a way to identify these.

[2021-09-30 17:57] mmarcotte opened #1689 "Test reliability for Downloading Trial Sessions"
We are going to be having more trial sessions, and the Court users are going to need to download these documents ahead of the Trial Sessions.

- Let's try to downloading the big ones.
- Make sure that you're using a Court laptop
- Look for one that's a really large case.
- These requests cannot take longer than 15minutes

[2021-09-30 18:06] mmarcotte commented on #453
Have emailed OIS to get this one moving.

[2021-09-30 18:10] mmarcotte opened #1690 "Remove Case Status from v1 and v2 APIs"
Case status is an internal data point. We will be working towards removing it from the v1 and v2 APIs that primarily serve the IRS Super User. We are coordinating with them to figure out the most desirable course of action, which is one of the following:

- Remove the key/value pair entirely
- Simply put in "N/A" as the value for this key in the JSON

[2021-09-30 19:05] mmarcotte opened #1693 "Have an environment-specific `DEFAULT_ACCOUNT_PASS`"
### Context

The smoketests step require a `DEFAULT_ACCOUNT_PASS` for the test users. If they cannot login, then the smoketests fail. Right now with our CircleCI configuration, we can only have one `DEFAULT_ACCOUNT_PASS` to rule them all. Since some of our environments have production like data, we need to use secure passwords for those environments. Whereas our environments with junk data use an

[2021-09-30 19:48] cholly75 commented on #8075
Test Cases (quick):

1) Terminal User logs in, is presented with appropriate landing page
2) Terminal User can access Case Search
3) Terminal User can access Order Search (if externally available)
4) Terminal User can access Opinion Search (if externally available)
5) Terminal User cannot access Order Search (if not externally available)
6) Terminal User cannot access Opinion Search (if not extern

[2021-09-30 20:16] mmarcotte opened #1695 "BUG: Edit Petitioner button is missing for Closed Cases > 6 months"
**Describe the Bug**

The Edit Petitioner button is now hidden for Cases that are closed for greater than 6 months

**Business Impact/Reason for Severity**

Docket should always be able to edit the contact information for a petitioner for Open and Closed cases.

**In which environment did you see this bug?**

Prod / Test

**Who were you logged in as?**

Docket Clerk

**What were you doing when you

[2021-09-30 20:17] cholly75 commented on #8069
Resolved via ustaxcourt/ef-cms#8073

[2021-09-30 20:17] #8069 closed, assigned to nobody

[2021-10-01 16:46] klohman commented on #8075
Design TBD. Will need to pair with engineering on technical solution.

[2021-10-01 16:54] mmarcotte commented on #7932
https://app.circleci.com/pipelines/github/ustaxcourt/ef-cms/2780/workflows/d9c54ece-d6e8-4c8a-96ae-4c2038b07b83

Great work team!

@ericsorenson -- Just want to be sure that any specific steps that need to be run for this to work in Prod are documented in the PR for the Batch.

[2021-10-01 17:05] mariahkannenberg commented on #7932
@mmarcotte, happy to provide this documentation! Moving forward, can you add as part of the acceptance criteria of the story please :pray::skin-tone-3: Thank you!  For context, it's just much easier to have everything we need to do in one place. Otherwise, we may forget.

[2021-10-01 18:20] ttlenard commented on #7761
Update on 10-1-2021 - on TEST environment,  I was going through the test matrix and under the External Parties Workflow - Test 12 - it is the IRS Practitioner edits contact information.   I had a different experience than was was reported above.  I logged in on TEST and was irspractitioner1.  I had two open cases (23154-21 and 16000-21). They both are in the "General Docket - Not at Issue" status.

[2021-10-01 19:25] mmarcotte opened #8092 "BUG: Items unreliably getting removed from ES after removing an IRS Practitioner from Case"
Timebox:
* 1 day - going through the UI and deleting practitioners to reproduce
* 1 -2 days - looking through the code to see where a bug may potentially be happening

**Describe the Bug**

NOTE: This bug may be difficult to reproduce as it may involve a Race condition.

Recent deployments have exposed that sometimes records are remaining in Elasticsearch after they have been removed from Dynamo.

[2021-10-01 19:28] mmarcotte commented on #7932
@mariahkannenberg -- I think this should be automatic AC / DoD for every User Story. It would seem redundant to add it in one by one since it is vital whenever this information is required. And we might not know when we draft a story whether or not special instructions will have to be executed upon deployment as that is part of the solution.

In this story, there is AC for updating the blue-green

[2021-10-01 21:07] mmarcotte opened #1706 "BUG: Parties cannot file documents on cases closed for more than 6 months"
**Describe the Bug**

It appears that https://github.com/flexion/ef-cms/issues/8952 has introduced another bug. Parties to a case can no longer file and serve documents on a case if the case has been closed for more than 6 months.

**Business Impact/Reason for Severity**

It's vital for parties to a case to be able to file documents on a case even if the case has been closed longer than 6 months

[2021-10-04 13:00] ttlenard commented on #1675
I tested this by logging in as an IRS practitioner and going to the following cases: 23150-21, 23145-21. I do not see the printable docket record link.

I did go to one of my active cases as an IRS practitioner1 (23154-21), and I do not see the printable docket record link on that one either. @mmarcotte - Should I see the link on one of my active cases???

[2021-10-04 13:22] ttlenard commented on #1695
I tested this today and went to multiple older closed cases and I could see the edit button on the practitioner contact information tile in all of the cases, 1234-18, 1234-19, 111-18. I believe this is fixed!

[2021-10-04 14:46] mariahkannenberg commented on #7674
Created during standup as we were chatting. Chris to finesse test cases and update team.

"For any case that's not new, a party should be able to file a document."

"In a case that's been closed for greater than 6 months, the user should be able to change their email, but not autogenerate notices."

[2021-10-04 15:40] cholly75 commented on #7674
Regression Tests to be executed:

1) Ensure that cases closed for over 6 months will still allow parties to file and serve documents
2) Ensure that cases closed for over 6 months do not generate Change of Address/Phone/Both notices
3) Add "Cases that are Closed for over 6 months" to party criteria already populated for existing test cases

[2021-10-04 16:35] ujahio commented on #7692
https://github.com/flexion/ef-cms/pull/9010

[2021-10-04 16:50] klohman commented on #7674
Reviewed

- [x] Worked as expected

- [ ] Does not work as expected. A Notice of Change of Address is being generated in a case closed for more than 6 months.

- not sure what this means - @cholly75 can you clarify?

[2021-10-04 17:09] cholly75 opened #8093 "Public Search: Guardrails for Advanced Order and Opinion Search Queries"
As a DAWSON administrator, so that I can maintain system stability once public Order search is enabled, I need to be able to increase or decrease the rate at which all (internal and public) advanced order and opinion queries are submitted through the UI.  Both of these types of searches currently utilize a join in their queries and can have an outsized impact on cluster performance (compared to ca

[2021-10-04 17:13] cholly75 commented on #7674
@klohman I was suggesting that in the test cases already here that specify (for example):
"Petitioner Has Cases:
In New status
In General Docket or other 'open' status
Closed (for less than 6 months)"

That we add "Closed (for 6 months or more)" to check behavior in those cases as well when we do review.

[2021-10-04 21:26] kkoskelin commented on #8040
@cholly75 per your instructions, the above requirements are the same as for that of Order Search.  These searches both ultimately use the same underlying search mechanism which already is supporting the OR operator, e.g.
` bananas | oranges`
We can probably send this one directly to PO review as there is no work to be done.  I can already see this 'OR' search working correctly in the court's migra

[2021-10-04 21:48] ttlenard commented on #1689
Did some tests today.  Was able to download all cases, and all downloaded to my computer well, but ran into issues when attempting to extract or just open files that I had downloaded.  I attempted to download all cases from the following trials.

- 12-26-2021 - New Orleans, Louisiana - When I clicked on the zip folder, I got this message:

![image](https://user-images.githubusercontent.com/8771714

[2021-10-05 13:23] cholly75 commented on #8078
This is being tracked on the 18F board, closing here.

[2021-10-05 13:23] #8078 closed, assigned to kkoskelin, cholly75

[2021-10-05 13:55] ttlenard opened #8094 "BUG: Calendar notes that are near the 200 character limit cause UI formatting issues on the Trial Session Copy page"
**Describe the Bug**
A clear and concise description of what the bug is.
If a Calendar note is added to a case, and if this Calendar note is near the 200 character limit, it will cause formatting issues on the Trial Session Copy page that the Judge and Trial Clerk have access to.  When this formatting issue happens, the only way that a Judge or Trial Clerk can add notes is if they adjust the zoom

[2021-10-05 14:14] #7911 closed, assigned to nobody

[2021-10-05 14:41] ttlenard commented on #1689
Mike adjusted the file name and the downloads have been working like a charm!  @JessicaMarine recommended that instead of the event code we just truncate the file name so that it is more familiar to Judges and Trial Clerks. Maybe this could be the new suggested format? Date_Docket entry #_First 10 characters of File name.  Would this end up making sense? Do we need to add more than 10 characters f

[2021-10-05 16:04] rosiehsmith commented on #8060
To quote, @rachelschneiderman on story ustaxcourt/ef-cms#8056 - "This story is ready for PO review but it can't be deployed to ustaxcourt:migration until Batch 9 is wrapped up. Therefore, marking it as blocked for now."

[2021-10-05 17:07] mmarcotte commented on #1690
We are not going to change the v1 or v2 APIs because of a Court decision that this information is okay to expose to the parties of a case.

[2021-10-05 17:07] #1690 closed, assigned to mmarcotte

[2021-10-05 17:17] mmarcotte commented on #1681
We have a big folder of `documentContents`. What to do?

* Put the document contents into the folder
* Write a script to adjust the `indexedTimestamp` in DynamoDB prop of the docket-entry record. This would trigger a re-indexing of those documentContents.

Mike to coordinate with Mark to make this happen in `mig` before `prod` @ 11:30am Alaska Standard Time.

[2021-10-05 17:25] mmarcotte commented on #1706
This only applies to the automated notices. If the case has been closed for more than six months, regardless of WHO changes the information, not automatic notices should be generated.

They should still be able to file documents and change this information.

Everything else should continue to work as expected.

[2021-10-05 17:25] mmarcotte commented on #1706
Tenille adding coverage to test matrix for these scenarios ☝️

[2021-10-05 17:29] mmarcotte commented on #1485
* List given to McVicker. He's picking them off; hopefully TextExpander
* Truong is actively helping Tenille get AWS access.

[2021-10-05 18:40] ttlenard commented on #1675
Tenille to test with other users besides IRS practitioner.

[2021-10-05 18:56] ttlenard commented on #1675
@mmarcotte I tested with the following roles and it looks great for all the user types! Thank you!  I'd say this is ready to be merged!

IRS practitioner
Private Practitioner
Petitioner
Docket Clerk
Petitions Clerk
Admissions Clerk

I think this is good. It seems it is the most important for the first 3 users in the list above?

[2021-10-05 19:11] klohman commented on #8081
@cholly75 This story won't be needed once ustaxcourt/ef-cms#7692 is deployed. The UI update was implemented there.

[2021-10-05 19:22] ttlenard commented on #1689
Mike pushed an update so that only 64 characters remain in the file name.  I was able to open individual files and able to unzip the folder for both the trial sessions that I had issues with before.

- 10-25-21 - Los Angeles, California
- 12-26-2021 - New Orleans, Louisiana

This one passes @mmarcotte. Thank you for updating this so that we can successfully download these cases!

[2021-10-05 19:37] #1675 closed, assigned to nobody

[2021-10-05 19:44] mmarcotte commented on #1689
Merged fix to reduce filename length to 64 characters.

[2021-10-05 19:44] #1689 closed, assigned to mmarcotte, ttlenard

[2021-10-05 19:47] mmarcotte commented on #1693
Fixed

[2021-10-05 19:47] #1693 closed, assigned to mmarcotte

[2021-10-05 20:28] mmarcotte commented on #1681
Observed this attribute in the `documentContents` JSON file that's stored in the documents bucket. We can possibly use this to identify Orders that were generated by DAWSON and NOT uploaded and scraped [poorly].

[code]

Mark is going to do a little investigating to look for ~10 orders that don't have this attribute in the document contents to see how they look. 🤞

[2021-10-05 21:00] codyseibert commented on #7674
We decided to go ahead and address the > 6 month rule for the following scenarios even though these are new features not regressions:
- a petitioner updating their own address,phone,phone+address
- an internal user updating the address,phone,phone+address on a petitioner

These two flows did NOT have logic related to the > 6 month rule to prevent a notice from generating, but we went ahead and add

[2021-10-05 21:35] ttlenard commented on #8089
I just tested this on TEST with this case: https://app.test.ef-cms.ustaxcourt.gov/case-detail/23186-21. I now see that the Service indicator for the Petitioner says "None". Thank you to those that worked on this!  Looks great!

[2021-10-05 21:38] cholly75 commented on #8081
Thanks @klohman , I'll close this.

[2021-10-05 21:38] #8081 closed, assigned to nobody

[2021-10-06 14:23] ttlenard opened #8095 "BUG: Using the highlighter tool on the document view tab causes a "Leave site?" pop-up to appear every time I click on a document"
Note - This bug could be split up if needed.

It's ok to separate out the black background and the missing signature line. I've emailed the court user to see if I can get more info to see if we can recreate these behaviors. (T.L. 10/22/21)

**Describe the Bug**
A clear and concise description of what the bug is.
This bug was reported by Judge Buch and Ann Murray.

This issue was occurring in Docke

[2021-10-06 19:09] codyseibert commented on #7674
@mmarcotte heads up, for the batch 9 deploy, you'll need to run an environment specific deploy, and also the deploy will probably fail on the web-api terraform run the first time you try to deploy. There is a script called setup-s3-triggers-file.sh which you will need to run to copy the triggers.zip inside the deploys bucket. This is a work around needed due to how the blue green is setup in terra

[2021-10-06 19:55] mariahkannenberg commented on #8093
Needs More Info - Write test cases

[2021-10-06 20:57] cholly75 commented on #8093
Test Cases:

1) Set allowable limit of calls to X. Generate load greater than X. Calls are not passed through to ES, UI reflects same.
2) Set allowable limit of calls to X. Generate load less than X. Calls are passed through to ES, search functions as normal.
3) Set allowable limit of calls to X. Generate load less than X. Search functions as normal. Change value of X to a lower value. Calls stop

[2021-10-06 21:34] ttlenard commented on #7674
Some initial testing feedback:

1) Test case 4 - to get this test case set up, I needed to log in as a docket clerk, and I had to add in an intervenor to this case: 20078-21.  I then logged in as an admissions clerk to add in an email address.   I did the same thing for 20079-21. This step generates a NOCE that says "no email" to "email". There were 2 duplicate NOCE's were generated on the docket

[2021-10-07 14:20] mmarcotte opened #8096 "Filing documents in consolidated cases with one request"
As a Practitioner, so that I can save time e-filing documents on consolidated cases with one request, I need checkboxes for each of the affiliated cases.
As an IRS Practitioner, so that I can save time e-filing documents on consolidated cases with one request, I need checkboxes for each of the affiliated cases.

## Pre-Conditions

## Acceptance Criteria

## Notes

This came in from helpdesk recomm

[2021-10-07 14:37] mmarcotte commented on #8096
Duplicate of https://github.com/flexion/ef-cms/issues/3898

[2021-10-07 14:37] #8096 closed, assigned to nobody

[2021-10-07 19:44] ttlenard commented on #1706
This looks good.  I went through a variety of test scenarios.

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/5aa2fb35-1303-4b51-8765-c984d31cbb45)

[2021-10-07 19:46] ttlenard commented on #1695
I tested this again today and the edit buttons are still available on the Petitioner contact cards for cases that have been closed for more than 6 months.

[2021-10-07 20:30] ttlenard commented on #8095
On Wednesday's Standup, it was suggested to test to see if this behavior was happening on a Chrome Browser.  I tested it on Chrome and the PDF viewer tools are different.  See screen grab. There isn't a highlighter tool when viewing in Chrome.

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/9cf4533e-2b8d-4ed0-9957-c099ad82bd80)

[2021-10-08 13:28] #1706 closed, assigned to nobody

[2021-10-08 13:28] #1695 closed, assigned to mmarcotte

[2021-10-08 14:36] mmarcotte commented on #8075
Word back from CIO at the Court is that it would be no problem to lock down an IP Address for this Public Terminal. So we are good to go with this as a way to keep the terminal secure. 👍

[2021-10-08 15:36] mariahkannenberg opened #8097 "Team Improvement Experiments"
As a project team, so that we can bring transparency and accessibility to our team improvement experiments, we need a system for tracking and managing them.

AC:
* Team experiments that are focused on improving as a team are logged in this epic as user stories
* The team should limit the number of experiments in progress at one time
* Each experiment should contain the problem observed, hypothesis

[2021-10-08 15:39] mariahkannenberg opened #8098 "Retro Improvement: No blockers with testing w/prod-like data"
As a development team, so that we can move work through the pipeline more quickly, I need to test stories with prod-like data without being blocked.

## Pre-Conditions

## Acceptance Criteria
* Stories are not blocked from being tested in a Court environment with prod-like data by the end of Sprint 77.

## Notes
* Two pieces to this - batches get clogged + we only have 1 migration environment

##

[2021-10-08 15:51] mariahkannenberg opened #8099 "Retro Improvements: Centralize location of business rules experiment"
As a scrum team, we can access a central location of business rules, so that we can be confident in the domain.

Note - this story is an experiment. If it works out well, we can move forward with centralizing in this way.

## Pre-Conditions

## Acceptance Criteria
* A gherkin test is created covering 1-3 scenarios around the work item business rules (one Gherkin test === one scenario according to

[2021-10-11 16:14] kkoskelin commented on #8093
Please note:  There are several integration tests currently disabled relating to public search for orders.  Once this feature is enabled, those tests should be turned back on.  See linting warnings for more info.

[2021-10-11 19:21] klohman commented on #8061
#### Test 1)
* Edit screen should not include option to select **Session scope**
![Screen Shot 2021-10-11 at 2.57.03 PM.png](https://images.zenhubusercontent.com/5bd7271508843955cc24d3d0/247d19bb-0a6e-4618-84da-161e91f96565)

#### Test 2)
* Remote sessions should display at top of Select trial session list
![Screen Shot 2021-10-11 at 3.01.47 PM.png](https://images.zenhubusercontent.com/5bd72715088

[2021-10-12 14:47] mariahkannenberg commented on #8099
https://cucumber.io/docs/bdd/

[2021-10-13 03:45] mmarcotte opened #1730 "Improve Elasticsearch JVM Memory Pressure Resiliency"
Monday morning we received reports of 400 errors from some users. The JVM Memory Pressure appeared to be higher than the usual threshold of 75% and not performing garbage collection.

Researching the problem and based on a few resources, we opted to solve the problem immediately by increasing the memory on the server. Simply cycling in the new nodes emptied the garbage entirely, and we opted for `

[2021-10-13 03:45] mmarcotte opened #1731 "Increase the resources for the Production Elasticsearch Cluster"
Changing `m5.xlarge` to `r5.xlarge`. Also performing the same change to `mig` and `test` so we can have realistic tests for performance.

[2021-10-13 03:46] mmarcotte opened #1732 "Add logging for Slow Queries to understand what's causing the JVM Memory Pressure"

[2021-10-13 03:46] mmarcotte opened #1733 "SPIKE: review the findings from Production Logs"

[2021-10-13 12:54] cholly75 opened #1734 "Docket Request: Supervisors Report"
As a Docket supervisor, I would like to be able to monitor individual employee inboxes so that I can manage my workforce appropriately.

Docket supervisors would like to be able to view individual docket clerks' QC and Section message inboxes. Long-term, that probably involves modifications to DAWSON, but in the short term Deborah Kaio has agreed that a weekly snapshot report to the supervisors wo

[2021-10-13 14:35] cholly75 opened #8100 "Workflow Continuation When Spinning Wheel Persists While Calendaring"
As a court user, so that I can continue to do my job, I need to be able to resume printing paper service documents for calendared trials when the spinner wheel does not return me to the UI .

Intermittently, though frequently, when when setting the calendar for a trial session, the user does not advance past the "spinning wheel" graphic presented at the time the operation is kicked off, despite op

[2021-10-13 14:53] ttlenard commented on #7674
Some testing feedback from 10-12-21. I posted this on Slack, but thought I better add it here as well.

- Test Case 7 - Docket is now getting a work item created when a petitioner is represented by counsel.  This was not happening previously.  This is most likely the going to be the same scenario for Intervenors and Participants that are represented in Test case 8 and 9.

- I also found a small fo

[2021-10-13 18:54] #7493 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin, rachaelparris

[2021-10-13 18:54] #7930 closed, assigned to codyseibert

[2021-10-13 18:54] #7931 closed, assigned to rachelschneiderman

[2021-10-13 18:54] #7967 closed, assigned to matthopson

[2021-10-13 18:54] #8014 closed, assigned to ericsorenson, kkoskelin

[2021-10-13 18:54] #8034 closed, assigned to TomElliottFlexion

[2021-10-13 18:54] #8036 closed, assigned to matthopson

[2021-10-13 18:54] #8045 closed, assigned to matthopson

[2021-10-13 18:54] #8047 closed, assigned to matthopson

[2021-10-13 18:54] #8055 closed, assigned to matthopson

[2021-10-13 18:54] #8062 closed, assigned to matthopson

[2021-10-13 18:54] #8065 closed, assigned to rachelschneiderman, mrinsin

[2021-10-13 18:54] #8073 closed, assigned to matthopson

[2021-10-13 18:54] #8089 closed, assigned to kkoskelin, ujahio

[2021-10-13 20:07] ttlenard commented on #7674
@codyseibert I'm moving this story to DONE!  The work items were no longer being generated for Docket when a party had representation.  I will create a separate story or bug for the formatting issue I found.

[2021-10-13 20:27] mmarcotte opened #1739 "Refactor WorkItem Section Outboxes"
In order to get migrations unblocked with Production Sized data sets, we needed to move records off of partitions as they had become overloaded. We created and executed [this script](https://github.com/ustaxcourt/ef-cms/pull/1669) to help clear out a hot partition that was overloaded with records. It became a blocker for migrations and led to the creation of [this Critical bug](https://github.com/

[2021-10-14 20:22] mrinsin commented on #8092
The fix for this bug assumes that `getIndexedCasesForUser` is no longer called anywhere in the code. However, 7643 was the story in which `getIndexedCasesForUser` was deleted, therefore the PR for this fix will fail the build until batch 9 (https://github.com/ustaxcourt/ef-cms/pull/1624) has been merged into ustaxcourt:staging.

[2021-10-15 12:51] ttlenard opened #8101 "BUG: Formatting issue on the title of the Notice of Change of Email Address on the Docket Record"
**Describe the Bug**
A clear and concise description of what the bug is.
There is a formatting issue on the title of the Notice of Change of Email Address on the Docket Record. This is only occurring in the UI on the screens when an IRS practitioner is filing the first document in a case, and when a Private Practitioner is first filing an Entry of Appearance to get access to the case. The formatti

[2021-10-15 16:29] cholly75 commented on #8061
@TomElliottFlexion @mrinsin - looks like the placement of the standalone sessions is off by a couple states - should be at top of the menu:

![SRTSessionMenu.png](https://images.zenhubusercontent.com/60e7a3b441280d0c68e72525/e3bd9d07-c8ca-4d1c-bfe3-0b4e17ff1726)

Tenille and I are seeing this today, but I would swear on the grave of a loved one that I didn't see this yesterday. Me am confused.

[2021-10-15 19:14] mmarcotte commented on #8071
![Screen Shot 2021-10-15 at 3 09 04 PM](https://user-images.githubusercontent.com/5023502/137540239-ff2ddafa-896c-4d29-a3ce-09a75d4996c5.png)

It appears the authentication tokens are only good for one hour. And that about matches the complaints of the user's experiences.

In August, 2020, [AWS added the ability](https://aws.amazon.com/about-aws/whats-new/2020/08/amazon-cognito-user-pools-supports

[2021-10-15 19:43] mmarcotte commented on #8071
Well, looks like `startRefreshIntervalAction` attempts to refresh that token. It appears that's what is likely misfiring...

Wonder if it's due to new tabs being opening and confusing the state for this value.

[2021-10-18 15:33] codyseibert commented on #8075
We are waiting to hear back from a AWS support ticket to figure out why api gateway authorizers are not caching our policies.

[2021-10-18 16:41] mmarcotte commented on #8071
https://medium.com/@sadnub/simple-and-secure-api-authentication-for-spas-e46bcea592ad

Perhaps make use of HTTP Only cookies since we shouldn't store the refreshToken in local storage or traditional cookies.

[2021-10-18 17:24] mariahkannenberg commented on #8099
[https://app.zenhub.com/files/152320868/336b6b5d-60c3-47fd-8819-c01c69c43da7/download](https://app.zenhub.com/files/152320868/336b6b5d-60c3-47fd-8819-c01c69c43da7/download)

[2021-10-18 17:25] mariahkannenberg commented on #8098
[https://app.zenhub.com/files/152320868/c6fa24b1-0440-44c6-9498-4d833b0b9c5b/download](https://app.zenhub.com/files/152320868/c6fa24b1-0440-44c6-9498-4d833b0b9c5b/download)

[2021-10-18 21:39] cholly75 opened #8102 "External: Order Search (Public User)"
As a public, non-credentialed user of DAWSON, so that I can find specific Orders in the public record, I need to be able to search Orders.

## Pre-Conditions
ustaxcourt/ef-cms#8093

## Acceptance Criteria
* A public, non-credentialed user can access Order search
* Order Search UI for these users does not have internal "Feedback" button displayed in UI
* Clicking the Docket link from the Order Sear

[2021-10-19 01:33] #1731 closed, assigned to mmarcotte

[2021-10-19 01:34] #1732 closed, assigned to nobody

[2021-10-19 01:34] #1558 closed, assigned to mmarcotte

[2021-10-19 03:16] mmarcotte opened #1747 "SPIKE: Test the performance of an additional replica"
So, as of right now we use 1 shard and 1 replica per index. However, we have three nodes. That means that each index's data is stored on two out of the three servers. It's been working fine so far, but what happens when we add another replica?

That means that each server will have a copy of each index. That must also mean that we will end up using more disk space. It will also mean that three ser

[2021-10-19 03:32] mmarcotte opened #1748 "SPIKE: Review Slow Query logs"

[2021-10-19 13:58] cholly75 opened #8103 "External Search: Turn on/off Order Search for External Users in Production Environment"
As the Court Tech Lead, so that I can control search availability for public users of DAWSON, I need the ability to toggle external Order search off and on without requiring a deployment.

## Pre-Conditions

## Acceptance Criteria
* Tech lead can turn order search on or off in the production environment for external users (public users, private practitioners, IRS practitioners) only without a depl

[2021-10-19 14:11] kkoskelin commented on #8095
It may be the case that the highlighter tool is available only to Windows users of Microsoft Edge. I tried to replicate it using Edge on MacOS but could not find any option to enable a highlighter tool.

[2021-10-19 14:53] cholly75 commented on #7572
@rachelschneiderman I just looked at this again based on your feedback - it is indeed happening again in MIG. Did something get reverted with the deploy yesterday perhaps? I specifically looked for this yesterday and didn't see it, hence me closing the bug.

[2021-10-19 14:57] kkoskelin commented on #7572
solution resides in shared/src/business/utilities/getFormattedJudgeName.js
The drop-downs that get populated with the above utility should be using only the last name for both the visible label as well as the value sent to the API for purposes of filtering. Should be incredibly quick to fix, if I'm right...

[2021-10-19 16:01] ttlenard commented on #8094
I just tested this again and the text is wrapping nicely. Thanks @TomElliottFlexion .

[2021-10-19 16:54] #1681 closed, assigned to mark-meyer

[2021-10-19 16:56] #1733 closed, assigned to nobody

[2021-10-19 17:05] mmarcotte opened #1751 "Incorporate Mark's Jupyter Notebook work into project"
Mark has a lot of Jupyter notebook work written to explore the data in DAWSON that could be handy to anyone working on the project. Let's figure out a way to share that with the team.

### TODO

- [ ] @mmarcotte create a private github repo for these
- [ ] @mark-meyer to commit the notebooks into this newly created repo
- [ ] @mark-meyer to demo to @mmarcotte and @ttlenard  🤓

[2021-10-19 17:34] cholly75 opened #8104 "Add Standalone Remote to the Location dropdown on the Trial Session screen."
As a court scheduler, so that I can easily see scheduled standalone remote trial sessions, I need to be able to filter the list of Trial Sessions by the location "Standalone Remote".

## Pre-Conditions
ustaxcourt/ef-cms#8061

## Acceptance Criteria
* "Standalone Remote" is available as an option at the top of the Location filter menu on the Trial Sessions screen
* When chosen as a Location filter,

[2021-10-19 18:36] codyseibert commented on #8093
Note for deployments:

The advancedQueryLimiter created during this story work is reading configuration from the `efcms-deploy-ENV` table and expects a record to be in the following format:

[code]

`windowTime` is how long to wait (in milliseconds) until the limiter should reset it's internal timer
`maxInvocations` is how many queries we want to allow in the allowed windowTime.

[2021-10-19 18:41] #8025 closed, assigned to sutt0n

[2021-10-19 18:41] #7674 closed, assigned to codyseibert, kkoskelin, TomElliottFlexion

[2021-10-19 18:41] #7932 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2021-10-19 18:41] #8048 closed, assigned to rachelschneiderman

[2021-10-19 18:41] #7581 closed, assigned to kkoskelin

[2021-10-19 18:41] #7585 closed, assigned to TomElliottFlexion

[2021-10-19 23:30] cholly75 opened #8105 "Order/Opinion Search: Eliminate results returned for Dockets w/ no documents"
As a search user, so that I am not presented with errors, I need to not see documents in the search results that we cannot display.

Currently, order and opinion search can return results for which we do not have the corresponding documents in DAWSON; this can be reproduced most easily by searching for either with a custom date range beginning on 5/1/86 and ending on (for example) 1/1/87. As these

[2021-10-20 12:49] ttlenard opened #8106 "BUG: When you click on a Trial session that is in a New status, the suffixes (S, SL, L, etc.) are not displaying in the Eligible Case list"
**Describe the Bug**
A clear and concise description of what the bug is.
This was reported by a court user.  She was working on trial sessions under the NEW tab, and noticed that the suffixes were missing from the docket numbers listed under the Eligible cases.

Note: If you click on a trial session from the Open or Closed tab, this issue does not appear to occur. It is only the trial sessions tha

[2021-10-20 14:16] mariahkannenberg commented on #8099
[https://app.zenhub.com/files/152320868/b35c88c6-9226-43dd-9430-f8122b9fd4b1/download](https://app.zenhub.com/files/152320868/b35c88c6-9226-43dd-9430-f8122b9fd4b1/download)

[2021-10-20 14:16] mariahkannenberg commented on #8098
[https://app.zenhub.com/files/152320868/384ef714-b8ac-4e9f-92d3-693839a8f9a3/download](https://app.zenhub.com/files/152320868/384ef714-b8ac-4e9f-92d3-693839a8f9a3/download)

[2021-10-20 15:26] cholly75 opened #8107 "Search: Messaging for 429/Search Limitation"
As a DAWSON user, so that I understand why my search isn't returning results, I need appropriate messaging when search hasn't been executed.

Currently, the user messaging that returns when the server returns a response code of 429 is targeted at the individual user and originally developed when the user-specific limiting story was developed. With the impending go-live of public search and additio

[2021-10-20 16:39] cholly75 opened #8108 "External: Order Search (Private/IRS Practitioner)"
As a private or IRS practitioner, so that I can find specific Orders in the public record, I need to be able to search Orders.

## Pre-Conditions
ustaxcourt/ef-cms#8093

## Acceptance Criteria
* A private/IRS practitioner and can access Order search
* Order Search UI for these users does not have internal "Feedback" button displayed in UI
* Clicking the Docket link from the Order Search results li

[2021-10-20 19:27] mariahkannenberg commented on #8100
1) Continue troubleshooting bug to identify root cause
2) Re-write story w/specific w/out making assumptions of root cause ("break in connection")

[2021-10-20 19:50] codyseibert commented on #8075
@mmarcotte heads up, before deploying this to an environment, we need to create a record in the efcms-deploy-$ENV table that looks like so.  I'll try to remember to also put this on the batch PR when it is created.

[code]

[2021-10-20 20:05] codyseibert commented on #8071
I'd like to just leave my ideas before I forget.

Due to security reasons, we don't store the refresh token in localstorage.  If a user logs in, closes their browser, and reloads their browser, the application will work because it loads the access token from localstorage but that token will NEVER refresh because we don't have the refresh token.

I am pretty sure you can reproduce this issue by sim

[2021-10-21 14:00] mariahkannenberg commented on #8093
@TomElliottFlexion What's the blocker on this one?

[2021-10-21 14:05] TomElliottFlexion commented on #8093
Just waiting for Batch 11 to finish the move to staging, before we can get this on mig

[2021-10-21 14:28] codyseibert commented on #8075
AWS responded saying caching is working as expected when they create the authorizer using our same setup.  I do observe caching, but I am just curious why it takes about 4-5 requests until it is fully cached.  I think we can get this deployed at this point.

[2021-10-21 14:37] mariahkannenberg commented on #8075
Blocked by batch 10, but should be resolved today

[2021-10-21 14:38] kkoskelin commented on #8019
Suggestion: this may require a text transformation for very specific strings:
"T.C." -> "TC"
Do this for the text which gets indexed by the streams, but also for the text provided in search inputs.
Because the period/dot is regarded as a token separator, the only solution I see is to transform the text into a single token of "TC".

[2021-10-21 14:41] codyseibert commented on #8098
just documenting instances of this happening: we encountered two blocked stories on batch 11 that couldn't get deployed to court's migration because they were blocked by batch 10 today. Stories ustaxcourt/ef-cms#8075 and ustaxcourt/ef-cms#8093 10/20/2021

[2021-10-21 16:29] mmarcotte opened #8109 "BUG: Idle websocket connections go away"
**Describe the Bug**

API Gateway times idle websocket connections out after 10 minutes of inactivity. This causes workflows that rely on websockets to fail.

This [stackoverflow reference offers a possible solution](https://stackoverflow.com/questions/58401092/api-gateway-websockets-dealing-with-10-minute-idle-connection-timeout) to establish a ping and pong connection to keep the connections ali

[2021-10-21 16:30] kkoskelin commented on #8106
This was a matter of creating an attribute `docketNumberWithSuffix` on the `EligibleCase` entity.
This attribute was frequently something which was calculated using a formatter/helper on the client-side.  But it was constantly being calculated over and over again, and eventually I believe we refactored code so that it was calculated just once in the `Case` entity.  It was also being calculated in

[2021-10-21 17:35] #1739 closed, assigned to mmarcotte

[2021-10-21 18:02] mmarcotte commented on #1748
We have observed no slow queries in the logs this week. We will continue to leave this on and monitor them.

[2021-10-21 18:05] mmarcotte opened #1756 "Add a replica to our Elasticsearch configuration"
As we observed in https://github.com/ustaxcourt/ef-cms/issues/1747 it makes good sense performance and resiliency wise to increase our replica count to 2. This improves performance while also ensuring all of our data is available on all of the nodes in our cluster.

[2021-10-21 18:16] mmarcotte commented on #1747
Good news, we added a replica to our cluster and observed about a 25% performance increase (using CPU as a measurement) from the addition in a like-for-like order search test.

More good news is that the [recent change](https://github.com/ustaxcourt/ef-cms/issues/1731) to `r5.xlarge.elasticsearch` due to JVM Memory Pressure showed significant improvements in search performance. Feeling more confid

[2021-10-21 21:09] TomElliottFlexion commented on #8095
We were able to reproduce the "Leave site" modal issue on a Windows 10 VM w/Edge (as well as Edge on MacOS). It seems this is the default behaviour of the Edge PDF renderer: editing a PDF (by adding highlighting or pen marks) and navigating away from it triggers a confirmation to make sure the user is aware that their changes may not be saved.
To reproduce outside of DAWSON:
1. Navigate to PDF in

[2021-10-21 21:12] TomElliottFlexion commented on #8095
We couldn't reproduce the PDF issues around the missing signatures or the black background. This may need its own bug with more steps to reproduce (PDF renderer and version, OS, Edge version) @cholly75 @ttlenard

[2021-10-22 16:15] ttlenard commented on #8075
@cholly75  Some testing feedback: Everything looked great, but I do have some feedback on test case 11 above.  When clicking on the docket record, the document does not open in a new tab, but instead opens in the current tab.

[2021-10-22 16:45] mmarcotte commented on #8093
Paring with @TomElliottFlexion , @codyseibert , and @Absolutestunna we did some performance testing on this story and everything looked great!

However, we did observe one thing that still needed to happen, and that is to reintroduce the IP Limiter; this will prevent bad actors from triggering the throttle and interfering with other people's ability to search once this goes live to the public.

He

[2021-10-22 18:42] ttlenard commented on #8095
@TomElliottFlexion I am ok with separating out the black background and the missing signature from this bug. I have emailed the court user that reported this and will see if I can get additional information about what version of Microsoft Edge she is using, and if she is using any PDF extensions on her Edge Browser. Thanks for diving in to this!

[2021-10-22 19:45] liadmccabe commented on #8075
@ttlenard from a usability standpoint, I would recommend that the document not open in a new tab.  There are a few usability and accessibility issues that could potentially arise from opening in a new tab, particularly if it's being done on a public terminal. These are the main ones that come to mind (information below borrowed from highly respected UX best practices NNgroup):

- More windows or t

[2021-10-22 21:09] TomElliottFlexion commented on #8095
Questions for Monday: We _should_ be able to disable to edit toolbar entirely for the pdf previewer. Since the buggy behaviour stems from the native Edge PDF viewer, this may be our only option for preventing these modals. Is this a solution we want to explore? Does the Court make use of the built-in PDF editing tools? @cholly75 @ttlenard @liadmccabe

[2021-10-24 02:32] mmarcotte opened #1767 "BUG: Reindex Completion check isn't counting the documents in the indices correctly"
**Describe the Bug**

Observed this while deploying Batch 10 to Court environments. The lambdas counted a third more documents in the destination clusters, and this is likely because the method we were using were counting the total number of documents across the replicas. Since we added a replica, this count isn't actually the number of documents in the index.

[code]

We need to use the `count` A

[2021-10-25 12:24] ttlenard commented on #8075
Thanks @liadmccabe . I appreciate the thoughts and perspectives you provided.  I talked with court folks on Friday and they said that historically, the typical users that use this terminal are reporters or researchers reviewing multiple cases and documents.  I think it will be great to discuss with @cholly75 today if he is back today.

[2021-10-25 13:56] mmarcotte commented on #1756
Deployed 10/23

[2021-10-25 13:56] #1756 closed, assigned to nobody

[2021-10-25 13:58] mmarcotte commented on #1627
Passed these resources along to Court IT:

### i2600 User Guide:

https://support.alarisworld.com/-/media/files/di/uploadedfiles/document_imaging/products/document_scanners/workgroup/i2400/a-61679_scansetupguide_twain_i2000_en.pdf

### i2900 User Guide:

https://support.alarisworld.com/-/media/files/di/uploadedfiles/a61775_i2900_twain_scanning_setup_guide_en.pdf

[2021-10-25 13:58] #1627 closed, assigned to nobody

[2021-10-25 14:25] ttlenard commented on #8095
I received more information from Ann regarding the black screen and missing signature.  Her responses are the ones in red:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/4cce742d-ed90-4e38-97c1-f1e8b5d3ba1e)

[2021-10-25 14:48] mariahkannenberg commented on #8095
Blocked - Need to decide if we're going to fix this bug, as it appears to be an issue outside of the system.

[2021-10-25 14:53] mariahkannenberg commented on #8075
Lia's recommendation above is more focused on users who only need to look at one document, not the use case of being able to open multiple, navigate through them and then compare documents.

Keep an eye out for usability issues when users open a doc in a new tab.

[2021-10-25 15:42] mariahkannenberg opened #8110 "SPIKE: Ops: Client-side logging"
As a user, so that engineers can have a full report of what happened when I experienced an error, the system should automatically report the details back to engineers.

## Pre-Conditions

## Acceptance Criteria
* If an error occurs in the browser, there's a record stored detailing what happened
* Determine pricing for solution
* Determine AWS sentry-like solution "RUM" ( Random User Monitoring )

[2021-10-25 16:38] mmarcotte opened #8111 "BUG: IRS Super User can no longer access the API"
**Describe the Bug**

The IRS Super User is now getting a 403 Forbidden error when trying to access the v2 API endpoints.

**Business Impact/Reason for Severity**

It's vital that they're able to access served documents

**In which environment did you see this bug?**

Prod

**Who were you logged in as?**

IRS Super User

**What were you doing when you discovered this bug? (Using the application, d

[2021-10-25 16:59] cholly75 commented on #8093
@mmarcotte Do you have the story # for the IP limiter? I can make a new story to re-introduce that.

[2021-10-25 19:35] cholly75 opened #8112 "Court: Style Change for Orders"
As a court user, so that orders conform to the new style guide requirements, I need the new style guidelines implemented in DAWSON.

The court conference has approved a new set of style guidelines that take effect on 1/1/2022. These guidelines need to be incorporated into the formatting of all Orders generated and entered in DAWSON.

Template for visual reference:
[https://app.zenhub.com/files/152

[2021-10-25 20:19] cholly75 commented on #8111
Resolved: during the 10/23 deployment, the custom IRS domain was disabled during color switching due to manual error. This was resolved when the domain was re-enabled.

[2021-10-25 20:19] #8111 closed, assigned to nobody

[2021-10-25 20:39] cholly75 commented on #8095
Discussing solution and trade-offs w/ court stakeholders on 10/27

[2021-10-25 22:00] cholly75 commented on #8075
@ttlenard - Let's make sure the Terminal user tests get added to the test matrix; we will want to make sure we check this role when we do testing from now on.

[2021-10-25 22:01] mmarcotte commented on #1767
Merged

[2021-10-25 22:01] #1767 closed, assigned to mmarcotte

[2021-10-25 22:01] mmarcotte commented on #1747
Results documented

[2021-10-25 22:01] #1747 closed, assigned to nobody

[2021-10-25 22:26] ttlenard commented on #8075
@cholly75 will do - I'll get it added to the Test Matrix

[2021-10-26 12:28] ttlenard commented on #8106
Thanks @kkoskelin. I tested this morning and I am now seeing all of the Suffixes for eligible cases in the NEW Status.

[2021-10-26 13:30] mmarcotte opened #1773 "BUG: Cypress health check test frequently times out"
**Describe the Bug**

We've observed numerous timeouts for the health check spec. Looking to have it complete more reliably.

* https://app.circleci.com/pipelines/github/ustaxcourt/ef-cms/2920/workflows/957cc2ad-5919-446c-9b09-c9cfcca7d25f/jobs/28358
* https://app.circleci.com/pipelines/github/ustaxcourt/ef-cms/2894/workflows/c75d25d9-2b91-4f7a-8c61-6c341a842686/jobs/28101
* https://app.circleci.c

[2021-10-26 13:37] cholly75 commented on #8095
Additional report this morning - petitions clerk scanned in a file, clicked the Add Comment button on the toolbar attempting to edit the caption. Now when clicking Create PDF on any scanned document or uploading any document, the first/second pages are blank, even in new cases.

@TomElliottFlexion can we discuss how we might be able to at least get the user's browser to forget about this so they'r

[2021-10-26 13:43] kkoskelin commented on #8095
So this is a different bug with a different cause?  Perhaps file it separately but link it to this with an "Edge PDF" label?  Seems like a recurring theme.

[2021-10-26 13:43] ttlenard commented on #8109
Tested this morning and ran into the spinner issue again.  Here are some screen grabs:
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/191d5a0f-09a3-4abc-8b46-0b034101c336)

![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/02049c5e-ecae-4b2b-a199-d86c0161051c)

[2021-10-26 13:45] cholly75 commented on #8095
Yep, I can do that.

[2021-10-26 14:03] cholly75 opened #8113 "BUG: User clicking PDF Viewer icon when uploading petitions causes all scanned/uploaded docs to have incorrect pages"
**Describe the Bug**
A clear and concise description of what the bug is.

While creating a case, a petitions supervisor attempted to use the Add Comment function in the Edge PDF viewer to edit a scanned document. After doing this, subsequently when the PDF is created, the created file replaces the first two pages of the PDF with a blank page and the second page of the document she was originally t

[2021-10-26 15:39] cholly75 commented on #8113
@TomElliottFlexion Tried it with the user reporting the issue, and there was no change in behavior. :/ Is there value in using me and my laptop as a guinea pig?

[2021-10-26 16:23] cholly75 commented on #8113
More info - I'm able to repro the issue on TEST w/r/t the Petition - after adding text via the Reader, removing the PDF, then scanning in a new one I'm presented with just the comments I added in as the document when I click Create PDF. This continues to happen regardless of login/logout/cache follies that I tweak on my side.

[2021-10-26 16:30] cholly75 commented on #8113
Also, the problem does not seem to persist across environments (MIG works fine for me using the same browser session).

[2021-10-27 13:37] ttlenard commented on #8109
**Testing Results from 10-26-21**

**Did not work**
2/7/22 - Chicago,  Illinois - 75f2fbe1-1946-4697-b07a-12972d4f8f6c
1/31/22 - Los Angeles, California - 7e548830-7f66-4b80-95cf-a38f20464551

**Worked**
1/10/22 - Chicago, Illinois - e540f014-08cb-45b4-b04f-61c5a8ab9707
2/14/22 - San Francisco, California - 1af868ff-2d33-4216-b0ab-b453bf65f093

**Testing Results from 10-27-21**

**Worked**
1/10/22

[2021-10-27 15:09] kkoskelin commented on #8008
Code to parse natural language processing is on this branch: https://github.com/flexion/ef-cms/tree/8731-search-ustc-parser
stand-alone file that does the magic is `shared/src/utilities/searchSyntaxParser.js` (and lots of tests, too)

[2021-10-27 15:32] TomElliottFlexion commented on #8113
After meeting with @cholly75, we've decided to try to replace or reset the affected user's PDF renderer, either with an Edge extension, or by reinstalling edge. This will require elevated permissions on a court laptop

[2021-10-27 16:49] TomElliottFlexion commented on #8113
Some notes for documentation:

- Completely uninstalling Edge on Windows the traditional way is impossible even with higher permissions; it ships with Windows and so can only be modified. It is possible to work around this, but it’s something that OIS (?) would have to do (command line force uninstall) and it’s not clear that this would even fix the problem- it does not on MacOS.

- As a short ter

[2021-10-27 16:54] TomElliottFlexion commented on #8113
@cholly75 Longer term solution possibilities:
- Disable the toolbar in PDF previews. This will not disable the markup functionality, but it will prevent users from create new markup
- Refactor to render PDFs using [PDFjs](https://mozilla.github.io/pdf.js/), the Mozilla PDF platform (which we already use to manipulate PDFs) @kkoskelin

[2021-10-27 18:29] #8056 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2021-10-27 18:29] #8060 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2021-10-27 18:29] #8061 closed, assigned to TomElliottFlexion

[2021-10-27 18:29] #7692 closed, assigned to kkoskelin, ujahio

[2021-10-27 18:29] #8092 closed, assigned to rosiehsmith, rachelschneiderman, mrinsin

[2021-10-27 18:29] #8094 closed, assigned to TomElliottFlexion

[2021-10-27 18:34] #8076 closed, assigned to matthopson

[2021-10-27 18:35] #8077 closed, assigned to nobody

[2021-10-27 20:23] liadmccabe commented on #8107
I think this is fine to move forward to engineering without needing immediate design work, but I would like to review what the new message says when it's developed, if someone could loop me in at that time.

EDIT to add:

Here are some potential options, but many need more context to make sure these make sense.  Bottom line, the messages should be clear in terms of what the problem is and what the

[2021-10-27 21:04] cholly75 commented on #8080
Addressed with ustaxcourt/ef-cms#8109

[2021-10-27 21:04] #8080 closed, assigned to nobody

[2021-10-27 21:04] cholly75 commented on #8109
Closed ustaxcourt/ef-cms#8080 - duplicate

[2021-10-27 22:07] ttlenard commented on #8109
Here is a screen grab of the test results from 10-26, and which ones worked vs failed.
![image.png](https://images.zenhubusercontent.com/60f99b8ac0d8d04c8aed1aa3/0bcff352-6789-4c80-af72-8795d169818e)

Looked at the logs with Cody and saw where we were both logged in as Petitions Clerk 1 role, and we may have had some overlapping requests?  Theory matches with the top one, but we didn't see overlap

[2021-10-28 13:57] cholly75 opened #8114 "Hide MS-PDF Viewer Toolbar"
As a DAWSON user, so that I don't accidentally adversely impact my ability to see uploaded or scanned PDF files, I need to hide the default Microsoft PDF toolbar viewer in Edge.

The latest version of the Microsoft PDF toolbar introduces additional text editing and formatting capabilities. Unfortunately interacting with these causes inconsistent and incorrect behavior in DAWSON w/r/t viewing PDF f

[2021-10-28 14:50] liadmccabe commented on #8107
As per team consensus and UX best practices, this is the recommended message to be used and is now ready for engineering:

Search is experiencing high traffic
Please wait 1 minute before trying your search again

[2021-10-28 17:52] TomElliottFlexion commented on #8113
More updates for posterity:

- Completely reinstalling Edge from the command line in a Windows 10 VM does not resolve the issue.
- There is another context menu that allows users to add markup text to a PDF by right-clicking and selecting "Add Text". This is independent of the toolbar despite offering the same capability, and so is not disabled when the toolbar is disabled.
- Building on a previou

[2021-10-28 20:31] cholly75 opened #8115 "BUG: Records Remaining in ES After Being Removed From Dynamo"
**Describe the Bug**
A clear and concise description of what the bug is.

Recent deployments have exposed that sometimes records are remaining in Elasticsearch after they have been removed from Dynamo. One cause of this was recently addressed in ustaxcourt/ef-cms#8092, however it appears that the root problem - some records not being removed from the ES source cluster after deletion in Dynamo - st

[2021-10-29 14:35] mariahkannenberg commented on #8095
Remedy with 9105.

[2021-10-29 15:51] rachelschneiderman commented on #8105
We added `isFileAttached` to `efcms-docket-entry` index as part of this story. This change will require a reindex on all envs to take effect.

[2021-10-29 19:22] TomElliottFlexion commented on #8114
It will likely be difficult to mimic the current Print and Save functionality and create custom buttons. Recommend implementing a "View Full PDF" (in a new tab) button instead, where one doesn't yet exist. This will allow users to print and save from the new tab.

[2021-10-29 20:54] cholly75 opened #8116 "Implement Alternative Solution for PDF Rendering in DAWSON"
As a DAWSON user, so that I can interact with PDF files in a safe way, I need an alternative to the Microsoft Edge PDF viewer.

The latest version of the Microsoft Edge PDF viewer introduces additional text editing and formatting capabilities. Unfortunately interacting with these causes inconsistent and incorrect behavior in DAWSON w/r/t viewing PDF files, for which there is currently no known wor

[2021-10-29 21:35] #8095 closed, assigned to kkoskelin, TomElliottFlexion

[2021-10-29 21:38] ttlenard opened #8117 "BUG: Admissions clerk is unable to add in an email for a Petitioner with an international address - getting a 400 error."
**Describe the Bug**
A clear and concise description of what the bug is.
When a petitioner has an international address, and then requests eAccess, a 400 error is thrown when an admissions clerk attempts to save their email so that they can have eAccess.  Based off of the logs, it appears that the error has something to do with DAWSON looking for a US state in the state field, rather than an inter

[2021-10-31 06:03] #7572 closed, assigned to ujahio, rosiehsmith, rachelschneiderman, mrinsin

[2021-10-31 06:03] #8075 closed, assigned to codyseibert

[2021-10-31 06:03] #8084 closed, assigned to codyseibert

[2021-10-31 06:03] #8093 closed, assigned to ericsorenson, TomElliottFlexion

[2021-10-31 06:03] #8106 closed, assigned to kkoskelin, TomElliottFlexion

[2021-10-31 06:03] #8109 closed, assigned to codyseibert

[2021-11-01 13:19] ttlenard commented on #8117
Some additional feedback to summarize this thing:

I attempted one more thing this morning to see if I could get a good workaround, but it didn't happen.  I cannot get a petitioner with an international address to show up as having eAccess on the contact info card.  (They actually DO get it, but DAWSON doesn't display their email address, and it appears that they don't have eAccess, when they actu

[2021-11-01 19:42] cholly75 commented on #8114
Closing - will address with ustaxcourt/ef-cms#8116

[2021-11-01 19:43] #8114 closed, assigned to nobody

[2021-11-01 20:47] mmarcotte opened #8118 "BUG: Filed and Served Stamp doesn't appear on the page"
**Describe the Bug**

Looks like some scanned documents are causing the file and served stamp to fall outside of the page. Interestingly, you can see that it was added in the page preview pane (Chrome PDF Viewer). So, it's getting added, but the location is off.

**Business Impact/Reason for Severity**

It's important to be consistent for indicating when a document has been filed and served.

**In

[2021-11-01 20:57] #7670 closed, assigned to nobody

[2021-11-01 21:11] #7516 closed, assigned to nobody

[2021-11-01 21:13] #6577 closed

[2021-11-01 21:15] #6588 closed, assigned to nobody

[2021-11-01 21:16] #7111 closed, assigned to nobody

[2021-11-02 16:27] cholly75 commented on #8113
Addressing in ustaxcourt/ef-cms#8116

[2021-11-02 16:27] #8113 closed, assigned to TomElliottFlexion

[2021-11-02 17:07] mmarcotte commented on #1648
Email within this finding is not a security risk. It is a testing Email and not a real email.

[2021-11-02 17:07] #1648 closed, assigned to nobody

[2021-11-02 17:08] mmarcotte commented on #1647
API key found within the git history is no longer valid, nor are we utilizing that service. This is not a security risk.

[2021-11-02 17:08] #1647 closed, assigned to nobody

[2021-11-02 17:10] mmarcotte commented on #1751
Mark has two notebooks he'd like to share. Would be easiest if @mmarcotte made a private github repo for them. Do not want to inadvertently commit results from one of the queries.

[2021-11-02 17:12] mmarcotte commented on #453
Blocked by OIS for completion. Perhaps in an accountability hole. Whose job is it truly to get this done? Meet with Truong?

[2021-11-02 17:15] mmarcotte commented on #1485
Truong gave AWS access to Tenille, but it's very limited and without required permissions. Mike to get with Truong to resolve.

[2021-11-02 17:17] mmarcotte commented on #1223
Possibly an interesting onboarding pairing activity with new hire Jim Lerza. Good opportunity to show Jim where the documentation for decision records are in the repo and learn why we are where we are. 🍪 🐦🐦

[2021-11-03 13:47] #7149 closed

[2021-11-03 13:48] #6592 closed

[2021-11-03 14:03] cholly75 commented on #7042
Reverse logic that if any document is "Sealed in Blackstone", the whole case is sealed. [Should this be it's own story? Maybe with the unseal a case story] - edited from original story

[2021-11-03 17:02] mmarcotte opened #1783 "Onboard Jim Lerza"
Welcome to the team! 🎉 😎

#### Access to tools

- [x] GitHub — speak with your team lead to determine the appropriate repositories and levels of access in the [ustaxcourt](https://github.com/ustaxcourt) and [flexion](https://github.com/flexion) organizations.
- [x] [Slack](https://ustaxcourt.slack.com) — look for important channels to join in [How We Work](https://github.com/ustaxcourt/ef-cms/blob

[2021-11-03 17:14] rachelschneiderman commented on #8103
When deploying this story on any environment, the following script needs to be run in order to setup the `external-order-search-enabled` dynamo flag:

`./scripts/setup-external-order-search-flag.sh <ENV>`

[2021-11-03 17:48] ttlenard commented on #8117
Another note: I also tested this to see what happens if a petitioner that lives internationally efiles their case. All seemed to work just fine.  I entered in the same exact address as above, then as the petitioner, submitted my case.  Petitions clerk served the case to IRS, and then as the International Petitioner, I changed my email address.  All went smooth. Seems this is only happening in the

[2021-11-03 18:29] rosiehsmith commented on #8103
This script also needs to be run as we renamed the `order-search-enabled` flag to `internal-order-search-enabled` to accurately reflect what they are used for:

`sh ./scripts/rename-order-search-flag-to-internal.sh <ENV>`

[2021-11-03 19:08] cholly75 commented on #7042
Split story between public and all sealing - @cholly75

[2021-11-03 21:03] #8035 closed, assigned to nobody

[2021-11-03 21:03] #8040 closed, assigned to kkoskelin

[2021-11-04 15:17] ttlenard commented on #6773
11-4-21 - Tier 1 helpdesk reported that they are seeing an uptick in 2 things:

- Duplicate Petitions filed by Petitioner

Usually this happens when Petitioner mails in with a paper petition, and THEN also eFiles or vice versa.  Due to backlog, it is taking Petitions clerks longer to process all of the petitions.  Recent example was that it took around 2 months for paper petition to be processed,

[2021-11-05 14:07] rachelschneiderman commented on #8085
Per Lia:

"Opinion search has been temporarily disabled. Please try again later."

[2021-11-05 14:09] rachelschneiderman commented on #8103
Per Lia:

"Order search has been temporarily disabled. Please try again later."

[2021-11-05 17:24] ttlenard opened #8119 "BUG: GetMessageGateway Error on log in Screen when a paper filing Petitioner first attempts to verify their newly added email in DAWSON"
**Describe the Bug**
A clear and concise description of what the bug is.
When a petitioner is verifying their email address when they initially switch from paper to electronic service, they get a GetMessageGateway error on the Login page.  If they enter in their email and temporary password a second time, then it goes through just fine.  The problem is that DAWSON doesn't seem to want to display t

[2021-11-05 17:44] cholly75 opened #8120 "Docket Clerk: Seal an individual document from all non-Court users"
As a Docket clerk, so that I can appropriately protect the privacy of Court business, I need to be able to seal individual documents so that only Court employees can view them.

ustaxcourt/ef-cms#7164 -- back-end work to allow the sealed flag at the document level
ustaxcourt/ef-cms#7042 -- companion story to allow sealing from the public only

## Pre-Conditions:
ustaxcourt/ef-cms#7041
ustaxcourt/e

[2021-11-05 21:16] cholly75 opened #8121 "Admin: Ability To Add/Modify Judges/Chambers"
As a Clerk of the Court, so that I can easily onboard newly appointed Judges, I need to be able to add, edit, and modify judges and their chambers personnel in the system.

*Note: this is in effect a vertical slice of ustaxcourt/ef-cms#7063

## Pre-Conditions

## Acceptance Criteria
* New judges can be entered into the system through the UI
* Chamber assignments for judges can be administered in t

[2021-11-05 21:24] cholly75 opened #8122 "Clerk of the Court: Ability to Remove Users From Dropdown Lists"
As the Clerk of the Court, so that I can prevent incorrect personnel assignments from occurring, I need to be able to remove names from DAWSON dropdown lists that no longer are with the Court.

In DAWSON, there are names in dropdown lists that can still be assigned Messages and Trial Session clerk assignments and QC assignments despite the fact that they are no longer with the Court. When users do

[2021-11-08 17:01] #1734 closed, assigned to nobody

[2021-11-08 17:07] TomElliottFlexion commented on #8085
In order to setup the internal-opinion-search-enabled dynamo flag `./scripts/setup-internal-opinion-search-flag.sh <ENV>` needs to be run on deployment

[2021-11-08 18:33] rosiehsmith commented on #8103
Demoed this morning 11/8 on flexion's staging environment and got the 👍  for UX review and PO review.

[2021-11-08 19:12] mmarcotte opened #1787 "Repair data for eAccess created petitioners"
A recently deployed bug caused a bit of data to be out of sorts for newly created petitioners via eAccess codes. We're working on identifying the affected accounts and cases and will be repairing the data as necessary.

[2021-11-09 15:07] kkoskelin commented on #8118
The PDF document in question was revealed to contain read-only form fields.
It is believed that the clerk who scanned the paper document possibly opened the PDF in an editing tool and placed these large "checkbox" fields to cover streaks and imperfections that resulted from some process of printing/scanning/copying.
These edits did indeed have the effect of making the document look much cleaner.
H

[2021-11-09 20:31] liadmccabe commented on #8102
Engineers, in order to keep the design consistent across the platform,  please add the "how to search" box to public search as well. It currently is only available to internal search.

Also, please update boiler plate to include affiliated documents.  Please see verbiage below:

Anyone can search for a case in our system for cases filed on or after May 1, 1986.
- If you aren’t affiliated with a ca

[2021-11-09 20:53] liadmccabe commented on #8108
Engineers, please update boiler plate to include language about affiliated documents:

Anyone can search for a case in our system for cases filed on or after May 1, 1986.
- If you aren’t affiliated with a case, you will only see limited information about that case.
- Sealed cases and affiliated documents will not display in search results.

[2021-11-09 20:54] ttlenard opened #8123 "BUG: Typo on Create a Case/Instructions For Creating a Case Screen"
**Describe the Bug**
A clear and concise description of what the bug is.
Typo in the Confirm your Identity Section. It currently says "Ta**y**payer" instead of "Ta**x**payer"

**Business Impact/Reason for Severity**

**In which environment did you see this bug?**
TEST

**Who were you logged in as?**
Petitioner

**What were you doing when you discovered this bug? (Using the application, demoing, sm

[2021-11-10 17:35] kkoskelin commented on #8118
https://github.com/ustaxcourt/ef-cms/pull/1793

[2021-11-10 17:47] kkoskelin commented on #8116
One possible avenue of research: https://www.pdftron.com/blog/react/how-to-build-a-react-pdf-viewer/
An implementation in Vue using pdf.js directly: https://codesandbox.io/s/llble?file=/src/components/PdfReader.vue

[2021-11-10 21:49] ttlenard opened #1796 "BUG: Query to see how many cases have an incorrect Service Preference for represented Petitioners"
**Describe the Bug**
A clear and concise description of what the bug is.
IRS Reported:
Our attorneys have noticed a pattern in which an attorney represents two petitioners in one captioned case, where for Petitioner X, DAWSON lists electronic as service preference and for Petitioner Y, the service preference is listed as paper.  Moreover, petitioner’s counsel consented to e-service.

This is most

[2021-11-11 19:20] #6912 closed

[2021-11-11 19:30] codyseibert commented on #8102
dev review completed on https://dev.ustc-case-mgmt.flexion.us/, everything seems good to me

[2021-11-12 14:58] #453 closed, assigned to mmarcotte, mark-meyer

[2021-11-12 14:58] mmarcotte commented on #453
This has been completed by OIS.

[2021-11-12 15:20] rosiehsmith commented on #8108
In order to test with a sealed order on mig you can use docketNumber 30219-12 @cholly75

[2021-11-12 18:32] #6989 closed, assigned to nobody

[2021-11-12 21:33] mariahkannenberg opened #8124 "Refactoring?"

[2021-11-12 21:45] mariahkannenberg opened #8125 "Docket Record Management"

[2021-11-15 16:01] ttlenard commented on #8102
As discussed in Standup, I have a few comments: 1) the AC mentions the Boilerplate text for Order search, but this appears the same as what it says for Case.  Maybe we can reference searching for "an Order" rather than a case on that first sentence and call it good?  2) I'm still getting the "wait 1 minute" warning while performing searches while testing. Is this something that we need to adjust n

[2021-11-15 16:12] ttlenard commented on #8108
**As discussed in Standup:** 1) the AC mentions the Boilerplate text for Order search, but this appears the same as what it says for Case. Maybe we can reference searching for "an Order" rather than a case on that first sentence and call it good? 2) I'm still getting the "wait 1 minute" warning while performing searches while testing. Is this something that we need to adjust now that we have alrea

[2021-11-15 16:22] mariahkannenberg opened #8126 "Advanced Document Search: Use feature flags around all tests for document search"
As a tech lead, so that I can turn off external or internal document search and successfully deploy, I need to surround all automated tests with the feature flag.

## Pre-Conditions

## Acceptance Criteria
* All automated tests for advanced document search are surrounded by the feature flag

## Notes

## Tasks
- [ ] Update opinion search smoketests so they can dynamically turn on and off the featu

[2021-11-15 18:59] mmarcotte opened #1799 "Offboard Mark Meyer"
- [x] All access is revoked to tools listed in [the onboarding template](https://github.com/ustaxcourt/ef-cms/blob/staging/.github/ISSUE_TEMPLATE/onboarding.md) (copy the relevant accounts to checklist items below).

Verify the offboarding person:

- [x] Does not have active AWS IAM accounts in staging and production AWS accounts.
- [x] Does not have active AWS Organization accounts in staging and

[2021-11-15 18:59] mmarcotte opened #1800 "Offboard Andrew Dunkman"
- [x] All access is revoked to tools listed in [the onboarding template](https://github.com/ustaxcourt/ef-cms/blob/staging/.github/ISSUE_TEMPLATE/onboarding.md) (copy the relevant accounts to checklist items below).

Verify the offboarding person:

- [x] Does not have active AWS IAM accounts in staging and production AWS accounts.
- [ ] Does not have active AWS Organization accounts in staging and

[2021-11-15 19:00] ttlenard opened #8127 "BUG: How to Merge PDF help document does not appear to be 508 compliant"
**Describe the Bug**
A clear and concise description of what the bug is.
As a petitioner, when I open the "Learn more about how to merge files into one PDF" link https://app.test.ef-cms.ustaxcourt.gov/aecece6938ab09496720.pdf, a help document opens and it appears that this document is not 508 compliant.  I used the default narrator app that is installed on my court issued laptop, as well as Edges

[2021-11-16 19:29] #8126 closed, assigned to mrinsin

[2021-11-16 21:09] ttlenard commented on #8117
Tested this on 11/16 and I can now add in the email address for international petitioners without a 400 error!  Thank you all that worked on this!

[2021-11-16 21:28] ttlenard commented on #8118
I tested this on 11/16/21 and I could see the Entered and Served stamp for the SDEC document that is in 11883-21. I'd say this is fixed. Thank you!

[2021-11-17 16:51] mariahkannenberg opened #8128 "Messages"

[2021-11-17 17:35] #6684 closed, assigned to nobody

[2021-11-17 19:28] TomElliottFlexion commented on #8116
Requires `setup-pdfjs-express-viewer-flag.sh <ENV>` to be run to set up the requisite feature flag.

[2021-11-18 19:50] mariahkannenberg commented on #8090
User stories from research (in order of user priority):
* [Unseal a case](https://app.zenhub.com/workspace/o/flexion/ef-cms/issues/4251)
* [Seal/Unseal document from all non-court users](https://app.zenhub.com/workspace/o/flexion/ef-cms/issues/9147)
* [Seal/Unseal document from the public
](https://app.zenhub.com/workspace/o/flexion/ef-cms/issues/4252)
* [ Clarify to users - permanent vs temporary

[2021-11-18 22:40] cholly75 commented on #7041
Discussed with @mrinsin - this functionality will only apply to cases created post-go live or legacy cases that have no sealed individual entries for now, until the logic that deems cases sealed if any individual documents are sealed is reversed. We will add that AC to the upcoming stories for unsealing document entries.

[2021-11-18 22:44] cholly75 commented on #7041
A bit more detail: right now the behavior that governs sealing means that if there are any individually sealed docket entries the whole case is considered sealed. Therefore, unsealing a case that still has sealed docket entries will not in fact unseal the case. As we have not been able to seal individual docket entries since go-live, the presumption is that any case created since then will not con

[2021-11-19 14:02] ttlenard opened #8129 "BUG: The "Learn More about Searching in DAWSON" help guide does not appear to be 508 compliant"
**Describe the Bug**
A clear and concise description of what the bug is.
The help document that a user selects for searching in DAWSON does not appear to be 508 compliant.  If you download the PDF, it appears to be one big image, rather than text, so this makes it so that a screen reader cannot read it.  https://dawson.ustaxcourt.gov/ff8e9bc494cf3cfbb6f7.pdf

**Business Impact/Reason for Severity*

[2021-11-19 14:27] mariahkannenberg opened #8130 "Clarify to users - permanent vs temporary sealing status"
As a clerk, so that I can identify which case or document is temporarily vs. permanently sealed, I need the ability to indicate status on a document or case.

Note: From [user research study](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing), November, 2021.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready

[2021-11-19 14:27] mariahkannenberg opened #8131 "Ensure filing entry of appearance is accessible to parties in case when the case is permanently sealed"
As a respondent in a case, so that I may file an entry of appearance, I need the ability to file one in a sealed case.

Note: This story may be a stretch. The ability to seal individual documents will undoubtedly unblock the respondent. However, I was curious if there was any need to provide a solution for filing an entry of appearance when an entire case is actually sealed.

This story is from a

[2021-11-19 14:28] mariahkannenberg opened #8132 "Provide a solution for maintaining the sealing status of individual documents once sealing/unsealing becomes available for documents"
As the court, so that we can correctly update the sealing status of all documents, we need a user-friendly and accurate approach to updating all cases.

Currently, users are storing the status of sealed/unsealed documents in many different ways.

This user story is from a [user research study, November 2021.
](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing)
## P

[2021-11-19 14:29] mariahkannenberg opened #8133 "Optimize and standardize notes section - currently not meeting users' needs"
As a clerk, so that I may track notes data more effectively, I need a standardized way to collect and store notes.

It was revealed that many clerks are making notes about their cases in various ways, within and outside of the system. Explore the need for optimizing and standardizing the way users take notes within the system.

This story is from a[ user research study, November 2021. ](https://dr

[2021-11-19 14:30] mariahkannenberg opened #8134 "Make it easier for clerks to manage inboxes of absent clerks"
As a clerk, so that I can assist with other's work ("digits") while they are out, I need the ability to easily assign another clerk's work to myself.

This story came from a [user research study, November 2021.
](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing)
## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Re

[2021-11-19 14:31] mariahkannenberg opened #8135 "Ability to prioritize inbox items"
As a clerk, so that I can manage the prioritization of my work, I need the ability to denote priority to inbox items.

This user story is from a [user research study, November 2021.
](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing)
## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The

[2021-11-19 14:32] mariahkannenberg opened #8136 "Ability to redact cover pages"
As a clerk, so that I can secure petitioner PII, I need the ability to redact PII on document cover pages.

This story came from a [user research study,](https://docs.google.com/document/d/1Z1fyXoSuw6msdSUVXTNywSYJsgbiUolnprZ8VDONnpo/edit?usp=sharing) November 2021.

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The

[2021-11-19 14:33] mariahkannenberg opened #8137 "Consider how to make redaction process easier for clerks - whistleblower"
As a clerk, so that I may save time during redaction, I need a quicker way to redact PII in case documents.

This story came from a [user research study, November 2021. ](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing)

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/26/21)
The following cr

[2021-11-19 14:33] mariahkannenberg opened #8138 "Ability to track redactions"
As a clerk, so that I can easily identify which documents are redacted, I need the ability to track which documents have redactions.

This story is from a [user research study, November 2021.](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing)

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of Ready (Created on 9/2

[2021-11-19 14:34] mariahkannenberg opened #8139 "Investigate what it is about the user experience of working remotely that makes people want to use paper"
As a clerk, so that I can have an optimal experience in DAWSON, I need impediments to the digital experience removed.

The root cause of this problem has not been identified, but may be worth exploring. Is there something that can be done to make the users' experience more enjoyable. Whether it's enhancing the experience w/in the application or the users' experience outside of DAWSON (maybe a seco

[2021-11-19 14:34] mariahkannenberg opened #8140 "Enhance search and browse experience of tabbing structure"
As a clerk, so that I do not become fatigued by the DAWSON interface, I need the ability to complete my work with fewer clicks and unnecessary navigation.

This story is from a [user research study, November 2021.](https://drive.google.com/file/d/1MhGcaIpT7TDfEO1t9HoZrQl1iv6F8lvX/view?usp=sharing)

## Pre-Conditions

## Acceptance Criteria

## Notes

## Tasks

## Test Cases

## Story Definition of

[2021-11-19 15:20] cholly75 commented on #8127
We will fix this PDF on the court side and have it replaced in S3 so that multiple links across the website/application point to the corrected version.

[2021-11-19 15:20] #8127 closed, assigned to nobody

[2021-11-19 15:46] mariahkannenberg commented on #8129
Kristen created the document - could be in Figma. Reach out to Kristen.

[2021-11-19 16:22] ttlenard opened #1806 "BUG: The "How to merge PDF documents" does not appear to be 508 compliant"
**Describe the Bug**
A clear and concise description of what the bug is.
As a petitioner, when I open the "Learn more about how to merge files into one PDF" link https://app.test.ef-cms.ustaxcourt.gov/aecece6938ab09496720.pdf, a help document opens and it appears that this document is not 508 compliant. I used the default narrator app that is installed on my court issued laptop, as well as Edges "

[2021-11-19 16:24] ttlenard commented on #1806
1 - Tenille will update the document.
2 - Mike or Jim can replace the updated 508 compliant document that is in S3?  Is this correct?

[2021-11-19 17:24] cholly75 opened #8141 "Docket Clerk: Unseal an individual document"
As a docket clerk, so that I can appropriately represent the sealed state of a particular document, I need to be able to unseal individual docket entries.

ustaxcourt/ef-cms#7164 -- back-end work to allow the sealed flag at the document level

## Pre-Conditions
ustaxcourt/ef-cms#7042
ustaxcourt/ef-cms#8120

## Acceptance Criteria
* Docket clerk has the ability to unseal one or more individual seal

[2021-11-21 02:03] #8119 closed, assigned to nobody

[2021-11-22 14:13] ttlenard commented on #8108
Tested this again 11/22/21.  I am still not able to get search results to return for Orders in Sealed cases that I am associated with as a IRS practitioner or Private practitioner. Here are the steps that I am doing for the test cases.
1. Docket clerk adds counsel (I did PT4444 and RT6666) to a sealed case with no individual sealed documents.  I used docket 11613-21)
2. Docket clerk adds counsel (

[2021-11-22 16:31] #1787 closed, assigned to mmarcotte, ttlenard

[2021-11-22 16:31] #1751 closed, assigned to mmarcotte, mark-meyer

[2021-11-22 17:42] cholly75 opened #8142 "External: Opinion Search (Public User)"
As a non-Court employee, so that I can search for specific Opinions issued by the Court, I need to be able to use Opinion search.

This story will enable the existing internal Opinion search to be used by public (non-logged in) users

Deploy with ustaxcourt/ef-cms#8143

## Pre-Conditions

## Acceptance Criteria
* A public, non-credentialed user can access Opinion search
* Opinion Search UI for the

[2021-11-22 18:19] cholly75 opened #8143 "External: Opinion Search (Private/IRS Practitioner)"
As a private or IRS practitioner, so that I can quickly find an specific issued opinion, I need to be able to search for opinions in DAWSON.

This story will enable the existing internal Opinion search to be used by private and IRS practitioners logged into DAWSON.

Deploy with ustaxcourt/ef-cms#8142

## Pre-Conditions

## Acceptance Criteria
* A private/IRS practitioner can access Opinion search